<div class="three columns alpha nav-collection">
	<h1 class="header-press"><a href="/blogs/press/tagged/us/" title="Press">Press</a></h1>
	<ul class="landing-collections-sidenav">
		<li><a href="/blogs/press/tagged/us/" title="Domestic Press">Domestic</a></li>
		<li><a href="/blogs/press/tagged/international/" title="International Press">International</a></li>
	</ul>
</div>