<div class="section">
	<div class="sixteen columns sub-nav-wrap">
		<ul class="sub-nav">
			<li class="ir icon-eat"><a href="/collections/eat/" title="Eat">Eat</a></li>
			<li class="ir icon-glow"><a href="/collections/glow/" title="Glow">Glow</a></li>
			<li class="ir icon-wear"><a href="/collections/wear/" title="Wear">Wear</a></li>
			<li class="ir icon-nest"><a href="/collections/nest/" title="Nest">Nest</a></li>
			<li class="ir icon-pet"><a href="/collections/pet/" title="Pets">Pets</a></li>
		</ul>
	</div>
</div>
<div class="section collection-nav">
	<div class="sixteen columns">
		<ul>
			<li class="collection collection-eat">
				<a href="/collections/eat/" title="Eat"><img src="{{"eat.jpg" | asset_url }}" /></a>
				<h2><a href="/collections/eat/" title="Eat">Eat</a></h2>
				<ul class="landing-collections-subnav">
					<li><a href="/collections/frontpage" title="Snacks">Snacks</a></li>
					<li><a href="/collections/ingredients" title="Ingredients">Ingredients</a></li>
					<li><a href="/collections/supplements" title="Supplements">Supplements</a></li>
					<li><a href="/collections/one-lucky-duck-brand" title="One Lucky Duck Brand">Duck Brand</a></li>
					<li><a href="/collections/eat-gift-sets" title="Eat Gift Sets">Eat Gift Sets</a></li>
				</ul>
			</li>
			<li class="collection collection-glow">
				<a href="/collections/glow/" title="Glow"><img src="{{"glow.jpg" | asset_url }}" /></a>
				<h2><a href="/collections/glow/" title="Glow">Glow</a></h2>
				<ul class="landing-collections-subnav">
					{% include 'nav-collections-glow' %}
				</ul>
			</li>
			<li class="collection collection-wear">
				<a href="/collections/wear/" title="Wear"><img src="{{"wear.jpg" | asset_url }}" /></a>
				<h2><a href="/collections/wear/" title="Wear">Wear</a></h2>
				<ul class="landing-collections-subnav">
					{% include 'nav-collections-wear' %}
				</ul>
			</li>
			<li class="collection collection-nest">
				<a href="/collections/nest/" title="Nest"><img src="{{"nest.jpg" | asset_url }}" /></a>
				<h2><a href="/collections/nest/" title="Nest">Nest</a></h2>
				<ul class="landing-collections-subnav">
					{% include 'nav-collections-nest' %}
				</ul>
			</li>
			<li class="collection collection-pets">
				<a href="/collections/pet/" title="Pets"><img src="{{"pets.jpg" | asset_url }}" /></a>
				<h2><a href="/collections/pet/" title="Pets">Pets</a></h2>
				<ul class="landing-collections-subnav">
					{% include 'nav-collections-pets' %}
				</ul>
			</li>
		</ul>
	</div>
	<div class="sixteen columns ducknews-posts"></div>
	<div class="sixteen columns">
		<ul>
			<li class="collection-square">
				<a href="/collections/new/" title="New Items" class="icon icon-new">
					<img src="{{"icon-new.png" | asset_url }}" />
				</a>
			</li>
			<li class="collection-square">
				<a href="/collections/most-loved" title="Our Most Loved" class="icon icon-mostloved">
					<img src="{{"icon-mostloved.png" | asset_url }}" />
				</a>
			</li>
			<li class="collection-square">
				<a href="/collections/gifts" title="Gifts" class="icon icon-gifts">
					<img src="{{"icon-gifts.png" | asset_url }}" />
				</a>
			</li>
			<li class="collection-square">
				<a href="/collections/gift-cards/" title="Gift Cards" class="icon icon-giftcards">
					<img src="{{"icon-gift-cards.png" | asset_url }}" />
				</a>
			</li>
			<li class="collection-square">
				<a href="/collections/sale" title="Sale Items" class="icon icon-saleitems">
					<img src="{{"icon-sale.png" | asset_url }}" />
				</a>
			</li>
		</ul>
	</div>
</div>
