<div class="section">
  {% for link in linklist.links %}
    {% assign collection = link.object %}

      {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
      <div class="{% if collections_per_row == "2" %}eight columns{% elsif collections_per_row == "3" %}one-third column{% else %}four columns{% endif %} thumbnail related-products">
        <a href="{{ collection.url }}" title="Browse {{ collection_title }}">
          {% if collection.image %}
            <img src="{{ collection.image.src | collection_img_url: 'large' }}" alt="{{ collection.image.alt }}" />
          {% else %}
            {{ collection.products.first.featured_image | product_img_url: 'large' | img_tag: collection_title }}
          {% endif %}
        
        </a>
          <div class="info">                                              
            <span class="price">
              {{ collection.all_products_count }} {{ collection.all_products_count | pluralize: 'item', 'items' }}
            </span>
            <span class="title">{{ collection.title }}</span>
          </div>
      </div>
  
      {% if collections_per_row == "2" %}
        {% cycle '', '<div class="clear"></div>' %}
      {% elsif collections_per_row == "3" %}
        {% cycle '', '', '<div class="clear"></div>' %}    
      {% elsif collections_per_row == "4" %}  
        {% cycle '', '', '', '<div class="clear"></div>' %}
      {% endif %}  

  {% endfor %}
</div>