<div class="three columns alpha nav-collection">
	{% if collection.title == 'Eat' %}
		<h1><a href="{{ collection.url }}" title="{{ collection.title | escape }}" class="header-eat">{{ collection.title }}</a></h1>
	{% elsif collection.title == 'Glow' %}
		<h1><a href="{{ collection.url }}" title="{{ collection.title | escape }}" class="header-glow">{{ collection.title }}</a></h1>
	{% elsif collection.title == 'Wear' %}
		<h1><a href="{{ collection.url }}" title="{{ collection.title | escape }}" class="header-wear">{{ collection.title }}</a></h1>
	{% elsif collection.title == 'Nest' %}
		<h1><a href="{{ collection.url }}" title="{{ collection.title | escape }}" class="header-nest">{{ collection.title }}</a></h1>
	{% elsif collection.title == 'Pet' %}
		<h1><a href="{{ collection.url }}" title="{{ collection.title | escape }}" class="header-pet">{{ collection.title }}</a></h1>
	{% else %}
		<h1><a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a></h1>
	{% endif %}
	<ul class="landing-collections-sidenav">
		{% if collection.title == 'Eat' %}
			{% include 'nav-collections-eat' %}
		{% elsif collection.title == 'Snacks' %}
			{% include 'nav-collections-snacks' %}
		{% elsif collection.title == 'Ingredients' %}
			{% include 'nav-collections-ingredients' %}
		{% elsif collection.title == 'Supplements' %}
			{% include 'nav-collections-supplements' %}
		{% elsif collection.title == 'Glow' %}
			{% include 'nav-collections-glow' %}
		{% elsif collection.title == 'Wear' %}
			{% include 'nav-collections-wear' %}
		{% elsif collection.title == 'Nest' %}
			{% include 'nav-collections-nest' %}
		{% elsif collection.title == 'Kitchen' %}
			{% include 'nav-collections-kitchen' %}
		{% elsif collection.title == 'Pet' %}
			{% include 'nav-collections-pets' %}
		{% endif %}
	</ul>
</div>
