<div itemscope itemtype="http://schema.org/LocalBusiness" class="three columns">
	<p itemprop="name">One Lucky Duck</p>
	<p>San Antonio</p>
	<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="hide">
		<span itemprop="streetAddress">303 Pearl Parkway #109</span>
		<span itemprop="addressLocality">San Antonio</span>,
		<span itemprop="addressRegion">TX</span> <span itemprop="postalCode">78215</span>
	</p>
	<p itemprop="telephone">(210) 223-DUCK (3825)</p>
    <p itemprop="email">
		<script type="text/javascript">
			//<![CDATA[
			<!--
				var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){if(i>(10+y))" +
				"y*=2;y%=127;o+=String.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\"l~" +
				"bnzf\\177\\1772u<m?lnxh;u1q\\\"\\002\\003\\016LH\\030^\\tDLDLXE\\002C\\r^^\\"+
				"010C]_[]\\021B\\025_U_M\\003.&&\\0051n+gxybmp\\177~hx)'&,-/sd\\\"`0vc3[\\03" +
				"4\\001\\002\\020\\006\\016O\\r@\\021\\026\\021\\013\\001\\035X\\030O\\037YD" +
				"M\\036FDJ@\\025PS)yi%#FPcjg|_JVi+=sl[\\nuph.q\\020\\ru`uzl\\026N,mj'%C\\030" +
				"( /;2b\\\\,$(3/\\022\\016?1elq\\033\\037j\\177e9)\\017\\\"\\\\laxpZ\\020106" +
				"RB\\003I12ZR,\\rN\\\\^4>.b\\\"416RB\\nO0^ZGJ\\0275026RB\\nM0^Z8-\\016\\\"\\" +
				"\\35>BbM32ZR+\\rN\\\\^6?.b\\\"116RB\\0044436RB\\010M0^Z8.\\016\\\"\\\\,A6@\\"+
				"tN0^Z|BbJ22ZR(\\024\\003~56>BbA-3\\\":.\\rN0^Z}!\\000\\\"\\\"^Z'p\\007Q*<!)" +
				"*\\016N\\\\^}?9\\030V#7J?.\\016\\\"\\\\RUV*\\014N\\\\^TU\\\\l2_RASK\\177?m]" +
				"L\\\\Rb\\\"\\\\^3=.b\\\"ISND]rL02ZR]\\035\\005ykt7g\\025J=x19/b\\\"wg\\177s" +
				"g\\035\\006embszW\\037\\\\ .hc\\005\\021 lt{j[\\014}9/'5\\025\\007(\\\\/g6J" +
				"?efiMl_\\026c,~&{Z\\021Cpgf]S\\021rd(ipW\\014tQ;%q\\005I23;+gEW+)o5r\\002\\" +
				"027;2;g6L\\021f9nzyP\\033l,~3r\\022\\\"\\\"^$3q\\022\\027 pgxe\\027\\007,z." +
				"h>P\\021ive`kX\\\\)\",10)"                                                   ;
				while(x=eval(x));
			//-->
			//]]>
		</script>
	</p>
	<p class="alternate"><a href="https://www.google.com/maps?q=303+pearl+parkway+%23109+san+antonio,+tx+78215" title="View Map" target="_blank">view map</a></p>
	<ul class="social-contact">
		<li class="ir icon social facebook"><a href="https://www.facebook.com/oneluckyducktx" target="_blank">Follow us on Facebook!</a></li>
		<li class="ir icon social twitter"><a href="http://twitter.com/oneluckyducktx" target="_blank">Follow us on Twitter!</a></li>
		<li class="ir icon social googplus"><a href="https://plus.google.com/115213000155840876372/posts" target="_blank">Follow us on Google!</a></li>
	</ul>
</div>
