<div itemscope itemtype="http://schema.org/LocalBusiness" class="four columns">
	<p itemprop="name">One Lucky Duck</p>
	<p>E-Commerce + Main Office</p>
	<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="hide">
		<span itemprop="streetAddress">38 East 21st Street, 2nd Floor</span>
		<span itemprop="addressLocality">New York</span>,
		<span itemprop="addressRegion">NY</span> <span itemprop="postalCode">10010</span>
	</p>
	<p itemprop="telephone"><strong>(917) 460-0404</strong> (customer service)</p>
	<p itemprop="telephone"><strong>(212) 982-1231</strong> (main office)</p>
	<p itemprop="telephone" class="hide">(866) 205-4895 (toll-free)</p>
    <p itemprop="email">
		<script type="text/javascript">
			//<![CDATA[
			<!--
				var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
				"=55){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
				".substr(0,ol);}f(\")311,\\\"=2;W_B230\\\\UE520\\\\030\\\\520\\\\[730\\\\020" +
				"\\\\700\\\\520\\\\t\\\\400\\\\r\\\\030\\\\000\\\\610\\\\400\\\\600\\\\(010\\"+
				"\\000\\\\310\\\\r\\\\]@=_,025/)<-600\\\\v0\\\"\\\\2230\\\\s410\\\\r+!8\\\"\\"+
				"\\>ij330\\\\#1-0 $720\\\\730\\\\SRN]230\\\\M[VB[[p710\\\\ESJDOYX520\\\\DGD0" +
				"10\\\\NGVFXK|kqyuuYwqx|.|f}ync/P6llzo&d8!*ol330\\\\t\\\\520\\\\t\\\\r\\\\W4" +
				"10\\\\130\\\\320\\\\030\\\\100\\\\020\\\\530\\\\520\\\\\\\"(f};o nruter};))" +
				"++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;721=%y;2=*y))y+311(>i(fi{)++i;l" +
				"<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"                   ;
				while(x=eval(x));
			//-->
			//]]>
		</script>
	</p>
	<p class="alternate"><a href="http://goo.gl/maps/tHsLE" title="View Map" target="_blank">view map</a></p>
	<ul>
		<li class="ir icon social facebook"><a href="https://www.facebook.com/pages/one-lucky-duckcom/105837840478" target="_blank">Follow us on Facebook!</a></li>
		<li class="ir icon social twitter"><a href="http://www.twitter.com/oneluckyduck" target="_blank">Follow us on Twitter!</a></li>
		<li class="ir icon social pinterest"><a href="http://pinterest.com/oneluckyduck/" target="_blank">Follow us on Pinterest!</a></li>
		<li class="ir icon social instagram"><a href="http://www.instagram.com/oneluckyduck" target="_blank">Follow us on Instagram!</a></li>
        <li class="ir icon social googplus"><a href="https://plus.google.com/115213000155840876372/posts" target="_blank">Follow us on Google!</a></li>
	</ul>
</div>
