<div itemscope itemtype="http://schema.org/LocalBusiness" class="three columns">
	<p itemprop="name">Pure Food and Wine</p>
	<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="hide">
		<span itemprop="streetAddress">54 Irving Place (b/t 17th &amp; 18th Street)</span>
		<span itemprop="addressLocality">New York</span>,
		<span itemprop="addressRegion">NY</span> <span itemprop="postalCode">10003</span>
	</p>
	<p itemprop="telephone">(212) 477-1010</p>
    <p itemprop="email">
	<script type="text/javascript">
		//<![CDATA[
		<!--
			var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
			"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
			" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!86{)rt{y+xx=l;=+;" +
			"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
			"\"(2),2\\\"\\\\~tevtig(+{'*'m)/ZH]SU_^VDRD@]s^W0F02\\\\\\\\17\\\\0p\\\\\\\\" +
			"nF\\\\I@CJ05\\\\0J\\\\2B00\\\\\\\\URz?ys:Hk&yy`|w`AdR-i0~g|`$'aYkwbr33\\\\0" +
			"*\\\\\\\\\\\\\\\\\\\\26\\\\05\\\\02\\\\\\\\13\\\\06\\\\03\\\\\\\\2W00\\\\\\" +
			"\\26\\\\05\\\\02\\\\\\\\07\\\\04\\\\03\\\\\\\\36\\\\03\\\\2R03\\\\\\\\16\\\\"+
			"0t\\\\\\\\\\\\01\\\\00\\\\01\\\\\\\\34\\\\03\\\\03\\\\\\\\3X01\\\\\\\\\\\\n" +
			"7\\\\00\\\\\\\\7M00\\\\\\\\17\\\\0t\\\\\\\\\\\\:(=35?>6$2$ 23\\\\0=\\\\>7t&" +
			"\\\"\\\\\\\\\\\\'8(#e%32\\\\0x\\\\\\\"\\\\\\\\\\\\0&nC\\\\\\\\4H02\\\\\\\\0" +
			"5\\\\06\\\\01\\\\\\\\HKVFRH0hriw~{lrx\\\"\\\\f(;} ornture;}))++(y)^(iAtdeCo" +
			"archx.e(odrChamCro.fngriSt+=;o27=1y%i;+=)y22==(iif){++;i<l;i=0(ior;fthnglex" +
			".l=\\\\,\\\\\\\"=\\\",o iar{vy)x,f(n ioctun\\\"f)\")"                        ;
			while(x=eval(x));
		//-->
		//]]>
	</script>
	</p>
	<p class="alternate"><a href="http://goo.gl/maps/jWBm4" title="View Map" target="_blank">view map</a></p>
	<ul>
		<li class="ir icon social facebook"><a href="https://www.facebook.com/purefoodandwine/" target="_blank">Follow us on Facebook!</a></li>
		<li class="ir icon social twitter"><a href="http://twitter.com/purefoodandwine/" target="_blank">Follow us on Twitter!</a></li>
		<li class="ir icon social pinterest"><a href="http://pinterest.com/purefoodandwine/" target="_blank">Follow us on Pinterest!</a></li>
		<li class="ir icon social instagram"><a href="http://www.instagram.com/purefoodandwine" target="_blank">Follow us on Instagram!</a></li>
		<li class="ir icon social googplus"><a href="http://google.com/+purefoodandwineNewYork" target="_blank">Follow us on Instagram!</a></li>
	</ul>
</div>
