<div class="icon duck-mail">
	<label for="mce-EMAIL" title="Sign up for Duck Mail">Want Duck Mail (yes!)</label>
	<div id="mc_embed_signup" class="hide">
		<form action="http://oneluckyduck.us5.list-manage1.com/subscribe/post?u=fb49daf7df95d0de56685e85f&amp;id=0f0d764191" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
			<div class="clear">
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
			</div>
		</form>
	</div>
</div>
