					<li><a href="/collections/face/" title="Face">Face</a></li>
					<li><a href="/collections/bath-body/" title="Bath &amp; Body">Bath &amp; Body</a></li>
					<li><a href="/collections/cosmetics/" title="Cosmetics">Cosmetics</a></li>
					<li><a href="/collections/hair-care/" title="Hair Care">Hair Care</a></li>
					<li><a href="/collections/glow-gift-sets/" title="Glow Gift Sets">Glow Gift Sets</a></li>
