					<li><a href="/collections/supplements/powders/" title="">Powders</a></li>
					<li><a href="/collections/supplements/tablets-capsules/" title="">Tablets &amp; Capsules</a></li>
					<li><a href="/collections/supplements/superfoods-supplements/" title="">Superfoods</a></li>
					<li><a href="/collections/supplements/other/" title="Other">Other</a></li>
