<div class="three columns alpha nav-collection">
	{% if collection.title == 'Eat' %}
		<h1 class="header-eat"><a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a></h1>
	{% elsif collection.title == 'Glow' %}
		<h1 class="header-glow"><a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a></h1>
	{% elsif collection.title == 'Wear' %}
		<h1 class="header-wear"><a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a></h1>
	{% elsif collection.title == 'Nest' %}
		<h1 class="header-nest"><a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a></h1>
	{% elsif collection.title == 'Pet' %}
		<h1 class="header-pet"><a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a></h1>
	{% else %}
		<h1><a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a></h1>
	{% endif %}

			<ul class="landing-collections-sidenav">
				{% if collection.title == 'Eat' %}
					{% include 'nav-collections-eat' %}
				{% elsif collection.title == 'Snacks' %}
					{% include 'nav-collections-snacks' %}
				{% elsif collection.title == 'Ingredients' %}
					{% include 'nav-collections-ingredients' %}
				{% elsif collection.title == 'Supplements' %}
					{% include 'nav-collections-supplements' %}
				{% elsif collection.title == 'Glow' %}
					{% include 'nav-collections-glow' %}
				{% elsif collection.title == 'Wear' %}
					{% include 'nav-collections-wear' %}
				{% elsif collection.title == 'Nest' %}
					{% include 'nav-collections-nest' %}
				{% elsif collection.title == 'Kitchen' %}
					{% include 'nav-collections-kitchen' %}
				{% elsif collection.title == 'Pet' %}
					{% include 'nav-collections-pets' %}
				{% endif %}
			</ul>
			<p>Select by Brand
				{% for product_vendor in collection.all_vendors %}
				{% assign loopNumber = forloop.length %}
				{% assign productVendor = product_vendor %}
				{% endfor %}
				
				{% if loopNumber != 1 %}

					<select onchange="window.location = this.value;">
						<optgroup label="Available Brands">

							<option value="" selected>Select One</option>
							{% for product_vendor in collection.all_vendors %}

								<option value="/collections/vendors?q={{ product_vendor }}">{{ product_vendor }}</option>

							{% endfor %}

						</optgroup>
					</select>

				{% else %}

					<select onchange="window.location = this.value;">
						<optgroup label="Available Brands">

							{% for product_vendor in shop.vendors %}

								{% if product_vendor == productVendor %}

									<option value="/collections/vendors?q={{ product_vendor }}" selected>{{ product_vendor }}</option>

								{% else %}

									<option value="/collections/vendors?q={{ product_vendor }}">{{ product_vendor }}</option>

								{% endif %}

							{% endfor %}

						</optgroup>
					</select>

				{% endif %}

			</p>

		</div>
