					<li><a href="/collections/ingredients/nuts-fruit-seeds-ingredients/" title="">Nuts/Fruit/Seeds</a></li>
					<li><a href="/collections/ingredients/nut-seed-butters/" title="">Nut &amp; Seed Butters</a></li>
					<li><a href="/collections/ingredients/oils/" title="">Oils</a></li>
					<li><a href="/collections/ingredients/pantry-essentials/" title="">Pantry Essentials</a></li>
					<li><a href="/collections/ingredients/salts-seasonings/" title="">Salts &amp; Seasonings</a></li>
					<li><a href="/collections/ingredients/sea-vegetables/" title="">Sea Vegetables</a></li>
					<li><a href="/collections/ingredients/sweeteners/" title="">Sweeteners</a></li>
					<li><a href="/collections/ingredients/superfoods/" title="">Superfoods</a></li>
