					<li><a href="/collections/frontpage/breakfast/" title="Breakfast">Breakfast</a></li>
					<li><a href="/collections/frontpage/chocolate/" title="Chocolate">Chocolate</a></li>
					<li><a href="/collections/frontpage/nuts-fruit-seeds-snacks/" title="Nuts/Fruits/Seeds">Nuts/Fruit/Seeds</a></li>
					<li><a href="/collections/frontpage/sweet-snacks/" title="Sweet Snacks">Sweet Snacks</a></li>
					<li><a href="/collections/frontpage/savory-snacks/" title="Savory Snacks">Savory Snacks</a></li>
