		<div class="three columns alpha nav-collection">
			{% if product.type == 'Eat' %}
				<h1 class="header-eat">{{ product.type | link_to_type }}</h1>
			{% elsif product.type == 'Glow' %}
				<h1 class="header-glow">{{ product.type | link_to_type }}</h1>
			{% elsif product.type == 'Wear' %}
				<h1 class="header-wear">{{ product.type | link_to_type }}</h1>
			{% elsif product.type == 'Nest' %}
				<h1 class="header-nest">{{ product.type | link_to_type }}</h1>
			{% elsif product.type == 'Pet' %}
				<h1 class="header-pet">{{ product.type | link_to_type }}</h1>
			{% else %}
				<h1>{{ product.type | link_to_type }}</h1>
			{% endif %}

			<ul class="landing-collections-sidenav">
				{% if product.type == 'Eat' %}
					{% include 'nav-collections-eat' %}
				{% elsif product.type == 'Snacks' %}
					{% include 'nav-collections-snacks' %}
				{% elsif product.type == 'Ingredients' %}
					{% include 'nav-collections-ingredients' %}
				{% elsif product.type == 'Supplements' %}
					{% include 'nav-collections-supplements' %}
				{% elsif product.type == 'Glow' %}
					{% include 'nav-collections-glow' %}
				{% elsif product.type == 'Wear' %}
					{% include 'nav-collections-wear' %}
				{% elsif product.type == 'Nest' %}
					{% include 'nav-collections-nest' %}
				{% elsif product.type == 'Kitchen' %}
					{% include 'nav-collections-kitchen' %}
				{% elsif product.type == 'Pet' %}
					{% include 'nav-collections-pets' %}
				{% endif %}
			</ul>
		</div>
