					<li>
						<a href="/collections/frontpage" title="Snacks">Snacks</a>
						<i class="expand-collapse">+</i>
						<ul class="sub hide">
							{% include 'nav-collections-snacks' %}
						</ul>
					</li>
					<li>
						<a href="/collections/ingredients" title="Ingredients">Ingredients</a>
						<i class="expand-collapse">+</i>
						<ul class="sub hide">
							{% include 'nav-collections-ingredients' %}
						</ul>
					</li>
					<li>
						<a href="/collections/supplements" title="Supplements">Supplements</a>
						<i class="expand-collapse">+</i>
						<ul class="sub hide">
							{% include 'nav-collections-supplements' %}
						</ul>
					</li>
					<li><a href="/collections/one-lucky-duck-brand" title="One Lucky Duck Brand">Duck Brand</a></li>
					<li><a href="/collections/eat-gift-sets" title="Eat Gift Sets">Eat Gift Sets</a></li>
