					<li><a href="/collections/pet-chow/" title="Chow">Chow</a></li>
					<li><a href="/collections/pet-play/" title="Play">Play</a></li>
					<li><a href="/collections/pet-home/" title="Home">Home</a></li>
					<li><a href="/collections/pet-apparel/" title="Apparel">Apparel</a></li>
					<li><a href="/collections/pet-gift-sets/" title="Pet Gift Sets">Pet Gift Sets</a></li>
