					<li><a href="/collections/frontpage/" title="Snacks">Snacks</a></li>
					<li><a href="/collections/ingredients/" title="Ingredients">Ingredients</a></li>
					<li><a href="/collections/supplements/" title="Supplements">Supplements</a></li>
					<li><a href="/collections/one-lucky-duck-brand/" title="One Lucky Duck Brand">Duck Brand</a></li>
					<li><a href="/collections/eat-gift-sets/" title="Eat Gift Sets">Eat Gift Sets</a></li>
					<li><a href="/collections/eat-sale/" title="Eat Sale">Eat Sale</a></li>
