<div class="three columns alpha nav-collection">
	{% if product.type == 'Eat' %}
		<h1><a href="{{ product.url }}" title="{{ product.type | escape }}" class="header-eat">{{ product.type }}</a></h1>
	{% elsif product.type == 'Glow' %}
		<h1><a href="{{ product.url }}" title="{{ product.type | escape }}" class="header-glow">{{ product.type }}</a></h1>
	{% elsif product.type == 'Wear' %}
		<h1><a href="{{ product.url }}" title="{{ product.type | escape }}" class="header-wear">{{ product.type }}</a></h1>
	{% elsif product.type == 'Nest' %}
		<h1><a href="{{ product.url }}" title="{{ product.type | escape }}" class="header-nest">{{ product.type }}</a></h1>
	{% elsif product.type == 'Pet' %}
		<h1><a href="{{ product.url }}" title="{{ product.type | escape }}" class="header-pet">{{ product.type }}</a></h1>
	{% else %}
		<h1><a href="{{ product.url }}" title="{{ product.type | escape }}">{{ product.type }}</a></h1>
	{% endif %}
	<ul class="landing-collections-sidenav">
		{% if product.type == 'Eat' %}
			<li><a href="/collections/frontpage" title="Snacks">Snacks</a></li>
			<li><a href="/collections/ingredients" title="Ingredients">Ingredients</a></li>
			<li><a href="/collections/supplements" title="Supplements">Supplements</a></li>
			<li><a href="/collections/one-lucky-duck-brand" title="One Lucky Duck Brand">Duck Brand</a></li>
			<li><a href="/collections/eat-gift-sets" title="Eat Gift Sets">Eat Gift Sets</a></li>
			<li><a href="/collections/eat-sale" title="Eat Sale">Eat Sale</a></li>
		{% elsif product.type == 'Snacks' %}
			<li><a href="/collections/frontpage/breakfast" title="Breakfast">Breakfast</a></li>
			<li><a href="/collections/frontpage/chocolate" title="Chocolate">Chocolate</a></li>
			<li><a href="/collections/frontpage/nuts-fruit-seeds-snacks" title="Nuts/Fruits/Seeds">Nuts/Fruit/Seeds</a></li>
			<li><a href="/collections/frontpage/sweet-snacks" title="Sweet Snacks">Sweet Snacks</a></li>
			<li><a href="/collections/frontpage/savory-snacks" title="Savory Snacks">Savory Snacks</a></li>
		{% elsif product.type == 'Ingredients' %}
			{% include 'nav-collections-ingredients' %}
		{% elsif product.type == 'Supplements' %}
			{% include 'nav-collections-supplements' %}
		{% elsif product.type == 'Glow' %}
			{% include 'nav-collections-glow' %}
		{% elsif product.type == 'Wear' %}
			{% include 'nav-collections-wear' %}
		{% elsif product.type == 'Nest' %}
			{% include 'nav-collections-nest' %}
		{% elsif product.type == 'Kitchen' %}
		{% elsif product.type == 'Pet' %}
			{% include 'nav-collections-pets' %}
		{% else %}
				
		{% endif %}
	</ul>
</div>
