<div class="{% if products_per_row == "2" %}eight columns{% elsif products_per_row == "3" %}one-third column{% else %}three columns{% endif %} thumbnail related-products">
	<a href="{{ product.url | within: collection }}" title="{{ product.featured_image.alt | escape }}" class="related-product">
		<img {% if settings.align_height %}style="height:{{ settings.collection_height }}px"{% endif %} src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" />
		{% if settings.quick_shop_enabled %}
			<div data-rel="#product-{{ product.id }}" class="quick_shop action_button">
				{{ settings.quick_shop_text }}
			</div>
		{% endif %}
	</a>
	<div class="info">
		<p class="title"><strong>{{ product.title }}</strong></p>
		<p class="alt-text">
			<span>{{ product.vendor}}</span>
			{% comment %} removed as it was duplicating the title on the SRP {% endcomment %}
			<!-- <span>{{ product.featured_image.alt }}</span> -->
		</p>
		<p class="price">
			{% if product.compare_at_price_max > product.price %}
			<span class="was_price">{{ product.compare_at_price_max | money }}</span>
			{% endif %}

			{% if product.available %}
				{% if product.title == 'Gift Card' %}
				{% elsif product.title == 'Online Gift Code' %}
				{% else %}
				{% if product.price_varies %}
					{% if product.compare_at_price_max > product.price %}
						<br />
					{% endif %}
					<small><em>from</em></small>
				{% endif %}
				{{ product.price_min | money }}
			{% else %}
				{{ product.price_min | money }} - Sold Out
			{% endif %}
			{% endif %}
			
		</p>
	</div>

	{% if product.compare_at_price_max > product.price %}
		<div class="sale">Sale</div>
	{% endif %}

	{% for col in product.collections %}
		{% if col.handle == 'new' %}
			<div class="sale">New</div>
		{% endif %}
	{% endfor %}

	{% if settings.quick_shop_enabled %}

		<div class="modal" id="product-{{ product.id }}">
			<div class="nine columns alpha modal_image">
				<img src="{{ product.featured_image | product_img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" />
			</div>
			<div class="five columns">
				<h3>{{ product.title }}</h3>
				<p class="modal_price">
					<span class="was_price">
						{% if product.price < product.compare_at_price_max %}
							{{ product.compare_at_price | money }}
						{% endif %}
					</span>
					<span class="current_price">
						{{ product.price | money }} 

						{% if product.available == false %}
							<br /><br />Sold Out
						{% endif %}
					</span>
				</p>
				{% if settings.product_description_position == "top" %}
					<p>{{ product.description | strip_html | truncatewords: settings.description_words | replace: 'Description', '' | replace: 'Specs', '' | replace: 'Shipping', ''  }}</p>
					<p><a href="{{ product.url | within: collection }}" class="view_product_info" title="View {{ product.title | escape }} Details">View full product details &rarr;</a></p>
				{% endif %}

				{% include 'product-form' %}

				{% if settings.product_description_position == "bottom" %}
					<p>{{ product.description | strip_html | truncatewords: settings.description_words | replace: 'Description', '' | replace: 'Specs', '' | replace: 'Shipping', ''  }}</p>
					<p><a href="{{ product.url | within: collection }}" class="view_product_info" title="View {{ product.title | escape }} Details">View full product details &rarr;</a></p>
				{% endif %}
			</div>
		</div>

	{% endif %}
</div>