{%if settings.product_images_position == 'left' %}
	<div class="{% if product.images.size > 1 %}eight multiple_product_images{% else %}seven single_product_image{% endif %} columns product_image_col" id="feature_image">
		<a href="{{ product.featured_image | product_img_url: 'original' }}" data-index="" title="{{ product.featured_image.alt | escape }}">
			<img src="{{ product.featured_image | product_img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" itemprop="image" />
		</a>
	</div>


	<div class="two columns product_image_col thumbnails {%if settings.product_images_position == 'right' %}omega{% endif %} {% if product.images.size == 1 %}hidden{% endif %}">
		{% for image in product.images %}
			<a href="{{ image | product_img_url: 'original' }}" class="fancybox" rel="group" data-index="{{ forloop.index0 }}" title="{{ image.alt | escape }}">
				<img src="{{ image | product_img_url: 'grande' }}" alt="{{ image.alt | escape }}" />
			</a>
		{% endfor %}
	</div>

{% else %}
	<div class="two columns product_image_col thumbnails {% if product.images.size == 1 %}hidden{% endif %}">
		{% for image in product.images %}
			<a href="{{ image | product_img_url: 'original' }}" class="fancybox" rel="group" data-index="{{ forloop.index0 }}" title="{{ image.alt | escape }}">
				<img src="{{ image | product_img_url: 'grande' }}" alt="{{ image.alt | escape }}" />
			</a>
		{% endfor %}
	</div>

	<div class="{% if product.images.size > 1 %}eight multiple_product_images{% else %}seven single_product_image{% endif %} columns product_image_col" id="feature_image">
		<a href="{{ product.featured_image | product_img_url: 'original' }}" data-index="" title="{{ product.featured_image.alt | escape }}">
			<img src="{{ product.featured_image | product_img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" itemprop="image" />
		</a>
	</div>
  
{% endif %}
