{% assign option_to_match = settings.option_to_match %}
{% assign option_index = 0 %}
{% for option in product.options %}
	{% if option == option_to_match %}
		{% assign option_index = forloop.index0 %}
	{% endif %}
{% endfor %}

<form action="/cart/add" method="post" class="clearfix" id="product-form-{{ product.id }}">
	{% if product.options.size > 1 %}
		<div class="select">
			<select id="product-select-{{ product.id }}" name='id'>
				{% for variant in product.variants %}
					<option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
				{% endfor %}
			</select>
		</div>

	{% elsif product.options.size == 1 and product.variants.size > 1 %}

		<div class="select">
			<label>{{ product.options[0] }}</label>
			<select id="product-select-{{ product.id }}" name='id'>
				{% for variant in product.variants %}
					<option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
				{% endfor %}
			</select>
		</div>

	{% else %}

		<input type="hidden" name="id" value="{{ product.variants.first.id }}" />

	{% endif %}

	{% if product.available %}
		{% if settings.display_product_quantity %}

			<div class="select">
				<label for="quantity">Quantity</label>
				<input type="number" min="1" size="2" class="quantity" name="quantity" id="quantity" value="1" />
			</div>

		{% endif %}

		<div class="purchase clearfix">
			<input type="submit" name="add" value="Add to Cart" id="add-to-cart" class="action_button" />
		</div>

	{% endif %}

</form>

<script type="text/javascript">
	// <![CDATA[  
	$(function() {
		var selectCallback = function(variant, selector) {
			var $product = $('#product-' + selector.product.id);
			if (variant) {
				var optionValue = variant.options[{{ option_index }}];
				
				var thumbs = $('.thumbnails img');
				$.each(thumbs, function(index, value) {
					
					if($(value).attr('alt') == optionValue) {
						$(value).parent().click();
						return false;
					}
				});
			}

			if (variant && variant.available == true) {
				if(variant.price < variant.compare_at_price){
					$('.was_price', $product).html(Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}"))        
				} else {
					$('.was_price', $product).text('')
				}
				$('.current_price', $product).html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"))
				$('#add-to-cart', $product).removeClass('disabled').removeAttr('disabled').val('Add to Cart');
			} else {
				var message = variant ? "Sold Out" : "Out of Stock";
				$('.was_price', $product).text('')
				$('.current_price', $product).text(message);
				$('#add-to-cart', $product).addClass('disabled').attr('disabled', 'disabled').val(message); 
			}
		};

		{% if product.variants.size > 1 or product.options.size > 1 %}
			$product = $('#product-' + {{ product.id }});
			new Shopify.OptionSelectors("product-select-{{ product.id }}", { product: {{ product | json }}, onVariantSelected: selectCallback });
			{% if product.available %}
				{% assign found_one_in_stock = false %}
				{% for variant in product.variants %}
					{% if variant.available and found_one_in_stock == false %}
						{% assign found_one_in_stock = true %}
						{% for option in product.options %}
							$('.single-option-selector:eq(' + {{ forloop.index0 }} + ')', $product).val({{ variant.options[forloop.index0] | json }}).trigger('change');
						{% endfor %}
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endif %}
	});
	// ]]>
</script>