<!-- Solution brought to you by Caroline Schnapp -->
<!-- See this: http://wiki.shopify.com/Related_Products -->

{% assign image_size = 'compact' %}
{% assign heading = 'You know you also want&hellip;' %}
{% assign number_of_related_products_to_show = 4 %}
{% if product.metafields.recommendations.productHandles %}
	<div class="related-products">
		<div class="product_row">
			<div class="three columns alpha">
				<h2 class="ir icon icon-related-products">{{ heading }}</h2>
			</div>
		</div>
	</div>
{% endif %}


<script type="text/javascript" charset="utf-8">
	var recommendations, list, i, recommendedProducts;
	recommendations = [];

	{% if product.metafields.recommendations.productHandles %}
		recommendations = jQuery.trim({{ product.metafields.recommendations.productHandles | json }}).split(/[\s,;]+/);
	{% endif %}

	if (recommendations.length && recommendations[0] !== '') {
		list = jQuery('.related-products > .product_row');
		for (i = 0; i < recommendations.length; i++) {

			jQuery.getJSON('/products/' + recommendations[i] + '.js', function(product) {

				if(product.images[0]) {
					productImage = product.images[0].replace(/(\.jpg|\.png|\.jpeg|\.gif)/, '_{{ image_size }}$1')
				} else {
					productImage = 'http://static.shopify.com/s/images/admin/no-image-grande.gif?0aa4726dab6a22f213957b9fc90cf6d1f43e1697';
				}
				
				recommendedProducts  = 	'<div class="three columns thumbnail related-products">';
				recommendedProducts += 		'<div class="image">';
				recommendedProducts += 			'<a href="' + product.url + '" class="related-product">';
				recommendedProducts += 				'<img src="' + productImage + '" alt="' + product.title + '" />';
				recommendedProducts += 			'</a>';
				recommendedProducts += 		'</div>';
				recommendedProducts +=		'<div class="info">';
				recommendedProducts += 			'<p class="title"><strong>' + product.title + '</strong></p>';
				recommendedProducts += 			'<p class="price">' + Shopify.formatMoney(product.price, '{{ shop.money_format }}') + '</p>';
				recommendedProducts += 		'</div>';
				recommendedProducts += 	'</div>';

				list.append(recommendedProducts);
			});
		}
	}
</script>