{% capture current_url %}{{ shop.url }}{% if social-buttons == 'article' %}{{ article.url }}{% else %}{{ product.url }}{% endif %}{% endcapture %}  

{% capture buttons %}
	<span class="title-share">share item:</span>
	<span class="facebookcont"><iframe src="https://www.facebook.com/plugins/like.php?href={{ current_url }}&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe></span>
	<span class="twittercont"><a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ current_url }}" data-count="none">Tweet</a></span>
	{% if social-buttons == 'product' and settings.display_pinterest_button == true %}
		<a target="_blank" class="pinterestcount" href="http://pinterest.com/pin/create/button/?url={{ current_url }}&amp;media={{ product.featured_image | product_img_url: 'grande' }}">Pin It</a>
	{% endif %}
{% endcapture %}

{% if social-buttons == 'article' and settings.display_social_buttons_blog  %}
	<div class="right">{{ buttons }}</div>

{% elsif social-buttons == 'global' and settings.header_share_button %}  
	<div class="right">{{ buttons }}</div>

{% elsif social-buttons == 'product' and settings.display_social_buttons %}
	<hr />
	{{ buttons }}
{% endif %}
