{% if settings.share_prod_on_twitter ||  settings.share_prod_on_facebook ||  settings.share_prod_on_googleplus %}

<ul id="sharing">


  {% if settings.share_prod_on_twitter %}
  <li>
    <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
  </li>
  {% endif %}

  {% if settings.share_prod_on_facebook %}
  <li>
    <div id="fb-root"></div>
    <div class="fb-like" data-send="false" data-layout="button_count" data-width="" data-show-faces="false"></div>          
  </li>
  {% endif %}

  {% if settings.share_prod_on_googleplus %}
  <!-- <li>
    <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="120"></div>
  </li> -->
  {% endif %}  

</ul>

<!-- fb like button -->
<div id="fb-root"></div>
<script defer>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- +1 button -->
<script defer type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<!-- tweet btn -->
<script defer type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

{% endif %}