<!-- DEBUG: {{ gateway }} has been used. -->
{% if gateway == 'Gift Card or Store Credit' %}
<form method="post" style="margin: 0;" action="https://pay1.plugnpay.com/payment/pay.cgi">

	<input type="hidden" name="card-allowed" value="Visa,Mastercard,Amex,Discover">
	<input type="hidden" name="currency" value="usd">
	<input type="hidden" name="easycart" value="1">
	<input type="hidden" name="order-id" value="12345gift67890">
	<input type="hidden" name="privacy" value="omitstatement">
	<input type="hidden" name="publisher-email" value="info@oneluckyduck.com">
	<input type="hidden" name="publisher-name" value="oneluckydu">

	<input type="hidden" name="shipinfo" value="1">
	<input type="hidden" name="taxrate" value="0.0825">
	<input type="hidden" name="taxstate" value="NY">
	<input type="hidden" name="description1" value="gift card">
	<input type="hidden" name="item1" value="54321">
	<input type="hidden" name="quantity1" value="1">

	<input type="hidden" name="shipname" value="{{ shipping_address.first_name }} {{ shipping_address.last_name }}">
	<input type="hidden" name="shipcompany" value="{{ shipping_address.company }}">
	<input type="hidden" name="address1" value="{{ shipping_address.address1 }}">
	<input type="hidden" name="address2" value="{{ shipping_address.address2 }}">
	<input type="hidden" name="city" value="{{ shipping_address.city }}">
	<input type="hidden" name="state" value="{{ shipping_address.province_code }}">
	<input type="hidden" name="zip" value="{{ shipping_address.zip }}">
	<input type="hidden" name="country" value="{{ shipping_address.country_code }}">
	<input type="hidden" name="email" value="{{ customer.email }}">


	<input type="hidden" name="card-fname" value="{{ billing_address.first_name }}">
	<input type="hidden" name="card-lname" value="{{ billing_address.last_name }}">
	<input type="hidden" name="card-company" value="{{ billing_address.company }}">
	<input type="hidden" name="card-address1" value="{{ billing_address.address1 }}">
	<input type="hidden" name="card-address2" value="{{ billing_address.address2 }}">
	<input type="hidden" name="card-city" value="{{ billing_address.city }}">
	<input type="hidden" name="card-state" value="{{ billing_address.province_code }}">
	<input type="hidden" name="card-zip" value="{{ billing_address.zip }}">
	<input type="hidden" name="card-country" value="{{ billing_address.country_code }}">

	<span style="font-size: 18px; position: relative; top: 2px; display: inline-block;">Cost: $</span>
	<input type="text" name="cost1" size="8" value="{{ total_price | money }}" style="display: inline-block;">
	<input type="submit" name="return" value="Submit Order">
</form>
{% endif %}