<!doctype html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="cleartype" content="on">
		<meta name="robots" content="index,follow">
		<title>{% if template contains "index" %}{{ pages[settings.homepage].title }}{% elsif template contains "404" %}Page Not Found{% else %}{{ page_title | escape }}{% endif %}{% if current_page != 1 %} Page {{ current_page }}{% endif %}{% if template contains "index" and settings.homepage == blank %}{% else %} | {% endif %}{{ shop.name }}</title>

		<!-- Redirect users from domains -->
		<script>
			var site = location.href;
			if (site.search(/shinyhappypets.com\/$/) != -1)         { window.location.replace("http://oneluckyduck.com/collections/pet/"); }
			else if (site.search(/purefoodandwine.com\/$/) != -1)   { window.location.replace("http://oneluckyduck.com/pages/pure-food-and-wine/"); }
			else if (site.search(/oneluckyducktx.com\/$/) != -1)    { window.location.replace("http://oneluckyduck.com/pages/san-antonio-menu/"); }
			else if (site.search(/oneluckyducktexas.com\/$/) != -1) { window.location.replace("http://oneluckyduck.com/pages/san-antonio-menu/"); }
		</script>

		{% if template contains "product" %}
		<meta property="og:title" content="{{ product.title }}" />
		<meta property="og:type" content="product" />
		<meta property="og:url" content="{{ shop.url }}{{ product.url }}" />
		<meta property="og:image" content="{{ product.featured_image | product_img_url: 'grande' }}" />
		<meta property="og:site_name" content="{{ shop.name }}" />
		{% endif %}
		
		{% assign maxmeta = 155 %}
		{% if template contains 'product' %}
		<meta name="description" content="{{ product.description | strip_html | strip_newlines | truncate: maxmeta | escape }}" />
		{% elsif template contains 'page' %}
		<meta name="description" content="{{ page.content | strip_html | strip_newlines | truncate: maxmeta | escape }}" />
		{% elsif template contains 'collection' %}
		<meta name="description" content="{{ collection.description | strip_html | strip_newlines | truncate: maxmeta | escape }}" />
		{% elsif template == 'index' and shop.description != '' %}
		<meta name="description" content="{{ shop.description | strip_html | strip_newlines | truncate: maxmeta | escape}}" />
		{% endif %}
		
		{% if settings.author != blank %}
		<meta name="author" content="{{ settings.author }}">
		{% endif %}
		
		<!-- Mobile Specific Metas -->
		<!-- <meta name="HandheldFriendly" content="True"> -->
		<!-- <meta name="MobileOptimized" content="320"> -->
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
		
		<!-- Stylesheets -->
		{{ 'styles.css' | asset_url | stylesheet_tag }}
		{{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}
		<!-- Icons -->
		<link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
		<link rel="apple-touch-icon" sizes="57x57" href="{{ 'apple_touch_57.png' | asset_url }}">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ 'apple_touch_72.png' | asset_url }}">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ 'apple_touch_114.png' | asset_url }}">
		
		{% if template contains 'product' %}
		{% if collection %}
		<link rel="canonical" href="{{ shop.url | replace: 'https', 'http' }}{{ product.url }}" />
		{% endif %}
		{% endif %}
		
		<!-- Custom Fonts -->
		<!-- <link href='http://fonts.googleapis.com/css?family=.|{% if settings.logo_typeface_method == "google_webfonts" %}{{ settings.logo_google_webfont_font }}:light,normal,bold|{% endif %}{% if settings.headline_typeface_method == "google_webfonts" %}{{ settings.headline_google_webfont_font }}:light,normal,bold|{% endif %}{% if settings.top_bar_typeface_method == "google_webfonts" %}{{ settings.top_bar_google_webfont_font }}:light,normal,bold|{% endif %}{% if settings.nav_typeface_method == "google_webfonts" %}{{ settings.nav_google_webfont_font }}:light,normal,bold|{% endif %}{% if settings.regular_typeface_method == "google_webfonts" %}{{ settings.regular_google_webfont_font }}:light,normal,bold{% endif %}' rel='stylesheet' type='text/css'> -->
		
		{% if template contains 'customer' %}
		{{ "shopify_common.js" | shopify_asset_url | script_tag }}
		{{ "customer_area.js"  | asset_url | stylesheet_tag }}
		<!--[if lt IE 7]>
		{{ 'json2.js' | shopify_asset_url | script_tag }}
		<![endif]-->
		{% endif %}
		
		<!-- jQuery and jQuery fallback -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script>window.jQuery || document.write("<script src='{{ "jquery-1.7.2.min.js" | asset_url }}'>\x3C/script>")</script>
		{{ 'app.js' | asset_url | script_tag }}
		{{ 'option_selection.js' | shopify_asset_url | script_tag }}

		{{ 'jquery.jfeed.pack.js' | asset_url | script_tag }}
		{{ 'jquery.rss.js' | asset_url | script_tag }}

		{% if page.title contains 'Instructions' %}
		<!-- JS for GC iFrame -->
 		<script src="https://pay1.plugnpay.com/api/iframe/T0esPt0MnB/client/"></script>
		{{ 'jquery.numeric.js' | asset_url | script_tag }}
		{{ 'gc-integration.js' | asset_url | script_tag }}
		{{ 'gc-integration.css' | asset_url | stylesheet_tag }}
		{% endif %}

		{{ content_for_header }}
        <script type="text/javascript"> (function() { var po = document.createElement("script"); po.type = "text/javascript"; po.async = true; po.src = "https://apis.google.com/js/plusone.js?publisherid=115213000155840876372"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(po, s); })(); </script>
      
        <meta name="p:domain_verify" content="12f0d925e922f0d8725eca5ea622ce58"/> 

	</head>
	<body id="top">

		<div class="content-contain">
			<div class="top_bar">
				<div class="container">
					<div class="sixteen columns {% unless settings.search_box_top_bar %} offset-by-four {% endunless %}">
						<ul>
							<li>{% if cart.item_count == 0 %}<a href="/cart" title="Checkout">Checkout</a>{% else %}<a href="/checkout" title="Checkout">Checkout</a>{% endif %}</li>
							<li><a href="/cart" class="cart" title="Shopping Cart">Cart ({{ cart.item_count }})</a></li>
							{% if shop.customer_accounts_enabled %}
							<li><a href="/account" title="My Account">My Account</a></li>
							{% endif %}
							{% if settings.top_bar_linklist != blank %}
							{% for link in linklists[settings.top_bar_linklist].links %}
							<li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
							{% endfor %}
							{% endif %}
						</ul>
					</div>
				</div>  
			</div>
			{% if settings.search_box_top_bar %}
			<div class="container logo-and-search">
				<div class="six columns logo">
					<a href="/">
						{% if settings.use_logo %}
						<img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" />
						{% else %}
						{{ shop.name }}
						{% endif %}
					</a>
				</div>
				<div class="ten columns top_bar_search relative pos-btm">
					<div class="icon duck-mail">
						<label for="mce-EMAIL" title="Sign up for Duck Mail">Want Duck Mail (yes!)</label>
						<div class="mc_embed_signup top hide">
							<form action="http://oneluckyduck.us5.list-manage.com/subscribe/post?u=fb49daf7df95d0de56685e85f&amp;id=545c845cd9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
								<div class="clear">
									<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
								</div>
							</form>
						</div>
					</div>
					<form class="search right" action="/search">
						<input type="text" name="q" class="search_box" placeholder="Search..." value="{{ search.terms }}"  />
					</form>
				</div>
			</div>
			{% endif %}
			{% if product %}
				<div class="container content product_page">
			{% else %}
				<div class="container content">
			{% endif %}
			
				{% include "social-buttons" with "global" %}
				<div class="sixteen columns clearfix main-nav">
					<div id="nav">
						<ul id="menu">
							{% for link in linklists.main-menu.links %}
								<li class="ir icon {{ link.handle }}{% if link.active %} selected{% endif %}"><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
								<!-- {% if link.url == '/collections/' %}{% if link.title == 'Shop' %} selected{% endif %}{% endif %} -->
								<!-- <pre style="text-align: left;">{{ link }}</pre> -->
							{% endfor %}
						</ul>
					</div>
				</div>
				
				{% if template contains 'list-collections' %}
					{% include 'collection-listing' %}

				{% else %}
					{{ content_for_layout }}

				{% endif %}
			</div>
			<div class="footer">
				<div class="container clearfix contact-addrs">
					<h3 class="sixteen columns header-wrap corp-links">
						<a href="/pages/faqs/">FAQs</a>
						<a href="/blogs/press/tagged/us/">Press</a>
						<a href="/pages/company-info/">Company Info</a>
						<a href="/pages/contact-us/">Contact Us</a>
					</h3>
					{% include 'contact-main' %}
					{% include 'contact-food-wine' %}
					{% include 'contact-juice-takeaway-gramercy' %}
					{% include 'contact-juice-takeaway-chelsea' %}
					{% include 'contact-juice-takeaway-sanantonio' %}
				</div>
				<div class="container clearfix">
					<div class="section columns sixteen align_center copyright">
						<p>&copy; Copyright {{ 'now' | date: "%Y" }} 
							<a href="/" title="One Lucky Duck, LLC">One Lucky Duck</a>, LLC | 
							<a href="/pages/about-one-lucky-duck/" title="About One Lucky Duck">About Us</a> | 
							<a href="/pages/faq-terms-conditions" title="One Lucky Duck Terms &amp; Conditions">Terms &amp; Conditions</a> | 
							<a href="/pages/faqs-privacy-policy" title="One Lucky Duck Privacy Policy">Privacy Policy</a> | 
							<a href="/pages/faqs-disclaimer/" title="One Lucky Duck Disclaimer">Disclaimer</a>
						</p>
						<p class="align_center"><a href="http://altatseng.com/" title="Visit Alta Tseng Design" target="_blank">Site by Alta Tseng Design</a></p>
					</div>
				</div>
			</div>
		</div>
		{% if settings.display_social_buttons or settings.display_social_buttons_blog %}
		<script type="text/javascript">
			(function() {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = 'https://apis.google.com/js/plusone.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			})();
		</script>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		{% endif %}
	</body>
	<script type="text/javascript">
		(function($) {
			$('.duck-mail-tx').click(function (e) {
				$(this).children('img').css('opacity', '.3');
				$(this).find('.mc_embed_signup').fadeIn('fast');
				$(this).find('input').focus();
				e.stopImmediatePropagation();
			});

			$('.duck-mail').click(function (e) {
				if($('.mc_embed_signup').hasClass('top')) {
					$(this).children('label').fadeOut();
				}
				$('.mc_embed_signup').fadeIn();
				$('.mc_embed_signup').children('form').children('input').focus();
				e.stopImmediatePropagation();
			});
			$('.expand-collapse').click(function(){
				var $this = $(this);
				$this.next().toggleClass('hide');
				$this.html() == '+' ? $this.html('&ndash;') : $this.html('+');

			});
		})(jQuery);

		jQuery(function($) {
			$(".ducknews-posts").rss(
				"http://ducknews.oneluckyduck.com/feed/rss2/",
				{
					limit: 1,
					entryTemplate: '<li class="ducknews-link">Latest Duck News! <a href="{url}" title="{title} by {author} on {date}" target="_blank">{title} &#62;&#62;</a></li>',
				}
			)
		})
	</script>

	{{ "swfobject_modified.js" | asset_url | script_tag }}
</html>