a:link {
	color:#990000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #990000;
}
a:hover {
	text-decoration: none;
	color: #990000;
}
a:active {
	text-decoration: none;
	color: #990000;
}
i {
	color:#000000;
}
.big {
	font-size: 13px;
	color:#000000;
}
.black {
	color:#000000;
}
.small {
	font-size: 10px;
	padding: 0;
	margin: 0;
}