<div class="coupon container">
  <table>
    <tr>
      <td>
        <a href="http://apps.shopify.com/contact-form"><img src="https://cdn.shopify.com/s/files/applications/89ecb7b4529d7c726194c62fe676c44a.png" width="50" height="50" class="coupon" /></a>
      </td>
      <td>
          Try the <a href="http://apps.shopify.com/contact-form">Shopify Contact Form</a> free for 60 days!
      </td>
      <td>
        &nbsp;
      </td>
      <td>
        <strong>Promo Code: FREE60</strong>
      </td>
      <td>
        &nbsp;
      </td>
    </tr>
  </table>
</div>

<div class="container"></div>

<br />

<div class="section-info">
    <h3>Responsive v2.2</h3>
    <p>Below you will find several sections for customizing the Responsive theme. The documentation is found at <a href="http://newyorkbicycles.myshopify.com/pages/theme-settings" target="_blank">http://newyorkbicycles.myshopify.com/pages/theme-settings</a>. If you need any assistance, please contact <a href="mailto:info@outofthesandbox.com">info@outofthesandbox.com</a></p>
</div>


<br />
<div class="container"></div>

<fieldset>
  <legend>General Theme Options</legend>
  <table class="search_bar_location">
    <tr>
      <th><label for="use_logo">Use a custom logo?</label></th>
      <td>
        <input type="checkbox" id="use_logo" name="use_logo" value="1" />
      </td>
    </tr>
    <tr>
      <th><label for="logo">Shop Logo</label></th>
      <td>
        <input type="file" id="logo" name="logo.png" data-max-width="940" data-max-height="600" />
      </td>
    </tr>
    <tr>
      <th><label for="favicon">Favicon</label></th>
      <td>
        <input type="file" id="favicon" name="favicon.png" data-max-width="16" data-max-height="16" />
      </td>
    </tr>
    <tr>
      <th><label for="apple_touch_57">Apple Touch Icon (57x57)</label></th>
      <td>
        <input type="file" id="apple_touch_57" name="apple_touch_57.png" data-max-width="57" data-max-height="57" />
      </td>
    </tr>
    <tr>
      <th><label for="apple_touch_72">Apple Touch Icon (72x72)</label></th>
      <td>
        <input type="file" id="apple_touch_72" name="apple_touch_72.png" data-max-width="72" data-max-height="72" />
      </td>
    </tr>
    <tr>
      <th><label for="apple_touch_114">Apple Touch Icon (114x114)</label></th>
      <td>
        <input type="file" id="apple_touch_114" name="apple_touch_114.png" data-max-width="114" data-max-height="114" />
      </td>
    </tr>
    <tr>
      <th><label for="author">Shop Author</label></th>
      <td>
        <input type="text" id="author" name="author" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="main_linklist">Main Menu Linklist</label></th>
      <td><select name="main_linklist" class="linklist" /></td>
    </tr>
    <tr>
     <th><label for="nav_border">Navigation Border</label></th>
     <td>
       <select name="nav_border" id="nav_border">
         <option value='double'>Double</option>
         <option value='solid'>Solid</option>
        </select>
     </td>
    </tr>
    <tr>
      <th><label for="header_share_button">Social Sharing Buttons in Header</label></th>
      <td>
        <input type="checkbox" id="header_share_button" name="header_share_button" value="1" />
      </td>
    </tr>
    <tr>
      <th><label for="mobile_menu">Mobile Menu Orientation</label></th>
      <td>
        <input type="radio" name="mobile_menu" value="horizontal" /> Horizontal &nbsp; 
        <input type="radio" name="mobile_menu" value="vertical" /> Vertical
      </td>
    </tr>
    
  </table>
</fieldset>
<fieldset>
  <legend>Layout Colors and Backgrounds</legend>
  <table>

    <tr>
      <th><label for="link_color">Link Color</label></th>
      <td><input id="link_color" name="link_color" class="color" value="#333333" /></td>
    </tr>
    <tr>
      <th><label for="link_hover_color">Link Hover Color</label></th>
      <td><input id="link_hover_color" name="link_hover_color" class="color" value="#000000" /></td>
    </tr>
    <tr>
      <th><label for="btn_color">Button Color</label></th>
      <td><input id="btn_color" name="btn_color" class="color" value="#000000" /></td>
    </tr>
    <tr>
      <th><label for="btn_hover_color">Button Hover</label></th>
      <td><input id="btn_hover_color" name="btn_hover_color" class="color" value="#AE3333" /></td>
    </tr>
    <tr>
      <th><label for="sale_color">Sale Color</label></th>
      <td><input id="sale_color" name="sale_color" class="color" value="#AE3333" /></td>
    </tr>
    <tr>
      <th><label for="was_price_color">Was Price Color</label></th>
      <td><input id="was_price_color" name="was_price_color" class="color" value="#AE3333" /></td>
    </tr>
    <tr>
      <th><label for="border_color">Border Color</label></th>
      <td><input id="border_color" name="border_color" class="color" value="#d3d3d3" /></td>
    </tr>
    
    <tr>
      <td colspan="3">
        <br />
        <hr />
        <br />
      </td>
    </tr>
    <tr>
      <th><label for="shop_bg_color">Background Color</label></th>
      <td><input id="shop_bg_color" name="shop_bg_color" class="color" /></td>
    </tr>
    <tr>
      <th><label for="modal_background_color">'Quick Shop' Background Color</label></th>
      <td><input id="modal_background_color" name="modal_background_color" class="color" /></td>
    </tr>
    <tr>
       <th><label for="shop_use_content_bg_color">Use Content Background Color?</label></th>
       <td>
         <input type="checkbox" id="shop_use_content_bg_color" name="shop_use_content_bg_color" value="1" />
       </td>
     </tr>
    <tr>
      <th><label for="shop_content_bg_color">Content Background Color</label></th>
      <td><input id="shop_content_bg_color" name="shop_content_bg_color" class="color" /></td>
    </tr>
    <tr>
      <th><label for="use_custom_bg_image">Use a Background Image?</label></th>
      <td>
        <input type="checkbox" id="use_custom_bg_image" name="use_custom_bg_image" value="1" />
      </td>
    </tr>
    <tr>
      <th><label for="custom_bg_image_select">Select a Background Image</label></th>
      <td>
        <select name="custom_bg_image_select" id="custom_bg_image_select">
          <option value="custom_bg.png">Uploaded background</option>
          <option value="sanfran_bg.png">San Francisco</option>
          <option value="london_bg.png">London</option>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="custom_bg_image">Upload Background Image</label></th>
      <td>
        <input type="file" id="custom_bg_image" name="custom_bg.png" data-max-width="1600" data-max-height="1600" />
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <br />
        <hr />
        <br />
      </td>
    </tr>
    <tr>
      <th><label for="top_bar_bg_color">Top Bar Background Color</label></th>
      <td><input id="top_bar_bg_color" name="top_bar_bg_color" class="color" /></td>
    </tr>
    <tr>
      <th><label for="use_custom_top_bar_image">Use a background image?</label></th>
      <td>
        <input type="checkbox" id="use_custom_top_bar_image" name="use_custom_top_bar_image" value="1" />
      </td>
    </tr>
    <tr>
      <th><label for="custom_top_bar_image_select">Select a Background Image</label></th>
      <td>
        <select name="custom_top_bar_image_select" id="custom_top_bar_image_select">
          <option value="custom_top_bar.png">Uploaded background</option>
          <option value="sanfran_top_bar.png">San Francisco</option>
          <option value="london_top_bar_bg.png">London</option>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="custom_top_bar_image">Upload Background Image</label></th>
      <td>
        <input type="file" id="custom_top_bar_image" name="custom_top_bar.png" data-max-width="700" data-max-height="700" />
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <br />
        <hr />
        <br />
      </td>
    </tr>   
    <tr>
      <th><label for="footer_link_color">Footer Link Color</label></th>
      <td><input id="footer_link_color" name="footer_link_color" class="color" value="#AE3333" /></td>
    </tr>
    <tr>
      <th><label for="footer_link_color_hover">Footer Link Hover Color</label></th>
      <td><input id="footer_link_color_hover" name="footer_link_color_hover" class="color" value="#AE3333" /></td>
    </tr>
    <tr>
      <th><label for="footer_color">Footer Background Color</label></th>
      <td><input id="footer_color" name="footer_color" class="color" /></td>
    </tr>
    <tr>
      <th><label for="footer_border_color">Footer Border Color</label></th>
      <td><input id="footer_border_color" name="footer_border_color" class="color" /></td>
    </tr>
    <tr>
      <th><label for="use_custom_footer_image">Use a background image?</label></th>
      <td>
        <input type="checkbox" id="use_custom_footer_image" name="use_custom_footer_image" value="1" />
      </td>
    </tr>
    
    <tr>
      <th><label for="custom_footer_image_select">Select a Background Image</label></th>
      <td>
        <select name="custom_footer_image_select" id="custom_footer_image_select">
          <option value="custom_footer.png">Uploaded background</option>
          <option value="sanfran_footer_bg.png">San Francisco</option>
          <option value="london_bg.png">London</option>
        </select>
      </td>
    </tr>
    
    <tr>
      <th><label for="custom_footer_image">Background Image</label></th>
      <td>
        <input type="file" id="custom_footer_image" name="custom_footer.png" data-max-width="1800" data-max-height="1000" />
      </td>
    </tr>
  </table>
</fieldset>
<fieldset>
  <legend>Typography</legend>
  <table>
    <tr>
      <th><label for="logo_typeface_method">Logo typeface:</label></th>
      <td>
        <input type="radio" name="logo_typeface_method" value="google_webfonts" /> <a href="http://www.google.com/webfonts" target="_blank">Google Web fonts</a>
        <input type="radio" name="logo_typeface_method" value="websafe" /> Web safe fonts        
      </td>
    </tr>
    
    <tr>
      <th><label for="logo_google_webfont_font">Google WebFont Typeface</label></th>
      <td>
        <select name="logo_google_webfont_font" id="logo_google_webfont_font">
          <option value='Allan'>Allan</option>
          <option value='Anton'>Anton</option>
          <option value='Arvo'>Arvo</option>
          <option value='Bevan'>Bevan</option>
          <option value='Buda'>Buda</option>
          <option value='Cabin'>Cabin</option>
          <option value='Calligraffitti'>Calligraffitti</option>
          <option value='Cherry+Cream+Soda'>Cherry Cream Soda</option>
          <option value='Chewy'>Chewy</option>
          <option value='Copse'>Copse</option>
          <option value='Corben'>Corben</option>
          <option value='Dancing+Script'>Dancing Script</option>
          <option value='Droid+Sans'>Droid Sans</option>
          <option value='Droid+Serif'>Droid Serif</option>
          <option value='Goudy+Bookletter+1911'>Goudy Bookletter 1911</option>
          <option value='Gruppo'>Gruppo</option>
          <option value='Josefin+Slab'>Josefin Slab</option>
          <option value='Josefin+Sans'>Josefin Sans</option>
          <option value='Junge'>Junge</option>
          <option value='Just+Another+Hand'>Just Another Hand</option>
          <option value='Kreon'>Kreon</option>
          <option value='Lato'>Lato</option>          
          <option value='Lora'>Lora</option>          
          <option value='Lobster'>Lobster</option>                      
          <option value='Lobster+Two'>Lobster Two</option>                    
          <option value='Luckiest+Guy'>Luckiest Guy</option>
          <option value='Merriweather'>Merriweather</option>
          <option value='Molengo'>Molengo</option>
          <option value='Mr+Bedfort'>Mr Bedfort</option>                    
          <option value='Open+Sans'>Open Sans</option>
          <option value='Open+Sans+Condensed'>Open Sans Condensed</option>
          <option value='Parisienne'>Parisienne</option>          
          <option value='Permanent+Marker'>Permanent Marker</option>
          <option value='Philosopher'>Philosopher</option>
          <option value='PT+Sans+Narrow'>PT Sans Narrow</option>
          <option value='Questrial'>Questrial</option>          
          <option value='Rokkitt'>Rokkitt</option>          
          <option value='Sail'>Sail</option>                    
          <option value='Unna'>Unna</option>                    
          <option value='Vibur'>Vibur</option>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="logo_websafe_font">Web safe Typeface</label></th>
      <td>
        <select class="font" name="logo_websafe_font" id="logo_websafe_font">
          <optgroup label="Sans-serif">
            <option value="Futura, 'Century Gothic', AppleGothic, sans-serif">Futura</option>
            <option value="Helvetica, Arial, sans-serif">Helvetica/Arial</option> 
            <option value="Impact, Charcoal, Helvetica, Arial, sans-serif">Impact</option> 
            <option value="'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Lucida, Helvetica, Arial, sans-serif">Lucida Grande</option> 
            <option value="Trebuchet MS, sans-serif">Trebuchet MS</option> 
            <option value="Verdana, Helvetica, Arial, sans-serif">Verdana</option>
          </optgroup>
          <optgroup label="Serif">
            <option value="Garamond, Baskerville, Caslon, serif">Garamond</option> 
            <option value="Georgia, Utopia, 'Times New Roman', Times, serif">Georgia</option> 
            <option value="Palatino, 'Palatino Linotype', 'Book Antiqua', serif">Palatino</option> 
            <option value="'Times New Roman', Times, serif">Times New Roman</option>
          </optgroup>
          <optgroup label="Monospace">
            <option value="'Courier New', Courier, monospace">Courier New</option> 
            <option value="Monaco, 'Lucida Console', 'DejaVu Sans Mono', monospace">Monaco/Lucida Console</option>
          </optgroup>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="logo_weight">Font Weight</label></th>
      <td>
        <select name="logo_weight" id="logo_weight">
          <option value="bold">Bold</option>
          <option value="normal" selected="selected">Regular</option>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="logo_font_style">Font Style</label></th>
      <td>
        <select name="logo_font_style" id="logo_font_style">
          <option value="none" selected="selected">None</option>
          <option value="uppercase">Uppercase</option>
          <option value="lowercase">Lowercase</option>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="logo_font_size">Font Size</label></th>
      <td>
        <input id="logo_font_size" name="logo_font_size" size="2" value="" />px
      </td>
    </tr>
    <tr>
      <th><label for="logo_color">Color</label></th>
      <td>
        <input id="logo_color" name="logo_color" class="color" value="" />
      </td>
    </tr>
  </table>
  
  <br />
  <hr />
  <br />
  
  <table>
    <tr>
      <th><label for="headline_typeface_method">Headline typeface:</label></th>
      <td>
        <input type="radio" name="headline_typeface_method" value="google_webfonts" /> <a href="http://www.google.com/webfonts" target="_blank">Google Web fonts</a>
        <input type="radio" name="headline_typeface_method" value="websafe" /> Web safe fonts        
      </td>
    </tr>
    
    <tr>
      <th><label for="headline_google_webfont_font">Google WebFont Typeface</label></th>
      <td>
        <select name="headline_google_webfont_font" id="headline_google_webfont_font">
          <option value='Allan'>Allan</option>
          <option value='Anton'>Anton</option>
          <option value='Arvo'>Arvo</option>
          <option value='Bevan'>Bevan</option>
          <option value='Buda'>Buda</option>
          <option value='Cabin'>Cabin</option>
          <option value='Calligraffitti'>Calligraffitti</option>
          <option value='Cherry+Cream+Soda'>Cherry Cream Soda</option>
          <option value='Chewy'>Chewy</option>
          <option value='Copse'>Copse</option>
          <option value='Corben'>Corben</option>
          <option value='Dancing+Script'>Dancing Script</option>
          <option value='Droid+Sans'>Droid Sans</option>
          <option value='Droid+Serif'>Droid Serif</option>
          <option value='Goudy+Bookletter+1911'>Goudy Bookletter 1911</option>
          <option value='Gruppo'>Gruppo</option>
          <option value='Josefin+Slab'>Josefin Slab</option>
          <option value='Josefin+Sans'>Josefin Sans</option>
          <option value='Junge'>Junge</option>
          <option value='Just+Another+Hand'>Just Another Hand</option>
          <option value='Kreon'>Kreon</option>
          <option value='Lato'>Lato</option>          
          <option value='Lora'>Lora</option>          
          <option value='Lobster'>Lobster</option>                      
          <option value='Lobster+Two'>Lobster Two</option>                    
          <option value='Luckiest+Guy'>Luckiest Guy</option>
          <option value='Merriweather'>Merriweather</option>
          <option value='Molengo'>Molengo</option>
          <option value='Mr+Bedfort'>Mr Bedfort</option>                    
          <option value='Open+Sans'>Open Sans</option>
          <option value='Open+Sans+Condensed'>Open Sans Condensed</option>
          <option value='Parisienne'>Parisienne</option>          
          <option value='Permanent+Marker'>Permanent Marker</option>
          <option value='Philosopher'>Philosopher</option>
          <option value='PT+Sans+Narrow'>PT Sans Narrow</option>
          <option value='Questrial'>Questrial</option>          
          <option value='Rokkitt'>Rokkitt</option>          
          <option value='Sail'>Sail</option>                    
          <option value='Unna'>Unna</option>                    
          <option value='Vibur'>Vibur</option>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="headline_websafe_font">Websafe Typeface</label></th>
      <td>
        <select class="font" name="headline_websafe_font" id="headline_websafe_font">
          <optgroup label="Sans-serif">
            <option value="Futura, 'Century Gothic', AppleGothic, sans-serif">Futura</option>
            <option value="Helvetica, Arial, sans-serif">Helvetica/Arial</option> 
            <option value="Impact, Charcoal, Helvetica, Arial, sans-serif">Impact</option> 
            <option value="'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Lucida, Helvetica, Arial, sans-serif">Lucida Grande</option> 
            <option value="Trebuchet MS, sans-serif">Trebuchet MS</option> 
            <option value="Verdana, Helvetica, Arial, sans-serif">Verdana</option>
          </optgroup>
          <optgroup label="Serif">
            <option value="Garamond, Baskerville, Caslon, serif">Garamond</option> 
            <option value="Georgia, Utopia, 'Times New Roman', Times, serif">Georgia</option> 
            <option value="Palatino, 'Palatino Linotype', 'Book Antiqua', serif">Palatino</option> 
            <option value="'Times New Roman', Times, serif">Times New Roman</option>
          </optgroup>
          <optgroup label="Monospace">
            <option value="'Courier New', Courier, monospace">Courier New</option> 
            <option value="Monaco, 'Lucida Console', 'DejaVu Sans Mono', monospace">Monaco/Lucida Console</option>
          </optgroup>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="headline_weight">Font Weight</label></th>
      <td>
        <select name="headline_weight" id="headline_weight">
          <option value="bold">Bold</option>
          <option value="normal" selected="selected">Regular</option>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="headline_font_style">Font Style</label></th>
      <td>
        <select name="headline_font_style" id="headline_font_style">
          <option value="none" selected="selected">None</option>
          <option value="uppercase">Uppercase</option>
          <option value="lowercase">Lowercase</option>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="headline_font_size">Font Size</label></th>
      <td>
        <input id="headline_font_size" name="headline_font_size" size="2" value="" />px
      </td>
    </tr>
    <tr>
      <th><label for="headline_color">Color</label></th>
      <td>
        <input id="headline_color" name="headline_color" class="color" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="headline_letter_spacing">Letter Spacing</label></th>
      <td>
        <input id="headline_letter_spacing" name="headline_letter_spacing" value="" size="2" />px
      </td>
    </tr>
  </table>
  
  
  <br />
  <hr />
  <br />
  
  <table>
    <tr>
      <th><label for="nav_typeface_method">Navigation typeface:</label></th>
      <td>
        <input type="radio" name="nav_typeface_method" value="google_webfonts" /> <a href="http://www.google.com/webfonts" target="_blank">Google Web fonts</a>
        <input type="radio" name="nav_typeface_method" value="websafe" /> Web safe fonts        
      </td>
    </tr>
    
    <tr>
      <th><label for="nav_google_webfont_font">Google WebFont Typeface</label></th>
      <td>
        <select name="nav_google_webfont_font" id="nav_google_webfont_font">
          <option value='Allan'>Allan</option>
          <option value='Anton'>Anton</option>
          <option value='Arvo'>Arvo</option>
          <option value='Bevan'>Bevan</option>
          <option value='Buda'>Buda</option>
          <option value='Cabin'>Cabin</option>
          <option value='Calligraffitti'>Calligraffitti</option>
          <option value='Cherry+Cream+Soda'>Cherry Cream Soda</option>
          <option value='Chewy'>Chewy</option>
          <option value='Copse'>Copse</option>
          <option value='Corben'>Corben</option>
          <option value='Dancing+Script'>Dancing Script</option>
          <option value='Droid+Sans'>Droid Sans</option>
          <option value='Droid+Serif'>Droid Serif</option>
          <option value='Goudy+Bookletter+1911'>Goudy Bookletter 1911</option>
          <option value='Gruppo'>Gruppo</option>
          <option value='Josefin+Slab'>Josefin Slab</option>
          <option value='Josefin+Sans'>Josefin Sans</option>
          <option value='Junge'>Junge</option>
          <option value='Just+Another+Hand'>Just Another Hand</option>
          <option value='Kreon'>Kreon</option>
          <option value='Lato'>Lato</option>          
          <option value='Lora'>Lora</option>          
          <option value='Lobster'>Lobster</option>                      
          <option value='Lobster+Two'>Lobster Two</option>                    
          <option value='Luckiest+Guy'>Luckiest Guy</option>
          <option value='Merriweather'>Merriweather</option>
          <option value='Molengo'>Molengo</option>
          <option value='Mr+Bedfort'>Mr Bedfort</option>                    
          <option value='Open+Sans'>Open Sans</option>
          <option value='Open+Sans+Condensed'>Open Sans Condensed</option>
          <option value='Parisienne'>Parisienne</option>          
          <option value='Permanent+Marker'>Permanent Marker</option>
          <option value='Philosopher'>Philosopher</option>
          <option value='PT+Sans+Narrow'>PT Sans Narrow</option>
          <option value='Questrial'>Questrial</option>
          <option value='Rokkitt'>Rokkitt</option>          
          <option value='Sail'>Sail</option>                    
          <option value='Unna'>Unna</option>                    
          <option value='Vibur'>Vibur</option>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="nav_websafe_font">Web safe Typeface</label></th>
      <td>
        <select class="font" name="nav_websafe_font" id="nav_websafe_font">
          <optgroup label="Sans-serif">
            <option value="Futura, 'Century Gothic', AppleGothic, sans-serif">Futura</option>
            <option value="Helvetica, Arial, sans-serif">Helvetica/Arial</option> 
            <option value="Impact, Charcoal, Helvetica, Arial, sans-serif">Impact</option> 
            <option value="'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Lucida, Helvetica, Arial, sans-serif">Lucida Grande</option> 
            <option value="Trebuchet MS, sans-serif">Trebuchet MS</option> 
            <option value="Verdana, Helvetica, Arial, sans-serif">Verdana</option>
          </optgroup>
          <optgroup label="Serif">
            <option value="Garamond, Baskerville, Caslon, serif">Garamond</option> 
            <option value="Georgia, Utopia, 'Times New Roman', Times, serif">Georgia</option> 
            <option value="Palatino, 'Palatino Linotype', 'Book Antiqua', serif">Palatino</option> 
            <option value="'Times New Roman', Times, serif">Times New Roman</option>
          </optgroup>
          <optgroup label="Monospace">
            <option value="'Courier New', Courier, monospace">Courier New</option> 
            <option value="Monaco, 'Lucida Console', 'DejaVu Sans Mono', monospace">Monaco/Lucida Console</option>
          </optgroup>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="nav_weight">Font Weight</label></th>
      <td>
        <select name="nav_weight" id="regular_weight">
          <option value="bold">Bold</option>
          <option value="normal" selected="selected">Regular</option>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="nav_font_style">Font Style</label></th>
      <td>
        <select name="nav_font_style" id="nav_font_style">
          <option value="none" selected="selected">None</option>
          <option value="uppercase">Uppercase</option>
          <option value="lowercase">Lowercase</option>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="nav_font_size">Font Size</label></th>
      <td>
        <input id="nav_font_size" name="nav_font_size" size="2" value="" />px
      </td>
    </tr>
    <tr>
      <th><label for="nav_color">Color</label></th>
      <td>
        <input id="nav_color" name="nav_color" class="color" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="nav_color_active">Current Page Highlight Color</label></th>
      <td>
        <input id="nav_color_active" name="nav_color_active" class="color" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="nav_color_hover">Hover Color</label></th>
      <td>
        <input id="nav_color_hover" name="nav_color_hover" class="color" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="nav_letter_spacing">Letter Spacing</label></th>
      <td>
        <input id="nav_letter_spacing" name="nav_letter_spacing" value="" size="2" />px
      </td>
    </tr>
  </table>
  
  <br />
  <hr />
  <br />
  
  <table>
    <tr>
      <th><label for="top_bar_typeface_method">Top bar and button typeface:</label></th>
      <td>
        <input type="radio" name="top_bar_typeface_method" value="google_webfonts" /> <a href="http://www.google.com/webfonts" target="_blank">Google Web fonts</a>
        <input type="radio" name="top_bar_typeface_method" value="websafe" /> Web safe fonts        
      </td>
    </tr>
    
    <tr>
      <th><label for="top_bar_google_webfont_font">Google WebFont Typeface</label></th>
      <td>
        <select name="top_bar_google_webfont_font" id="top_bar_google_webfont_font">
          <option value='Allan'>Allan</option>
          <option value='Anton'>Anton</option>
          <option value='Arvo'>Arvo</option>
          <option value='Bevan'>Bevan</option>
          <option value='Buda'>Buda</option>
          <option value='Cabin'>Cabin</option>
          <option value='Calligraffitti'>Calligraffitti</option>
          <option value='Cherry+Cream+Soda'>Cherry Cream Soda</option>
          <option value='Chewy'>Chewy</option>
          <option value='Copse'>Copse</option>
          <option value='Corben'>Corben</option>
          <option value='Dancing+Script'>Dancing Script</option>
          <option value='Droid+Sans'>Droid Sans</option>
          <option value='Droid+Serif'>Droid Serif</option>
          <option value='Goudy+Bookletter+1911'>Goudy Bookletter 1911</option>
          <option value='Gruppo'>Gruppo</option>
          <option value='Josefin+Slab'>Josefin Slab</option>
          <option value='Josefin+Sans'>Josefin Sans</option>
          <option value='Junge'>Junge</option>
          <option value='Just+Another+Hand'>Just Another Hand</option>
          <option value='Kreon'>Kreon</option>
          <option value='Lato'>Lato</option>          
          <option value='Lora'>Lora</option>          
          <option value='Lobster'>Lobster</option>                      
          <option value='Lobster+Two'>Lobster Two</option>                    
          <option value='Luckiest+Guy'>Luckiest Guy</option>
          <option value='Merriweather'>Merriweather</option>
          <option value='Molengo'>Molengo</option>
          <option value='Mr+Bedfort'>Mr Bedfort</option>                    
          <option value='Open+Sans'>Open Sans</option>
          <option value='Open+Sans+Condensed'>Open Sans Condensed</option>
          <option value='Parisienne'>Parisienne</option>          
          <option value='Permanent+Marker'>Permanent Marker</option>
          <option value='Philosopher'>Philosopher</option>
          <option value='PT+Sans+Narrow'>PT Sans Narrow</option>
          <option value='Questrial'>Questrial</option>
          <option value='Rokkitt'>Rokkitt</option>          
          <option value='Sail'>Sail</option>                    
          <option value='Unna'>Unna</option>                    
          <option value='Vibur'>Vibur</option>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="top_bar_websafe_font">Web safe Typeface</label></th>
      <td>
        <select class="font" name="top_bar_websafe_font" id="top_bar_websafe_font">
          <optgroup label="Sans-serif">
            <option value="Futura, 'Century Gothic', AppleGothic, sans-serif">Futura</option>
            <option value="Helvetica, Arial, sans-serif">Helvetica/Arial</option> 
            <option value="Impact, Charcoal, Helvetica, Arial, sans-serif">Impact</option> 
            <option value="'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Lucida, Helvetica, Arial, sans-serif">Lucida Grande</option> 
            <option value="Trebuchet MS, sans-serif">Trebuchet MS</option> 
            <option value="Verdana, Helvetica, Arial, sans-serif">Verdana</option>
          </optgroup>
          <optgroup label="Serif">
            <option value="Garamond, Baskerville, Caslon, serif">Garamond</option> 
            <option value="Georgia, Utopia, 'Times New Roman', Times, serif">Georgia</option> 
            <option value="Palatino, 'Palatino Linotype', 'Book Antiqua', serif">Palatino</option> 
            <option value="'Times New Roman', Times, serif">Times New Roman</option>
          </optgroup>
          <optgroup label="Monospace">
            <option value="'Courier New', Courier, monospace">Courier New</option> 
            <option value="Monaco, 'Lucida Console', 'DejaVu Sans Mono', monospace">Monaco/Lucida Console</option>
          </optgroup>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="top_bar_weight">Font Weight</label></th>
      <td>
        <select name="top_bar_weight" id="top_bar_weight">
          <option value="bold">Bold</option>
          <option value="normal" selected="selected">Regular</option>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="top_bar_font_style">Font Style</label></th>
      <td>
        <select name="top_bar_font_style" id="top_bar_font_style">
          <option value="none" selected="selected">None</option>
          <option value="uppercase">Uppercase</option>
          <option value="lowercase">Lowercase</option>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="top_bar_font_size">Font Size</label></th>
      <td>
        <input id="top_bar_font_size" name="top_bar_font_size" size="2" value="" />px
      </td>
    </tr>
    <tr>
      <th><label for="top_bar_color">Color</label></th>
      <td>
        <input id="top_bar_color" name="top_bar_color" class="color" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="top_bar_color_hover">Hover Color</label></th>
      <td>
        <input id="top_bar_color_hover" name="top_bar_color_hover" class="color" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="top_bar_letter_spacing">Letter Spacing</label></th>
      <td>
        <input id="top_bar_letter_spacing" name="top_bar_letter_spacing" value="" size="2" />px
      </td>
    </tr>
  </table>
  
  <br />
  <hr />
  <br />
  
  <table>
    <tr>
      <th><label for="regular_typeface_method">Regular text typeface:</label></th>
      <td>
        <input type="radio" name="regular_typeface_method" value="google_webfonts" /> <a href="http://www.google.com/webfonts" target="_blank">Google Web fonts</a>
        <input type="radio" name="regular_typeface_method" value="websafe" /> Web safe fonts        
      </td>
    </tr>
    
    <tr>
      <th><label for="regular_google_webfont_font">Google WebFont Typeface</label></th>
      <td>
        <select name="regular_google_webfont_font" id="regular_google_webfont_font">
          <option value='Allan'>Allan</option>
          <option value='Anton'>Anton</option>
          <option value='Arvo'>Arvo</option>
          <option value='Bevan'>Bevan</option>
          <option value='Buda'>Buda</option>
          <option value='Cabin'>Cabin</option>
          <option value='Calligraffitti'>Calligraffitti</option>
          <option value='Cherry+Cream+Soda'>Cherry Cream Soda</option>
          <option value='Chewy'>Chewy</option>
          <option value='Copse'>Copse</option>
          <option value='Corben'>Corben</option>
          <option value='Dancing+Script'>Dancing Script</option>
          <option value='Droid+Sans'>Droid Sans</option>
          <option value='Droid+Serif'>Droid Serif</option>
          <option value='Goudy+Bookletter+1911'>Goudy Bookletter 1911</option>
          <option value='Gruppo'>Gruppo</option>
          <option value='Josefin+Slab'>Josefin Slab</option>
          <option value='Josefin+Sans'>Josefin Sans</option>
          <option value='Junge'>Junge</option>
          <option value='Just+Another+Hand'>Just Another Hand</option>
          <option value='Kreon'>Kreon</option>
          <option value='Lato'>Lato</option>          
          <option value='Lora'>Lora</option>          
          <option value='Lobster'>Lobster</option>                      
          <option value='Lobster+Two'>Lobster Two</option>                    
          <option value='Luckiest+Guy'>Luckiest Guy</option>
          <option value='Merriweather'>Merriweather</option>
          <option value='Molengo'>Molengo</option>
          <option value='Mr+Bedfort'>Mr Bedfort</option>                    
          <option value='Open+Sans'>Open Sans</option>
          <option value='Open+Sans+Condensed'>Open Sans Condensed</option>
          <option value='Parisienne'>Parisienne</option>          
          <option value='Permanent+Marker'>Permanent Marker</option>
          <option value='Philosopher'>Philosopher</option>
          <option value='PT+Sans+Narrow'>PT Sans Narrow</option>
          <option value='Questrial'>Questrial</option>          
          <option value='Rokkitt'>Rokkitt</option>          
          <option value='Sail'>Sail</option>                    
          <option value='Unna'>Unna</option>                    
          <option value='Vibur'>Vibur</option>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="regular_websafe_font">Web safe Typeface</label></th>
      <td>
        <select class="font" name="regular_websafe_font" id="regular_websafe_font">
          <optgroup label="Sans-serif">
            <option value="Futura, 'Century Gothic', AppleGothic, sans-serif">Futura</option>
            <option value="Helvetica, Arial, sans-serif">Helvetica/Arial</option> 
            <option value="Impact, Charcoal, Helvetica, Arial, sans-serif">Impact</option> 
            <option value="'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Lucida, Helvetica, Arial, sans-serif">Lucida Grande</option> 
            <option value="Trebuchet MS, sans-serif">Trebuchet MS</option> 
            <option value="Verdana, Helvetica, Arial, sans-serif">Verdana</option>
          </optgroup>
          <optgroup label="Serif">
            <option value="Garamond, Baskerville, Caslon, serif">Garamond</option> 
            <option value="Georgia, Utopia, 'Times New Roman', Times, serif">Georgia</option> 
            <option value="Palatino, 'Palatino Linotype', 'Book Antiqua', serif">Palatino</option> 
            <option value="'Times New Roman', Times, serif">Times New Roman</option>
          </optgroup>
          <optgroup label="Monospace">
            <option value="'Courier New', Courier, monospace">Courier New</option> 
            <option value="Monaco, 'Lucida Console', 'DejaVu Sans Mono', monospace">Monaco/Lucida Console</option>
          </optgroup>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="regular_weight">Font Weight</label></th>
      <td>
        <select name="regular_weight" id="regular_weight">
          <option value="bold">Bold</option>
          <option value="normal" selected="selected">Regular</option>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="regular_font_style">Font Style</label></th>
      <td>
        <select name="regular_font_style" id="regular_font_style">
          <option value="none" selected="selected">None</option>
          <option value="uppercase">Uppercase</option>
          <option value="lowercase">Lowercase</option>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="regular_font_size">Font Size</label></th>
      <td>
        <input id="regular_font_size" name="regular_font_size" size="2" value="" />px
      </td>
    </tr>
    <tr>
      <th><label for="regular_color">Color</label></th>
      <td>
        <input id="regular_color" name="regular_color" class="color" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="footer_font_size">Footer Font Size</label></th>
      <td>
        <input id="footer_font_size" name="footer_font_size" size="2" value="" />px
      </td>
    </tr>
    <tr>
      <th><label for="footer_text_color">Footer Text Color</label></th>
      <td><input id="footer_text_color" name="footer_text_color" class="color" value="#AE3333" /></td>
    </tr>
  </table>

  
</fieldset>
<fieldset>
  <legend>Top Bar</legend>
  <table>
    <tr>
      <th><label for="search_box_top_bar">Search box in Top Bar</label></th>
      <td>
        <input type="checkbox" id="search_box_top_bar" name="search_box_top_bar" value="1" />
      </td>
    </tr>
    <tr>
      <th><label for="top_bar_linklist">Top Bar Linklist</label></th>
      <td><select name="top_bar_linklist" class="linklist" /></td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td><p>To display the "My Account" link, enable customer accounts from Preferences > Checkout and Payment</p></td>
    </tr>
  </table>
</fieldset>
<fieldset>
  <legend>Home Page</legend>
  <table>
    <tr>
      <th><label for="homepage">Home Page Content</label></th>
      <td><select class="page" name="homepage" id="homepage" /></td>
    </tr>
    <tr>
      <th><label for="frontpage_collection">Home Page Collection</label></th>
      <td><select name="frontpage_collection" class="collection" /></td>
    </tr>
    <tr>
      <th><label for="frontpage_products_per_row">Home Page Products Per Row</label></th>
      <td>
        <select name="frontpage_products_per_row" id="frontpage_products_per_row">
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="frontpage_linklist">Home Page Collections Link List</label></th>
      <td><select name="frontpage_linklist" class="linklist" /></td>
    </tr>
    <tr>
      <th><label for="frontpage_collections_per_row">Home Page Collections Per Row</label></th>
      <td>
        <select name="frontpage_collections_per_row" id="frontpage_collections_per_row">
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="blog_widget">"Recent Blog Articles" Widget Enabled</label></th>
      <td>
        <input type="checkbox" id="blog_widget" name="blog_widget" />
      </td>
    </tr>
    <tr>
      <th><label for="blog_widget_select">Blog Articles for Widget</label></th>
      <td><select name="blog_widget_select" class="blog" /></td>
    </tr>
    
    <tr>
      <th>
        &nbsp;
      </th>
      <td>
        <h3>Slideshow Images</h3>
        For best results, upload images that are 940px wide. Try to keep your slideshow images the same size.
      </td>
    </tr>

    <tr>
      <th><label for="slideshow_enabled">Slideshow Enabled</label></th>
      <td>
        <input type="checkbox" id="slideshow_enabled" name="slideshow_enabled" value="1" />
      </td>
    </tr>
    <tr>
      <th><label for="slideshow_animation">Slideshow Animation</label></th>
      <td>
        <select name="slideshow_animation" id="slideshow_animation">
          <option value="fade">Fade</option>
          <option value="slide">Slide</option>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="slideshow_speed">Slideshow Speed</label></th>
      <td>
        <input type="input" id="slideshow_speed" name="slideshow_speed" size="1" /> seconds
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <br />
        <hr />
        <br />
      </td>
    </tr>
    <tr>
      <th><label for="slideshow_1_enabled">Image 1 Enabled</label></th>
      <td>
        <input type="checkbox" id="slideshow_1_enabled" name="slideshow_1_enabled" value="1" />
      </td>
    </tr>
    <tr>
      <th><label for="slideshow_1">Image 1</label></th>
      <td>
        <input type="file" id="slideshow_1" name="slideshow_1.jpg" data-max-width="940" />
      </td>
    </tr>
    <tr>
      <th><label for="image_1_link">Image 1 Link:</label></th>
      <td>
        <input type="text" id="image_1_link" name="image_1_link" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="image_1_caption">Image 1 Caption:</label></th>
      <td>
        <input type="text" id="image_1_caption" name="image_1_caption" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="image_1_alt_text">Image 1 ALT Text:</label></th>
      <td>
        <input type="text" id="image_1_alt_text" name="image_1_alt_text" value="" />
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <br />
        <hr />
        <br />
      </td>
    </tr>
    <tr>
      <th><label for="slideshow_2_enabled">Image 2 Enabled</label></th>
      <td>
        <input type="checkbox" id="slideshow_2_enabled" name="slideshow_2_enabled" value="1" />
      </td>
    </tr>
    <tr>
      <th><label for="slideshow_2">Image 2</label></th>
      <td>
        <input type="file" id="slideshow_2" name="slideshow_2.jpg" data-max-width="940" />
      </td>
    </tr>
    <tr>
      <th><label for="image_2_link">Image 2 Link:</label></th>
      <td>
        <input type="text" id="image_2_link" name="image_2_link" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="image_2_caption">Image 2 Caption:</label></th>
      <td>
        <input type="text" id="image_2_caption" name="image_2_caption" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="image_2_alt_text">Image 2 ALT Text:</label></th>
      <td>
        <input type="text" id="image_2_alt_text" name="image_2_alt_text" value="" />
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <br />
        <hr />
        <br />
      </td>
    </tr>
    <tr>
      <th><label for="slideshow_3_enabled">Image 3 Enabled</label></th>
      <td>
        <input type="checkbox" id="slideshow_3_enabled" name="slideshow_3_enabled" value="1" />
      </td>
    </tr>
    
    <tr>
      <th><label for="slideshow_3">Image 3</label></th>
      <td>
        <input type="file" id="slideshow_3" name="slideshow_3.jpg" data-max-width="940" />
      </td>
    </tr>
    <tr>
      <th><label for="image_3_link">Image 3 Link:</label></th>
      <td>
        <input type="text" id="image_3_link" name="image_3_link" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="image_3_caption">Image 3 Caption:</label></th>
      <td>
        <input type="text" id="image_3_caption" name="image_3_caption" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="image_3_alt_text">Image 3 ALT Text:</label></th>
      <td>
        <input type="text" id="image_3_alt_text" name="image_3_alt_text" value="" />
      </td>
    </tr>    
    <tr>
      <td colspan="3">
        <br />
        <hr />
        <br />
      </td>
    </tr>
    <tr>
      <th><label for="slideshow_4_enabled">Image 4 Enabled</label></th>
      <td>
        <input type="checkbox" id="slideshow_4_enabled" name="slideshow_4_enabled" value="1" />
      </td>
    </tr>
    
    <tr>
      <th><label for="slideshow_4">Image 4</label></th>
      <td>
        <input type="file" id="slideshow_4" name="slideshow_4.jpg" data-max-width="940" />
      </td>
    </tr>
    <tr>
      <th><label for="image_4_link">Image 4 Link:</label></th>
      <td>
        <input type="text" id="image_4_link" name="image_4_link" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="image_4_caption">Image 4 Caption:</label></th>
      <td>
        <input type="text" id="image_4_caption" name="image_4_caption" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="image_4_alt_text">Image 4 ALT Text:</label></th>
      <td>
        <input type="text" id="image_4_alt_text" name="image_4_alt_text" value="" />
      </td>
    </tr>    
    <tr>
      <td colspan="3">
        <br />
        <hr />
        <br />
      </td>
    </tr>
    <tr>
      <th><label for="slideshow_5_enabled">Image 5 Enabled</label></th>
      <td>
        <input type="checkbox" id="slideshow_5_enabled" name="slideshow_5_enabled" value="1" />
      </td>
    </tr>
    
    <tr>
      <th><label for="slideshow_5">Image 5</label></th>
      <td>
        <input type="file" id="slideshow_5" name="slideshow_5.jpg" data-max-width="950" />
      </td>
    </tr>
    <tr>
      <th><label for="image_5_link">Image 5 Link:</label></th>
      <td>
        <input type="text" id="image_5_link" name="image_5_link" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="image_5_caption">Image 5 Caption:</label></th>
      <td>
        <input type="text" id="image_5_caption" name="image_5_caption" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="image_5_alt_text">Image 5 ALT Text:</label></th>
      <td>
        <input type="text" id="image_5_alt_text" name="image_5_alt_text" value="" />
      </td>
    </tr>    
    <tr>
      <td colspan="3">
        <br />
        <hr />
        <br />
      </td>
    </tr>
    <tr>
      <th><label for="slideshow_6_enabled">Image 6 Enabled</label></th>
      <td>
        <input type="checkbox" id="slideshow_6_enabled" name="slideshow_6_enabled" value="1" />
      </td>
    </tr>

    <tr>
      <th><label for="slideshow_6">Image 6</label></th>
      <td>
        <input type="file" id="slideshow_6" name="slideshow_6.jpg" data-max-width="960" />
      </td>
    </tr>
    <tr>
      <th><label for="image_6_link">Image 6 Link:</label></th>
      <td>
        <input type="text" id="image_6_link" name="image_6_link" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="image_6_caption">Image 6 Caption:</label></th>
      <td>
        <input type="text" id="image_6_caption" name="image_6_caption" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="image_6_alt_text">Image 6 ALT Text:</label></th>
      <td>
        <input type="text" id="image_6_alt_text" name="image_6_alt_text" value="" />
      </td>
    </tr>    
  </table>
</fieldset>
<fieldset>
  <legend>Product Page</legend>
  <table>
    
    <tr>
      <th><label for="display_tags">Display Tags</label></th>
      <td>
        <input type="checkbox" id="display_tags" name="display_tags" />
      </td>
    </tr>
    <tr>
      <th><label for="display_type">Display Type</label></th>
      <td>
        <input type="checkbox" id="display_type" name="display_type" />
      </td>
    </tr>
    <tr>
      <th><label for="display_vendor">Display Vendor</label></th>
      <td>
        <input type="checkbox" id="display_vendor" name="display_vendor" />
      </td>
    </tr>
    <tr>
      <th><label for="display_collections">Display Collections</label></th>
      <td>
        <input type="checkbox" id="display_collections" name="display_collections" />
      </td>
    </tr>
    <tr>
      <th><label for="display_social_buttons">Display Social Sharing Buttons</label></th>
      <td>
        <input type="checkbox" id="display_social_buttons" name="display_social_buttons" />
      </td>
    </tr>
    <tr>
      <th><label for="display_pinterest_button">Display Pinterest Button</label></th>
      <td>
        <input type="checkbox" id="display_pinterest_button" name="display_pinterest_button" />
      </td>
    </tr>
    <tr>
      <th><label for="product_images_position">Product Images Position</label></th>
      <td>
        <input type="radio" name="product_images_position" value="left" /> Left
        <input type="radio" name="product_images_position" value="right" /> Right
      </td>
    </tr>    
    <tr>
      <th><label for="product_thumbnails_position">Product Thumbnails Position</label></th>
      <td>
        <input type="radio" name="product_thumbnails_position" value="side" /> Next to Feature Image
        <input type="radio" name="product_thumbnails_position" value="bottom" /> Below Feature Image
      </td>
    </tr>
    <tr>
      <th><label for="product_description_position">Product Description Position</label></th>
      <td>
        <input type="radio" name="product_description_position" value="top" /> Above 'Add to Cart'
        <input type="radio" name="product_description_position" value="bottom" /> Below 'Add to Cart'
      </td>
    </tr>
    <tr>
      <th><label for="display_related_products">Display Related Products</label></th>
      <td>
        <input type="checkbox" id="display_related_products" name="display_related_products" />
      </td>
    </tr>
    <tr>
      <th><label for="display_product_quantity">Display Product Quantity</label></th>
      <td>
        <input type="checkbox" id="display_product_quantity" name="display_product_quantity" />
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <br />
        <hr />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <p>
          <strong>Associate Product Variants with Product Images</strong>
        </p>
        
        <p>
          Match up your product’s variants with your product image’s ALT text. The product’s variants must be exactly the same as the product image’s ALT text.
        </p>
      </td>
    </tr>
    <tr>  
      <th><label for="option_to_match">Associated Variant Name<br />(i.e. Color)</label></th>
      <td>
        <input type="text" id="option_to_match" name="option_to_match" value="" />
      </td>
    </tr>
    
  </table>
</fieldset>
<fieldset>
  <legend>Collection Page</legend>
  <table>
    <tr>
      <th><label for="products_per_row">Products Per Row</label></th>
      <td>
        <select name="products_per_row" id="products_per_row">
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="pagination_limit">Products Per Page</label></th>
      <td>
        <select name="pagination_limit" id="pagination_limit">
          <option value="6">6</option>
          <option value="12">12</option>
          <option value="24">24</option>
          <option value="36">36</option>
          <option value="48">48</option>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="align_height">Align Height of Product Images</label></th>
      <td>
        <input type="checkbox" id="align_height" name="align_height" />
      </td>
    </tr>
    <tr>
      <th><label for="collection_height">Product Image Height</label></th>
      <td>
        <input type="text" id="collection_height" name="collection_height" value="" size="3" />px
      </td>
    </tr>
    <tr>
      <th><label for="collection_tags">Filter by Tags <br />(dropdown select box)</label></th>
      <td>
        <input type="checkbox" id="collection_tags" name="collection_tags" value="1" />
      </td>
    </tr>
    <tr>
      <th><label for="filter_by_category">Filter by Collections <br />(dropdown select box)</label></th>
      <td>
        <input type="checkbox" id="filter_by_category" name="filter_by_category" value="1" />
      </td>
    </tr>
    <tr>
      <th><label for="quick_shop_enabled">Quick Shop Enabled</label></th>
      <td>
        <input type="checkbox" id="quick_shop_enabled" name="quick_shop_enabled" value="1" />
      </td>
    </tr>
    <tr>
      <th><label for="description_words">Quick Shop product description words</label></th>
      <td>
        <input type="text" id="description_words" name="description_words" value="" size="2" />
      </td>
    </tr>
    <tr>
      <th><label for="quick_shop_text">"Quick Shop" Text</label></th>
      <td>
        <input type="text" id="quick_shop_text" name="quick_shop_text" value="" />
      </td>
    </tr>
  </table>
</fieldset>
<fieldset>
  <legend>Checkout</legend>
  <table>
    <tr>
      <th><label for="display_special_instructions">Include "Special Instructions" Text Box on Checkout</label></th>
      <td>
        <input type="checkbox" id="display_special_instructions" name="display_special_instructions" value="1" />
      </td>
    </tr>
  </table>
</fieldset>
<fieldset>
  <legend>Blog</legend>
  <table>
    <tr>
      <th><label for="display_social_buttons_blog">Display Social Sharing Buttons</label></th>
      <td>
        <input type="checkbox" id="display_social_buttons_blog" name="display_social_buttons_blog" />
      </td>
    </tr>
    <tr>
      <th><label for="disqus_enabled"><a href="http://disqus.com/">DISQUS</a> Comments Enabled (instead of Shopify's default comments)</label></th>
      <td>
        <input type="checkbox" id="disqus_enabled" name="disqus_enabled" />
      </td>
    </tr>
    <tr>
      <th><label for="disqus_shortname"><a href="http://disqus.com/">DISQUS</a> Shortname</label></th>
      <td>
        <input type="text" id="disqus_shortname" name="disqus_shortname" value="" />
      </td>
    </tr>
  </table>
</fieldset>
<fieldset>
  <legend>Footer</legend>
  <table>
    <tr>
      <th><label for="newsletter_enabled">Newsletter Sign Up Form</label></th>
      <td>
        <input type="checkbox" id="newsletter_enabled" name="newsletter_enabled" />
      </td>
    </tr>
    <tr>
      <th><label for="newsletter_system">Newsletter System</label></th>
      <td>
        <input type="radio" name="newsletter_system" value="shopify" /> Shopify
        <input type="radio" name="newsletter_system" value="mailchimp" /> <a href="http://mailchimp.com/">MailChimp</a>
      </td>
    </tr>
    <tr>
      <th><label for="mailchimp_link">MailChimp Form Action URL</label></th>
      <td>
        <input type="text" id="mailchimp_link" name="mailchimp_link" value="" />
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <br />
        <hr />
        <br />
      </td>
    </tr>
    <tr>
      <th><label for="footer_content_page">Footer Content Page</label></th>
      <td><select name="footer_content_page" class="page" /></td>
    </tr>
    <tr>
      <th><label for="display_designed_by">Display Theme Designer Credits</label></th>
      <td><input type="checkbox" id="display_designed_by" name="display_designed_by" /></td>
    </tr>
    <tr>
      <th><label for="enable_social_links">Enable Social Links</label></th>
      <td><input type="checkbox" id="enable_social_links" name="enable_social_links" /></td>
    </tr>
    <tr>
      <td colspan="2">
        <p>
          <strong>Include the full URL to your social profiles:</strong>
        </p>
      </td>
    </tr>
    <tr>
      <th><label for="twitter_link">Twitter Link</label></th>
      <td>
        <input type="text" id="twitter_link" name="twitter_link" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="twitter_link">Facebook Link</label></th>
      <td>
        <input type="text" id="facebook_link" name="facebook_link" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="google_link">Google+ Link</label></th>
      <td>
        <input type="text" id="google_link" name="google_link" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="twitter_link">YouTube Link</label></th>
      <td>
        <input type="text" id="youtube_link" name="youtube_link" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="pinterest_link">Pinterest Link</label></th>
      <td>
        <input type="text" id="pinterest_link" name="pinterest_link" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="tumblr_link">Tumblr Link</label></th>
      <td>
        <input type="text" id="tumblr_link" name="tumblr_link" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="twitter_link">LinkedIn Link</label></th>
      <td>
        <input type="text" id="linkedin_link" name="linkedin_link" value="" />
      </td>
    </tr>
    <tr>
      <th><label for="twitter_link">Flickr Link</label></th>
      <td>
        <input type="text" id="flickr_link" name="flickr_link" value="" />
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <br />
        <hr />
      </td>
    </tr>
    <tr>
       <th><label for="payment_methods">Payment Methods</label></th>
       <td>
         <input type="checkbox" id="use_paypal" name="use_paypal" value="1" /> PayPal <br />                  
         <input type="checkbox" id="use_visa" name="use_visa" value="1" /> Visa <br />
         <input type="checkbox" id="use_visaelectron" name="use_visaelectron" value="1" /> Visa Electron <br />         
         <input type="checkbox" id="use_mastercard" name="use_mastercard" value="1" /> Mastercard <br />
         <input type="checkbox" id="use_amex" name="use_amex" value="1" /> American Express <br />
         <input type="checkbox" id="use_cirrus" name="use_cirrus" value="1" /> Cirrus <br />
         <input type="checkbox" id="use_delta" name="use_delta" value="1" /> Delta <br />
         <input type="checkbox" id="use_discover" name="use_discover" value="1" /> Discover <br />                  
         <input type="checkbox" id="use_western_union" name="use_western_union" value="1" /> Western Union <br />                  
       </td>
     </tr>
  </table>
</fieldset>