{% if settings.logo_typeface_method == "google_webfonts" %}
  @import url("https://fonts.googleapis.com/css?family={{ settings.logo_google_webfont_font }}:light,normal,bold");
{% endif %}
{% if settings.headline_typeface_method == "google_webfonts" %}
  @import url("https://fonts.googleapis.com/css?family={{ settings.headline_google_webfont_font }}:light,normal,bold"); 
{% endif %}
{% if settings.top_bar_typeface_method == "google_webfonts" %}
  @import url("https://fonts.googleapis.com/css?family={{ settings.top_bar_google_webfont_font }}:light,normal,bold"); 
{% endif %}
{% if settings.nav_typeface_method == "google_webfonts" %}
  @import url("https://fonts.googleapis.com/css?family={{ settings.nav_google_webfont_font }}:light,normal,bold"); 
{% endif %}
{% if settings.regular_typeface_method == "google_webfonts" %}
  @import url("https://fonts.googleapis.com/css?family={{ settings.regular_google_webfont_font }}:light,normal,bold"); 
{% endif %}

/* #styles.css.liquid
================================================== */

	body { 
		background-color: {{ settings.shop_bg_color }};
		{% if settings.use_custom_bg_image %}
		  background-image: url("{{ settings.custom_bg_image_select | asset_url }}");
		{% endif %}
		
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);
    
    {% if settings.regular_typeface_method == "google_webfonts" %}
      font-family: "{{ settings.regular_google_webfont_font | replace: '+', ' ' }}";
    {% else %}
      font-family: {{ settings.regular_websafe_font | replace: '+', ' ' | replace: 'Helvetica', '"HelveticaNeue", "Helvetica Neue", Helvetica' }};
    {% endif %}  

    font-weight: {{ settings.regular_weight }};      
    font-size: {{ settings.regular_font_size }}px; 
    text-transform: {{ settings.regular_font_style}};
    color: {{ settings.regular_color}};
    line-height: 1.7em;
}

	h1, h2, h3, h4, h5, h6, .title a { 
    {% if settings.headline_typeface_method == "google_webfonts" %}
      font-family: "{{ settings.headline_google_webfont_font | replace: '+', ' ' }}";
    {% else %}
      font-family: {{ settings.headline_websafe_font | replace: '+', ' ' | replace: 'Helvetica', '"HelveticaNeue", "Helvetica Neue", Helvetica' }};
    {% endif %}  

    font-weight: {{ settings.headline_weight }};    
    text-transform: {{ settings.headline_font_style}};
    color: {{ settings.headline_color}};
    display:block;
    letter-spacing: {{ settings.headline_letter_spacing }}px;
}

a, a:visited { color: {{ settings.link_color }}; text-decoration: none; outline: 0; -webkit-transition: color 0.3s ease-out 0s; -moz-transition: color 0.3s ease-out 0s; -o-transition: color 0.3s ease-out 0s; transition: color 0.3s ease-out 0s;  }
a:hover, a:focus { color: {{ settings.link_hover_color }}; }

a.button, 
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	background: #eee; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 3px 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, .75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  
a.button:hover, 
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	color: #222;
	background: #eee; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
  border: 1px solid #888;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa; }
  
a.button:active, 
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  background: #eee; /* Old browsers */
  background: -moz-linear-gradient(top, rgba(0,0,0,.3) 0%, rgba(255,255,255,.3) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,.3)), color-stop(100%,rgba(255,255,255,.3))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* W3C */
  border: 1px solid #888;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa; }

.button.full-width, 
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width { 
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	border:#ccc 1px solid;
  margin-bottom: 20px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;

}
table th {
	padding:15px 20px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child{
	text-align: left;
	padding-left:20px;
}
table tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr{
	text-align: center;
	padding-left:12px;
}
table tr td:first-child{
	text-align: left;
	padding-left:12px;
	border-left: 0;
}
table tr td {
	padding:12px;
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}

table tr td.value input {
  margin-bottom: 0;
}
table tr.even td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td{
/*
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
*/
}

form { 
	margin-bottom: 20px; }
fieldset { 
	margin-bottom: 20px; }
input[type="text"], 
input[type="number"],
input[type="password"],
input[type="email"],
textarea, 
select {
	border: 1px solid #ccc;
	padding: 6px 4px;
	outline: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #777;
	margin: 0;
	width: 210px;
	max-width: 100%;
	display: block;
	margin-bottom: 20px;
	background: #fff; }
select { 
	padding: 0; }
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="email"]:focus, 
textarea:focus {
	border: 1px solid #aaa;
	color: #444;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow:  0 0 3px rgba(0,0,0,.2); }
label,
legend { 
	display: block;
	font-weight: normal;
	font-size: 13px;  }
select { 
	width:100%; }
input[type="checkbox"] {
	display: inline; }
label span,
legend span {
	font-weight: normal;
	font-size: 13px;
	color: #444; }

textarea#note {
  width: 100%
}

#container {
  margin-top: 0;
}
/* #Checkout
================================================== */

#container, #header, #main, #footer {
  width: 940px;
}

span.sign-in-message {
  font-size: smaller;
}

{% if settings.use_logo %}
  #tagline {display:none;}
  #logo {display:block; background:url('{{ "logo.png" | asset_url }}') no-repeat center center; width: 100%; height: 70px;margin: 0;}
{% else %}  
  #tagline { padding-left: 0px; margin: 20px 0;}
  .subtitle { display:block }
{% endif %}

#container.slim #header, #container.slim #main {
  width: auto;
}

#container.slim {
  width: 940px;
}

#thumbs {
  margin: 0;
}

#thumbs h3 {
  font-size: 170%;
}

#thumbs div {
  border:none;
}

#thumbs td {
  text-align: left;
}

#header {
  background: none;
}

#main {
  background: none;
  border: solid 1px #d3d3d3;
}

#footer {
  background: none;
  font-size: 120%;
}

#buttons {
  background: none;
  padding: 0;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  overflow: hidden;
}
#buttons:hover {
}

#overview, #container.slim #header {
  background: none;
  border-bottom: none;
}

#container.slim #main {
  background: none;
}

#container.slim #footer {
  background: none;
}

#overview .hint {
  color: {{ settings.was_price_color }};
}

#products {
  border-right: none;
}

h3.plisthead {
  border-bottom: none;
  line-height:20px;
  text-transform: none;
}

#thumbs span, #thumbs h3.plisthead span {
  color: {{ settings.regular_color}};
}

#cost {
  color: {{ settings.regular_color}};
}

#addresses tr td input, #addresses tr td select {
  margin-bottom: 0;
}

#addresses td {  
  padding: 10px;
}

#addresses ul, #addresses ul li {
  border:none;
}

#billing-is-shipping label {
  display: inline;
}

#payment-methods, #payment-methods li {
  border:none;
}
#purchase-form .gright {
	margin: 0;
	padding: 0;
	float: left;
}
#payment-methods li label {
  display: inline;
}

table {
    width: 100%;
}

table tr td {
  text-align:left;
}

.sst .gleft {
  width: 35%;
}

#credit-card-info {
  margin-left: 0
}

.sst label {
  display: inline;
}

#credit_card_month, #credit_card_year {
  display:inline;
}

#wallet {
  margin-left: 600px;
  padding: 0;
}

small {
  font-size: 120%;
}

#overview h2 {
  font-size: 150%;
}

body {
  font-size: 110%
  color: #333 !important;
}

#main {
  background: #fff !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #333 !important;
}
.group { margin: 5px 0; }

p { line-height: 1.5; font-size: 14px; }