<!-- DEBUG: {{ gateway }} has been used. -->
{% if gateway == 'Gift Card or Store Credit' %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://pay1.plugnpay.com/api/iframe/AVowTPXU7U/client/nonconflict/"></script>
{{ 'jquery.numeric.js' | asset_url | script_tag }}
{{ 'gc-integration.js' | asset_url | script_tag }}
{{ 'gc-integration.css' | asset_url | stylesheet_tag }}

<div class="gc-container">
	<form method="post" class="form">

		<!-- hidden form fields -->
		<input type="hidden" id="publisher_name" value="oneluckydu">
		<input type="hidden" id="mode" value="auth">
		<input type="hidden" id="convert" value="underscores">
		<input type="hidden" id="publisher-name" value="oneluckydu">

		<ul class="cost form">
			<li class="cost">
				<label for="card_amount">Total Cost $:</label>
				<input id="card_amount" type="text" value="{{ total_price | money }}" disabled>
			</li>
		</ul>

		<ul class="gift-card form">
			<li class="gc-number disable-able">
				<label for="mpgiftcard">Gift Card or Store Credit #:</label>
				<span class="msg-wrapper">
					<p class="msg-txt hide"></p>
					<input id="mpgiftcard" class="numeric" type="text" size="23" maxlength="19" value="" placeholder="First 19 Digits">
				</span>
				<span class="helper-img"></span>
			</li>
			<li class="gc-cvv disable-able">
				<label for="mpcvv">Security Code</label>
				<span class="msg-wrapper">
					<p class="msg-txt hide"></p>
					<input id="mpcvv" class="numeric" type="text" size="1" maxlength="2" value="" placeholder="xx">
				</span>
				<span class="helper-img"></span>
			</li>
		</ul>

		<div id="message-contain"></div>

		<ul class="submit-form disable-able">
			<li><input id="submitForm" type="submit" value="Complete My Purchase"></li>
		</ul>

	</form>

</div>
<ul class="credit-card form hide">
	<li class="card-name disable-able">
		<label for="card_name">Name on Card</label>
		<span class="msg-wrapper">
			<p class="msg-txt hide">Please provide your name</p>
			<input type="text" name="card_name" maxlength="16" value="{{ billing_address.first_name }} {{ billing_address.last_name }}" placeholder="Enter your name">
		</span>
	</li>
	<li class="card-number disable-able">
		<label for="card_number">Credit Card #</label>
		<span class="msg-wrapper">
			<p class="msg-txt hide"></p>
			<input type="text" class="numeric" name="card_number" value="" maxlength="16" placeholder="Enter Credit Card">
		</span>
		<span class="credit-card-img">
			<i class="icon-credit icon-visa"></i>
			<i class="icon-credit icon-mastercard"></i>
			<i class="icon-credit icon-amex"></i>
			<i class="icon-credit icon-discover"></i>
			<span class="invalid-card"></span>
		</span>
	</li>
	<li class="card-cvv disable-able">
		<label for="card_cvv">Security Code</label>
		<span class="msg-wrapper">
			<p class="msg-txt hide"></p>
			<input type="text" class="numeric" name="card_cvv" value="" size="1" maxlength="3" placeholder="xxx">
		</span>
	</li>
	<li class="card-exp disable-able">
		<label for="cc-expiry-month">Expiration</label>
		<span class="msg-wrapper msg-warn">
			<p class="msg-txt hide">Please select a month and year</p>
			<select name="month_exp">
				<option value="00" selected>Month</option>
				<option value="01">01 - January</option>
				<option value="02">02 - February</option>
				<option value="03">03 - March</option>
				<option value="04">04 - April</option>
				<option value="05">05 - May</option>
				<option value="06">06 - June</option>
				<option value="07">07 - July</option>
				<option value="08">08 - August</option>
				<option value="09">09 - September</option>
				<option value="10">10 - October</option>
				<option value="11">11 - November</option>
				<option value="12">12 - December</option>
			</select>
			<select name="year_exp">
				<option value="00" selected>Year</option>
				<option value="13">2013</option>
				<option value="14">2014</option>
				<option value="15">2015</option>
				<option value="16">2016</option>
				<option value="17">2017</option>
				<option value="18">2018</option>
				<option value="19">2019</option>
				<option value="20">2020</option>
			</select>
		</span>
	</li>
</ul>

{% endif %}