/******************************************************************
Theme Name: Responsive v2.2
Theme URI: http://themes.shopify.com/themes/responsive/styles/new-york
Author: Out of the Sandbox (http://outofthesandbox.com)
Description: Shopify Theme (http://www.shopify.com/?ref=out-of-the-sandbox)
******************************************************************/

/* Table of Contents
==================================================
	#Reset & Basics
	#Basic Styles
	#Typography
	#Links
	#Lists
	#Menu
	#Images
	#Videos
	#Buttons
	#Tabs
	#Forms
	#Tables
	#Misc
	#Site Styles 
	#FlexSlider 
	#FancyBox
	#Layout */

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
/* apply a natural box layout model to all elements - http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* Icon Replacement from http://html5boilerplate.com/ */
.ir {
	display: block;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol,
ul { list-style: none; }
q,
blockquote { quotes: none; }
blockquote:before,
blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* #Basic Styles
================================================== */
body {
	background-color: {{ settings.shop_bg_color }};
	{% if settings.use_custom_bg_image %}
	background-image: url("{{ settings.custom_bg_image_select | asset_url }}");
	{% endif %}

	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;

	{% if settings.regular_typeface_method == "google_webfonts" %}
	font-family: "{{ settings.regular_google_webfont_font | replace: '+', ' ' }}";
	{% else %}
	font-family: {{ settings.regular_websafe_font | replace: '+', ' ' | replace: 'Helvetica', '"HelveticaNeue", "Helvetica Neue", Helvetica' }};
	{% endif %}  

	font-weight: {{ settings.regular_weight }};
	font-size: {{ settings.regular_font_size }}px;
	text-transform: {{ settings.regular_font_style}};
	color: {{ settings.regular_color}};
	line-height: 1.7em;
}
::-moz-selection {
	background-color: #000;
	color: #fff;
}
::selection {
	background-color: #000;
	color: #fff;
}
abbr { border-bottom: 1px dotted {{ settings.border_color }}; }	


/* #Typography
================================================== */
.logo {
	{% if settings.logo_typeface_method == "google_webfonts" %}
	font-family: "{{ settings.logo_google_webfont_font | replace: '+', ' ' }}";
	{% else %}
	font-family: {{ settings.logo_websafe_font | replace: '+', ' ' | replace: 'Helvetica', '"HelveticaNeue", "Helvetica Neue", Helvetica' }};
	{% endif %}
	font-weight: {{ settings.logo_weight }};
	font-size: {{ settings.logo_font_size }}px; 
	text-transform: {{ settings.logo_font_style}};
	color: {{ settings.logo_color }};
}
.logo a,
.logo a:hover,
.logo a:visited,
.logo a:active {
	color: {{ settings.logo_color }};
	/* line-height: 45px; */
}

h1,
h2,
h3,
h4,
h5,
h6,
.title a {
	{% if settings.headline_typeface_method == "google_webfonts" %}
	font-family: "{{ settings.headline_google_webfont_font | replace: '+', ' ' }}";
	{% else %}
	font-family: {{ settings.headline_websafe_font | replace: '+', ' ' | replace: 'Helvetica', '"HelveticaNeue", "Helvetica Neue", Helvetica' }};
	{% endif %}  

	font-weight: {{ settings.headline_weight }};
	text-transform: {{ settings.headline_font_style}};
	color: {{ settings.headline_color}};
	display:block;
	letter-spacing: {{ settings.headline_letter_spacing }}px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.title a { font-weight: inherit; }

h1 a,
h1 a:visited,
.title a,
.title a:visited { color: {{ settings.headline_color}} }

h1 a:hover,
h1 a:active,
.title a:hover,
.title a:active { color: {{ settings.link_color }} }

h1,
.h1,
h1.home,
h2.title,
.title a {
	font-size: {{ settings.headline_font_size }}px;
	line-height: 1.25;
	margin: 0 auto 20px;
	text-align: center;
	border-bottom: 1px solid {{ settings.border_color }};
	border-top: none;
	padding: 0 0 8px 0;
	clear:both;
}

h1.home {
	margin: 0 auto 15px;
	border-top: 1px solid {{ settings.border_color }};
	border-bottom: 1px solid {{ settings.border_color }};
	padding: 12px 0;
}

h1.product_name {
	text-align:left;
	clear:none;
	border-bottom: 0;
	margin-bottom: 0;
	line-height: 1;
}

.name-and-vendor {
	margin-bottom: 10px;
	display: block;
	border-bottom: 1px solid #d3d3d3;
}

.name-and-vendor p { margin-bottom: 10px; }

h2,
.h2 {
	font-size: 26px;
	line-height: 45px;
	margin: 0 auto 20px;
	font-weight: 300;
	text-align: center;
	border-top: 1px solid {{ settings.border_color }};
	border-bottom: 1px solid {{ settings.border_color }};
	padding: 12px 0;
}

h3,
.h3,
h1.blog_title {
	font-size: 25px;
	line-height: 35px;
	margin: 0 auto 15px 0;
	font-weight: 300;
	text-align: left;
	border-bottom: 1px solid {{ settings.border_color }};
	padding: 0 0 12px 0;
}

.header-wrap {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	margin: 0 0 10px 0;
	padding: 9px 0 8px 0;
	font-size: 12px;
}
h4,
.h4,
h4.title a {
	font-size: 24px;
	line-height: 35px;
	margin: 0 0 15px 0;
	font-weight: 300;
	text-align: left;
	padding: 0;
	padding-bottom:12px;
	text-transform: none;
	border-bottom: 1px solid {{ settings.border_color }};
}

h4.title a {
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

h5,
.h5 {
	font-size: 22px;
	padding-bottom: 5px;
}

h6,
.h6 {
	font-size: 20px;
	padding-bottom: 15px;
}

.subheader { color: #777; }
  
.modal h3 { padding: 12px 0;}
h6.social { padding-bottom: 10px }

p {
	margin: 0 0 20px;
	font-style: normal;
	line-height: 1.3;
}
li > p:first-child { margin-bottom: 0; }
p img { margin: 0; }
	
i, em     { font-style: italic; }
b, strong { font-weight: bold; }
small     { font-size: 80%; }
	
/*	Blockquotes  */
blockquote,
blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
blockquote cite { display: block; font-size: 12px; color: #555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited { color: #555; }
	
hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 15px; height: 0; }

.quote {
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	margin: 0 0 20px 0;
	font-style: italic;
}

.hide { display: none; }

/* #Links
================================================== */
a,
a:visited {
	color: {{ settings.link_color }};
	text-decoration: none;
	outline: 0;
	-webkit-transition: color 0.3s ease-out 0s;
	-moz-transition: color 0.3s ease-out 0s;
	-o-transition: color 0.3s ease-out 0s;
	transition: color 0.3s ease-out 0s;
}
a:hover,
a:focus { color: {{ settings.link_hover_color }}; }


/* #Lists
================================================== */
ul,
ol { margin-bottom: 20px; }
ul { list-style: none outside; }
ol { list-style: decimal; }
ol,
ul.square,
ul.circle,
ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc   { list-style: disc outside; }
ul ul,
ul ol,
ol ol,
ol ul { margin: 4px 0 5px 30px; font-size: 90%; }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 6px; }
li          { line-height: 19px; margin-bottom: 12px; }
ul.large li { line-height: 21px; }
li p        { line-height: 21px; }

ul {
/*	border-top: 1px dotted {{ settings.border_color }};*/
/*	line-height: 26px;*/
}
ul li {
/*	border-bottom: 1px dotted {{ settings.border_color }};*/
/*	list-style: none outside none;*/
	padding: 12px 0;
	margin-bottom: 0;
}


/* #Menu
================================================== */
.top_bar {
	background-color: {{ settings.top_bar_bg_color }};
	{% if settings.use_custom_top_bar_image %}
	background-image: url("{{ settings.custom_top_bar_image_select | asset_url }}");
	{% endif %}
	
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	text-align: center;
	line-height: 1;
}
.top_bar .container {
	padding-top: 0;
	padding-bottom:0;
	background-color: transparent;
}

.top_bar a {
	{% if settings.top_bar_typeface_method == "google_webfonts" %}
	font-family: "{{ settings.top_bar_google_webfont_font | replace: '+', ' ' }}";
	{% else %}
	font-family: {{ settings.top_bar_websafe_font | replace: '+', ' ' | replace: 'Helvetica', '"HelveticaNeue", "Helvetica Neue", Helvetica' }};
	{% endif %}

	font-weight: {{ settings.top_bar_weight }};
	font-size: {{ settings.top_bar_font_size }}px;
	text-transform: {{ settings.top_bar_font_style}};
	color: {{ settings.top_bar_color}};

	letter-spacing: {{ settings.top_bar_letter_spacing }}px;
	/* text-shadow: 0px 1px 1px rgba(0, 0, 0, .4); */
	display:block;
	height: 30px;
	line-height: 30px;
}
.top_bar a:hover { color: {{ settings.top_bar_color_hover}}; }
.top_bar a:hover span { background-color: rgba(255, 255, 255, .4); }
.top_bar a.cart {
	padding: 0 0 0 30px;
	margin: 0 0 0 0;
}

.top_bar a.cart,
.top_bar a.cart:hover { background: url({{ 'cart-new.png' | asset_url }}) no-repeat left 6px; }
.top_bar ul {
	padding:0;
	margin: 0;
	border: 0;
}
.top_bar ul li {
	float:right;
	border-bottom: 0;
	border-top: 0;
	padding: 0 15px;
	position:relative;
	display:block;
}

.top_bar + .container {
	overflow: hidden;
	padding-top: 10px;
}
.container + .sixteen > #nav {
	overflow: hidden;
	padding-top: 10px;
}
#nav,
#nav > ul {
	display: block;
	text-align: center;
}
#nav > ul {
	margin: 0 auto;
	padding: 0;
	border: 0;
}
#nav > ul li {
	width: 19.65%;
	padding: 0;
	margin: 0 0 0 .15%;
	
	display: inline-block;
	border: 1px solid #c3c3c3;
	border-bottom: 0;
	
	background-color: #e6e6e6;

	-webkit-box-shadow: 0 -2px 5px -1px rgba(136,136,136,.5);
	   -moz-box-shadow: 0 -2px 5px -1px rgba(136,136,136,.5);
	        box-shadow: 0 -2px 5px -1px rgba(136,136,136,.5);
}
#nav > ul li.selected,
#nav > ul li.selected a { background-color: #fff; }

#nav > ul li.selected {
	position: relative;
	z-index: 100;
	padding-bottom: 2px;
	margin-bottom: -2px;
	border-bottom-color: transparent;
}


#nav > ul li:first-child { margin-left: 0; }

#nav > ul a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 10px 0;
	
	overflow: hidden;
	text-indent: -9999px;
}

#nav ul li.current_page_item a { color: {{ settings.nav_color_hover}}; }
#nav ul li.current_page_ancestor a { color: {{ settings.nav_color_hover}}; }

#nav .shop                { width: 171px; }
#nav .pure-food-and-wine  { width: 245px; }
#nav .sarma               { width: 170px; }
#nav .juice-takeaway      { width: 190px; }
#nav .about-us            { width: 140px; }

#nav .shop a                { background: url({{ "icon-shop.png" | asset_url }})  no-repeat center center; }
#nav .pure-food-and-wine a  { background: url({{ "icon-food.png" | asset_url }})  no-repeat center center; }
#nav .sarma a               { background: url({{ "icon-sarma.png" | asset_url }}) no-repeat center center; }
#nav .juice-takeaway a      { background: url({{ "icon-juice.png" | asset_url }}) no-repeat center center; }
#nav .about-us a            { background: url({{ "icon-about.png" | asset_url }}) no-repeat center center; }

.container .sixteen.columns.sub-nav-wrap {
	width: 960px;
	padding: 10px 0;
	margin-left: 0;
	margin-right: 0;
	border-top: 1px solid #999;
	-webkit-box-shadow: 0 -2px 4px 0px rgba(0,0,0,.2);
	-moz-box-shadow: 0 -2px 4px 0px rgba(0,0,0,.2);
	box-shadow: 0 -2px 4px 0px rgba(0,0,0,.2);
}
.container .srp .sixteen.columns.sub-nav-wrap {
	border-bottom: 1px solid #999;
}
.sub-nav {
	width: 100%;
	display: table;
	margin: 0;
}
.sub-nav li {
	margin: 0 auto;
	padding: 0;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.sub-nav li a {
	display: block;
	margin: auto;
	background-image: url({{ "icon-sprite-subnav.png" | asset_url }});
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
}

.sub-nav-wrap.product-page {
	text-align: center;
	display: block;

}
.sub-nav-wrap.product-page .sub-nav li {
	display: inline-block;
	margin: 0 20px;
}
.product-page .sub-nav {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	padding: 10px 0;
	width: 940px;
}


.sub-nav li.icon-news,
.sub-nav li.icon-books { width: 225px; }
.sub-nav li.icon-news a,
.sub-nav li.icon-books a { height: 27px; width: 225px; }
.sub-nav li.icon-news a  { background-position:      0 0; width: 49px; }
.sub-nav li.icon-eat a   { background-position:  -58px 0; }
.sub-nav li.icon-glow a  { background-position: -121px 0; }
.sub-nav li.icon-wear a  { background-position: -184px 0; }
.sub-nav li.icon-nest a  { background-position: -244px 0; }
.sub-nav li.icon-pet a   { background-position: -304px 0; }
.sub-nav li.icon-books a { background-position: -364px 0; width: 53px; }

.sub-nav li.icon-news a:hover  { background-position: 0 -103px; }
.sub-nav li.icon-books a:hover { background-position: -364px -103px; }

.collection-nav h2,
.collection-nav li {
	margin: 0 auto;
	padding: 0;
}
.collection-nav li { margin: 10px 0; }
.collection-nav {
	text-align: center;
	width: 100%;
	margin: 0;
	background-color: #f3f3f3;
	border-top: 1px solid #c8c8c8;
	border-bottom: 1px solid #c8c8c8;
}


.collection-nav ul,
.collection-nav .collection {
	text-align: center;
	list-style: none;
}
.collection-nav .collection,
.collection-nav .collection-square {
	float: left;
	text-align: center;
	vertical-align: middle;
	border: 0;
	width: 18%;
	margin: 20px 1%;
	
	background-color: #fff;
	padding: 10px 0;
	
	-webkit-box-shadow: 0 5px 10px #aaa;
	-moz-box-shadow: 0 5px 10px #aaa;
	box-shadow: 0 5px 10px #aaa;
}
.collection-square .icon {
	height: 154px;
	display: block;
	margin: auto;
}
.collection-square .icon-new       { width: 150px; }
.collection-square .icon-mostloved { width: 128px; }
.collection-square .icon-gifts     { width: 92px;  }
.collection-square .icon-giftcards { width: 131px; }
.collection-square .icon-saleitems { width: 146px; }

.collection-square .icon img           { padding-top: 0;    }
.collection-square .icon-saleitems img { padding-top: 10px; }
.collection-square .icon-mostloved img { padding-top: 15px; }
.collection-square .icon-giftcards img { padding-top: 30px; }


.collection-nav .collection { height: 420px; }

.nav-collection h1,
.landing-collections-subnav li,
.landing-collections-sidenav li {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
}
.nav-collection h1 { font-size: 22px; text-align: left; }
.nav-collection .header-eat, .nav-collection .header-eat a     { color: #8cc63f; }
.nav-collection .header-glow, .nav-collection .header-glow a   { color: #00aeef; }
.nav-collection .header-wear, .nav-collection .header-wear a   { color: #8f489c; }
.nav-collection .header-nest, .nav-collection .header-nest a   { color: #ed1b35; }
.nav-collection .header-pet, .nav-collection .header-pet a     { color: #f7941e; }
.nav-collection .header-about, .nav-collection .header-about a { color: #4e2fa3; }
.nav-collection .header-press, .nav-collection .header-press a { color: #4e2f91; }

.landing-collections-sidenav li { text-align: left; position: relative; }
.landing-collections-subnav a,
.landing-collections-sidenav a { color: #666; }
.landing-collections-subnav a:hover,
.landing-collections-sidenav a:hover { text-decoration: underline; }


.sub    { margin: 0; padding: 0; }
.sub li { font-weight: normal; margin: 3px 0; padding: 0; font-size: 95%; }
.expand-collapse {
	background-color: #ededed;
	color: #999;
	text-shadow: 1px 1px 1px #fff;
	width: 15px;
	height: 15px;
	display: inline-block;
	line-height: .5;
	text-align: center;
	cursor: pointer;
	position: relative;
	top: 0;
	border-radius: 30px;
	font-size: 20px;
	font-weight: normal;
}

.collection > h2 {
	height: 27px;
	border: 0;
	margin: 20px auto;
}

.collection > h2 a {
	text-indent: -999px;
	overflow: hidden;
	display: block;
	height: 100%;
	width: 100%;
	background-image: url({{"sprite-lp-titles.png" | asset_url }});
	background-repeat: no-repeat;
}

.collection-eat > h2  { width: 38px; }
.collection-glow > h2 { width: 59px; }
.collection-wear > h2 { width: 59px; }
.collection-nest > h2 { width: 48px; }
.collection-pets > h2 { width: 34px; }

.collection-eat > h2 a  { background-position: 0 0; }
.collection-glow > h2 a { background-position: -47px 0; }
.collection-wear > h2 a { background-position: -114px 0; }
.collection-nest > h2 a { background-position: -186px 0; }
.collection-pets > h2 a { background-position: -250px 0; }

.collections-sidenav ul { margin: 4px 0 5px; }
.collections-sidenav li {
	text-align: center;
	border: 0;
	position: relative;
	margin: 10px 0;
	padding: 12px 0;
}
ul .collections-sidenav li { border: 0; }
.collections-sidenav li a {
	text-transform: uppercase;
	color: #404040;
}
.collections-sidenav li li a {
	text-transform: none;
	color: #DD4B39;
}

.landing-collections-subnav { margin: 10px 0; }

.enticing-photos {
	clear: both;
	display: table;
	width: 100%;
	margin: 10px 0 0;
	padding: 0;
	
}
.enticing-photos li {
	margin: 0;
	padding: 0 0 5px 0;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border-bottom: 0;
	background: transparent url({{ 'shadow_thumb.png' | asset_url }}) no-repeat bottom center;
}
.enticing-photos img {
	position: relative;
	top: 1px;
}
.enticing-photos-wrap {
	width: 960px;
	margin: 10px 0 0 0;
	padding: 10px 10px 0 10px;
	display: block;
	clear: both;
}
.sub-nav-wrap + .enticing-photos-wrap { border-top: 1px solid #999; }

.icon-related-products {
	background: transparent url({{ 'recommended-products.png' | asset_url }}) no-repeat center center;
	width: 100%;
	height: 141px;
	border: 0;
	margin: 0 auto;
	padding: 0;
	display: inline-block;
	float: left;
	text-align: center;
	font: bold 28px/1.2 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	color: #666;
}

.about-old {
	background: transparent url({{'company-story-by-sarma.png' | asset_url }}) no-repeat center center;
	width: 326px;
	height: 69px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	text-indent: -9999px;
	overflow: hidden;
	border-bottom: 0;
}

/* Images within pages.. generally speaking, these pages are built solely by imagery. */
.block-imgs .pages img,
.block-imgs .pages a {
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;
}
.contact-addrs { padding-top: 0; }
.social-contact {
	margin: 0;
}
.social {
	background-image: url({{"icon-sprite-social.png" | asset_url }});
	background-repeat: no-repeat;
	background-color: transparent;
	display: block;
	float: left;
	padding: 0;
	margin: 0 1px 0 0;
}
.facebook  { background-position:   0   0; }
.twitter   { background-position: -16px 0; }
.pinterest { background-position: -32px 0; }
.instagram { background-position: -48px 0; }
.googplus  { background-position: -64px 0; }

.social,
.social a {
	width: 14px;
	height: 15px;
}
.social a { display: block; }
.contact-us-address-container {
	overflow: hidden;
	clear: both;
}
.contact-us-addr {
	margin-bottom: 0;
	overflow: hidden;
	float: left;
}
.section .contact-us-img {
	float: left;
	padding: 0 15px 0 0;
	vertical-align: top;
}
.section.contact-us-page {
	margin-top: 0;
	margin-bottom: 40px;
	text-align: left;
	width: 49%;
	clear: none;
}
.section.contact-us-page:first-child {
	float: left;
}
.section.contact-us-page:last-child {
	float: right
}



div[itemtype="http://schema.org/LocalBusiness"] > p[itemprop="name"] {
	font-weight: bold;
}
/*.footer .contact-addrs a { color: #404040; }*/
.footer .contact-addrs a:hover { text-decoration: none; }



/* sub-levels link */
#menu ul a,
#menu li:hover > ul a {
	padding: 10px 0 10px 15px;
	background: none;
	text-align: left;
}

/* sub-levels link :hover */
#menu ul a:hover,
#menu .current_page_item ul a:hover,
#menu ul .current_page_item a:hover,
#menu .current-menu-item ul a:hover,
#menu ul .current-menu-item a:hover,
#menu li:hover > ul a:hover { background: #F3F3F3; }

/* sub-level ul */
#menu ul {
	position: absolute;
	left: 0px;
	top: 25px;
	background: #fff;
	border: solid 1px #ddd;
	border-bottom-color: #bbb;
	z-index: 100;
	display: none;
	width: 210px;
}
#menu ul li {
	background: none;
	display: block;
	border: none;
	text-align:left;
	padding: 0px;
}

#menu ul li a { display:block; }

/* sub-sub-level dropdown */
#menu ul ul {
	left: 210px;
	top: -1px;
}

/* show dropdown ul on hover */
#menu li:hover > ul { display: block; }


/* #Images
================================================== */
/* The purpose of the below declaration is to make sure images don't 
exceed the width of columns they are put into when resizing window. 
Unfortunately, this declaration breaks certain lightbox, slider or other plugins,
so the best solution is to individually call these properties on images that 
are children of the grid that you want to resize with grid. */

.product_row img,
.product_image_col img,
.article img,
.section img,
.thumbnail img {
	max-width: 100%;
	height: auto;
	padding-top: 15px;
}
img.no-top-padding {
	padding-top: 0;
}

/* #Videos
================================================== */
/* For YouTube and Vimeo videos, wrap the embedded code snippet
in a <div class="video-container"> tag to allow it to resize.
To restrict the width, wrap with an additional <div class="video-wrapper"> */

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
  
.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
  
.video-wrapper {
	width: 600px;
	max-width: 100%;
}



.button.full-width, 
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width { 
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center;
}

button::-moz-focus-inner,
input::-moz-focus-inner { border: 0; padding: 0; }


/* #Tabs
================================================== */
ul.tabs { 
	display: block;
	margin: 0 0 10px 0;
	padding: 0;
	border-top: 0;
}

ul.tabs li {
	display: block;
	width: auto;
	height: 30px;
	padding: 0;
	float: left;
	margin-bottom: 0;
	border: 0
}
ul.tabs li a {
	display: block; 
	text-decoration: none;
	width: auto; 
	height: 29px; 
	padding: 0px 20px; 
	line-height: 30px; 
	border: solid 1px #ddd;
	border-width: 1px 0 0 1px; 
	margin: 0;  
	background: #f5f5f5;
	font-size: 13px;
}
ul.tabs li a.active {
	background-color: {{ settings.shop_bg_color }};

	height: 30px;
	position: relative;
	top: -4px;
	padding-top: 4px;
	border-right-width: 1px;
	margin: 0 -1px 0 0;
	color: #111;

	-webkit-border-top-right-radius: 2px;
	-webkit-border-top-left-radius:  2px;
	-moz-border-radius-topright:     2px;
	-moz-border-radius-topleft:      2px;
	border-top-right-radius:         2px;
	border-top-left-radius:          2px;
}

ul.tabs li:first-child a {
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-topleft:     2px;
	border-top-left-radius:         2px;
}
ul.tabs li:last-child a {
	border-width: 1px 1px 0 1px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topright:     2px;
	border-top-right-radius:         2px;
}

ul.tabs-content,
ul.tabs-content > li,
ul.tabs-content > li.active { display: block; border: 0; }

ul.tabs-content      { margin: 0; font-size: 12px; }
ul.tabs-content > li {
	display:none;
	height: 200px;
	overflow-y: auto;
	margin-bottom: 25px;
}

/* Clearfixing tabs for beautiful stacking */
ul.tabs:before,
ul.tabs:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
ul.tabs:after { clear: both; }
ul.tabs { zoom: 1; }


/* #Forms
================================================== */
form {  margin-bottom: 20px; }
fieldset {  margin-bottom: 20px; }
input[type="text"], 
input[type="number"],
input[type="password"],
input[type="email"],
textarea,
select {
	border: 1px solid #ccc;
	padding: 6px 4px;
	outline: none;
	-webkit-border-radius: 2px;
	-moz-border-radius:    2px;
	border-radius:         2px;
	font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #777;
	margin: 0;
	width: 210px;
	max-width: 100%;
	display: block;
	margin-bottom: 20px;
	background: #fff;
}
select { padding: 0; display: inline-block; margin-bottom:}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="email"]:focus, 
textarea:focus {
	border: 1px solid #aaa;
	color: #444;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	   -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	        box-shadow: 0 0 3px rgba(0,0,0,.2);
}
label,
legend { 
	display: block;
	font-weight: normal;
	font-size: 13px;
}
/*select { width:100%; }*/
input[type="checkbox"] { display: inline; }
label span,
legend span {
	font-weight: normal;
	font-size: 13px;
	color: #444;
}
textarea#note { width: 100%; }


/* #Tables
================================================== */
table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	border:#ccc 1px solid;
	margin-bottom: 20px;
	-webkit-border-radius:2px;
	-moz-border-radius:   2px;
	border-radius:        2px;
}
table th {
	padding: 15px 20px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child{
	text-align: left;
	padding-left:20px;
}
table tr:first-child th:first-child{
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft:     3px;
	border-top-left-radius:         3px;
}
table tr:first-child th:last-child{
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright:     3px;
	border-top-right-radius:         3px;
}
table tr{
	text-align: center;
	padding-left:12px;
}
table tr td:first-child{
	text-align: left;
	padding-left:12px;
	border-left: 0;
}
table tr td {
	padding:12px;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}

table tr td.value input { margin-bottom: 0; }
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}

table tr:last-child td:first-child {
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft:     3px;
	border-bottom-left-radius:         3px;
}
table tr:last-child td:last-child {
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright:     3px;
	border-bottom-right-radius:         3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}


/* #Misc
================================================== */
.remove-bottom { margin-bottom: 0 !important;    }
.half-bottom   { margin-bottom: 10px !important; }
.add-bottom    { margin-bottom: 20px !important; }

.right  { float:right; }
.left   { float: left; }

.relative { position: relative; }

.align_left   { text-align: left;   }
.align_center { text-align: center; }
.align_right  { text-align:right    }

div.mobile_only { display:none; }
.no_border      { border: none !important; }
.extra_padding  { padding-top: 4px; }
.hidden         { display: none; }


/* #Site Styles
================================================== */
.container.logo-and-search { padding: 0; }
.duck-mail {
	width: 159px;
	height: 21px;
	float: right;
	margin-top: 0;
	position: relative;
	top: -20px;
}
.duck-mail a,
.duck-mail label {
	display: block;
	width: 100%;
	height: 100%;
	background: transparent url({{ 'ducknewssignup.png' | asset_url }}) no-repeat center right;
	overflow: hidden;
	text-indent: -100%;
	cursor: pointer;
}
.mc_embed_signup { position: absolute; top: 0; right: 0; }

.mc_embed_signup input[type="email"] {
	text-align: center;
	width: 182px;
}

.duck-mail a,
.footer .alternate a { color: #f83172; }

.duck-mail-tx { position: relative; }
.duck-mail-tx img { cursor: pointer; }
.duck-mail-tx .mc_embed_signup {
	top: 50px;
	right: 60px;
}


.corp-links a {
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #ccc;
}
.corp-links a:first-child,
.corp-links a:last-child {
	margin-left: 0;
	padding-left: 0;
	border-left: 0;
}
.corp-links a:last-child {
	float: right;
}

.content-contain {
	width: 960px;
	margin: auto;

	background-color: #fff;
	box-shadow: 0 3px 10px rgba(0,0,0,1);
}
  
.content {
	padding: 15px 0px;
	{% if settings.shop_use_content_bg_color %}
	background-color: {{ settings.shop_content_bg_color }};
	{% endif %}
}

.logo {
	padding-top: 10px;
	text-align: center;
}

.logo img {
	max-width: 100%;
	height: auto;
}

.logo a {
	margin: 0;
	display:block;
}

.section {
	clear:both;
	margin: 12px 0;
	overflow: hidden;
}
.collection-meta { margin-bottom: 0; }
.skinny { margin-top: -10px; }
.collection-meta + .section { margin-top: 0; }
.skinny .section { margin-top: 0; }
.product_section { margin: 5px 0; border-bottom: 1px solid #999; }

.breadcrumb {
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	padding-bottom: 1em;
	text-transform: lowercase;
}

.section_select { text-align: right; }
.section_select p { margin: 0 0 5px; font-size: 80%; }
.section_select select { margin-bottom: 0; }
.product_breadcrumb {
	margin-top: 0;
	padding-bottom: 0;
}

#category { width: 100%; }

.action_button,
input.action_button[type="submit"],
input.action_button[type="button"] {
	background: {{ settings.btn_color }};
	border: 1px solid transparent;
	padding: 6px 20px;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;

	font-size: 14px;
	font-weight: bold;
	text-transform: lowercase;

	{% if settings.top_bar_typeface_method == "google_webfonts" %}
	font-family: "{{ settings.top_bar_google_webfont_font | replace: '+', ' ' }}";
	{% else %}
	font-family: {{ settings.top_bar_websafe_font | replace: '+', ' ' | replace: 'Helvetica', '"HelveticaNeue", "Helvetica Neue", Helvetica' }};
	{% endif %}  


	color: #fff;
	margin-bottom: 0px;
}
.action_button.quick_shop { border-radius: 0; }
input.action_button[type="submit"]:hover,
input.action_button[type="button"]:hover {
	background: {{ settings.btn_hover_color }};
	border-color: {{ settings.btn_color }};
}

a.button:active, 
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active { position: relative; top: 1px; }

button:active,
.action_button,
a.button:active, 
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
input.action_button[type="submit"],
input.action_button[type="button"] {
	text-shadow: 0 -1px rgba(0,0,0,0.4);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.5);
	   -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.5);
	   		box-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

.feature_text { margin: 10px 0 0; }

.paginate { text-align:center; }

.paginate span { padding: 0 10px; }

.thumbnail {
	position: relative;
	text-align:center;
/*	border-bottom: solid 1px {{ settings.border_color }};*/
	padding-bottom:0.5em;
	margin-bottom: 0.5em;
}
.thumbnail a {
	display:block;
	padding-bottom:0.5em;
	color: {{ settings.regular_color }};
}
a.related-product {
	overflow: hidden;
	position: relative;
	border: 1px solid #e6e6e6;
	
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.25);
	   -moz-box-shadow: 3px 3px 3px rgba(0,0,0,.25);
	   		box-shadow: 3px 3px 3px rgba(0,0,0,.25);
}
.four.related-products a.related-product {
	height: 200px;
}
.three.related-products a.related-product {
	height: 140px;
}

.thumbnail a:hover img {
	-webkit-transition: opacity 0.2s ease-out 0s;
	   -moz-transition: opacity 0.2s ease-out 0s;
	     -o-transition: opacity 0.2s ease-out 0s;
	        transition: opacity 0.2s ease-out 0s;

	opacity: 0.85;
}
.thumbnail .sale {
	position: absolute;
	top:0px;
	background: {{ settings.sale_color }};
	padding: 6px 20px;
	text-align: center;
	font-size: 15px;
	{% if settings.top_bar_typeface_method == "google_webfonts" %}
	font-family: "{{ settings.top_bar_google_webfont_font | replace: '+', ' ' }}";
	{% else %}
	font-family: {{ settings.top_bar_websafe_font | replace: '+', ' ' | replace: 'Helvetica', '"HelveticaNeue", "Helvetica Neue", Helvetica' }};
	{% endif %}  

	text-transform: {{ settings.top_bar_font_style}};
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	color: #fff;
}
.thumbnail .info {
	padding-top: 0.75em;
	text-align: left;
}
.thumbnail .info p {
	margin: 0;
	padding: 0 10px;
	font-size: 12px;
	line-height: 1.5;
}
.thumbnail .info p > span {
	display: block;
}
.cart_price { display: none; }

.was_price {
	text-decoration: line-through;
	color: {{ settings.was_price_color }};
	font-style: italic;
	text-shadow:none;
	font-weight:normal;
} 

.thumbnail .quick_shop {
	display:none;
	padding: 6px 0;
	background-color: #888;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	margin-left: 0;
}
.thumbnail a:hover .quick_shop { display: block; }
/*.thumbnail .quick_shop:hover { background-color: {{ settings.btn_color }}; }*/
.thumbnails a {
	display:block;
	margin-bottom: 1em;
}

.twittercont { display: inline-block; }

.facebookcont {
	display: inline-block;
	position: relative;
	top: 1px;
	margin-left: 10px;
}

a.pinterestcount {
	background:url({{ "pinit.png" | asset_url }}) no-repeat;
	font:11px Arial,sans-serif;
	text-indent:-9999em;
	font-size:.01em;
	color:#cd1f1f;
	height:20px;
	width:41px;
	background-position:0 0;
	display: inline-block;
	margin-left: 10px;
	position: relative;
	top: -20px;
}
a.pinterestcount:hover  { background-position:0 -21px; }
a.pinterestcount:active { background-position:0 -42px; }

.title-share {display: inline-block;top: -4px;position: relative;}
.arrow {
	font-size: smaller;
	position: relative;
	top: -1px;
	left: 2px;
	opacity: 0.6;
}

.modal {
	font-size: 12px;re
	text-align:left;
	display:none;
	width: 840px;
	background-color: {{ settings.modal_background_color }};

	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .25), 0 1px 5px 3px rgba(0, 0, 0, .05), 0 5px 4px -3px rgba(0, 0, 0, .06);
	   -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .25), 0 1px 5px 3px rgba(0, 0, 0, .05), 0 5px 4px -3px rgba(0, 0, 0, .06);
	        box-shadow: 0 0 1px rgba(0, 0, 0, .25), 0 1px 5px 3px rgba(0, 0, 0, .05), 0 5px 4px -3px rgba(0, 0, 0, .06);
}

.modal_product {
	width: auto;
	line-height:0px;
	max-width: 940px;
}
.modal_product img { cursor: pointer; }
.modal_image {
	text-align:center;
	line-height:0;
}
.modal_image img { max-height: 550px; }
.modal a { padding-bottom: 0; }
.modal p.modal_price,
p.modal_price {
	font-size: 22px;
	margin-bottom: 0.5em;
}
.modal form { margin-bottom: 10px; }
.modal a {
	color: {{ settings.link_color }};
	font-style: italic;
}
.modal a:hover { color: {{ settings.link_hover_color }}; }
.modal p { margin-bottom: 0.5em; }

#close_overlay {
	position: fixed;
	right: 15px;
	top: 10px;
	z-index: 1000;
	cursor:pointer;
	font-size:20px;
	color: #666;
	font-family: sans-serif;
	font-weight:bold;
}
.close_overlay:hover { color: {{ settings.link_color }}; }

#lean_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	background: #fff;
	display: none;
}

.product_image_col {
	margin-top: 15px;
	text-align:center;
}

.meta { font-size: 13px; }
.meta p {
	font-size: 13px;
	margin-bottom: 0px;
}
p.meta { margin-bottom: 12px; }

.label,
.meta .label {
	color: #666;
	font-style: italic;
	font-weight: bold;
	text-transform: lowercase;
}

.count {
	font-style: normal;
	font-size: 13px;
}

#tag_filter,
#category_filter {  margin-bottom: 0; }

.checkout {
	display:block;
	float:right;
	margin-top: 0px;
}

.or {
	font-size:smaller;
	font-style: italic;
	padding: 0 10px;
}

input.quantity {
	display: inline;
}
.update_or_remove { display:none; }
.subtotal { text-align:right; }
.mobile_left { text-align: right; }
.cart_description { font-size: 13px; }
  
h4.title a.subscribe {
	background: url("{{ 'rss-icon.png' | asset_url }}") no-repeat 0 4px;
	display: inline;
	padding: 5px 10px 5px 32px;
	font-size: smaller;
}
h4.title a.subscribe:hover { background-position: 0 -121px; }
h4.title a.twitter {
	background: url("{{ 'twitter-icon.png' | asset_url }}") no-repeat 0 4px;
	display: inline;
	padding: 5px 0px 5px 32px;
	font-size: smaller;
}
h4.title a.twitter:hover { background-position: 0 -121px; }



/* --- BLOG POST SLIDES --- */
.slide {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	border: 0;
	cursor: pointer;
}


/* #Footer
================================================== */
div.footer {
	clear: both;
	{% if settings.use_custom_footer_image %}
	background-image: url("{{ settings.custom_footer_image_select | asset_url }}");
	{% endif %}

	{% if settings.footer_border_color != blank %}
	border-top: solid 1px {{ settings.footer_border_color }};
	{% endif %}

	font-size: {{ settings.footer_font_size }}px; 
	line-height: 1.7em;
	color: {{ settings.footer_text_color }};
}

.footer p { margin-bottom: 0; }

.footer a,
.footer a:hover { text-shadow: none; }

.footer a       { color: {{ settings.footer_link_color }}; }
.footer a:hover { color: {{ settings.footer_link_color_hover }}; }

.footer p#powered_by_link {
	text-indent: -9000em;
	height: 27px;
	overflow: hidden;
}
.footer p#powered_by_link a {
	display: block;
	width: 94px;
	height: 27px;
	background: url({{ 'shopify.png' | asset_url }});
	text-indent: -9000em;
}

.footer .contact-addrs p {
	margin: 0;
	padding: 0;
	font-size: 11px;
	line-height: 1.5;
}
.footer .container {
	margin: 0;
	padding: 0;
}
.footer .copyright {
	margin: 20px 10px 0;
	padding: 10px 0;
}
.footer .copyright p:first-child { padding: 10px 0; border-top: 1px solid #999; border-bottom: 1px solid #999; }
.footer .copyright p:last-child  { padding: 10px 0; }


.contact-form { margin-bottom: 0; }

input.search_box,
#contact_email,
#contact_name {
	display:inline-block;
	width: 182px;
	margin-bottom:0px
}

input.search_box {
	text-align: center;
	padding: 2px 26px 2px 2px;
	background: #fff url({{ 'search_sprite.png' | asset_url }}) no-repeat 164px 3px;
}
input:-webkit-input-placeholder {
	text-align: center;
}
.search_box:focus {
	background-color: #fff;
	background-position:164px -23px;
}

.top_bar_font_style {
	text-align: left;
	position: absolute;
	bottom: 20px;
	right: 0;
}
.top_bar_search {
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: left;
}
.top_bar_search form.search {
	margin-top:4px;
	margin-bottom:0;
	clear: both;
}

.payment_methods { margin: 4px 0 6px 0; }
.payment_methods img { padding-right: 4px; }

.footer .credits { font-size: smaller; }

.social_link:hover {
	-webkit-transition: opacity 0.2s ease-out 0s;
	   -moz-transition: opacity 0.2s ease-out 0s;
	     -o-transition: opacity 0.2s ease-out 0s;
	        transition: opacity 0.2s ease-out 0s;

	opacity: 0.75;
}

table tr.order_summary td.label { text-align: right;}


/* .about-sarma
================================================== */
.page-about-sarma {
	background: url({{ 'sarma-bg.jpg?1' | asset_url }}) no-repeat center center;
	width: 941px;
	height: 849px;
	margin: auto;
	position: relative;
	color: #fff;
	overflow: hidden;
}
.page-about-sarma .img_blog-articles {
	position: absolute;
	top: 33px;
	right: 31px;
}
.page-about-sarma .img_sarma-bw {
	position: absolute;
	top: 33px;
	left: 298px;
}
.page-about-sarma .sarma-para {
	position: absolute;
	top: 95px;
	left: 33px;
	width: 255px;
	text-shadow: 0 0 0 transparent;
}
.about-sarma .sarma-para a,
.about-sarma .sarma-posts a { color: #f83172; }

.page-about-sarma .social-links { position: absolute; top: 415px; left: 124px; }
.page-about-sarma .social-links a { overflow: hidden; text-indent: -200px; position: absolute; top: 0; width: 35px; height: 35px; }
.page-about-sarma .social-links .twitter   { left: 0;     }
.page-about-sarma .social-links .facebook  { left: 40px;  }
.page-about-sarma .social-links .pinterest { left: 80px;  }
.page-about-sarma .social-links .instagram { left: 120px; }

.page-about-sarma .sarma-thumbs { position: absolute; bottom: 10px; left: 27px; height: 286px; width: 950px; }

.page-about-sarma .sarma-thumbs img { position: absolute; top: 0; }
.page-about-sarma .sarma-thumbs img.sarma-pet      { height: 272px; width: 272px; left: 0; }
.page-about-sarma .sarma-thumbs img.sarma-favorite { height: 286px; width: 286px; left: 299px; top: -51px; }
.page-about-sarma .sarma-thumbs img.sarma-books    { height: 269px; width: 275px; right: 50px; top: -10px; }

.page-about-sarma .sarma-posts {
	width: 200px;
	max-height: 90px;
	position: absolute;
	top: 395px;
	right: 90px;
}
.sarma-link,
a.sarma-link,
.sarma-link a,
.ducknews-link a { color: {{ settings.link_hover_color }}; }
.sarma-link { margin: 0; padding: 0; text-shadow: 0 0 0 transparent; font-weight: bold; font-size: 120%; }

.ducknews-link { font-family: Georgia; text-transform: uppercase; font-size: 20px; font-weight: bold; }
.ducknews-link a { font-weight: normal; }
.ducknews-posts ul { margin-bottom: 0; }


/* .about-sarma
================================================== */
.pfaw {}
.pfaw-home {
	margin: 0 auto 10px;
	width: 876px;
	height: 553px;
	box-shadow: 3px 3px 5px rgba(0,0,0,.5);
	background: transparent url( {{ 'pfaw-home.jpg' | asset_url }}) no-repeat top left;
}
.pfaw-home .pfaw-home-link {
	width: 175px;
	height: 100%;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-indent: -9999px;
}

.pfaw-about,
.pfaw-events,
.pfaw-reservations,
.pfaw-location,
.pfaw-individual-menus {
	width: 720px;
	margin: auto;
}
.pfaw-about *,
.pfaw-events *,
.pfaw-reservations *,
.pfaw-location *,
.pfaw-menus-link,
a.pfaw-menus-link {
	color: #3c0e07;
}

.pfaw-about p,
.pfaw-about blockquote,
.pfaw-reservations p,
.pfaw-events p,
.pfaw-location p,
.pfaw-individual-menus,
.pfaw-individual-menus p {
	font-size: 110%;
	font-family: Georgia, serif;
	line-height: 1.5
}
.pfaw-location,
.pfaw-individual-menus,
.pfaw-individual-menus p { text-align: center; }
.pfaw-individual-menus p { font-size: 100%; }

.pfaw-individual-menus h4 {
	border: 0;
	text-align: center;
	font-family: georgia, serif;
	text-decoration: underline;
}

.pfaw-about blockquote {
	font-weight: bold;
	border: 0;
	text-align: center;
	margin: 0 0 20px;
	padding: 0;
}
.pfaw-menus {
	margin: 0 auto 10px;
	padding-top: 36px;
	width: 876px;
	height: 553px;
	box-shadow: 3px 3px 5px rgba(0,0,0,.5);
	background: transparent url( {{ 'pfaw-menus.jpg' | asset_url }}) no-repeat top left;
	font-family: Georgia, serif;
}
.pfaw-menus-link {
	width: 394px;
	height: 65px;
	padding-top: 25px;
	margin: auto;
	display: block;
	font-size: 180%;
	text-align: center;
	text-transform: uppercase;
}
.pfaw-menus-link:hover {
	text-decoration: underline;
}
.pfaw-menus-link:first-child {
	font-size: 260%;
	text-decoration: underline;
}

/* pfaw cookbooks
================================================== */
.pfaw-cookbooks {
	background: transparent url( {{ 'pfaw-cookbooks.jpg' | asset_url }}) no-repeat center center;
	width: 878px;
	height: 553px;
	margin: auto;
	color: #fff;
}

.pfaw-cookbooks .content-section {
	width: 465px;
	margin: auto;
	padding: 0 20px;
	position: relative;
}

.pfaw-cookbooks .pfaw-cookbooks-title {
	background: transparent url( {{ 'pfaw-cookbooks-title.png' | asset_url }}) no-repeat center center;
	width: 185px;
	height: 49px;
	display: block;
	margin: auto;
	position: relative;
	top: 10px;
	overflow: hidden;
	text-indent: -9999px;

	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: bold;
	border: 0;
	color: #fff;
	font-family: Georgia, serif;
}

.pfaw-cookbooks .content-section [class*="section-"] {
	position: absolute;
	width: 250px;
}
.pfaw-cookbooks .content-section [class*="section-"] p { line-height: 18px; }

.pfaw-cookbooks .content-section .section-one { top: 70px; left: 196px; }
.pfaw-cookbooks .content-section .section-two { top: 332px; left: 20px; }
.pfaw-cookbooks .content-section p {
	margin-bottom: 0;
}
.pfaw-cookbooks .content-section .link-cookbook {
	position: absolute;
	width: 177px;
	height: 210px;
	overflow: hidden;
	text-indent: -999px;
}
.pfaw-cookbooks .content-section .section-one .link-cookbook { top: 0; left: -190px; }
.pfaw-cookbooks .content-section .section-two .link-cookbook { top: 0; right: -190px; }
.pfaw-cookbooks .btn-cookbook {
	background: transparent url( {{ 'pfaw-btn-cookbooks.png' | asset_url }}) no-repeat center center;
	width: 107px;
	height: 48px;
	display: inline-block;
	overflow: hidden;
	text-indent: -9999px;
	float: right;
}
.pfaw-cookbooks .btn-cookbook-large {
	background: transparent url( {{ 'pfaw-btn-cookbooks-large.png' | asset_url }}) no-repeat center center;
	width: 178px;
	height: 41px;
	overflow: hidden;
	text-indent: -9999px;
	top: 270px;
	left: 130px;
	position: absolute;
	float: none;
/*
	display: inline-block;
	font-size: 21px;
	padding: 5px 10px;
*/
}



/* .shopping cart
================================================== */
.page-shopping-cart > .section { margin-top: 0; }
.page-shopping-cart h1 { border-top: 1px solid #333; padding-top: 15px; }




/* faq page
================================================== */
h3.faq-header { font-size: 18px; line-height: 28px; padding-bottom: 0; }
.faq-header   { margin-bottom: 0; }
.faq-pages p { line-height: 21px; }
.faq-header-small {
	margin-bottom: 0;
	margin-top: 20px;
	padding-bottom: 0;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	border-bottom: 0;
}
.faq-header-small + ul      { margin-bottom: 25px; }
.faq-header-small + ul > li { padding: 5px 0; }


/* San Antonio Juice & Takeaway Bar/
================================================== */
.san-antonio ul {
	overflow: hidden;
	margin: 0;
	position: relative;
}
.san-antonio-imagery li {
	float: left;
	width: 33.3%;
	display: block;
	margin-bottom: 0;
	background: transparent url({{ 'shadow_thumb.png' | asset_url }}) no-repeat bottom center;
}
.san-antonio-imagery img {
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
	top: 1px;
}
.san-antonio-imagery li:first-child img { float: left; }
.san-antonio-imagery li:last-child img { float: right; }

.san-antonio p,
.san-antonio .san-antonio-social { margin: 0 0 0 15px; }

/* #FlexSlider
================================================== */
/* Browser Resets */
.flexslider a:active,
.flex-container a:active { outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

.flexslider {
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	zoom: 1;
	overflow: hidden;
	min-height: 305px;
	background: transparent url({{ 'shadow_hero.png' | asset_url }}) no-repeat bottom center;
}
.flexslider .slides { zoom: 1; border:0; }
.flexslider .slides > li { position: relative; display: none; } /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img { max-width: 100%; }
.flexslider .slides li { border: 0; padding: 0; }
.flexslider .slides li a {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	line-height: 0;
	text-align: center;
}
.flex-pauseplay span { text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
* include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


.flex-container {zoom: 1; position: relative;}

/* Caption style */
/* IE rgba() hack */
.flex-caption {background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
.flex-caption {margin:0; width: 100%; padding: 2%; position: absolute; left: 0; bottom: 4px; background: rgba(0,0,0,.4); color: #fff; text-shadow: 0 1px 0 rgba(0,0,0,.8); font-size: 16px; line-height: 18px;}

/* Direction Nav */
.flex-direction-nav { height: 0; border:0; display:none;}
.flex-direction-nav li { border: none; }
.flex-direction-nav li a {width: 44px; height: 40px; display: block; background: url({{ 'fancybox_sprite.png' | asset_url }}) no-repeat; position: absolute; top: 45%; cursor: pointer; text-indent: -999em;}
.flex-direction-nav li .next {background-position: 0 -66px; right: 15px;}
.flex-direction-nav li .next:hover {background-position: 0 -218px;}
.flex-direction-nav li .prev {left: 15px; background-position: 0 -23px;}
.flex-direction-nav li .prev:hover {background-position:0 -175px;}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

.product_flexslider {
	width: auto;
	margin-top:0;
}
.product_flexslider .slides li,
.product_flexslider .slides img { width: auto !important; }

#grid .column,
#grid .columns {
	background: #ddd;
	height: 25px;
	line-height: 25px;
	margin-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
	color: #555;
	font-size: 12px;
	font-weight: bold;

	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
}
#grid .column:hover,
#grid .columns:hover {
	background: #bbb;
	color: #333;
}
#grid .example-grid { overflow: hidden; }
	
/* #FlexSlider
================================================== */
/*! fancyBox v2.0.4 fancyapps.com | fancyapps.com/fancybox/#license 
.fancybox-tmp iframe,
.fancybox-tmp object {
	vertical-align: top;
	padding: 0;
	margin: 0;
}
.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1002;
}
.fancybox-outer {
	padding:0;
	margin:0
}
.fancybox-opened { z-index: 1003; }
.fancybox-opened .fancybox-outer {
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.fancybox-inner {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	position: relative;
	outline: none;
	overflow: hidden;
	background-color: #fff;
}
.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 10px;
}
.fancybox-image,
.fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	vertical-align: top;
}
.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}
#fancybox-loading,
.fancybox-prev span,
.fancybox-next span { background-image: url({{ 'fancybox_sprite.png' | asset_url }}); }
#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 1010;
}
#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url({{ 'fancybox_loading.gif' | asset_url }}) center center no-repeat;
}
*/
.fancybox-close {
	position: fixed;
	top: 10px;
	right: 15px;
	cursor: pointer;
	z-index: 1004;
	font-size:20px;
	color: #666;
	font-family: sans-serif;
	font-weight:bold;
}
.fancybox-close:hover { color: {{ settings.link_color }}; }
/*.fancybox-prev,
.fancybox-next {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	background: transparent url({{ 'blank.gif' | asset_url }}); /* helps IE 
	z-index: 1003;
}
.fancybox-prev { left: 0; }
.fancybox-next { right: 0; }
.fancybox-prev span,
.fancybox-next span {
	position: absolute;
	top: 50%;
	width: 44px;
	height: 40px;
	margin-top: -18px;
	cursor: pointer;
	visibility: hidden;
	z-index: 1003;
}
.fancybox-prev span {
	left: 20px;
	background-position: 0 -23px;
}
.fancybox-next span {
	right: 20px;
	background-position: 0 -66px;
}
.fancybox-prev:hover span,
.fancybox-next:hover span { visibility: visible; }
.fancybox-prev span:hover { background-position: 0 -175px; }
.fancybox-next span:hover { background-position: 0 -218px; }

.fancybox-tmp {
	position: absolute;
	top: -9999px;
	left: -9999px;
	padding: 0;
	overflow: visible;
	visibility: hidden;
}

/* Overlay helper */
#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 1001;
	background: #fff !important;
}

/* Title helper 
.fancybox-title {
	visibility: hidden;	
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 1005;
}

.fancybox-opened .fancybox-title { visibility: visible; }
.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 1003;
	text-align: center;
}
.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa 
	background: rgba(0, 0, 0, 0.8);
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;

	text-shadow: 0 1px 2px #222;

	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
}
.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}
.fancybox-title-inside-wrap { margin-top: 10px; }
.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}
*/

/*
* Layout
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* #Base 960 Grid
================================================== */
.container {
	width: 960px;
	margin: 0 auto;
	padding: 10px 0;

	position: relative;
}
.container.product_page {
	padding-bottom: 0;
}
.column,
.columns {
	float: left;
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	
	line-height: 1;
}
.row { margin-bottom: 20px; }

/* Nested Column Classes */
.column.alpha, .columns.alpha   { margin-left: 0;  }
.column.omega, .columns.omega   { margin-right: 0; }

/* Base Grid */
.container .one.column        { width: 40px;  }
.container .two.columns       { width: 100px; }
.container .three.columns     { width: 160px; }
.container .four.columns      { width: 220px; }
.container .five.columns      { width: 280px; }
.container .six.columns       { width: 340px; }
.container .seven.columns     { width: 400px; }
.container .eight.columns     { width: 460px; }
.container .nine.columns      { width: 520px; }
.container .ten.columns       { width: 580px; }
.container .eleven.columns    { width: 640px; }
.container .twelve.columns    { width: 700px; }
.container .thirteen.columns  { width: 760px; }
.container .fourteen.columns  { width: 820px; }
.container .fifteen.columns   { width: 880px; }
.container .sixteen.columns   { width: 940px; }
.container .one-third.column  { width: 300px; }
.container .two-thirds.column { width: 620px; }

/* Offsets */
.container .offset-by-one       { padding-left: 60px;  }
.container .offset-by-two       { padding-left: 120px; }
.container .offset-by-three     { padding-left: 180px; }
.container .offset-by-four      { padding-left: 240px; }
.container .offset-by-five      { padding-left: 300px; }
.container .offset-by-six       { padding-left: 360px; }
.container .offset-by-seven     { padding-left: 420px; }
.container .offset-by-eight     { padding-left: 480px; }
.container .offset-by-nine      { padding-left: 540px; }
.container .offset-by-ten       { padding-left: 600px; }
.container .offset-by-eleven    { padding-left: 660px; }
.container .offset-by-twelve    { padding-left: 720px; }
.container .offset-by-thirteen  { padding-left: 780px; }
.container .offset-by-fourteen  { padding-left: 840px; }
.container .offset-by-fifteen   { padding-left: 900px; }



/* Next time do your cascade right dum dum devs */
.container .main-nav + .sixteen.columns {
	width: 960px;
	margin-left: 0;
	margin-right: 0;
	padding-left: 10px;
	padding-right: 10px;
	border-top: 2px solid #b5b5b5;
	
	-webkit-box-shadow: 0 -2px 4px 0px rgba(0,0,0,.2);
	   -moz-box-shadow: 0 -2px 4px 0px rgba(0,0,0,.2);
	        box-shadow: 0 -2px 4px 0px rgba(0,0,0,.2);

}

/* #Clearing
================================================== */
/* Self Clearing Goodness */
.container:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.row:after,
.clearfix:after { clear: both; }
.row,
.clearfix { zoom: 1; }
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* Media Queries
================================================== *
/* Note: Design for a width of 768px *
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.container,
	.container .main-nav + .sixteen.columns  { width: 768px; }
	.container .column,
	.container .columns {
		margin-left: 10px;
		margin-right: 10px;
	}
	.column.alpha, .columns.alpha   { margin-left: 0; margin-right: 10px; }
	.column.omega, .columns.omega   { margin-right: 0; margin-left: 10px; }

	/* Base Grid *
	.container .one.column        { width: 28px; }
	.container .two.columns       { width: 76px; }
	.container .three.columns     { width: 124px; }
	.container .four.columns      { width: 172px; }
	.container .five.columns      { width: 220px; }
	.container .six.columns       { width: 268px; }
	.container .seven.columns     { width: 316px; }
	.container .eight.columns     { width: 364px; }
	.container .nine.columns      { width: 412px; }
	.container .ten.columns       { width: 460px; }
	.container .eleven.columns    { width: 508px; }
	.container .twelve.columns    { width: 556px; }
	.container .thirteen.columns  { width: 604px; }
	.container .fourteen.columns  { width: 652px; }
	.container .fifteen.columns   { width: 700px; }
	.container .sixteen.columns   { width: 748px; }
	.container .one-third.column  { width: 236px; }
	.container .two-thirds.column { width: 492px; }

	/* Offsets *
	.container .offset-by-one       { padding-left: 48px; }
	.container .offset-by-two       { padding-left: 96px; }
	.container .offset-by-three     { padding-left: 144px; }
	.container .offset-by-four      { padding-left: 192px; }
	.container .offset-by-five      { padding-left: 240px; }
	.container .offset-by-six       { padding-left: 288px; }
	.container .offset-by-seven     { padding-left: 336px; }
	.container .offset-by-eight     { padding-left: 348px; }
	.container .offset-by-nine      { padding-left: 432px; }
	.container .offset-by-ten       { padding-left: 480px; }
	.container .offset-by-eleven    { padding-left: 528px; }
	.container .offset-by-twelve    { padding-left: 576px; }
	.container .offset-by-thirteen  { padding-left: 624px; }
	.container .offset-by-fourteen  { padding-left: 672px; }
	.container .offset-by-fifteen   { padding-left: 720px; }

	/* -- custom for OLD -- *
	.content-contain { width: auto; }
	#nav > ul li { width: 19.5%; }
	#nav .shop a,
	#nav .food a,
	#nav .sarma a,
	#nav .juice a,
	#nav .about a { background-image: none; text-indent: 0; }

	.container .main-nav + .sixteen.columns {
		border-bottom: 0;
		-webkit-box-shadow: 0 0 0;
		-moz-box-shadow: 0 0 0;
		box-shadow: 0 0 0;
	}
	.footer .container {
		margin: auto;
	}
}

/* Note: Design for a width of 320px *
@media only screen and (max-width: 767px) {
	.container,
	.container .main-nav + .sixteen.columns { width: 300px; }
	.columns,
	.column { margin: 0; }

	/* Base Grid *
	.container .one.column,
	.container .two.columns,
	.container .three.columns,
	.container .four.columns,
	.container .five.columns,
	.container .six.columns,
	.container .seven.columns,
	.container .eight.columns,
	.container .nine.columns,
	.container .ten.columns,
	.container .eleven.columns,
	.container .twelve.columns,
	.container .thirteen.columns,
	.container .fourteen.columns,
	.container .fifteen.columns,
	.container .sixteen.columns,
	.container .one-third.column,
	.container .two-thirds.column  { width: 300px; }

	/* Offsets *
	.container .offset-by-one,
	.container .offset-by-two,
	.container .offset-by-three,
	.container .offset-by-four,
	.container .offset-by-five,
	.container .offset-by-six,
	.container .offset-by-seven,
	.container .offset-by-eight,
	.container .offset-by-nine,
	.container .offset-by-ten,
	.container .offset-by-eleven,
	.container .offset-by-twelve,
	.container .offset-by-thirteen,
	.container .offset-by-fourteen,
	.container .offset-by-fifteen { padding-left: 0; }
	
	/* -- Custom OLD -- *
	.container .main-nav + .sixteen.columns {
		border: 0;
		-webkit-box-shadow: 0 0 0;
		-moz-box-shadow: 0 0 0;
		box-shadow: 0 0 0;
		margin: 0;
		padding: 0;
	}
	#nav .shop a,
	#nav .food a,
	#nav .sarma a,
	#nav .juice a,
	#nav .about a { background-image: none; text-indent: 0; }

	.sub-nav li a,
	.sub-nav li.icon-news,
	.sub-nav li.icon-books {
		width: auto;
		height: auto;
		background-image: none;
	}
	.sub-nav li {
		display: block;
		text-indent: 0;
	}
	.footer .container {
		margin: auto;
	}
}

/* Note: Design for a width of 480px *
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container,
	.container .main-nav + .sixteen.columns { width: 420px; }
	.columns,
	.column { margin: 0; }
	.container .one.column,
	.container .two.columns,
	.container .three.columns,
	.container .four.columns,
	.container .five.columns,
	.container .six.columns,
	.container .seven.columns,
	.container .eight.columns,
	.container .nine.columns,
	.container .ten.columns,
	.container .eleven.columns,
	.container .twelve.columns,
	.container .thirteen.columns,
	.container .fourteen.columns,
	.container .fifteen.columns,
	.container .sixteen.columns,
	.container .one-third.column,
	.container .two-thirds.column { width: 420px; }
	
	/* -- custom for OLD -- *
	.content-contain { width: auto;  }
	#nav > ul li    { width: 18.5%; }
}

/* Smaller than standard 960 (devices and browsers) *
@media only screen and (max-width: 959px) {
	input.search_box { width: 135px; }
}

@media only screen and (min-width: 959px) {
	{% if settings.use_custom_bg_image %}
	background-image: url("{{ settings.custom_bg_image_select | asset_url }}");
	{% endif %}
}

/* Tablet Portrait size to standard 960 (devices and browsers) *
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) *
@media only screen and (max-width: 767px) {
	.thumbnail a:hover img { opacity: 1; }
	.top_bar_search {
		margin-bottom: 5px;
		position: static;
		bottom: auto;
		right: auto;
	}
	input.search_box { width: 90%; }
	.title_column { float:left; }
	p.update_or_remove { display:block; }
	.subtotal { text-align:center; }
	.mobile_left { text-align:left; }
	.mobile_right { text-align: right; }
	div.mobile_only { display:block; }
	.update_subtotal_text,
	.price_total,
	.remove_column,
	.checkout_table_header { display: none; }
	.action_button { width: 100%; }
	.quick_shop { display: none !important; }
	.cart_price { display: block; }
	.cart_description,
	.gravatar { display:none; }
	table tr th,
	table tr td { padding: 2px; }
	input.action_button { margin-bottom: 1em !important; }
	.multiple_product_images { display: none; }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) *
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) *
@media only screen and (max-width: 479px) {
	#nav {
		margin-top: 10px;
		padding-top: 5px;
	}
	
	{% if settings.mobile_menu == 'horizontal' %}
	#nav ul li {
		padding: 0 6px;
		border: 0;
	}
	{% else %}
	#nav ul li {
		display:block;
		border:none;
		padding: 0px;
		margin-bottom: 5px;
	}
	{% endif %}

	.top_bar ul li { padding: 0 10px; }
	.breadcrumb { text-align:center; }
	.flex-caption { font-size: 80%; }
	h1,
	h2,
	h1.home,
	h1.blog_title,
	h3,
	h4,
	h5,
	h6,
	.title a { font-size: 150%; }

	h1,
	h1.home,
	h1.blog_title,
	.title a,
	h2 { padding:0; }
	
	/* -- custom for OLD -- *
	.content-contain { width: auto; }
	
}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file.
Copy your FontName into code below and remove
comment brackets */
/*	@font-face {
font-family: 'FontName';
src: url('FontName.eot');
src: url('FontName.eot?iefix') format('eot'),
url('FontName.woff') format('woff'),
url('FontName.ttf') format('truetype'),
url('FontName.svg#webfontZam02nTh') format('svg');
font-weight: normal;
font-style: normal; }
*/	











#OT_form {
	width: auto !important;
}
.OT_wrapper {
	border: 0 !important;
	border-radius: 0 !important;
	background-color: transparent !important;
	float: none !important;
	width: auto !important;
}
.OT_header {
	display: none !important;
	visibility: hidden !important;
}
.OT_list {
	margin: 0 auto !important;
	width: auto !important;
}
.OT_day, .OT_time, .OT_party, .OT_submit {
	background-image: none !important;
	border: 0 !important;
	width: 175px !important;
}