/** 
 * Radiance
 * A Shopify theme. 
 *
 * Last update: January 19, 2012
 * 
 * @version     2.2
 * @author      Ben Watts @ Shopify
 * @theme_url   http://radiance-theme.myshopify.com/
 *
 * If you need support or help customizing the theme:
 * - Try browsing the Shopify wiki: http://wiki.shopify.com/Main_Page
 * - Ask a question in the forums: http://forums.shopify.com/
 * - This is an official Shopify theme. Get support via: http://support.myshopify.com/
 *
 * Stay up-to-date and report any bugs:
 * - https://github.com/benwatts/shopify-theme-radiance
 */


{%if settings.header_font == 'BebasNeueRegular, arial, sans-serif' %}
/** 
 * See: http://www.fontsquirrel.com/fonts/bebas-neue
 * Redistributed in this theme with permission from Dharma Type - March 26, 2011 
 */
@font-face {
  font-family: 'BebasNeueRegular';
  src: url('BebasNeue-webfont.eot');
  src: url('BebasNeue-webfont.eot?iefix') format('eot'),
       url('BebasNeue-webfont.woff') format('woff'),
       url('BebasNeue-webfont.ttf') format('truetype'),
       url('BebasNeue-webfont.svg#webfontfvFLBU0N') format('svg');
  font-weight: normal;
  font-style: normal;
  }
{% endif %}



/** 
 * Reset 
 */
html, body, div, span, object, iframe, p, blockquote, pre,
abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp,
small, sub, sup, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font: {{settings.general_font_size}}/1.231 {{settings.general_font}}; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
ol { list-style-type: decimal; }
p { margin: 0 0 1em 0; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }
select{ max-width: 99%; /* for ff */ }

{% if settings.body_bg_img != "none" %}
  html{ 
  {% case settings.body_bg_alignment %}
    {% when 'center' %}
    background: url({{ settings.body_bg_img | asset_url }}) 50% 0 no-repeat; 
      
    {% when 'left' %}
    background: url({{ settings.body_bg_img | asset_url }}) 0 0 no-repeat; 

    {% when 'right' %}
    background: url({{ settings.body_bg_img | asset_url }}) 100% 0 no-repeat; 

    {% when 'tile' %}
    background: url({{ settings.body_bg_img | asset_url }}) 0 0; 
    
  {% endcase %}
  }
{% endif %}

html{ background-color: {{ settings.bg_colour }} }



/** 
 * Base Content Styles 
 */ 
body { 
  color: {{ settings.content_text_colour }};
  }

h1, h2, h3, h4, h5, h6 { 
  color: {{ settings.content_header_colour }}; 
  line-height: 1.2;
  font-weight: bold; 
  margin: 0 0 .5em 0;
  }
h1{ font-size: 22px; }

a { color: {{ settings.content_link_colour }}; }
a:hover { color: {{ settings.content_link_hover_colour}} }

blockquote{
  font: italic 13px/1.5 georgia, sans-serif;
  margin: 0 0 1.5em 1.25em;
  }

ul, ol{ margin: 0 0 1.5em 1.3em; }
li{ margin: 0 0 0.25em 0; }  

input, textarea{
  border: solid 1px {{ settings.content_secondary_colour }}; 
  padding: 4px;
  color: #333;  
  }
input[type="image"]{ border: none; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

table{
  width: 100%;
  margin: 0 0 1.5em 0;
  border-collapse: collapse;
  }
table th{
  padding: 4px 8px;
  font-weight: bold;
  border: solid 1px {{ settings.content_secondary_colour }};
  color: {{ settings.content_header_colour }};
  background: {{ settings.cart_header_colour }} url({{ 'table-header-depth.png' | asset_url }}) 0 100% repeat-x; 
  }
table td{ 
  padding: 4px 8px;
  border: solid 1px {{ settings.content_secondary_colour }};
  }
tfoot th{ background: transparent; }


/** 
 * Structure 
 */
 
html,body { height: 100%; }
body { text-align: center; }

.wrapper{ 
  width: 980px;
  margin: 0 auto;
  text-align: left;
  min-height: 100%;
  }
.ie6 .wrapper{ height: 100%; }  
  
#col-main{
  float: left;
  width: 740px;
  position: relative; z-index: 1;
  } 
#col-main.content{
  width: 700px;
  }
#col-main.full{
  width: auto;
  float: none;
  }  

#col-widgets{
  float: right;
  width: 215px;
  }  
{%if settings.show_right_column == false %}
  .wrapper{ width: 740px; }
  #col-widgets { display: none; }
{% endif %}  
  
  

/** 
 * Header 
 */ 
  
#top{
  padding: 50px 0 0 0;
  margin: 0 0 30px 0;
  position: relative;
  z-index: 100;
  }
  
#site-title{
  font: {{settings.header_font_style}} {{settings.header_font_size}}/1.0 {{settings.header_font}};
  color: {{settings.logo_colour}};
  margin: 0;
  }
#site-title a{
  text-decoration: none;
  color: {{settings.logo_colour}};  
  } 
#site-title a:hover{
  color: {{settings.logo_hover_colour}};
  } 


  
/** 
 * Top Menu 
 */ 

#top-menu{
  padding: 8px 0 0 0;
  margin: 0 0 0 -10px;
  }
#top-menu li{ 
  float: left; 
  }
#top-menu a{
  color: {{settings.nav_link_colour}};
  border-right: dotted 1px {{settings.nav_divider_colour}};
  font: {{settings.nav_font_style}} {{settings.nav_font_size}} {{settings.header_font}};  
  padding: 4px 10px;
  text-decoration: none;
  display: block;
  }
#top-menu .first a{
  border-radius: 4px 0 0 4px;
  } 
#top-menu li.last a{ 
  border: none;
  border-radius: 0 4px 4px 0;  
  }
#top-menu a:hover,
#top-menu .active a{
  color: {{settings.nav_hover_colour}};
  background: {{ settings.dropdown_bg_colour}};
  } 
#top-menu a:hover .nav-arrow{
  border-top-color: {{settings.nav_hover_colour}};
  }

/* dropdown menus */
#top-menu .has-dropdown{
  position: relative;
  }
.js #top-menu .has-dropdown a{
  padding-right: 24px;
  }

.js #top-menu .nav-arrow{
  position: absolute;
  top: 45%;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid {{settings.nav_link_colour}};  
  display: block;
  }

#top-menu ul ul{
  clear: none;
  position: absolute;
  z-index: 30;
  background: {{settings.dropdown_bg_colour}};
  top: 0;
  left: -1px;
  padding: 5px 0;
  display: none;
  width: 175px;
  -moz-box-shadow: 0 2px 3px {{settings.dropdown_brd_colour}};
  -webkit-box-shadow: 0 2px 3px {{settings.dropdown_brd_colour}};
  box-shadow: 0 2px 3px {{settings.dropdown_brd_colour}};   
  }
.ie6 #top-menu ul ul,
.ie7 #top-menu ul ul,   
.ie8 #top-menu ul ul{
  border: solid 1px {{settings.dropdown_brd_colour}};
  border-width: 0 1px;
  }
#top-menu ul .first ul{
  left: 0;
  } 
  
#top-menu ul ul li{
  float: none;
  display: block;
  padding: 5px 10px;
  } 
#top-menu ul ul a{
  font: 12px {{settings.general_font}};
  margin: 0; padding: 0;
  display: block;
  border: none;
  }
#top-menu ul ul a:hover{
  text-decoration: underline;
  }


/** 
 * Header Search 
 */

#header-search{ 
  float: right;
  margin: 0;
  } 
#header-search #top-search-input{ 
  width: 175px;
  font-size: 12px;
  padding: 6px 3px;
  border: solid 1px {{ settings.header_search_border_colour }};
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  float: left;
  }
#header-search #top-search-submit{ 
  border: none;
  width: 24px;
  height: 25px;
  {% if settings.search_icon_colour == "black" %}
  background: url({{'icon-search.png' | asset_url }}) 0 0 no-repeat;
  {% else %}
  background: url({{'icon-search.png' | asset_url }}) 0 -50px no-repeat;
  {% endif %}
  float: right;
  margin: 0 0 0 8px;
  font-size: 0; /* ie7 */
  line-height: 50px; /* ie7 */ 
  }
#header-search #top-search-submit:hover{
  {% if settings.search_icon_colour == "black" %}
  background-position: 0 -25px;
  {% else %}
  background-position: 0 -75px;
  {% endif %}
  }

#header-search{
  width: 215px;
  } 



/** 
 * Shopping Cart at the Top 
 */ 

body{ border-top: solid 4px {{settings.cart_bg_colour}}; }

#umbrella{
  background: {{settings.cart_bg_colour}};
  padding: 0 10px 0 12px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px; 
  color: {{ settings.cart_link_colour }};
  }

#umbrella ul{
  margin: 0;
  padding: 0;
  list-style: none;
  }
#umbrella li{
  float: left;
  padding: 6px 12px 10px 0;
  margin: 0 12px 0 0;
  border-right: solid 1px {{ settings.cart_divider_colour }};
  font-weight: normal;
  } 
#umbrella p{
  margin: 0;
  }
#umbrella a{ 
  color: {{ settings.cart_link_colour }};
  text-decoration: none;
  }
#umbrella a:hover{ color: {{ settings.cart_link_hover_colour }}; }
  
#umbrella .num-items-in-cart .icon{
  display: block;
  padding: 0 0 0 26px;    
  {% if settings.cart_icon_colour == "black" %}
  background: url({{ 'cart-icons.png' | asset_url }}) 0 0 no-repeat;
  {% else %}
  background: url({{ 'cart-icons.png' | asset_url }}) 0 -58px no-repeat;
  {% endif %}
  }
#umbrella .num-items-in-cart:hover .icon{
  {% if settings.cart_icon_colour == "black" %}
  background: url({{ 'cart-icons.png' | asset_url }}) 0 -29px no-repeat;
  {% else %}
  background: url({{ 'cart-icons.png' | asset_url }}) 0 -87px no-repeat;
  {% endif %}  
  }

#umbrella .checkout-link{
  padding: 0;
  margin-right: 0;
  border: none;
  }
#umbrella .checkout-link a{ color: {{settings.btn_text_colour}}; }
#umbrella .checkout-link a:hover{ color: {{settings.btn_hover_text_colour}}; }  



/** 
 * Sections 
 */ 

.section-details{
  margin: 0 0 10px 0;  
  }
.section-details a{
  color: {{ settings.grid_header_colour}};  
  text-decoration: none;
  }
.section-details .view-more{
  float: right;
  line-height: 32px;
  }

 .section-title{
  font: {{settings.grid_header_font_style}} {{settings.grid_header_font_size}}/1 {{settings.header_font}};
  color: {{ settings.grid_header_colour}};
  float: left;
  margin: 0;
  } 

.diagonal-divider{
  {% if settings.use_diagonal %}
  background: url({{ settings.diagonal_colour | asset_url }}) 0 0 repeat-x;
  padding: 16px 0 0 0;
  {% endif %}
  margin: 0 0 20px 0;
  }

#page-title{
  font-size: 22px;
  border-bottom: dotted 1px {{ settings.content_secondary_colour }};
  padding: 0 0 15px 0;
  margin: 0 0 20px 0;
  }


/** 
 * Product and Collection Grid 
 */

.product-grid{
  list-style: none;
  margin: 0;
  color: {{ settings.grid_text_colour }};
  }
.product-grid li{
  width: 177px;
  float: left;
  margin: 0 10px 10px 0;
  position: relative;
  }
.product-grid .last-in-row{ margin-right: 0; } 

.generated-height .product-grid-item{
  width: 177px; 
  position: absolute;
  bottom: 0;
  }

.product-grid img{ 
  display: block; 
  margin: 0 auto;
  } 
 
.product-grid a{
  text-decoration: none;
  display: block;
  color: {{ settings.grid_link_colour }};
  }
.product-grid a:hover{
  color: {{ settings.grid_link_hover_colour }};
  }

.product-grid .product-link{
  display: block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  margin: 0;
  min-height: 50px;
  /* for ie6: */
  width: 100%;
  }  

.product-photo{
  max-width: 177px; 
  }
.ie6 .product-grid{ overflow: hidden; }

.product-information{
  padding: 10px;
  position: relative;
  background: {{ settings.grid_bg_colour }};   
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px; 
  }
.product-information h3{
  font: {{settings.home_featured_product_font_style}} {{settings.home_featured_product_font_size}}/1 {{settings.header_font}};
  margin: 5px 0 10px 0;
  }
.product-information p{
  line-height: 1.4em;
  margin: 0 0 .75em 0;
  }

.product-price{
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  padding: 4px 8px;
  text-align: right;
  font-weight: bold;
  color: {{ settings.grid_price_colour }};
  opacity: .85; 
  background: {{ settings.grid_price_background_colour }};
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0; 
  }

#featured-grid li{
  width: 240px;  
  background: {{ settings.grid_bg_colour }};   
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;  
  }
#featured-grid .product-photo{ 
  max-width: 240px; 
  }
#featured-grid .product-price{
  top: -30px;
  right: 0;
  bottom: auto;
  padding: 3px 8px;
  font-size: 14px;
  line-height: 24px;
  color: {{ settings.grid_price_colour }};
  }


  
/** 
 * Single Product 
 */ 

#product-information{ 
  float: right;
  width: 375px;
  }

#product-actions{ 
  padding: 4px 0 12px 0;
  overflow: hidden; height: 1%;
  }

#purchase{
  float: right;
  text-align: right;
  }
.sold-out #purchase{
  float: none;
  text-align: left;
  }
#add-to-cart{
  margin: 8px 0 0 0;
  }

#product-header{
  margin: 0 0 20px 0;
  border-bottom: 1px solid {{ settings.content_secondary_colour }};
  }
#product-header #product-header-title{ 
  float: left;
  width: 60%;
  margin: 5px 0 16px 0;
  }
#product-title{
  margin: 0 0 5px 0;
  font-size: {{ settings.product_name_font_size }};
  font-style: {{ settings.product_name_font_style }};
  }
#product-vendor{
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  }
#product-vendor a{
  text-decoration: none;
  }

#product-actions select{
  padding: 3px;
  }
#product-actions .price{
  font-size: 18px;
  margin: 0;
  font-weight: bold;
  text-align: right;
  }
#product-actions .price strong{ 
  color: {{ settings.product_price_colour }};
  display: block;
  }
#product-actions .compare_at_price{
  font-size: 12px;
  display: block;
  }

.variants-wrapper{
  text-align: right;
  margin: 0 0 8px 0;
  }
.selector-wrapper{
  margin: 0 0 8px 0 ;  
  }
.selector-wrapper label{
  margin: 0 5px 0 0;
  text-align: right;
  }

#add-to-cart-msg{
  background: {{ settings.added_to_cart_bg }};
  padding: 10px;
  display: none;
  margin: 0;
  }    

#product-information #sharing{
  margin: 16px 0 0 0;
  padding: 16px 0 0 0;
  list-style: none;
  border-top: 1px solid {{ settings.content_secondary_colour }};
  }
#product-information #sharing li{
  margin: 0;
  float: left;
  }  



/** 
 * Zoomy product gallery, with thumbs
 * @see https://github.com/benwatts/enhance-gallery
 */

#product-gallery,
#active-wrapper{
  width: 303px;
  }  

#active-wrapper{
  position: relative;
  min-height: 50px; 
  overflow: hidden; 
  margin: 0 0 10px 0; 
  }
#active-wrapper img{
  display: block;
  width: 100%;
  }
#active-wrapper .zoomed{
  position: absolute;
  top: 0; 
  left: 0;
  }

#active-image-loading{
  background: #fff url({{ 'icon-loading.gif' | asset_url }}) 50% 50% no-repeat; 
  width: 40px;
  height: 40px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  position: absolute;
  top: 42%;
  left: 42%;
  z-index: 2;
  text-indent: -900em; overflow: hidden;  
  }

#thumbs{
  margin: 0;
  list-style: none;
  }
#thumbs li{
  float: left;
  margin: 0 8px 8px 0;
  width: 54px;
  height: 54px;   
  text-align: center; 
  }  
.no-js #thumbs li{ margin-right: 6px; }
#thumbs li.last-in-row{
  margin-right: 0;
  }
#thumbs a{
  display: block;
  border: solid 1px {{ settings.content_secondary_colour }};
  padding: 1px;
  }
#thumbs a:hover{
  border: solid 1px {{ settings.content_link_hover_colour }};
  }
#thumbs img{
  margin: 0 auto;
  display: block;
  }   

  
  
/** 
 * Content
 */ 

.content{
  padding-bottom: 20px;  
  {% unless ((settings.content_bg_colour == settings.bg_colour) and (settings.body_bg_img == "none")) %}
  padding: 20px;
  {% endunless %}

  background: {{ settings.content_bg_colour }};
  line-height: 1.5em;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  }
.content.description{ /* collection descriptions */
  {% unless (settings.content_bg_colour == settings.bg_colour) and (settings.body_bg_img == "none") %}
  padding: 10px 20px 0 20px;
  {% endunless %}

  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 15px 0 15px 0;
  float: left;
  width: 700px;
  }
  
article{
  margin: 20px 0 45px 0;
  {% if settings.use_diagonal %}
  background: url({{ settings.diagonal_colour | asset_url }}) 0 100% repeat-x;
  {% else %}
  border-bottom: solid 1px {{ settings.content_secondary_colour }};
  {% endif %}
  padding: 0 0 10px 0;
  } 
.templateArticle article{ margin-top: 0; }

article .author{
  color: #999;
  font-style: italic;
  line-height: 20px;
  }
article footer{ 
  font-size: 11px;
  padding-top: 20px;
  }
article footer p{ margin: 0; }
article footer .author{ float: left; }
article footer .comments-link{ float: right; }
article footer .btn { padding: 2px 10px; }



/** 
 * Pagination 
 * Modified from http://twitter.github.com/bootstrap/
 */

.pagination {
  height: 30px;
  margin: 18px 0;
  }
.pagination ul {
  float: left;
  margin: 0;
  border: 1px solid {{ settings.content_secondary_colour }};
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  background: {{ settings.bg_colour }};
  }
.pagination li {
  display: inline;
  }
.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 28px;
  border-right: 1px solid {{ settings.content_secondary_colour }};
  text-decoration: none;
  color: {{ settings.grid_header_colour}};
  }
.pagination a:hover, .pagination .active a {
  color: {{ settings.btn_text_colour }};
  background-color: {{ settings.btn_hover_colour }};
  background: {{settings.btn_colour}} url({{ 'btn-small-depth.png' | asset_url }}) 0 100% repeat-x;  
  }
.pagination .active a{
  border-right-color: {{ settings.bg_colour }}; 
  } 
.pagination .disabled a, .pagination .disabled a:hover {
  background: transparent;
  color:  {{ settings.content_secondary_colour }};
  cursor: default;
  }
.pagination .next a {
  border: 0;
  }  

.pagination-num-showing{
  float: right;
  line-height: 28px;
  font-size: 11px;
  color: {{ settings.grid_header_colour}};
  }

    
/** 
 * Widgets in the Right Column 
 */ 

#col-widgets{
  color: {{ settings.widget_text_colour }} ;
  } 

#col-widgets a{ color: {{settings.widget_link_colour}} }
#col-widgets a:hover{ color: {{settings.widget_link_hover_colour}} }

.widget{
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 0 0 20px 0;
  padding: 10px;
  background: {{settings.widget_bg_colour}}
  }

.widget h3{
  font: {{settings.widget_title_font_style}} {{settings.widget_title_font_size}} {{settings.header_font}};
  color: {{settings.widget_title_colour}};
  margin: 0 0 10px 0;
  }
#col-widgets .widget h3 a{
  color: {{settings.widget_title_colour}};
  text-decoration: none;
  }
  
.widget ul{ margin: 0; }  
.widget li{
  padding: 0 0 5px 12px;
  list-style: none;
  }

.widget-btns a{
  background: {{settings.widget_bg_colour}};
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  display: block;
  padding: 6px 12px;
  margin: 0 0 6px 0;
  text-decoration: none;
  overflow: hidden; height: 1%;
  } 
.widget-btns img{
  display: block;
  float: left;
  margin: 0 6px 0 0;
  }
.widget-btns .btn-text{
  display:block;
  width: 165px;
  float: right;
  } 

/** twitter widget */
.no-js #widget-twitter{ display: none; }
.widget .tweet_list{
  margin: 0;
  list-style: none;
  } 
.widget .tweet_list li{
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: dotted 1px {{settings.widget_divider_colour}};
  background: none;
  word-wrap: break-word;
  line-height: 1.3em;
  } 
    
/** linklist widget */
.widget-linklist li{ 
  border-top: dotted 1px {{settings.widget_divider_colour}};  
  padding: 8px 0 0 0;
  margin: 8px 0 0 0;
  }  
.widget-linklist li:first-child{
  border-top: none;
  padding: 0;
  margin: 0;
  }
.widget-linklist li a{
  display: block;
  margin: 0 0 0 12px;
  }
.ie7 .widget-linklist li a{
  float: left;
  }
.widget-linklist .arrow{
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid {{settings.widget_divider_colour}};
  display: block;
  float: left;
  margin: 4px 0 0 0;
  }



/** 
 * Customer Accounts
 */ 

.page-header #page-title{ float: left; border: none; margin: 0; }
.page-header #page-actions{ float: right; } 

.templateCustomersLogin form input{ 
  float: left; 
  }
.templateCustomersLogin form label{
  float: left;
  min-width: 120px;
  line-height: 22px;
  }
.templateCustomersLogin .form-row,
.templateCustomersActivateAccount .form-row{
  margin: 0 0 8px 0;
  }
.templateCustomersLogin .action-bottom{
  margin: 20px 0 0 0;
  }
.templateCustomersLogin .action-bottom .note{
  font-size: 11px;
  padding: 0 0 0 5px;
  line-height: 27px;
  }


/* >> login Form */
#customer-login,
#recover-password{
  float: left;
  width: 58%;
  border-right: solid 1px {{ settings.content_secondary_colour }};
  }
#recover-password{ 
  display: none;
  }
#recover_email label{
  min-width: 75px;
  }
#forgot_password{
  margin: 2px 0 0 5px;
  font-size: 11px;
  float: left;
  }  

#guest{
  float: right;
  width: 38%
  }
   
  
/* >> manage orders and addresses */
#customer_orders{
  width: 75%;
  float: left;
  }
#customer_sidebar{
  float: right;
  width: 20%;
  }
.address p,
.view_address p{ margin: 0; }

#view_address{ 
  border-top: solid 1px {{settings.content_secondary_colour}};
  padding: 10px 0 0 0;  
  margin-top: 10px;
  display: block;
  }

.address_actions{ float: right; }
.address_actions .action_edit{
  border-right: solid 1px {{settings.content_secondary_colour}};
  padding-right: 10px;
  }
.address_actions .action_delete{ padding-left: 16px; }  

.action_top{  margin: 0 0 20px 0; }

.action_edit, 
.action_delete, 
.action_add{
  display: inline-block;
  padding-left: 16px;
  }
.action_edit{ background: url({{ 'edit-sml.png' | asset_url }}) 0 0 no-repeat; }
.action_delete{ background: url({{ 'delete-sml.png' | asset_url }}) 0 1px no-repeat; }
.action_add{ background: url({{ 'add-sml.png' | asset_url }}) 0 0 no-repeat; }

.default_address{
  color: {{ settings.content_link_hover_colour }};
  }
.address_table,
#add_address{
  border: dotted 1px {{settings.content_secondary_colour}};
  padding: 10px;
  margin: 0 0 20px 0;
  }
.address_table .label,
#add_address .label{
  width: 125px;
  padding-left: 0;
  }
.address_table h4{
  padding: 0 0 5px 0;
  margin: 0 0 10px 0;
  }
.customer_address_table{ margin: 0; }
.customer_address_table td{ border: none; }
.customer_address_table input{ margin: 0 5px 0 0; }
.customer_address .action-bottom{ margin-left: 141px; }


/** >> view individual orders */ 
.order_date{ 
  border-bottom: solid 1px {{settings.content_secondary_colour}};
  padding: 0 0 5px 0;
  margin: 0 0 20px 0;
  }

#order_address{ 
  overflow: hidden; height: 1%;
  margin: 0 0 20px 0; 
  } 
#order_address #order_payment, 
#order_address #order_shipping{
  float: left;
  width: 46%;
  margin-right: 2%;
  }
  


/** 
 * Comments 
 */

.comment{
  margin: 0 0 20px 0;
  }

.comment-author{
  float: left;
  width: 18.0%;
  padding: 12px 0 0 0;
  font-weight: bold;
  text-align: right;
  color: {{ settings.comment_author_colour }};
  }

.comment-content{
  background: {{ settings.comment_bg }};
  float: right;
  width: 75%;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  position: relative;
  padding: 15px;
  color: {{ settings.comment_text_colour }}
  }
.comment-arrow{
  width:0px; 
  height:0px; 
  border-bottom:8px solid transparent;
  border-top:8px solid transparent; 
  border-right:8px solid {{ settings.comment_bg }}; /* arrow colour */
  font-size:0px;
  line-height:0px;
  position: absolute;
  top: 14px;
  left: -8px;
  }

.comment-posted{
  font-style: italic;
  margin: 0;
  font-size: 11px;
  line-height: 1;
  color: {{ settings.comment_date_colour }};
  }


.comment-form label{
  display: block;
  width: 130px;
  float: left;
  }
.comment-form #comment-submit{
  margin: 0 0 10px 130px;
  }
.comment-form div{
  margin: 0 0 10px 0;
  }
.comment-form .text{
  float: left;
  border: solid 1px #ccc;
  padding: 5px;
  width: 150px;
  color: #666;
  }
.comment-form .text:focus{
  border-color: {{settings.primary_colour}};
  } 
.comment-form textarea.text{
  width: 500px;
  }

.has-error label{ color: #e0360f; }
.has-error label.error-msg{ color: #fff; }
.has-error input,
.has-error textarea,
.has-error .text{
  border: solid 1px #ff0000;
  -webit-box-shadow: 0 0 4px rgba(255,0,0,.6);
  -moz-box-shadow: 0 0 4px rgba(255,0,0,6);
  box-shadow: 0 0 4px rgba(255,0,0,.6);
  }

.error-msg,
.success-msg,
.errors{
  padding: 10px;
  color: #fff;
  text-align: left;
  background: url({{ 'btn-small-depth.png' | asset_url }} 0 100% repeat-x);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  }
.error-msg,
.errors{
  background-color: #770e00;
  }
.success-msg{
  background-color: #387700;
  }

.errors{ margin: 0 1em 1.5em 0; }
.errors ul,
.errors li{ margin: 0; list-style: none; }
  
  
  
/** 
 * Search 
 */ 

#search-form{
  padding: 0 0 20px 0;
  overflow: hidden; height: 1%;
  }
#search-form #q{
  font-size: 16px;
  padding: 6px;
  width: 575px;
  border: solid 1px {{ settings.content_secondary_colour }};
  float: left;
  }
#search-form #search-submit{ /* overriding some of .btn's styles */
  padding-top: 7px;
  padding-bottom: 6px; 
  float: right;
  width: 100px;
  }
.ie7 #search-form #search-submit{
  border: none;
  }

.results .item{
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: solid 1px {{ settings.content_secondary_colour }}; 
  }
.results .thumbnail{
  float: left;
  }
.results .search-excerpt{
  margin: 0 0 0 75px;
  }   


  
/** 
 * Cart 
 */ 
  
#cartform table{ 
  width: 100%; 
  margin: 0 0 20px 0;
  } 
#cartform table td{ 
  text-align: center; 
  vertical-align: middle;
  padding: 5px;
  }
#cartform table th{ 
  text-align: center; 
  } 
col.checkout-image{ width: 50px; }  
col.checkout-delete{ width: 80px; }
  
  
#cartform td img{ display: block; }
#cartform input.text { border: solid 1px {{settings.primary_colour}}; padding: 4px; color: {{settings.primary_colour}}; text-align: center; }

#cartform .subtotal{
  text-align: center;
  }
#cartform .update-quantities{
  text-align: center;
  padding: 5px;
  width: 170px;
  } 

#checkout-proceed{ 
  float: right;
  width: 38%;
  text-align: right; 
  }
  
#checkout-addnote{
  float: left;
  width: 60%;
  } 
#checkout-addnote a{
  display: block;
  width: 165px;
  float: left;
  }
#checkout-addnote textarea{
  border: solid 1px {{settings.content_secondary_colour}};
  color: {{settings.content_text_colour}}; 
  width: 250px;
  height: 60px;
  float: left;
  padding: 4px;
  } 
.js #checkout-addnote textarea{
  display: none;
  } 
  
#additional-checkout-buttons{
  padding: 5px;
  margin: 5px 0 0 0;
  } 
#additional-checkout-buttons-label{
  border-bottom: solid 1px {{settings.content_secondary_colour}};
  display: block;
  margin: 0 0 8px 0;
  font-size: 11px;
  font-weight: bold;
  }
  
  
  
/** 
 * Footer 
 */ 

#bottom{ 
  padding: 15px 0; 
  {% unless ((settings.footer_bg_colour == settings.bg_colour) and (settings.body_bg_img == "none")) %}
  padding-left: 20px;
  padding-right: 20px;
  {% endunless %}

  margin: 25px 0 50px 0;
  font-size: 11px;
  clear: both; 
  overflow: hidden;
  height: 1%;
  background: {{ settings.footer_bg_colour }};
  color: {{ settings.footer_txt_colour }};
  }

#footer-left{ 
  width: 500px;
  float: left;
  }
#footer-right{
  width: 200px;
  float: right;
  }

#bottom ul{
  list-style: none;
  margin: 0 0 10px 0
  } 
#bottom li{
  float: left;
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  }
#bottom a{ color: {{ settings.footer_link_colour }};}
#bottom a:hover{ color: {{ settings.footer_link_hover_colour }};}
#bottom p{ line-height: 1.5em }
  
#footer-nav{
  margin: 14px 0 0 0; 
  }
#footer-nav li{
  border-left: solid 1px {{ settings.footer_txt_colour }};
  }
#footer-nav li:first-child{
  border-left: none;
  margin: 0;
  padding: 0;
  }

#bottom #sm-icons{
  float: right;
  margin: 0;
  }
#sm-icons li{ 
  margin: 0 0 0 10px; 
  padding: 0;
  }
#sm-icons a{ 
  width: 36px;
  height: 37px;
  background-image: url({{ 'social-media.png' | asset_url }});
  display: block;
  }

{% if settings.sm_colour == 'white' %}
#sm-youtube a{ background-position: 0 0; }
#sm-flickr a{ background-position:-36px 0; }
#sm-twitter a{ background-position: -72px 0; }
#sm-facebook a{ background-position: -108px 0; }
#sm-youtube a:hover{ background-position: 0 -39px; }
#sm-flickr a:hover{ background-position:-36px -39px; }
#sm-twitter a:hover{ background-position: -72px -39px; }
#sm-facebook a:hover{ background-position: -108px -39px; }
{% else %}
#sm-youtube a{ background-position: 0 -78px; }
#sm-flickr a{ background-position:-36px -78px; }
#sm-twitter a{ background-position: -72px -78px; }
#sm-facebook a{ background-position: -108px -78px; }
#sm-youtube a:hover{ background-position: 0 -117px; }
#sm-flickr a:hover{ background-position:-36px -117px; }
#sm-twitter a:hover{ background-position: -72px -117px; }
#sm-facebook a:hover{ background-position: -108px -117px; }
{% endif %}



/**
 * Homepage Carousel
 */ 

/* Adjust this to alter the width and height of the carousel. */
#carousel, 
#carousel .items > li{
  width: 740px;
  height: {{ settings.carousel_height }}px;
  }

#carousel-wrapper{ margin: 0 0 30px 0; }

#carousel{
  position: relative;
  z-index: 50;
  overflow: hidden;
  background: #F4F4F4;
  }
#carousel p, 
#carousel li{
  margin: 0;
  }
  
#carousel .items{
  margin: 0;
  padding: 0;
  width: 20000em;
  position: absolute;
  z-index: 1;
  }
#carousel .items > li{
  float: left;
  list-style: none;
  }

#carousel .items img{ max-width: 100%; } /* I was on the fence about adding this line in, but hope it will do some good */

#carousel-controls{ margin-top: 10px; }


#carousel .browse{
  width: 20px;
  height: 100%;
  background: {{ settings.carousel_button_colour }};
  position: absolute;
  z-index: 100;
  cursor: pointer;
  opacity: .9;
  display: none;
  }
#carousel-next{
  top: 0;
  right: 0; 
  }
#carousel-prev{
  top: 0;
  left: 0;
  }

#carousel .arrow{
  display: block;
  position: absolute;  
  top: 46%;
  }
#carousel-next .arrow{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid {{ settings.carousel_arrow_colour }};  
  left: 5px;
  }    
#carousel-prev .arrow{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid {{ settings.carousel_arrow_colour }};  
  right: 5px;
  }

#carousel .browse:hover{ background: {{ settings.carousel_button_hover_colour }}; }
#carousel-next:hover .arrow{ border-left-color: {{ settings.carousel_arrow_hover_colour }}; }
#carousel-prev:hover .arrow{ border-right-color: {{ settings.carousel_arrow_hover_colour }}; }



/** 
 * Utils 
 */

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.left{ float: left; }
.right{ float: right; }

.btn,
a.btn{
  display: inline-block;
  background: {{settings.btn_colour}} url({{ 'btn-small-depth.png' | asset_url }}) 0 100% repeat-x;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px {{settings.btn_colour}};
  color: {{settings.btn_text_colour}};
  padding: 5px 10px 4px 10px;
  text-decoration: none;  
  font-weight: bold;
  font-family: {{settings.general_font}};
  text-align: center;
  cursor: pointer;
  }

.btn:hover,
a.btn:hover{
  border: solid 1px {{settings.btn_hover_colour}};
  background: {{settings.btn_hover_colour}} url({{ 'btn-small-depth.png' | asset_url }}) 0 100% repeat-x;;
  color: {{settings.btn_hover_text_colour}};
  }
  
.btn-reversed{
  border: solid 1px {{settings.btn_hover_colour}};
  background: {{settings.btn_hover_colour}} url({{ 'btn-small-depth.png' | asset_url }}) 0 100% repeat-x;;
  color: {{settings.btn_hover_text_colour}};
  }
.btn-reversed:hover{
  background: {{settings.btn_colour}} url({{ 'btn-small-depth.png' | asset_url }}) 0 100% repeat-x;
  border: solid 1px {{settings.btn_colour}};
  color: {{settings.btn_text_colour}};
  } 



/**
 * Contact/Newsletter Forms 
 */

.contact-form ul{
  margin: 0;
  }
.contact-form li{
  list-style: none;
  margin: 0 0 8px 0;
  }

.contact-form label{
  display: block;
  min-width: 90px;
  float: left;
  }
.contact-form textarea{
  width: 400px;
  height: 100px;
  }
.contact-form .type-submit{
  margin: 0 0 0 90px;
  }

.contact-form .error-msg{
  float: none;
  display: inline;
  margin: 0 0 0 10px;
  font-size: 11px;
  padding: 6px;
  }
.contact-form .has-error input{
  border: solid 1px #ef3a22;
  }

/** 
 * Some print style resets 
 */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

/** 
 * No products 
 * Visible only to an empty store.
 */

#featured-grid .placeholder{
  display: block;
  width: 240px;
  height: 200px; 
  background: {{settings.btn_colour}} url({{ 'placeholder-product.png' | asset_url }}) 50% 50% no-repeat;
  }

.product-grid .placeholder{
  width: 177px;
  height: 130px;
  display: block;
  background: {{settings.btn_colour}} url({{ 'placeholder-product.png' | asset_url }}) 50% 50% no-repeat;  
  }


.no-products{
  position: relative;
  }
.no-products-overlay{
  opacity: .75;
  background: {{ settings.bg_colour }};
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BF{{ settings.bg_colour | remove_first: '#' }}', endColorstr='#BF{{ settings.bg_colour | remove_first: '#' }}',GradientType=0 );  
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4; 
  top: 0;
  left: 0;
  }
.ie7 .no-products-overlay,
.ie8 .no-products-overlay{ background: transparent; }

.no-products-post-it{
  position: absolute;
  top: 125px;
  left: 198px;
  z-index: 5;
  width: 345px;
  height: 193px;
  background: url({{ 'no-products-post-it.png' | asset_url }}) 0 0 no-repeat;
  font-family: georgia, serif;
  font-size: 16px;
  color: #4b4a43;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  }
.no-products-post-it-content{
  padding: 65px 20px 20px 20px;
  line-height: 1.4em;
  } 
.no-products-post-it em{
  display: block;
  color: #3b3a34; 
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  margin: 0 0 10px 0;
  }
.no-products-post-it a{
  color: #25669c;
  }
  
/* Added by Caroline on January 14th for Customizr */

#product-actions input.text,
#product-actions input[type=text],
#product-actions textarea { 
  width: 90%;
}

#product-actions input[type=text]:invalid,
#product-actions textarea:invalid { 
  -moz-box-shadow:       inset 0 0 1px 1px #FF9494;
  -webkit-box-shadow:    inset 0 0 1px 1px #FF9494;
  box-shadow:            inset 0 0 1px 1px #FF9494;
}

.error span {
  line-height: 2;
  color: red;
}