<div style="font-family: Georgia; font-size: 120%; text-align: left;" class="leave-a-tags-alone"><img style="float: right;" src="//cdn.shopify.com/s/files/1/0128/4352/files/CompanyStory_Sarma.png?5970" alt="" />
<p>It all started in the summer of 2003...when I (and my partner at the time) stumbled upon this ‘crazy' idea of raw vegan food. <b>What seemed so basic - eating organic, uncooked plant-based foods - felt like a brand new discovery.</b> I began a two-week experiment to see how I'd feel eating only raw food. I also read everything I could get my hands on about raw food. Within the first week, this 'experiment' had become a permanent change. And then this 'discovery' not only changed my life personally but inspired a business. Or, should I say,<i> businesses.</i></p>
<img style="float: left;" src="//cdn.shopify.com/s/files/1/0128/4352/files/juice-takeaway.jpg?3023" alt="" />
<p>In the summer of 2004, one year after climbing onto this raw vegan bandwagon, my then-partner and I opened <a href="/pages/pure-food-and-wine"><span style="color: #9900ff;"><b>Pure Food and Wine</b></span></a>, New York City's first upscale raw vegan restaurant, on Irving Place, just one block from Union Square and it's giant farmer's market.</p>
<p>In a small storefront connecting through the back of the restaurant's kitchen but with a small entrance around the corner on 17th street, is the restaurant's <a href="/pages/juice-and-takeaway"><span style="color: #9900ff;"><b>juice bar</b></span></a>, originally known as Pure Juice and Takeaway. So why is it now called One Lucky Duck? Read on.</p>
<img style="float: right;" src="//cdn.shopify.com/s/files/1/0128/4352/files/duck-at-door.jpg?3023" alt="" />
<p>Shortly after opening, during Pure Food and Wine's busy inaugural summer, the illustrious publisher Judith Regan was having dinner under the trees out in the 70 seat back garden, and asked to speak to me (and my then-partner). She said quite simply, "I want to publish your book, and I want to do it in 8 weeks". <b>Um, okay</b>.</p>
<p>While working furiously on this first book, I kept thinking there should be a great online source for all the ingredients and tools one might need for the recipes. <b><em>Wait, how hard could it be to start <a href="/collections"><span style="color: #9900ff;">an e-commerce site</span></a>?</em></b></p>
<img style="float: left; margin-top: -10px;" src="//cdn.shopify.com/s/files/1/0128/4352/files/light-bulb.jpg?3023" alt="" />
<p>Could it be? Not only could this site carry ingredients and tools but also Pure Food and Wine's own budding line of packaging <b><a href="/collections/one-lucky-duck-brand"><span style="color: #9900ff;">raw vegan cookies and snacks</span></a></b>, plus <a href="/collections/types?q=Glow"><b><span style="color: #9900ff;">skincare</span></b></a>, and more, all under its own brand name. <b><em>But...what to call it?</em></b></p>
<img style="float: right;" src="//cdn.shopify.com/s/files/1/0128/4352/files/sarma-black-and-white.jpg?3023" alt="" />
<p><b>Quick backstory.</b> When <b><a href="/pages/pure-food-and-wine"><span style="color: #9900ff;">Pure Food and Wine</span></a></b> was getting ready to open, everyone and their uncle was offering up suggestions for fruit and vegetable watercolor paintings or photos to adorn the walls. Given my tendency to eschew convention, I thought, why not photos of animals that otherwise are generally eaten, instead? And so this feisty duck, originally appearing in Gourmet magazine, became the featured wall art, and our mascot of sorts.</p>
<img style="float: left;" src="//cdn.shopify.com/s/files/1/0128/4352/files/old-logo-aboutpage_1.jpg?3023" alt="" />
<p><b>One Lucky Duck.</b> It was that simple. With nothing but the name (and URL) in hand, I figured I'd roll the dice and commit to the site and branding by sprinkling the manuscript for the first book with references to <b><a href="/collections"><span style="color: #9900ff;">oneluckyduck.com</span></a></b>. During the six months it would take to print the book, would I be able to somehow pull off launching a fully branded e-commerce site, also while transitioning to running things without a partner? (My partner and I split right about that time.) <b><em>I had to try, right?</em></b></p>
<p>With the manuscript off to print, the first order of business was a logo. Done! With the logo finalized, it hit me. I'd always wanted a tattoo but I'd never had anything I wanted to commit to being permanently inked on my body. <em style="font-weight: bold;">The Duck?</em> Yes. I'll commit to that.</p>
<img style="float: right;" src="//cdn.shopify.com/s/files/1/0128/4352/files/raw-food-real-world.jpg?3023" alt="" />
<p>Fast forward to July 2005, the book <b><a href="/products/raw-food-real-world"><span style="color: #9900ff;">Raw Food Real World</span></a></b>, was being released and yes, <b><a href="/collections"><span style="color: #9900ff;">oneluckyduck.com</span></a></b> was a miraculously launched at the same time, selling our snacks (which I'd rebranded as One Lucky Duck) as well as ingredients, t-shirts, skincare, and the new book, among other things. Then, at some point over the next year or so the juice bar became known as <b><a href="/pages/juice-and-takeaway"><span style="color: #9900ff;">One Lucky Duck Juice &amp; Takeaway</span></a></b> (and now we have a location across town in Chelsea Market too).</p>
<p>I also published a second book, <b><a href="/products/living-raw-food"><span style="color: #9900ff;">Living Raw Food</span></a></b>, in 2009, and added operations in Brooklyn, NY in 2012. So, if you've made it this far, now you know how it all started. Pure Food and Wine came first, and from the restaurant and the first book, <b>One Lucky Duck</b> was born. Of course, I'm thinking this story will go on and on because there's a lot more I really want to do.</p>
<p>THANK YOU. To all the good customers, restaurant guests, people ordering worldwide, and everyone past, present and future that work with us. Thank you.</p>
<a href="/pages/sarma"><img src="//cdn.shopify.com/s/files/1/0128/4352/files/sarma.png?3021" alt="" /></a></div>