<p> </p>
<h2 style="text-align: center; font color: #674ea7;"><strong><span style="color: #674ea7;">salads &amp; savory</span></strong></h2>
<p style="text-align: center;"><strong><strong>guacamole – 5</strong></strong></p>
<p style="text-align: center;"><strong>caesar salad – 12<br /> </strong><span style="color: #666666;">romaine lettuce, </span><a href="http://www.oneluckyduck.com/products/ironbound-atlantic-nori">nori</a><span style="color: #666666;">,</span> <a href="http://www.oneluckyduck.com/products/pumpkin-seed-parmesan">pumpkin seed macadamia parmesan</a><span style="color: #666666;">, lemon, caesar dressing</span></p>
<p style="text-align: center;"><strong>kale salad – 8<br /></strong><span style="color: #666666;">curry kale, carrots, beets, cayenne almond dulse crumbs, tahini ginger dressing</span></p>
<p style="text-align: center;"><strong>spicy sesame salad – 12<br /></strong><span style="color: #666666;">shredded cabbage, beets, jicama, daikon, cashew sesame crunch, wasabi aioli, cilantro, sesame dressing</span></p>
<p style="text-align: center;"><strong>tuscan kale and radicchio salad – 15<br /></strong><span style="color: #666666;">golden raisins, pine nuts, grapes, <a href="http://www.oneluckyduck.com/products/pumpkin-seed-parmesan">macadamia pumpkin seed parmesan</a><br /></span></p>
<p style="text-align: center;"><strong>pumpkin seed and herb salad – 14<br /> </strong><span style="color: #666666;">greens, kale, parsley, cilantro, mint, </span><a href="http://www.oneluckyduck.com/products/organic-hemp-seeds">hemp seeds</a><span style="color: #666666;">, </span><a href="http://www.oneluckyduck.com/products/pumpkin-seed-parmesan">pumpkin seed macadamia parmesan</a><span style="color: #666666;">, pumpkin seed lemon dressing</span></p>
<p style="text-align: center;"><strong>taco salad – 16<br /> </strong><span style="color: #666666;">romaine lettuce, spicy taco crumble, pico de gallo, guacamole, cashew sour cream, cilantro-lime dressing</span></p>
<p style="text-align: center;"><strong>mediterranean salad</strong> <b>– 13</b><br /> <span style="color: #666666;">arugula and kale, kalamata olives, tomatoes, </span><a href="http://www.oneluckyduck.com/products/pumpkin-seed-parmesan">pumpkin seed macadamia parmesan</a><span style="color: #666666;">, balsamic vinaigrette</span></p>
<p style="text-align: center;"><strong>spicy thai lettuce wraps – 11<br /> </strong><span style="color: #666666;">mango, carrot, cabbage, </span><a href="http://www.oneluckyduck.com/products/raw-cashews">cashews</a><span style="color: #666666;">, basil, mint, cilantro, pea shoots, tamarind sauce</span></p>
<p style="text-align: center;"><strong>falafel with tabhouli – 16<br /> </strong><span style="color: #666666;">with mixed greens, lemon <a href="http://www.oneluckyduck.com/products/tahini-seasme-seed-butter">tahini</a>, red pepper hot sauce</span></p>
<p style="text-align: center;"><strong>zucchini and heirloom tomato lasagna – 19<br /> </strong><span style="color: #666666;">sun-dried tomato sauce, pistachio basil pesto, pumpkin seed macadamia ricotta</span></p>
<p style="text-align: center;"><strong>portabella and hemp seed burger – 15<br /> </strong><span style="color: #666666;">sprouted manna bread, lapsang tea smoked cashew cheese, house made mustard, pickled pink onions, caraway kraut<strong><br /> </strong>(<i style="font-weight: bold;">the manna bread is neither raw nor gluten free.</i>)</span></p>
<p style="text-align: center;"><span style="color: #666666;"> <br /> </span></p>
<h2 style="text-align: center; font color: #674ea7;"><strong><span style="color: #674ea7;">sweets</span></strong></h2>
<p style="text-align: center;"><strong>mallomar – 6<br /> </strong><span style="color: #666666;">chocolate coated pecan cookie with vanilla cream</span></p>
<p style="text-align: center;"><strong>moonpie – 9<br /> </strong><span style="color: #666666;">chocolate brownie vanilla cream sandwich</span></p>
<p style="text-align: center;"><strong>lemon bar – 8<br /> </strong><span style="color: #666666;">almond coconut crust, tart lemon custard</span></p>
<p style="text-align: center;"><b>fig bar – 5</b><br /> <a href="http://www.oneluckyduck.com/products/fig-bar">fig sandwich cookie</a><span style="color: #666666;"><br /> <em>NF (contains coconut)</em></span></p>
<p style="text-align: center;"><b>orreo cookie – 6</b><br /> <span style="color: #666666;">vanilla cream filled chocolate cookies</span><span style="color: #666666;"><br /> <em>pack of 2 cookies</em></span></p>
<p style="text-align: center;"><b style="font-weight: bold;">linzer cookie – 5</b><span style="color: #666666;"><br /> spiced hazelnut and almond cookie sandwich, raspberry jam</span></p>
<p style="text-align: center;"><b style="font-weight: bold;">raspberry cheesecake pop – 9</b><span style="color: #666666;"><br /> chocolate dipped, raspberry jam</span></p>
<p style="text-align: center;"><b>chocolate honey bunches – 8</b><br /> <span style="color: #666666;">chocolate </span><a href="http://www.oneluckyduck.com/products/honey-bunches-bar">buckwheat granola bar</a><span style="color: #666666;"> </span></p>
<p style="text-align: center;"><b>puddings – 10</b><br /> <span style="color: #666666;">mango, chocolate, vanilla</span><span style="color: #666666;"><br /> <em>NF (contains coconut)</em></span></p>
<p style="text-align: center;"><b>banana <a href="http://www.oneluckyduck.com/products/organic-raw-chia-seeds">chia seed</a> pudding – 5</b><br /><span color="#666666" style="color: #666666;">with maple-sweetened almond milk</span></p>
<p style="text-align: center;"><span style="color: #666666;"><em>all of our sweets are made without refined sugar, white flour or dairy<br /> <br /> </em></span></p>
<h2 style="text-align: center; font color: #674ea7;"><strong><span style="color: #674ea7;">juices and drinks</span></strong></h2>
<p style="text-align: center;"><b>lemonade – 6</b><span style="color: #666666;"><br /> house made, <a href="http://www.oneluckyduck.com/products/ultimate-superfoods-clear-agave-nectar">agave</a> sweetened</span></p>
<p style="text-align: center;"><b>fresh coconut water – 7/13</b><br /> <span style="color: #666666;">16oz / full 1L bottle</span></p>
<p style="text-align: center;"><b>hot pink – 7</b><br /> <span style="color: #666666;">beet, pineapple, pear, ginger</span></p>
<p style="text-align: center;"><b>fruit spice – 7</b><br /> <span style="color: #666666;">pineapple, pear, ginger</span></p>
<p style="text-align: center;"><b>bunny brew – 8</b><br /> <span style="color: #666666;">carrot, apple, ginger</span></p>
<p style="text-align: center;"><b>blue grape – 8</b><br /> <span style="color: #666666;">grapefruit, </span><a href="http://www.oneluckyduck.com/products/e3-blue-green-algae">blue-green algae</a></p>
<p style="text-align: center;"><b>green spice – 9</b><br /> <span style="color: #666666;">greens, lemon, ginger</span></p>
<p style="text-align: center;"><b>thai green – 9</b><br /> <span style="color: #666666;">greens, pineapple, cilantro, lime</span></p>
<p style="text-align: center;"><b>wheatgrass – 2.5/4.5</b><br /> <span style="color: #666666;">1 oz or 2 oz</span></p>
<p style="text-align: center;"><b>ginger shot – 4</b><br /> <span style="color: #666666;">ginger with a touch of lemon and cayenne (2 oz)</span></p>
<p style="text-align: center;"><b>almond milk (unsweetened)– 8/15</b><br /> <span style="color: #666666;">16 / 32 oz</span></p>
<p style="text-align: center;"><b>cashew milk (unsweetened) – 8/15</b><br /> <span style="color: #666666;">16 / 32 oz<br /> <br /> </span></p>
<h2 style="text-align: center; font color: #674ea7;"><strong><span style="color: #674ea7;">norwalk pressed juices</span></strong></h2>
<p style="text-align: center;"><b>green apple – 11</b><br /> <span style="color: #666666;">apple, cucumber, celery, mint, lime, spinach</span></p>
<p style="text-align: center;"><b>mean greens – 11</b><br /> <span style="color: #666666;">kale, chard, cucumber, ginger, lemon, parsley</span></p>
<p style="text-align: center;"><b>red ginger – 11</b><br /> <span style="color: #666666;">apple, orange, grapefruit, ginger, beet, pineapple</span></p>
<p style="text-align: center;"><b>swan greens – 11</b><br /> <span style="color: #666666;">cucumber, spinach, dandelion, pear, grapefruit, tarragon, spearmint, yuzu</span></p>
<p style="text-align: center;"><b>orange or grapefruit juice – 8</b></p>
<p style="text-align: center;">our cold pressed juices are made with the Norwalk Juicer, designed to minimize oxidation and preserve the maximum amount of nutrients possible in your fresh juice!</p>
<h2 style="text-align: center; font color: #674ea7;"><strong><span style="color: #674ea7;">shakes</span></strong></h2>
<p style="text-align: center;"><b>banana nut – 8</b><br /> <span style="color: #666666;">banana, cashew milk, </span><a href="http://www.oneluckyduck.com/products/maui-vanilla-powder">vanilla</a><span style="color: #666666;">, cinnamon</span></p>
<p style="text-align: center;"><b>calypso – 9</b><br /> <span style="color: #666666;">mango, raspberry, lemonade, </span><a href="http://www.oneluckyduck.com/products/maui-vanilla-powder">vanilla</a></p>
<p style="text-align: center;"><b>avocolada – 9</b><br /> <span style="color: #666666;">avocado, pineapple, coconut water, lime, </span><a href="http://www.oneluckyduck.com/products/maui-vanilla-powder">vanilla</a></p>
<p style="text-align: center;"><b>cacao or carob latte – 9</b><br /> <span style="color: #666666;">banana, cashew milk, </span><a href="http://www.oneluckyduck.com/products/cacao-powder">cacao</a><span style="color: #666666;"> or </span><a href="http://www.oneluckyduck.com/products/carob-powder">carob</a><span style="color: #666666;">, </span><a href="http://www.oneluckyduck.com/products/maui-vanilla-powder">vanilla</a></p>
<p style="text-align: center;"><b>blue sunset – 9</b><br /> <span style="color: #666666;">pineapple, mango, banana, blueberry, coconut water, </span><a href="http://www.oneluckyduck.com/products/maui-vanilla-powder">vanilla</a></p>
<p style="text-align: center;"><b>strawberry blonde – 9</b><br /> <span style="color: #666666;">strawberries, pineapple, banana, coconut water, </span><a href="http://www.oneluckyduck.com/products/maui-vanilla-powder">vanilla</a></p>
<p style="text-align: center;"><b>green mango – 9</b><br /> <span style="color: #666666;">mango, cucumber, cilantro, coconut water, lime</span></p>
<p style="text-align: center;"><b>piña colada – 12</b><br /> <span style="color: #666666;">fresh coconut, coconut water, pineapple</span></p>
<p style="text-align: center;"><b>goji high – 11</b><br /> <a href="http://www.oneluckyduck.com/products/goji-berries">goji berries</a><span style="color: #666666;">, blueberries, cashew milk, </span><a href="http://www.oneluckyduck.com/products/maui-vanilla-powder">vanilla</a></p>
<p style="text-align: center;"><b>berry blue – 12</b><br /> <span style="color: #666666;">mixed berries, banana, coconut water, </span><a href="http://www.oneluckyduck.com/products/e3-blue-green-algae">blue-green algae</a></p>
<p style="text-align: center;"><b>tropical snow – 13</b><br /> <span style="color: #666666;">fresh coconut, coconut water, </span><a href="http://www.oneluckyduck.com/products/maui-vanilla-powder">vanilla</a></p>
<p style="text-align: center;"><b>spanking – 12</b><br /> <span style="color: #666666;">fresh coconut, blueberry, banana, cashew milk, cinnamon, </span><a href="http://www.oneluckyduck.com/products/maui-vanilla-powder">vanilla</a></p>
<p style="text-align: center;"><i><b><span style="color: #666666;">shakes are no longer sweetened - please ask if you would like </span><a href="http://www.oneluckyduck.com/products/sweetleaf-stevia">stevia</a><span style="color: #666666;"> or </span><a href="http://www.oneluckyduck.com/products/ultimate-superfoods-clear-agave-nectar">agave nectar</a><span style="color: #666666;"> added</span></b></i></p>
<h2 style="text-align: center; font color: #674ea7;"><strong><span style="color: #674ea7;">supplements &amp; add-ins</span></strong></h2>
<p style="text-align: center;"><b>- supplements -</b><br /> <a href="http://www.oneluckyduck.com/products/y-s-bee-pollen">bee pollen</a><span style="color: #666666;"> (2), </span><a href="http://www.oneluckyduck.com/products/e3-blue-green-algae">blue-green algae</a><span style="color: #666666;"> (2), ground </span><a href="http://www.oneluckyduck.com/products/golden-flax-seeds">flax</a><span style="color: #666666;"> (1), </span><a href="http://oneluckyduck.com/products/vitamineral-greens">green powder</a><span style="color: #666666;"> (2), </span><a href="http://www.oneluckyduck.com/products/navitas-hemp-protein">hemp protein</a><span style="color: #666666;"> (2), </span><a href="http://www.oneluckyduck.com/products/maca-powder">maca powder</a><span style="color: #666666;"> (2), </span><a href="http://www.oneluckyduck.com/products/healthforce-spirulina">spirulina</a><span style="color: #666666;"> (2), </span><a href="http://www.oneluckyduck.com/products/tocos-plus">tocos</a><span style="color: #666666;"> (2), </span><span style="color: #666666;"><a href="http://www.oneluckyduck.com/products/moringa-oleifera">moringa</a> (3), <a href="http://www.oneluckyduck.com/products/youre-my-everything-supplement">you're my everything</a> (3)</span></p>
<p style="text-align: center;"><b>- additions -</b><br /> <a href="http://www.oneluckyduck.com/products/cacao-powder">cacao powder</a><span style="color: #666666;"> (1), </span><a href="http://www.oneluckyduck.com/products/cacao-nibs">cacao nibs</a><span style="color: #666666;"> (1), </span><a href="http://www.oneluckyduck.com/products/dastony-stone-ground-butters">almond butter</a><span style="color: #666666;"> (2), </span><a href="http://www.oneluckyduck.com/products/goji-berries">goji berries</a><span style="color: #666666;"> (2), coconut meat (3)</span></p>
<div style="text-align: center;"><b><br /> </b></div>
<div style="text-align: center;"><b>* * * * * </b></div>
<div style="text-align: center;"><b><br /> </b></div>
<div style="text-align: center;">
<p><b><em>NF </em>– nut free</b></p>
<p> </p>
<p> </p>
<p><a href="gramercy-menu" title="One Lucky Duck Gramercy Menu">View our Gramercy Menu</a></p>
<p><i>our water is filtered using TENSUI TRIPLE FILTRATION, please feel free to ask to fill up your water bottle, or if you don't have one, buy one of our <a href="http://www.oneluckyduck.com/products/one-lucky-duck-water-bottle">stainless steel, BPA free bottles </a>!</i></p>
<p><i>one lucky duck take away food and packaged products are made by hand at pure food and wine - new york's raw organic, and vegan restaurant - and one lucky duck's brooklyn production kitchen, respectively.</i></p>
<p><i>everything is kept below 118 degrees to preserve enzymes, vitamins and minerals — making it easier to digest and the most nutritionally dense food for your body</i></p>
<p><i>we use only the best plant based organic and gluten free ingredients, so your fresh juice and food is free of chemicals and preservatives (non gluten free exceptions are noted on the menu).</i></p>
<p><i><br /> </i></p>
<p>please inform us of any allergies!!</p>
<p>look for daily specials!!</p>
</div>
<div style="text-align: center;"></div>
X