<div class="pfaw-individual-menus">
<h4>PURE REFRESHERS</h4>
<p>Our cocktails are made with fresh-pressed organic juices and, if sweetened, we use only a touch of <a href="http://www.oneluckyduck.com/products/ultimate-superfoods-clear-agave-nectar">agave nectar</a>, a natural, low glycemic sweetener from the cactus plant</p>
<p><b> </b></p>
<div>
<p><b>ROSÉ SANGRIA</b><br />Our blend of rosé wine and fresh fruit over ice<br />  glass 12 | pitcher 45</p>
<p><b> </b></p>
<p><b>ORGANIC BEER</b></p>
<p><b>Pinkus Organic Pilsner</b> 16.9 oz.<br />9</p>
<p><b>Green’s Dubbel Dark Gluten Free Belgian Ale</b> 16.9 oz.<br />12</p>
<p><b>Saison Dupont ‘Foret’</b> 12.7 oz.<br />12</p>
<p><b> </b></p>
<p><b>DRAFT KOMBUCHA</b></p>
<p><b>Beyond Kombucha Love Potion </b><i>with local NY honey (3%ABV)</i><br />9</p>
<p><b>Beyond Kombucha Blueberry</b> <i>rooibos with blueberries (1%ABV)</i><br />6</p>
<p> </p>
</div>
<p><b>PURE COCKTAILS</b></p>
<p><b>Master Cleanse Tini</b><br /> lemon, maple syrup, a dash of cayenne pepper, sake<br /> 13</p>
<p><b>Pure Mojito</b><br /> fresh mint, lime juice, sake, splash of cava<br /> 13</p>
<p><b>Stargazer</b><br /> star fruit, passion fruit, yuzu, lemon, lime, sake, himalayan pink salt<br /> 14</p>
<p><b>Himalayan Paradise</b><br /> ginger, lemon, <a href="http://www.oneluckyduck.com/products/goji-berries">goji berry</a> infused sake<br /> 14</p>
<div><b>White Light Tini</b></div>
<p>lemongrass, ginger, green tea, unfiltered sake<br /> 15</p>
<p><b>Purple Haze</b><br /> concord grapes, yuzu, sake<br /> 15</p>
<p> </p>
<p><b>HOT COCKTAILS</b></p>
<p><b>Hot Apple Cider</b><br />apple cider, cinnamon, clove, allspice, orange peel, sake, splash white port<br /> 14</p>
<p><b><br /> </b></p>
<p><b>HOT SAKE</b><br /> 6 oz. serving </p>
<p><b style="font-weight: bold;">Mirror of Truth</b><br /> rich, balanced<br /> 12</p>
<p><b>Winter Yamahai</b><br /> complex,smooth<br /> 14</p>
<p><b>Three Dots</b><br /> elegant, woody<br /> 16</p>
<p><b>Whooping Crane, Organic Junmai, Texas Sake Company</b> <br /><span>traditional, bold, full bodied (Also available chilled)</span><br /><span>13</span></p>
<p><b>Nakamura, Organic Junmai (720ml)</b><br />'Akira' earth, robust (Also available chilled)<br /> 13 <span>| 65</span></p>
<p><b><br /> </b></p>
<p><b>CHILLED SAKE</b><br /> 4 oz. serving</p>
<p><b>Momokawa Oregon Organic Ginjo </b>(300ml)<br /> clean, perfectly balanced<br /> 6 | 10</p>
<p><b>Momokawa Oregon Organic Nigori Ginjo</b> (300ml)<br /> unfiltered, clean, perfectly balanced<br /> 6 | 10</p>
<p><b>Dewasakura, Nama Genshu</b> (500ml)<br /> ‘Primal Strength’ brisk, clean<br /> 12 | 49</p>
<p><b>Kamoizumi, Nigori Ginjo </b>(500ml)<br /> ‘Summer Snow’ unfiltered, lively, delicious<br /> 13 | 45</p>
<p><b>Manotsuru, Daiginjo</b> (720ml)<br /> ‘Four Diamonds’ melon, apple, rich soft finish<br /> 14 | 99</p>
<p><b>Tedorigawa, Nama Daiginjo</b> (720ml)<br /> ‘Kinka’ delicately fruity flavor<br /> 15 | 99</p>
<p><b><br /> </b></p>
<p><b>SPARKLING SAKE</b></p>
<p><b>Banzai, Bunny "Sparkling Natural" (300ml) </b><br /> lightly sweet and refreshing<br /> 23</p>
</div>