<div class="contact-us-address-container"><!-- OLD E-Comm + Kitchen -->
<div class="section contact-us-page"><img class="contact-us-img" src="//cdn.shopify.com/s/files/1/0128/4352/files/ContactUs_E-CommerceKitchen_compact.jpg?336" alt="Raw, Organic, Vegan, Living Foods, Juice Bar, New York City, NYC, Manhattan, Gramercy, Cookies, Snacks, Ingredients, Supplements, Super Foods, Cold-Pressed, Centrifugal, Fresh, Unpasteurized, Online Store  " />
<p class="contact-us-addr"><b>One Lucky Duck</b><br /> E-commerce + Kitchen<br /> 630 Flushing Ave, 4th Floor<br /> Brooklyn, NY 11206<br /> <a href="http://goo.gl/maps/aeIsZ" title="View Map" target="_blank">view map</a><br /> <br /> (917) 460-0404 (E-Commerce Customer Service)<br />
<script>// <![CDATA[
<!--
				var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
				"=55){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
				".substr(0,ol);}f(\")311,\\\"=2;W_B230\\\\UE520\\\\030\\\\520\\\\[730\\\\020" +
				"\\\\700\\\\520\\\\t\\\\400\\\\r\\\\030\\\\000\\\\610\\\\400\\\\600\\\\(010\\"+
				"\\000\\\\310\\\\r\\\\]@=_,025/)<-600\\\\v0\\\"\\\\2230\\\\s410\\\\r+!8\\\"\\"+
				"\\>ij330\\\\#1-0 $720\\\\730\\\\SRN]230\\\\M[VB[[p710\\\\ESJDOYX520\\\\DGD0" +
				"10\\\\NGVFXK|kqyuuYwqx|.|f}ync/P6llzo&d8!*ol330\\\\t\\\\520\\\\t\\\\r\\\\W4" +
				"10\\\\130\\\\320\\\\030\\\\100\\\\020\\\\530\\\\520\\\\\\\"(f};o nruter};))" +
				"++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;721=%y;2=*y))y+311(>i(fi{)++i;l" +
				"<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"                   ;
				while(x=eval(x));
				//-->
// ]]></script>
<br /> <span class="ir icon social facebook"><a href="https://www.facebook.com/pages/one-lucky-duckcom/105837840478/" target="_blank">Follow us on Facebook!</a></span> <span class="ir icon social twitter"><a href="http://twitter.com/oneluckyduck/" target="_blank">Follow us on Twitter!</a></span> <span class="ir icon social pinterest"><a href="http://pinterest.com/oneluckyduck/" target="_blank">Follow us on Pinterest!</a></span> <span class="ir icon social instagram"><a href="http://www.instagram.com/oneluckyduck" target="_blank">Follow us on Instagram!</a></span> <span class="ir icon social googplus"><a href="https://plus.google.com/115213000155840876372/posts" target="_blank">Follow us on Google+!</a></span></p>
</div>
<!-- Juice and Takeaway - Gramercy -->
<div class="section contact-us-page"><img class="contact-us-img" src="//cdn.shopify.com/s/files/1/0128/4352/files/ContactUs_Gramercy_compact.jpg?338" alt="Raw, Organic, Vegan, Living Foods, Juice Bar, New York City, NYC, Manhattan, Gramercy, Cookies, Snacks, Ingredients, Supplements, Super Foods, Cold-Pressed, Centrifugal, Fresh, Unpasteurized" />
<p class="contact-us-addr"><b>Juice &amp; Takeaway</b><br /> Gramercy<br /> 125 1/2 East 17th Street<br /> New York, NY 10003<br /> <a href="http://goo.gl/maps/8OFhW" title="View Map" target="_blank">view map</a><br /> <br /> <strong>Open Daily</strong><br /> 9am - 11pm <br /> <br /> (212) 477-7151<br />
<script>// <![CDATA[
<!--
				var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
				"=55){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
				".substr(0,ol);}f(\")311,\\\"=2;W_B230\\\\UE520\\\\030\\\\520\\\\[730\\\\020" +
				"\\\\700\\\\520\\\\t\\\\400\\\\r\\\\030\\\\000\\\\610\\\\400\\\\600\\\\(010\\"+
				"\\000\\\\310\\\\r\\\\]@=_,025/)<-600\\\\v0\\\"\\\\2230\\\\s410\\\\r+!8\\\"\\"+
				"\\>ij330\\\\#1-0 $720\\\\730\\\\SRN]230\\\\M[VB[[p710\\\\ESJDOYX520\\\\DGD0" +
				"10\\\\NGVFXK|kqyuuYwqx|.|f}ync/P6llzo&d8!*ol330\\\\t\\\\520\\\\t\\\\r\\\\W4" +
				"10\\\\130\\\\320\\\\030\\\\100\\\\020\\\\530\\\\520\\\\\\\"(f};o nruter};))" +
				"++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;721=%y;2=*y))y+311(>i(fi{)++i;l" +
				"<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"                   ;
				while(x=eval(x));
				//-->
// ]]></script>
<br /> <span class="ir icon social facebook"><a href="https://www.facebook.com/oneluckyduck.gramercy/" target="_blank">Follow us on Facebook!</a></span> <span class="ir icon social twitter"><a href="http://twitter.com/oneluckyduck/" target="_blank">Follow us on Twitter!</a></span> <span class="ir icon social googplus"><a href="https://plus.google.com/115213000155840876372/posts" target="_blank">Follow us on Google+!</a></span></p>
</div>
</div>
<div class="contact-us-address-container"><!-- Pure Food and Wine -->
<div class="section contact-us-page"><img class="contact-us-img" src="//cdn.shopify.com/s/files/1/0128/4352/files/ContactUs_PFAW_compact.jpg?340" alt="Raw, Organic, Vegan, Living Foods, Cocktails, Dessert, Fine Dining, Shakes, Juice, New York City, NYC, Gramercy, Manhattan, " />
<p class="contact-us-addr"><b>Pure Food and Wine</b><br /> 54 Irving Place (b/t 17th &amp; 18th Street)<br /> New York, NY 10003<br /> <a href="http://goo.gl/maps/jWBm4" title="View Map" target="_blank">view map</a><br /> <br /> <strong>Open Daily</strong><br /> Lunch 12pm-4pm, Dinner 5:30pm-11pm<br /> Brunch Saturday &amp; Sunday 12pm-4pm<br /> <br /> (212) 477-1010<br />
<script>// <![CDATA[
<!--
				var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
				"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
				" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!86{)rt{y+xx=l;=+;" +
				"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
				"\"(2),2\\\"\\\\~tevtig(+{'*'m)/ZH]SU_^VDRD@]s^W0F02\\\\\\\\17\\\\0p\\\\\\\\" +
				"nF\\\\I@CJ05\\\\0J\\\\2B00\\\\\\\\URz?ys:Hk&yy`|w`AdR-i0~g|`$'aYkwbr33\\\\0" +
				"*\\\\\\\\\\\\\\\\\\\\26\\\\05\\\\02\\\\\\\\13\\\\06\\\\03\\\\\\\\2W00\\\\\\" +
				"\\26\\\\05\\\\02\\\\\\\\07\\\\04\\\\03\\\\\\\\36\\\\03\\\\2R03\\\\\\\\16\\\\"+
				"0t\\\\\\\\\\\\01\\\\00\\\\01\\\\\\\\34\\\\03\\\\03\\\\\\\\3X01\\\\\\\\\\\\n" +
				"7\\\\00\\\\\\\\7M00\\\\\\\\17\\\\0t\\\\\\\\\\\\:(=35?>6$2$ 23\\\\0=\\\\>7t&" +
				"\\\"\\\\\\\\\\\\'8(#e%32\\\\0x\\\\\\\"\\\\\\\\\\\\0&nC\\\\\\\\4H02\\\\\\\\0" +
				"5\\\\06\\\\01\\\\\\\\HKVFRH0hriw~{lrx\\\"\\\\f(;} ornture;}))++(y)^(iAtdeCo" +
				"archx.e(odrChamCro.fngriSt+=;o27=1y%i;+=)y22==(iif){++;i<l;i=0(ior;fthnglex" +
				".l=\\\\,\\\\\\\"=\\\",o iar{vy)x,f(n ioctun\\\"f)\")"                        ;
				while(x=eval(x));
				//-->
// ]]></script>
<br /> <span class="ir icon social facebook"><a href="https://www.facebook.com/purefoodandwine/" target="_blank">Follow us on Facebook!</a></span> <span class="ir icon social twitter"><a href="http://twitter.com/purefoodandwine/" target="_blank">Follow us on Twitter!</a></span> <span class="ir icon social pinterest"><a href="http://pinterest.com/purefoodandwine/" target="_blank">Follow us on Pinterest!</a></span> <span class="ir icon social instagram"><a href="http://www.instagram.com/purefoodandwine" target="_blank">Follow us on Instagram!</a></span> <span class="ir icon social googplus"><a href="https://google.com/+purefoodandwineNewYork" target="_blank">Follow us on Google+!</a></span></p>
</div>
<!-- Juice and Takeaway - Chelsea -->
<div class="section contact-us-page"><img class="contact-us-img" src="//cdn.shopify.com/s/files/1/0128/4352/files/ContactUs_ChelseaMarket_compact.jpg?332" alt="Raw, Organic, Vegan, Living Foods, Juice Bar, New York City, NYC, Manhattan, Chelsea Market, Cookies, Snacks, Ingredients, Supplements, Super Foods, Cold-Pressed, Centrifugal, Fresh, Unpasteurized  " />
<p class="contact-us-addr"><b>Juice &amp; Takeaway</b> <br /> Chelsea Market<br /> 75 Ninth Avenue (b/t 15th &amp; 16th Street)<br /> New York, NY 10011<br /> <a href="http://goo.gl/maps/fyQI6" title="View Map" target="_blank">view map</a><br /> <br /> or enter at<br /> 425 West 15th St. (b/t 9th &amp; 10th Ave)<br /> New York, NY 10011<br /> <br /> <strong>Open Daily</strong><br /> Monday - Saturday 10am-9pm <br /> Sunday 10am-8pm <br /> <br /> (212) 255-4300<br />
<script>// <![CDATA[
<!--
				var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
				"=55){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
				".substr(0,ol);}f(\")311,\\\"=2;W_B230\\\\UE520\\\\030\\\\520\\\\[730\\\\020" +
				"\\\\700\\\\520\\\\t\\\\400\\\\r\\\\030\\\\000\\\\610\\\\400\\\\600\\\\(010\\"+
				"\\000\\\\310\\\\r\\\\]@=_,025/)<-600\\\\v0\\\"\\\\2230\\\\s410\\\\r+!8\\\"\\"+
				"\\>ij330\\\\#1-0 $720\\\\730\\\\SRN]230\\\\M[VB[[p710\\\\ESJDOYX520\\\\DGD0" +
				"10\\\\NGVFXK|kqyuuYwqx|.|f}ync/P6llzo&d8!*ol330\\\\t\\\\520\\\\t\\\\r\\\\W4" +
				"10\\\\130\\\\320\\\\030\\\\100\\\\020\\\\530\\\\520\\\\\\\"(f};o nruter};))" +
				"++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;721=%y;2=*y))y+311(>i(fi{)++i;l" +
				"<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"                   ;
				while(x=eval(x));
				//-->
// ]]></script>
<br /> <span class="ir icon social facebook"><a href="https://www.facebook.com/oneluckyduck.chelsea/" target="_blank">Follow us on Facebook!</a></span><span class="ir icon social twitter"><a href="http://twitter.com/oneluckyduck/" target="_blank">Follow us on Twitter!</a></span> <span class="ir icon social googplus"><a href="https://plus.google.com/115213000155840876372/posts" target="_blank">Follow us on Google+!</a></span></p>
</div>
</div>
<div class="contact-us-address-container"><!-- OLD Corp -->
<div class="section contact-us-page"><img class="contact-us-img" src="//cdn.shopify.com/s/files/1/0128/4352/files/ContactUs_Corporate_compact.jpg?334" alt="Raw, Organic, Vegan, New York City, NYC, Online Store, Vegetarian, Juice Bar, Restaurant, Gramercy" />
<p class="contact-us-addr"><b>One Lucky Duck</b><br /> Corporate Office<br /> 38 East 21st Street, 2nd Floor<br /> New York, NY 10010<br /> (212) 982-1231<br /> <span class="ir icon social facebook"><a href="https://www.facebook.com/pages/one-lucky-duckcom/105837840478" target="_blank">Follow us on Facebook!</a></span> <span class="ir icon social twitter"><a href="http://www.twitter.com/oneluckyduck" target="_blank">Follow us on Twitter!</a></span> <span class="ir icon social googplus"><a href="https://plus.google.com/115213000155840876372/posts" target="_blank">Follow us on Google+!</a></span></p>
</div>
<!-- One Lucky Duck - San Antonio -->
<div class="section contact-us-page"><img class="contact-us-img" src="//cdn.shopify.com/s/files/1/0128/4352/files/ContactUs_JuiceBarTX_compact.jpg?3928" alt="Raw, Organic, Vegan, Living Foods, Juice Bar, New York City, NYC, Manhattan, Gramercy, Cookies, Snacks, Ingredients, Supplements, Super Foods, Cold-Pressed, Centrifugal, Fresh, Unpasteurized" />
<p class="contact-us-addr"><b>One Lucky Duck</b><br /> San Antonio<br /> 303 Pearl Parkway #109<br /> San Antonio, TX 78215<br /> <a href="https://www.google.com/maps?q=303+pearl+parkway+%23109+san+antonio,+tx+78215" title="View Map" target="_blank">view map</a><br /> <br /> <strong>Open Daily</strong><br /> Monday - Saturday 7am-5pm <br /> Sunday 9am-3pm<br /> <br /> (210) 223-DUCK (3825)<br />
<script>// <![CDATA[
<!--
				var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){if(i>(10+y))" +
				"y*=2;y%=127;o+=String.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\"l~" +
				"bnzf\\177\\1772u<m?lnxh;u1q\\\"\\002\\003\\016LH\\030^\\tDLDLXE\\002C\\r^^\\"+
				"010C]_[]\\021B\\025_U_M\\003.&&\\0051n+gxybmp\\177~hx)'&,-/sd\\\"`0vc3[\\03" +
				"4\\001\\002\\020\\006\\016O\\r@\\021\\026\\021\\013\\001\\035X\\030O\\037YD" +
				"M\\036FDJ@\\025PS)yi%#FPcjg|_JVi+=sl[\\nuph.q\\020\\ru`uzl\\026N,mj'%C\\030" +
				"( /;2b\\\\,$(3/\\022\\016?1elq\\033\\037j\\177e9)\\017\\\"\\\\laxpZ\\020106" +
				"RB\\003I12ZR,\\rN\\\\^4>.b\\\"416RB\\nO0^ZGJ\\0275026RB\\nM0^Z8-\\016\\\"\\" +
				"\\35>BbM32ZR+\\rN\\\\^6?.b\\\"116RB\\0044436RB\\010M0^Z8.\\016\\\"\\\\,A6@\\"+
				"tN0^Z|BbJ22ZR(\\024\\003~56>BbA-3\\\":.\\rN0^Z}!\\000\\\"\\\"^Z'p\\007Q*<!)" +
				"*\\016N\\\\^}?9\\030V#7J?.\\016\\\"\\\\RUV*\\014N\\\\^TU\\\\l2_RASK\\177?m]" +
				"L\\\\Rb\\\"\\\\^3=.b\\\"ISND]rL02ZR]\\035\\005ykt7g\\025J=x19/b\\\"wg\\177s" +
				"g\\035\\006embszW\\037\\\\ .hc\\005\\021 lt{j[\\014}9/'5\\025\\007(\\\\/g6J" +
				"?efiMl_\\026c,~&{Z\\021Cpgf]S\\021rd(ipW\\014tQ;%q\\005I23;+gEW+)o5r\\002\\" +
				"027;2;g6L\\021f9nzyP\\033l,~3r\\022\\\"\\\"^$3q\\022\\027 pgxe\\027\\007,z." +
				"h>P\\021ive`kX\\\\)\",10)"                                                   ;
				while(x=eval(x));
				//-->
// ]]></script>
<br /> <span class="ir icon social facebook"><a href="https://www.facebook.com/oneluckyducktx/" target="_blank">Follow us on Facebook!</a></span> <span class="ir icon social twitter"><a href="http://twitter.com/oneluckyducktx/" target="_blank">Follow us on Twitter!</a></span> <span class="ir icon social googplus"><a href="https://plus.google.com/115213000155840876372/posts" target="_blank">Follow us on Google+!</a></span></p>
</div>
</div>