<div class="pfaw-individual-menus">
<h4>DINNER</h4>
<p><b><br /> </b></p>
<p><b>FIRST COURSE</b></p>
<p><strong>Wild Arugula, Curly Red Mustard Greens and Fresh Figs</strong><br /> apple, <a href="http://www.oneluckyduck.com/products/buckwheat-groats" target="_blank">buckwheat</a> poppy crunch, orange mascarpone, citrus poppy dressing<br /> 16</p>
<p><strong>Papaya Salad with Heirloom Carrots and Tomatoes, Som Tum Sauce</strong><br /> kaffir lime, galangal, sweet corn, sesame salted jungle peanuts<br /> 15</p>
<p><strong>Philly Roll of Avocado, Kim Chee and Creamy Cashew Cheese</strong><br /> tatsoi, hijiki, scallion, sweet chili sauce<br /> 19</p>
<p><strong><strong>Pumpkin Apple Crepe with Crimini Mushrooms and Caramelized Carrot Purée </strong><br /></strong>baby red russian kale, horseradish cream sauce, apple compote <br />17</p>
<p><strong>Tuscan Kale with Shaved Fennel and Orange (NF) </strong><br /> orange blossom scented honey, fennel pollen, candied almond crumbs<br /> 16</p>
<p><strong>Plate of Assorted Cultured Dr. Cow Tree Nut Cheeses and <a href="http://www.oneluckyduck.com/products/quackers">Rosemary Crisps</a></strong><br /> seasonal fruit and greens<br /> 19</p>
<p><strong>House Cured Olives with Fennel and Orange (NF)</strong><br />7</p>
<p><b><br /> </b></p>
<p><b>SECOND COURSE</b></p>
<p><strong>Zucchini and Heirloom Tomato Lasagna</strong><br /> basil pistachio pesto, sun-dried tomato marinara, macadamia pumpkin seed ricotta<br /> 24</p>
<p><strong>Cauliflower and Sweet Corn Polenta with Bourbon Maple Peaches and Radicchio</strong><br /><span>cherry tomatoes, purslane, candied pistachios, cashew cheese, avocado pistachio vinaigrette</span><br /> 25</p>
<p><strong>Curried Vegetables with Sprouted Quinoa Poppadom (NF)</strong><br /> coconut cumin, cilantro mint, and tomato tamarind sauces<br /> 22</p>
<p><strong>Hen of the Woods Tacos al Pastor</strong><br /> smoked guacamole, hearts of palm, fresh corn, guajillo crema fresca, pickled onions<br /> 22</p>
<p><strong>Portabella Mushroom with Cauliflower and Horseradish Aioli (NF)</strong><br /> kale chimichurri, peach salsa, barbecue sauce, haricots verts<br /> 23</p>
<p><strong>Fava Bean and Sweet Corn Tart with Summer Succotash</strong><br /> cape gooseberries, strawberries, melon, micro parsley<br /> 25</p>
<p><strong>Sweet Corn and Cashew Tamales with Chili Spiced Portabella</strong><br /> salsa verde, avocado, cashew coconut sour cream, raw cacao mole<br /> 26</p>
<p><strong>FIVE COURSE CHEF'S TASTING MENU</strong><br /> selected by the kitchen, entire table only please<br /> 69pp</p>
<p><b><br /> </b></p>
<p><b>THIRD COURSE</b></p>
<p><strong>Pumpkin Praline Pie</strong><br /> poached pear popsicle, praline ice cream, cranberry reduction<br /> 16</p>
<p><strong>Dark Chocolate and Almond Brownie</strong><br /> chocolate <a href="http://www.oneluckyduck.com/products/cacao-nibs">cacao chip</a> ice cream, raspberry reduction, maple-candied almonds<br /> 15</p>
<p><b><b>Apple Spice Cake</b><br /></b>smokey caramel ice cream, balsamic pomegranate sorbet, candied ginger<br />16</p>
<p><b>Chocolate and Jungle Peanut Butter Cheesecake</b><br /> peanut butter cup, salted peanut butter ice cream<br /> 16</p>
<p><b>Lemongrass Mousse Cake with Coconut-Banana Ice Cream</b><br /> pineapple mousse, black sesame streusel, passion fruit<br /> 16</p>
<p><strong>Mint Sundae with Chocolate Mint Cookies</strong></p>
<p>mint, chocolate and mint chip ice creams, chocolate sauce, vanilla cream</p>
<p>16</p>
<p><strong>Classic Sundae with Banana and Salted Almonds</strong></p>
<p><strong></strong>vanilla and chocolate ice creams, chocolate and cherry sauces, vanilla cream<br /> 16</p>
<p><strong>Seasonal Sorbet Plate (NF)</strong><br /> 14</p>
<p><strong><br /> </strong></p>
<p><strong>organic teas (NF)</strong><br />6</p>
<p>Rooibos Blend</p>
<p>White Needle</p>
<p>Jasmine Green</p>
<p>Chamomile Lavender</p>
<p>Peppermint</p>
<p>Oolong</p>
<p>Masala Chai</p>
<p>English Breakfast</p>
<p>Chimaraw, Raw Yerba Mate</p>
<p> </p>
<p>All menu items are free of dairy and eggs, and are prepared with gluten free ingredients, with noted exceptions.<br /> Please inform your server of any allergies.</p>
<p><b>NF = Nut Free Option Available (please ask server)</b></p>
<p>We use the Tensui filtration system on all water and ice in the restaurant.</p>
</div>