<div class="pfaw-events" style="text-align: left;"><img src="//cdn.shopify.com/s/files/1/0128/4352/files/PureFoodandWine_Events.png?1513" alt="Raw, Organic, Vegan, Living Foods, Dessert, Fine Dining, New York City, NYC, Manhattan, Gramercy, Catering, " />
<p>Our unique and cozy private dining room could be the perfect setting for your wedding, birthday party, private event dinner party, or gathering over cocktails and hors d’oeuvres. With careful attention to every detail, our enthusiastic event coordinator, Bonnie Crocker, can work with you to customize any special event.</p>
<p>Our private dining room can hold up to 16 for a seated dinner. For larger events, the restaurant can accommodate as many as 60 guests for seated dinner, or more for standing cocktails and hors d’oeuvres. For more information or to inquire about a specific event, please contact us at <a href="mailto:events@purefoodandwine.com">events@purefoodandwine.com</a>.</p>
 
<p><b>Off-site Catering</b></p>
</div>
<div class="pfaw-events" style="text-align: left;">
<p><span style="font-weight: normal;">We'd love to help you throw a party anywhere! Whether it’s at your home with just a few guests or a big celebration, we can handle a wide range of catering services for you. From cocktails and hors d’oeuvres to a formal seated dinner, we can bring the Pure Food and Wine experience to you.</span></p>
   
<div class="pfaw-events" style="display: inline !important;">
<p style="display: inline !important;"><b> </b></p>
</div>
<p><b>Desserts</b></p>
</div>
<div class="pfaw-events" style="text-align: left;">
<p><span style="font-weight: normal;">We can do that too! If you love our tiramisu, why not order a tray or three in cute bite sizes for an upcoming event? Mini carrot cakes? We do those too. Cheesecakes? Check. And as always, we have a big selection of cookies, including <a href="/products/chocolate-chip-cookies">chocolate chip</a>, <a href="/products/striped-cinnamon-squares">cinnamon stripes</a>, and <a href="/products/raspberry-thumbprints">raspberry thumbprints</a>, all perfect for a big tray of cookies.</span></p>
</div>