<p class="faq-header"><strong>What is the return policy for products purchased at the Juice Bar?</strong></p>
<p>Unopened products purchased at our juice bars may be returned in person within 30 days of purchase with a valid receipt.</p>
<p class="faq-header"><strong>Can I return something I purchased online at the Juice Bar?</strong></p>
<p>Unfortunately, no. Oneluckyduck.com and One Lucky Duck Juice &amp; Takeaway are separate entities. If you need to return something that you purchased from our website, please contact us at <a href="mailto:info@oneluckyduck.com">info@oneluckyduck.com</a> and see our Returns section of the FAQs, and we'll arrange for the return.</p>