<p class="faq-header"><strong>I would like to review your products on my blog! Could you send me some samples?</strong></p>
<p>We love to send samples of our packaged snacks whenever we can, but sadly we can't send them to everyone! Please email us at <a href="mailto:info@oneluckyduck.com">info@oneluckyduck.com</a> with your blog name and web address, and let us know what you'd like to write about. We'll get back to you shortly!</p>
<p class="faq-header"><strong>I'd love to do a piece on One Lucky Duck / Pure Food and Wine!</strong></p>
<p>Thank you, we're very flattered! Call us at the corporate office at (212) 982-1231 to arrange the photo shoot. See also our press page.</p>