<h3 id="your-account" class="faq-header"><strong>YOUR ACCOUNT</strong></h3>
<p class="faq-header"><strong>How do I create an account on oneluckyduck.com?</strong></p>
<p>We'll ask you to create an account during the checkout process after you've made a purchase with us for the first time. You can always sign in as a guest if you don't want to create an account with us, but creating an account gives you access to cool features like reviewing your order history and saved payment methods for faster checkouts in the future!</p>
<p class="faq-header"><strong>What happens if I forget my password?</strong></p>
<p>Please click the "Forgot your password?" link next to the account log in. You will be sent an email to reset your password.</p>
<p class="faq-header"><strong>How do I join your mailing list?</strong></p>
<p>Please click here and enter your email to sign up!</p>
<h3 id="orders-payments" class="faq-header"><strong>ORDERS &amp; PAYMENTS</strong></h3>
<p class="faq-header"><strong>What Credit Cards do you accept?</strong></p>
<p>We accept all major credit cards including Visa, MasterCard, American Express, and Discover cards.</p>
<p class="faq-header"><strong>Do you accept payment via PayPal or check?</strong></p>
<p>We do accept payment via PayPal. To link to your PayPal account, simply choose the "Check out with PayPal" icon at the bottom of your shopping cart. This will bring you to PayPal's site for secure billing. We don't accept personal checks.</p>
<p class="faq-header"><strong>I'm missing an item(s) in my order!</strong></p>
<p>If you haven't received all the items in your order, please contact us immediately at <a href="mailto:info@oneluckyduck.com">info@oneluckyduck.com</a>. We apologize in advance!</p>
<p class="faq-header"><strong>The product(s) I received were damaged. What do I do?</strong></p>
<p>Oh no! We pack our orders with love and care and try to prevent any damage. If this has occurred despite our efforts, please contact us at <a href="mailto:info@oneluckyduck.com">info@oneluckyduck.com</a> immediately!</p>
<p class="faq-header"><strong>I think my product(s) have gone bad. What do I do?</strong></p>
<p>Keep in mind that our cookies and snacks are all made and packaged by hand in small batches by our talented pastry staff. Because the characteristics of raw ingredients naturally vary, and we dry everything at very low temperatures over many hours (or even days), our snacks may not always be exactly the same from batch to batch (how do those Keebler elves do it?) but they should always be delicious and you can rest assured you're getting the best quality product made by caring humans, not machines (or elves). If something still seems off taking this into consideration, contact us at <a href="mailto:info@oneluckyduck.com">info@oneluckyduck.com</a> and tell us what's wrong (include the expiration dates if applicable) and we'd be happy to help!</p>
<p class="faq-header"><strong>I'd like to cancel/change my order! </strong></p>
<p>If you'd like to cancel or change your order, please call (917) 460-0404 as soon as possible. We'll do everything we can to help you! But please remember our order-fulfillment and shipping processes are designed to get orders to you as quickly as possible. Therefore, we cannot change or cancel an order once it has entered the shipping process.</p>
<p><b>Please note:</b> If you cancel an item that qualified you for a promotion or special deal, you may no longer receive that discount or promotion.</p>
<p class="faq-header"><strong>Do I have to pay tax?</strong></p>
<p>We are required to collect sales tax for deliveries to addresses in New York State. The tax rate applied to your order will generally be the combined state and local rates for the address where your order is shipped. We are required to collect tax on shipping and handling charges where applicable.</p>
<p class="faq-header"><strong>Do you have any coupons or promotions?</strong></p>
<p>We often have coupons and promotions available exclusive to our newsletter subscribers. Promotions can't be combined with other offers.  Specific details, such as expiration date, will be given with each promotion. To sign up for our newsletter <a href="http://eepurl.com/roVZz" title="Sign up for our Newsletter!" target="_blank"><span style="color: #9900ff;">click here</span></a>. We hope they'll make you smile!</p>
<p class="faq-header"><strong>Can I order online and pick up my order at One Lucky Duck Juice &amp; Takeaway?</strong></p>
<p>Unfortunately, no. Our One Lucky Duck E-Commerce headquarters used to be only blocks away from One Lucky Duck Juice &amp; Takeaway, but no longer! We've moved these operations (along with our snack production!) to a much bigger production space in Brooklyn, which means we can make a lot more goodies and have more space for product inventory. Sadly, we can't have customers come pick them up anymore. We sell most of what we offer on our website at both of our juice bars. You can see their location information <a href="/pages/contact-us/"><span style="color: #9900ff;">here</span></a>.</p>
<h3 id="returns-refunds" class="faq-header"><strong>RETURNS &amp; REFUNDS</strong></h3>
<p class="faq-header"><strong>What is oneluckyduck.com's return policy?</strong></p>
<p>We hope you love everything you order from us! At One Lucky Duck, we have extremely high standards and quite the discerning eye when it comes to picking products. We believe you will feel as good about our selection of products as we are to be selling them. Everything we sell can be vouched for by many of the employees who use them regularly. Should you be less than happy with anything you've ordered, please contact us right away. Please return items to us within 30 days of receiving the products. Unfortunately we can only accept returns of unopened product. We do not provide pre-paid return labels and recommend a tracking method for shipping the return. If you are unsure about any products, before making a purchase please email us, and we can give you our feedback.</p>
<p><strong>Address for returns:</strong><br /> One Lucky Duck E-Commerce<br /> 630 Flushing Avenue, Suite #4123<br /> Brooklyn, NY 11206</p>
<p class="faq-header"><strong>Can I cancel or modify my order?</strong></p>
<p>We typically try to get orders shipped out on the same day that we receive them, so if you do decide to cancel or change your order, please call us at (917) 460-0404 immediately! Once your order has been shipped, we can't make any modifications.</p>
<p><b>Please note: </b>If you cancel an item that qualified you for a promotion or special deal, you may no longer receive that discount or promotion.</p>
<p class="faq-header"><strong>Can I return drop-shipped items that I ordered from oneluckyduck.com, such as the Excalibur Food Dehydrator, Vita-Mix, Champion Juicer, GreenStar Juice Extractor, Clearlight Sauna or Rebounder?</strong></p>
<p>Dropshipped items are sent to you directly from the manufacturer. Each company may have a different return policy. Please contact us at <a href="mailto:info@oneluckyduck.com">info@oneluckyduck.com</a> if you have one of these items and need to return it and we can arrange it for you. Please note that each item may have a different return policy.</p>
<p class="faq-header"><strong>What should I do if there is something wrong with my order?</strong></p>
<p>If you are missing items or if something is wrong with your order, please email us immediately at <a href="mailto:info@oneluckyduck.com">info@oneluckyduck.com</a>.</p>
<p class="faq-header"><strong>Can I return a One Lucky Duck Gift Card or E-Code?</strong></p>
<p>Gift Cards and Online Shopping Codes are non-refundable and cannot be replaced if lost or stolen.</p>
<p class="faq-header"><strong>Can I return cosmetics?</strong></p>
<p>We will accept returns or exchanges on unopened cosmetics only. Even if a product has not been used, we don't accept any products that have been opened. Sorry!</p>
<p class="faq-header"><strong>How long will it take me to receive my credit?</strong></p>
<p>Please allow 3 to 5 business days for a return, 1 business day for store credit. If you have returned something, we will process your credit once we have received the item from you, and send you a confirmation email. If you do not see the funds applied to your account a week after receiving the return confirmation, please contact us.</p>
<h3 id="shipping-delivery" class="faq-header"><strong>SHIPPING &amp; DELIVERY</strong></h3>
<p class="faq-header"><strong>A note about large orders:</strong></p>
<p>Though we normally have a large amount of snacks and ingredients in stock, please allow extra time for shipping on very large orders. If you're looking for expedited shipping on large orders (you must be hungry!) please call us at (917) 460-0404 or email us at <a href="mailto:info@oneluckyduck.com">info@oneluckyduck.com</a> to be sure that the quantity you've ordered is immediately available. If you place the order and the full quantity is not available, we'll reach out to you right away!</p>
<p class="faq-header"><strong>How do I know when my order ships?</strong></p>
<p>Typically, orders ship out the same day they were placed if the order is placed before 12PM (Eastern Time). Large orders, including cases of One Lucky Duck snacks, may take additional production time and will take longer to ship. Orders placed after 12PM (Eastern Time) Friday through Sunday and during major holidays, may not be received until the following business day. <i>Please note that if we have a larger number of orders than usual, your order may not go out the same day it was received! <b>If you are ordering something that is time sensitive, we suggest you choose an Express shipping option. You can also email us at info@oneluckyduck.com to let us know!</b></i><b> </b>You'll receive an automatic email sent to the email address you gave us for your order as soon as it ships out. You can also check your tracking number, which can be found in your One Lucky Duck account and the shipping confirmation email.</p>
<p class="faq-header"><strong>Where can I find my tracking number? </strong></p>
<p>Your tracking number is sent to you in an email confirming your order. It is also available if you have a OneLuckyDuck.com account by clicking on "My Account" and selecting the order from the list of your order history. This page will provide you with the status of your order, and, if your order has shipped, its tracking number. If you are unable to locate your tracking number, please don't hesitate to email us at <a href="mailto:info@oneluckyduck.com">info@oneluckyduck.com</a>. </p>
<p class="faq-header"><strong>Once the order goes out, how long will it take to get me?</strong></p>
<p>Ship time depends on the method that you choose and how far you are away from NYC. The default shipping option is FedEx Home Delivery (Ground). The ship time can greatly vary. If you are shipping to an area in the northeast, it may get to you in 1 or 2 days. If you are shipping to the west coast, it may take 5 days. Shipping to Alaska or Hawaii may take 6 or 7 days. Check the <a href="http://www.oneluckyduck.com/pages/faqs-e-commerce#ground-shipping-map"><span style="color: #9900ff;">FedEx Map</span></a> below to learn more. We offer several other shipping methods, so if you would like your package sooner, please choose one of those options. You can always email us at <a href="mailto:info@oneluckyduck.com">info@oneluckyduck.com</a> or call the office at (917) 460-0404 if you have any questions!</p>
<p class="faq-header"><strong>How do I receive a copy of my invoice?</strong></p>
<p>Once you place an order, you should receive an email confirmation. This email will include your invoice. We will also include a paper copy with your order, unless it is a gift.</p>
<p class="faq-header"><strong>Can I order online and pick up my items at one of the Juice Bars?</strong></p>
<p>Our shipping and e-commerce headquarters have moved to an industrial space in Brooklyn. Although we used to accommodate pick up orders because our offices were close to our Gramcery juice bar location, that's no longer the case, so sadly, we can't allow pick-ups anymore. Please note that we carry many of the products from our website in the juice bars, so it may be easier for you to make your purchase right in the juice bar! Please call our <a href="http://www.oneluckyduck.com/pages/juice-and-takeaway"><span style="color: #9900ff;">juice bar locations</span></a> to ask if they have what you're looking for.</p>
<p class="faq-header"><strong>I never received my order. What should I do?</strong></p>
<p>Depending on where you are, orders can take up to 10 days to reach you. You can check the status of your order with your tracking number, which can be found in your One Lucky Duck account and in the shipping confirmation email sent to you. If you suspect your package is lost or was not shipped, please email us at <a href="mailto:info@oneluckyduck.com">info@oneluckyduck.com</a> or call our office at (917) 460-0404 immediately and we'll help you!</p>
<p class="faq-header"><strong>Do you offer gift-wrapping?</strong></p>
<p>Yes, we can absolutely gift-wrap your order! Gift orders receive special attention. Upon request, we are happy to put items into gift boxes with wrapping and a card for $10. When you checkout, be sure to check the Gift Wrapping box at the bottom of your cart. Please write the message you wish to be written on the card in the "Notes" section of your order. Please note that items that are dropshipped can't be gift-wrapped.</p>
<p class="faq-header"><strong>Can you ship to a P.O. Box?</strong></p>
<p>Yes! We ship via FedEx Smart Post (ground service only, not express - sorry!) to P.O. Boxes. </p>
<p class="faq-header"><strong>Do you ship internationally?</strong></p>
<p>Yes, we ship all over the world! There are four options available on our website: USPS International Priority, USPS Express International, FedEx International Economy, and FedEx International Priority. The USPS methods that we offer are cheaper, but please note that USPS does NOT guarantee these shipments. We recommend using FedEx as it is a more reliable service. To learn more about our international shipping option, see our <a href="http://www.oneluckyduck.com/pages/faqs-e-commerce#international-shipping-methods"><span style="color: #9900ff;">International Shipping</span></a> section below.</p>
<p class="faq-header"><strong>How do you calculate shipping costs?</strong></p>
<p>Shipping options are available at the customer's preference. Shipping fees are based on the weight of the order and the distance (from New York City) that it is being shipped, and are pulled directly from the shipping company (FedEx and USPS). If you have a time sensitive package and are wondering when it will ship out, feel free to call us at (917) 460-0404 or email us at <a href="mailto:info@oneluckyduck.com">info@oneluckyduck.com</a>.</p>
<p class="faq-header"><strong>What does it mean when an item is drop-shipped?</strong></p>
<p>Some products we sell, such as dehydrators, juicers, rebounders, and saunas, are dropshipped. Dropshipped items are shipped directly from the manufacturer, not from One Lucky Duck. These items ship via ground services. Please allow an extra 5 to 7 business days for these products to arrive. Dropshipped items cannot currently be shipped internationally and do not count as part of free shipping promotions.</p>
<h3 id="domestic-shipping-methods" class="faq-header"><strong>DOMESTIC SHIPPING METHODS</strong></h3>
<p class="faq-header"><strong>USPS First Class Mail</strong></p>
<p>Some of our products (gift cards and nut milk bags) can fit in an envelope and be mailed via regular First Class Mail; we offer this so that there is a free option for smaller items! This means that we put the item in an envelope with a stamp and put it in the mail box. This free option does<b> not have tracking available</b> and is <b>not guaranteed</b>. It typically takes a few days, like any letter, but it is possible that its delivery can be delayed or that the item may be lost. Because this free option is not guaranteed, we cannot be responsible for its arrival. <b>For guaranteed delivery and tracking information, please choose a FedEx option.</b></p>
<p class="faq-header"><strong>FedEx Ground/Home Delivery (default)</strong></p>
<p>We offer Fed-Ex Home Delivery for domestic ground shipping. FedEx Home Delivery can take anywhere from 1 to 7 business days from the time your order leaves our office, depending on the destination. (To see how long it will take for your package to arrive, <a href="http://www.oneluckyduck.com/pages/faqs-e-commerce#ground-shipping-map">see map below</a>.) Home Delivery Service (for residential addresses) delivers Tuesdays-Saturdays, not including major holidays. Ground Service (for non-residential addresses) delivers Monday-Friday. P.O. Boxes are shipped via FedEx Smart Post. Home Delivery (residential) shipments can be delivered without a signature. There may be extra charges to require a signature; please notify us of this request. Once the courier indicates that the package has been delivered, One Lucky Duck and the courier have no responsibility for lost or damaged packages. If you would like a signature without waiting to contact us, please choose an expedited shipping option such as FedEx Express Saver, FedEx 2 Day, or Overnight Shipping.</p>
<p class="faq-header"><strong>FedEx Express Saver</strong></p>
<p>This option takes 3 business days (from the time your order leaves our office) and will be delivered to businesses by 4:30PM and to residences by 7PM. Not available with items that ship directly from the manufacturer (i.e. Dehydrators, Rebounders, Saunas, Juicers). This option is also not available for deliveries to P.O. Boxes. Saturday delivery available for an extra charge. </p>
<p class="faq-header"><strong>FedEx 2 Day</strong></p>
<p>This option takes 2 business days (from the time your order leaves our office) to most areas and will be delivered by 4:30PM to businesses and by 7PM to residences. Not available with items that ship directly from the manufacturer (i.e. Dehydrators, Rebounders, Saunas, Juicers). This option is also not available for deliveries to P.O. Boxes. Saturday delivery available for an extra charge. </p>
<p class="faq-header"><strong>FedEx Standard Overnight</strong></p>
<p>This option is delivered next business day (from the time your order leaves our office) by 3PM to most U.S. addresses and by 4:30PM to rural areas. Not available with items that ship directly from the manufacturer (i.e. Dehydrators, Rebounders, Saunas, Juicers). This option is also not available for deliveries to P.O. Boxes. Saturday delivery available for an extra charge. </p>
<p class="faq-header"><strong>Fed-Ex Priority Overnight</strong></p>
<p>This option arrives next business day (from the time to your order leaves our office) by 10:30AM to most U.S. addresses; by 12PM, 4:30PM, or 5PM in remote areas. Not available with items that ship directly from the manufacturer (i.e. Dehydrators, Rebounders, Saunas, Juicers). This option is also not available for deliveries to P.O. Boxes. Saturday delivery available for an extra charge. </p>
<p><strong>Fed-Ex First Overnight</strong></p>
<p>This option arrives next business day (from the time to your order leaves our office) by 8:00AM, 9:00AM, or 9:30AM to most U.S. addresses; by 10AM, 11AM, or noon in remote areas. Not available with items that ship directly from the manufacturer (i.e. Dehydrators, Rebounders, Saunas, Juicers). This option is also not available for deliveries to P.O. Boxes. Saturday delivery available for an extra charge. </p>
<br />
<h3 id="ground-shipping-map" class="faq-header"><strong>When will my order arrive?</strong></h3>
<p> </p>
<p>If you choose FedEx Home Delivery/Ground, our default shipping option, use this map to determine when your package will arrive:</p>
<p><img src="//cdn.shopify.com/s/files/1/0128/4352/files/Screen_Shot_2013-02-05_at_1.37.30_PM.png?1938" alt="" /></p>
<p>NOTE: This reference map shows the amount of business days it will take for FedEx Home Delivery/Ground shipments to arrive from NYC. Home Delivery (residential destinations ONLY) are delivered Tuesday-Saturday. Ground (commercial destinations) are delivered Monday-Friday.</p>
<h3 id="international-shipping-methods" class="faq-header"><strong>INTERNATIONAL SHIPPING METHODS</strong></h3>
<div><strong><i>*Please note: Costs are for international shipping only, and do not include duties and taxes. Duties and taxes vary by country and are the responsibility of the recipient. We are sorry, but we are unable to mark packages as "gifts" to avoid customs charges. </i></strong></div>
<div><strong><i><br /> </i></strong></div>
<p class="faq-header"><strong>USPS Priority Mail International</strong></p>
<p>The United States Postal Service's Priority Mail option is the least expensive option for international shipments. It generally takes 6-10 days (once your order leaves our office) for your package to arrive to its destination. Please be advised that once the item is outside of the US, USPS is unable to provide tracking information. However, a notification will be sent via e-mail when it has arrived at the destination. Depending on size of order and destination, the rates and delivery time will vary. If your order is in transit for longer than 10 business days from the day you received a shipping notification from us, it may be being held in customs. We have no way to know when the package will be released. For this reason, we recommend choosing FedEx International Priority if you have a time sensitive package. FedEx's tracking capability is far superior. We are not responsible for packages lost using this shipping method. If you think your package may be at risk to be misplaced, please choose a FedEx International shipping option which provides insurance on the package.</p>
<p class="faq-header"><strong>USPS Express Mail International</strong></p>
<p>USPS  Express Mail International generally takes 3 to 5 business days (once your order leaves our office) for your package to arrive to its destination. Please be advised that once the item is outside of the US, USPS is unable to provide tracking information. However, a notification will be sent via e-mail when it has arrived at the destination. Depending on size of order and destination, the rates and delivery time will vary. If your order is in transit for longer than 5 business days from the day you received a shipping notification from us, it may be being held in customs. We have no way to know when the package will be released. For this reason, we recommend choosing FedEx International Priority if you have a time sensitive package. FedEx's tracking capability is far superior. We are not responsible for packages lost using this shipping method. If you think your package may be at risk to be misplaced, please choose a FedEx International shipping option, which provides insurance on the package.</p>
<p class="faq-header"><strong>FedEx International Economy</strong></p>
<p>FedEx International Economy is our recommended shipping method for international shipments.  Packages typically arrives in 2 to 5 business days (once your order leaves our office.) Packages shipped via FedEx generally go out the same day the order is placed or the following business day. Full detailed tracking is available, even after the package has left the U.S. FedEx has proven to be a more reliable service than USPS, however if anything were to happen to your package en route, FedEx will cover the value.</p>
<p class="faq-header"><strong>FedEx International Priority</strong></p>
<p>FedEx International Priority typically arrives in 1 to 3 business days (once your order leaves our office.) Packages shipped via FedEx generally go out the same day the order is placed or the following business day. Full detailed tracking is available, even after the package has left the U.S. FedEx has proven to be a more reliable service than USPS, however if anything were to happen to your package en route, FedEx will cover the value.</p>
<h3 id="ingredient-questions" class="faq-header"><strong>INGREDIENTS</strong></h3>
<p class="faq-header"><strong>Can I use your bulk ingredients in non-raw vegan recipes?</strong></p>
<p>Yes! In fact, it's actually better to start with raw ingredients in any recipes, even if you plan on cooking or baking them because you're starting with whole food. Your end result will be less processed and therefore, more nutritious! We'd love to hear what goodies you're making with our ingredients!!</p>
<p class="faq-header"><strong>I noticed that some of your ingredients, like maple syrup, are not technically "raw." Why do you use them?</strong></p>
<p>We are aware that ingredients like maple syrup are heated above 118 degrees, and are therefore not technically "raw." While maple syrup is not raw, it is widely used in the raw food community as a sweetener because it's a pure food that still retains a lot of nutrition and minerals. Maple syrup has a rich flavor that adds to our desserts and snacks, and should be enjoyed as a treat! We also use a gluten-free, organic tamari sauce that is not raw. We chose this over its raw cousin, nama shoyu, to make sure that all of our snacks were free of gluten. We realize that some raw foodists do not wish to consume these products, so we make sure to clearly label any product that contains it or any other not raw ingredient.</p>
<p class="faq-header"><strong>Since honey comes from bees, some people do not consider it vegan. If you are a vegan company, why do you use bee products?</strong></p>
<p>Honey and bee products are a controversial issue within the vegan community. Some vegans very strongly believe that honey should not be considered vegan, while others feel comfortable consuming it for its medicinal benefits. We know that this is a touchy subject, but we also want to make sure we cater to everyone, not just strict vegans, not just raw foodists, but anyone who is looking to include more healthy, whole foods in their diet.</p>
<p>We make sure that our bee products come from high quality, local apiaries that treat their bees with the utmost care. We have spoken to several beekeepers and have been assured that the processes they use can be safe for the bees, and actually helps encourage pollination. Bees that are cared for correctly can be safe from Colony Collapse Disorder, which has been devastating hives at a rapid rate. This is important because without bees, we would not have any of the fruits and vegetables we thrive on! Because we know that some people do not wish to consume any bee products, we always make sure to clearly label any items that contain them. Please read the ingredients, and feel free to email us at <a href="mailto:info@oneluckyduck.com">info@oneluckyduck.com</a> if you have any other questions.</p>
<h3 id="giftcards-ecertificates" class="faq-header"><strong>GIFT CARDS &amp; E-CERTIFICATES</strong></h3>
<p class="faq-header"><strong>Do you offer gift certificates?</strong></p>
<p>Yes, we offer both gift cards and e-codes. They are a great gift and give the recipient flexibility in their purchases. <i><b>Please note: There are TWO types of gift certificates!!</b></i></p>
<p><strong>Gift Cards</strong> are the most flexible certificate we offer and can be used online at oneduckyduck.com, as well as at all of our New York locations: Pure Food and Wine and both One Lucky Duck Juice &amp; Takeaways. It is an actual cute pink little card, so mail them to you or to your recipient directly.</p>
<p><strong>E-Codes</strong> are different from gift cards in a few ways, so we want to clearly explain the differences so can make an informed choice! 1) They can ONLY be used online at oneduckyduck.com and can't be used at any of our physical locations (Pure Food and Wine or One Lucky Duck Juice &amp; Takeaways), 2) As of right now, gift codes are not suitable partial use. This means you must use the ENTIRE amount associated with the gift code when redeeming on oneluckyduck.com. We fully understand that this may be inconvenient and we are working towards a solution as you read this! Lastly, 3) The gift code is conveniently emailed to you immediately after purchase, so you can forward them on to the recipient moments later. This is great for last minute gift emergencies or for those living far away from NY who will only be shopping online.</p>
<p class="faq-header"><strong>Can I use an E-Code at the restaurant?</strong></p>
<p>No, our E-codes can't be used at our restaurant or juice bars. Our e-codes are electronic and can ONLY be used on oneluckyduck.com. They are emailed directly to at the time of purchase. Please make sure to choose a gift card if you'd like to give a gift that can be used at the physical locations as well! If you've received an E-Code and you'd like to use it at the restaurant or juice bars, please contact us and we can cancel the E-Code and mail you out a Gift Card for the equivalent value, no problem!</p>
<p class="faq-header"><strong>How do I redeem a Gift Card or E-Code?</strong></p>
<p>Once you are in your Shopping Cart, please click on the Check Out button. Once you have entered your billing and shipping address, select Continue to next step and under How would you like to pay for your order?, select Gift Card and select Complete My Purchase and then on the next screen select Submit Order. You will then be directed to a screen where you will be asked for your billing information (again, we know this is redundant and we're sorry!). You will have to enter your billing information regardless of whether or not your gift card covers the amount of your purchase. If your total is more than the amount on your gift card, the remaining balance will be charged to your credit card. If your gift card does cover the amount of your purchase, then we apologize for the inconvenience of having to enter your billing information anyway. It's something we are working on addressing as you read this! Once you are finished, please click on Summarize Order. The next screen takes you to a summary screen of your transaction and you will be prompted to click Submit Order one last time. Your order will then be processed (finally!).  You will receive a confirmation email that will tell you the amount applied from the gift card as well as any amount charged to your credit card along with the total.<br /> <br /> <strong>Please note</strong>, if you have an account with us, your billing information will automatically populate and this should save you some time when completing your purchase.</p>
<p class="faq-header"><strong>Instructions for redeeming e-codes:</strong></p>
<p>When checking out, simply enter your entire e-code in the space denoted Discounts. <strong>PLEASE NOTE:</strong> E-codes can't be used at Pure Food and Wine, or either One Lucky Duck Juice Bar! E-Codes can ONLY be used online!</p>
<p>To use a Gift Card at any of our physical locations, simply hand your server the card when it's time to pay!</p>
<p class="faq-header"><strong>Do your gift certificates expire?</strong></p>
<p>No, our gift certificates do not expire and can be used at any time.</p>
<h3 id="products-we-sell" class="faq-header"><strong>PRODUCTS</strong></h3>
<p class="faq-header"><strong>Do you have nutritional information for your products?</strong></p>
<p>We currently do not gather the nutritional facts for our One Lucky Duck snacks. Getting the nutritional testing done accurately is a very involved process. As a small business, we prefer to focus on creating recipes with high quality, organic, raw ingredients! Some small companies buy numbers from a database, but these can be highly inaccurate and often don't include some of the more exotic ingredients that we use in our foods. If we do get our nutritional facts done, we want to make sure that we're giving our customers accurate information! Our chefs also enjoy the flexibility of being able to tweak and perfect recipes over time, and we do this frequently, making adjustments to make our products better and better. We would not be able to do that if we had our nutritional facts in place because changing them every time we alter a recipe would be costly and time consuming. Finally, we believe that the quality of the ingredients and the foods used are way more important than arbitrary numbers. That being said, we are open to getting our nutritional panels professionally done once we're a larger company with more standardization and resources.</p>
<p class="faq-header"><strong>Do you offer bulk discounts?</strong></p>
<p>Yes, we offer bulk discounts on our website for all of our One Lucky Duck products. If you purchase a case (12 count) of a One Lucky Duck snack or ingredient, you'll receive a discount*! When you go to purchase the items, make sure you choose "CASE" in the drop down menu. <em>(*Discount varies depending on the item.)</em></p>
<p class="faq-header"><strong>How can I learn more about a product?</strong></p>
<p>We include a plethora of information on each product page, including descriptions, ingredients, sourcing, and uses. To find this, simply click on the product you're looking for, and expand each section to learn more! If you still have questions, we'd love to hear from you. Email us at <a href="mailto:info@oneluckyduck.com">info@oneluckyduck.com</a> or call the office at (917) 460-0404.</p>
<p class="faq-header"><strong>I'm not a raw foodist or vegan. Can I still enjoy your products?</strong></p>
<p>Yes, you can still enjoy all of our products! Although our products are raw, vegan, organic, many of our customers are not raw, vegan, or vegetarian! They just like our products. We fully support the raw vegan community, but we also love that we cater to everyone, encouraging people of all dietary persuasions to eat a healthier, more natural, more plant-based diet.</p>
<p class="faq-header"><strong>Is your packaging eco-friendly?</strong></p>
<p>Yes! We do our best to source packaging that's as environmentally friendly as possible, and we're always looking to improve, and make changes as the packaging industry develops.</p>
<p class="faq-header"><strong>I have an allergy. How do I avoid eating something I'm allergic to?</strong></p>
<p>All of our ingredients are clearly stated on each product page. If you are allergic to or trying to avoid a particular ingredient, please make sure to check the product page thoroughly! If you are still unsure, please email us at <a href="mailto:info@oneluckyduck.com">info@oneluckyduck.com</a> with your specific concern.</p>
<p class="faq-header"><strong>Do you make custom items?</strong></p>
<p>At this time, we are not set up to do custom orders. If you are planning on ordering a very large quantity and give us adequate notice, however, we may be able to fulfill your request. (No promises! Our kitchen is always very busy!!) Please email us at <a href="mailto:info@oneluckyduck.com">info@oneluckyduck.com</a> with details, including what you would like, how much, and for when, and we will get back to you either way.</p>
<p class="faq-header"><strong>How do I store my snacks?</strong></p>
<p>Most of our snacks can be stored in a cool, dry place (like a pantry) in a sealed container (like the resealable bags we sell them in.) If it is very hot or humid, you may want to keep some items in the fridge, especially treats like macaroons or chocolate chip cookies. The coconut oil we use can liquefy at warm temperatures. If this happens, don't worry! Your snacks are still good! Put them in the fridge to restore the right consistency and they'll be as good as new!</p>
<p class="faq-header"><strong>You are out of a product that I really want. How can I be notified when it's back in stock?</strong></p>
<p>Email us at <a href="mailto:info@oneluckyduck.com">info@oneluckyduck.com</a> and let us know which product you're waiting for. As soon as we have it back in stock, you'll be the first to know!</p>
<h3 id="samples" class="faq-header"><strong>SAMPLES</strong></h3>
<p class="faq-header"><strong>Do you offer samples?</strong></p>
<p>We love for our customers to get to try something new, so we do our best to always include samples with every order! If you are looking for press samples, please contact <a href="mailto:info@oneluckyduck.com">info@oneluckyduck.com</a>.</p>
<h3 id="promotions" class="faq-header"><strong>PROMOTIONS</strong></h3>
<p class="faq-header"><strong>Do you offer any coupons or promotions?</strong></p>
<p>Yes, we do offer promotions and coupons to subscribers of our newsletter. To sign up, simply <a href="http://eepurl.com/roVZz" title="Sign up for our Newsletter!" target="_blank"><span style="color: #9900ff;">click here</span></a>.</p>
<p class="faq-header"><strong>Why is my promotion code not being applied to my order?</strong></p>
<p>There are a couple of reasons why the code you're using may not be working.</p>
<p>Make sure that the code is entered EXACTLY as it appears, without spaces. The codes are case sensitive; most of our codes are in all CAPS.</p>
<p>Check to see if you've entered it in the correct field. The code should be entered in the space denoted – Discounts during the check out process.</p>
<p>Look at the details of the promotion. Many times, the deal has a minimum purchase amount or only applies to specific items.</p>
<p>See if the code has expired. This should be noted wherever you found the code (our newsletter, Facebook, etc.)</p>
<p>If you have gone through all of these and are still having a problem, please email us at <a href="mailto:info@oneluckyduck.com">info@oneluckyduck.com</a> for assistance. NOTE: Your card is charged at the time of purchase, so putting the promo code in the "Notes" field and asking us to apply it for you will result in your card being charged the full amount!</p>
<h3 id="retail-locations" class="faq-header"><strong>RETAIL LOCATIONS</strong></h3>
<p class="faq-header"><strong>Do you have a retail location?</strong></p>
<p>One Lucky Duck Juice &amp; Takeaway has two locations that carry many of the same products that we sell online, plus our juices, shakes, food, and desserts. The Gramercy location is at 125 1/2 East 17th St (between Irving and 3rd Ave) right around the corner from Pure Food and Wine, and is open every day from 9AM-11PM. The Chelsea location is at 425 West 15th St (right inside the 9th Ave entrance to Chelsea Market) and is open every day at 10AM. Our juice bars are small, so we don't have enough room to carry all of the products we sell on the website, but oneluckyduck.com is open 24/7!</p>
<p class="faq-header"><strong>Can I buy everything from your website in the Juice Bars?</strong></p>
<p>No. Our Juice Bars are awesome, but have very limited space. We do feature most of our own products there and some of our more popular third party products!</p>
<p class="faq-header"><strong>Are your snacks sold at any other retail locations?</strong></p>
<p>Currently, our snacks are only available at oneluckyduck.com and our One Lucky Duck Juice &amp; Takeaway locations. All of our snacks are handmade in our own kitchen in Brooklyn. We like selling direct to you, our customers! If we grow further, we may decide to sell via third parties, but for now we are not selling our products at any other retail locations. Please <a href="http://eepurl.com/roVZz" title="Sign up for our Newsletter!" target="_blank"><span style="color: #9900ff;">sign up for our newsletter</span></a> to be kept informed of any updates!</p>
<p class="faq-header"><strong>Are you interested in franchising?</strong></p>
<p>At this time, we are not pursuing franchising. Our restaurants and juice bars are unique, and we are very proud of them! We like to keep our company as small as possible, where we can all work together closely. Feel free to email us anyway at <a href="mailto:info@oneluckyduck.com">info@oneluckyduck.com</a> for any inquiries.</p>
<h3 id="wholesale-inquiries" class="faq-header"><strong>WHOLESALE INQUIRIES</strong></h3>
<p class="faq-header"><strong>Do you wholesale your products?</strong></p>
<p>We do not wholesale our products at this time, but we do offer a 10% discount on a case of our bulk items and snacks online. This may be something we look into in the future, so if you're interested in selling our products, please email <a href="mailto:info@oneluckyduck.com">info@oneluckyduck.com</a> with information about your company, and please write "Wholesale" in the subject line.</p>
<h3 id="corporate-gifts" class="faq-header"><strong>CORPORATE GIFTS</strong></h3>
<p>Inspire your clients, coworkers, and employees to get healthy with handpicked gift sets from One Lucky Duck. Decadent chocolate macaroons, artisanal organic treats, or so-natural-you-can-eat-it bath, body and skincare, your employees will thank you for sparing them from another cheese basket or tub of candy popcorn! Check out our pre-picked sets (link to gift sets) or customize your own. To order or customize, call us at (917)-460-0404 or email <a href="mailto:info@oneluckyduck.com">info@oneluckyduck.com</a>.</p>