<div>
<p>Any and all feedback, questions, comments, or concerns can be sent directly to <a href="mailto:info@oneluckyduck.com">info@oneluckyduck.com</a>.  We'll be sure to get back to you as soon as possible!!  For a more immediate response, or for emergencies, please call the corporate office at (212) 982-1231.  </p>
<p>Our corporate office is open Monday-Friday from 9:30AM-5:30PM.  During off hours, we will respond by email for any urgent matters.  </p>
<p>To reach the restaurant, juice bars or oneluckyduck.com directly, please use the following numbers:</p>
<p>Pure Food and Wine: (212) 477-1010</p>
<p>One Lucky Duck Juice &amp; Takeaway Gramercy: (212) 477-7151</p>
<p>One Lucky Duck Juice &amp; Takeaway Chelsea: (212) 255-4300</p>
</div>
<p>One Lucky Duck E-Commerce + Kitchen: (917) 460-0404</p>