<p class="faq-header"><strong>Can I have more information about your cleanses?</strong></p>
<p>Thank you for your interest in our Not-Just-Juice Cleanses! We have an extensive section on our website about our cleanses including a sign up form which you can find <a href="/pages/sign-up-for-a-juice-cleanse/">here</a>. Enjoy!</p>