<p class="faq-header"><strong>How can I make a reservation at Pure Food and Wine?</strong></p>
<p>You can easily make a reservation online by going to <a href="/pages/pure-food-and-wine">PureFoodandWine.com</a> and clicking on "Reservations."  You can also call the restaurant directly to make a reservation at (212) 477-1010.</p>
<p class="faq-header"><strong>Can I tour your kitchen?</strong></p>
<p>Sure! It does get very busy around dinner service, so it's best to stop by during a slower time.  Come in, grab a drink and something to eat, and ask your server if he or she can give you a quick tour!  Please note that if the restaurant is extremely busy, we may not be able to give a tour.</p>
<p class="faq-header"><strong>Can I have my event at Pure Food and Wine?</strong></p>
<p>We'd love to hold your event! Please keep in mind that the restaurant is typically open for lunch and dinner, seven days a week. We have a private dining room that comfortably seats up to 16 for a seated lunch or dinner. For more information, email <a href="mailto:events@purefoodandwine.com">events@purefoodandwine.com</a>. Please include details about your event (date, time, number of people) so we can best help meet your needs!</p>
<p class="faq-header"><strong>Do you offer catering?</strong></p>
<p>Yes, we do!  Please email <a href="mailto:events@purefoodandwine.com">events@purefoodandwine.com</a> with the details of your event, and we'll get back to you as soon as we can.   </p>
<p class="faq-header"><strong>Do you offer any raw food classes or events?</strong></p>
<p>We currently don't offer classes due to a lack of space. If we do decide to host any events in the future, we will definitely announce them on facebook, twitter and in our newsletter, so make sure you're connected with us for updates! To sign up for our newsletter, <a href="http://eepurl.com/roVZz" title="Sign up for our Newsletter!" target="_blank">click here</a>.</p>