<p class="faq-header"><strong>Can you donate to our event?</strong></p>
<p>We love to send samples of our packaged products or donate food from Pure Food and Wine to relevant charities from time to time. To find out if your charity is on our current list of interests, please email us at <a href="mailto:info@oneluckyduck.com">info@oneluckyduck.com</a> with more details about your event (date, time, organization, number of people, etc.) and we'll get back to you either way.</p>