<h2 style="text-align: center; color: #674ea7; font-weight: bold;">savory</h2>
<div style="text-align: center; color: #666666; font-weight: bold;">spicy thai lettuce wraps – 11</div>
<div style="text-align: center; color: #666666;">mango, carrot, cabbage, <a href="http://www.oneluckyduck.com/products/raw-cashews">cashews</a>, basil, mint, cilantro, pea shoots, tamarind sauce (3 wraps per order)</div>
<p> </p>
<div style="text-align: center; color: #666666; font-weight: bold;">sushi rolls – 13</div>
<div style="text-align: center; color: #666666;">marinated shiitake, avocado, asparagus, red pepper, jicama rice, tamari <b>NF</b></div>
<p> </p>
<div style="text-align: center; color: #666666; font-weight: bold;">falafel with tabhouli – 16</div>
<div style="text-align: center; color: #666666;">over whole romaine leaves, lemon tahini, red pepper hot sauce </div>
<p> </p>
<div style="text-align: center; color: #666666; font-weight: bold;">tortilla wraps – 19</div>
<div style="text-align: center; color: #666666;">spicy sun-dried tomato filling, corn cilantro guacamole, tomato-lime salsa, cashew sour cream</div>
<p> </p>
<div style="text-align: center; color: #666666; font-weight: bold;">zucchini and tomato lasagna – 19</div>
<div style="text-align: center; color: #666666;">sun-dried tomato sauce, pistachio basil pesto, pumpkin seed macadamia ricotta</div>
<p> </p>
<div style="text-align: center; color: #666666; font-weight: bold;">portabella and hemp seed burger – 15</div>
<div style="text-align: center; color: #666666;">sprouted manna bread, lapsang tea smoked cashew cheese, house-made mustard, pickled pink onions, caraway kraut</div>
<div style="text-align: center; color: #666666;">(<i style="font-weight: bold;">The manna bread is neither raw nor gluten free.</i>)</div>
<p> </p>
<div style="text-align: center; color: #666666; font-weight: bold;">chips &amp; guacamole – 13</div>
<div style="text-align: center; color: #666666;">corn cilantro guacamole, chili-lime chips <b>NF</b></div>
<p> </p>
<div style="text-align: center; color: #666666;"><i>side of guacamole</i> Small (4oz) $5 – Medium (8oz) $8 – Large (16oz) $15</div>
<p> </p>
<!----SALADS----->
<h2 style="text-align: center; color: #674ea7; font-weight: bold;">salads</h2>
<div style="text-align: center; color: #666666; font-weight: bold;">caesar salad – 12</div>
<div style="text-align: center; color: #666666;">romaine lettuce, nori, <a href="http://www.oneluckyduck.com/products/pumpkin-seed-parmesan">pumpkin seed macadamia parmesan</a>, lemon, caesar dressing</div>
<div style="text-align: center; color: #666666;">+ half an avocado $3</div>
<p> </p>
<div style="text-align: center; color: #666666; font-weight: bold;">spicy sesame salad – 12</div>
<div style="text-align: center; color: #666666;">shredded cabbage, beets, jicama, daikon, cashew sesame crunch, wasabi aioli, cilantro, sesame dressing</div>
<p> </p>
<div style="text-align: center; color: #666666; font-weight: bold;">pumpkin seed and herb salad – 14</div>
<div style="text-align: center; color: #666666;">greens, kale, parsley, cilantro, mint, <a href="http://www.oneluckyduck.com/products/organic-hemp-seeds">hemp seeds</a>, <a href="http://www.oneluckyduck.com/products/pumpkin-seed-parmesan">pumpkin seed macadamia parmesan</a>, pumpkin seed lemon dressing</div>
<p> </p>
<div style="text-align: center; color: #666666; font-weight: bold;">tuscan kale and radicchio salad – 15</div>
<div style="text-align: center; color: #666666;">    golden raisins, pine nuts, grapes, <a href="http://www.oneluckyduck.com/products/pumpkin-seed-parmesan">macadamia pumpkin seed parmesan</a>, lemon caper dressing</div>
<p> </p>
<div style="text-align: center; color: #666666; font-weight: bold;">falafel salad – 16</div>
<div style="text-align: center; color: #666666;">mixed greens, tabhouli, lemon tahini, red pepper hot sauce</div>
<p> </p>
<div style="text-align: center; color: #666666; font-weight: bold;">mediterranean salad – 13</div>
<div style="text-align: center; color: #666666;">arugula and kale, kalamata olives, tomatoes, <a href="http://www.oneluckyduck.com/products/pumpkin-seed-parmesan">pumpkin seed macadamia parmesan</a>, balsamic vinaigrette</div>
<p> </p>
<div style="text-align: center; color: #666666; font-weight: bold;">sea vegetable salad – 11</div>
<div style="text-align: center; color: #666666;"><a href="http://www.oneluckyduck.com/products/ironbound-atlantic-wakame">wakame</a>, arame, hijiki, beets, scallion, carrot ginger dressing <b>NF</b></div>
<p> </p>
<div style="text-align: center; color: #666666; font-weight: bold;">s&amp;m salad – 14</div>
<div style="text-align: center; color: #666666;">greens, avocado, <a href="http://www.oneluckyduck.com/products/organic-hemp-seeds">hemp seeds</a>, <a href="http://www.oneluckyduck.com/products/ironbound-atlantic-dulse">dulse</a>, <a href="http://www.oneluckyduck.com/products/quackers">rosemary crackers</a>, pumpkin seed lemon dressing</div>
<p> </p>
<div style="text-align: center; color: #666666; font-weight: bold;">taco salad – 16</div>
<div style="text-align: center; color: #666666;">romaine lettuce, spicy taco crumble, pico de gallo, guacamole, cashew sour cream, cilantro-lime dressing</div>
<p> </p>
<!----ADD ONS----->
<h2 style="text-align: center; color: #674ea7; font-weight: bold;">add on salads</h2>
<div style="text-align: center; color: #666666; font-weight: bold;">fresh organic greens – 7</div>
<p> </p>
<div style="text-align: center; color: #666666; font-weight: bold;">- add ons -</div>
<div style="text-align: center; color: #666666;">beet, carrot, cucumber, daikon, jicama, mushrooms, scallions<br /> (+ 1 each) </div>
<p> </p>
<div style="text-align: center; color: #666666;">arame, <a href="http://www.oneluckyduck.com/products/raw-cashews">cashews</a>, <a href="http://www.oneluckyduck.com/products/ironbound-atlantic-dulse">chewy dulse</a>, cilantro, basil, dried cranberries, hijiki, kale, <a href="http://www.oneluckyduck.com/products/ironbound-atlantic-nori">nori</a>, parsley, <a href="http://www.oneluckyduck.com/products/pumpkin-seeds">pumpkin seeds</a>, raisins, sliced almonds, sunflower seeds, sweet pea shoots, tomato, <a href="http://www.oneluckyduck.com/products/ironbound-atlantic-wakame">wakame</a>, walnuts<br /> (+ 2 each)</div>
<p> </p>
<div style="text-align: center; color: #666666;">avocado, cayenne-dulse almond crumbs, <a href="http://www.oneluckyduck.com/products/organic-hemp-seeds">hemp seeds</a>, kalamata olives, red pepper, taco crumble<br /> (+ 3 each)</div>
<p> </p>
<div style="text-align: center; color: #666666;"><a href="http://www.oneluckyduck.com/products/macadamia-cheddar-crunch">macadamia cheddar</a> - 3.5     <a href="http://www.oneluckyduck.com/products/pumpkin-seed-parmesan">macadamia pumpkin seed parmesan</a> - 4</div>
<p> </p>
<div style="text-align: center; color: #666666;"><b>- dressings -</b> <br /> <br />
<div style="text-align: center; color: #666666;"><i><b>all NF</b></i></div>
<div style="text-align: center; color: #666666;">pumpkin seed lemon<span style="font-weight: bold;">  </span>– balsamic vinaigrette – caesar– carrot ginger<b> </b>– flax italian<b> </b>– ginger <a href="http://www.oneluckyduck.com/products/tahini-seasme-seed-butter">tahini</a><b> </b>– sweet miso</div>
<p> </p>
</div>
<!----SWEETS----->
<h2 style="text-align: center; color: #674ea7; font-weight: bold;">sweets</h2>
<div style="text-align: center; color: #666666; font-weight: bold;">tiramisu – 15</div>
<div style="text-align: center; color: #666666;">vanilla cream layered with coffee-sake almond cake<br /> <br />
<div style="text-align: center; color: #666666; font-weight: bold;">mallomar – 6</div>
<div style="text-align: center; color: #666666;">chocolate coated pecan cookie with vanilla cream</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">moon pie – 9</div>
<div style="text-align: center; color: #666666;">chocolate brownie vanilla cream sandwich</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">fig bar – 5</div>
<div style="text-align: center; color: #666666;"><a href="http://www.oneluckyduck.com/products/fig-bar">fig sandwich cookie</a> <b>NF (contains coconut)</b></div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">lemon bar – 8</div>
<div style="text-align: center; color: #666666;">almond coconut crust, tart lemon custard</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">chocolate caramel bar – 5</div>
<div style="text-align: center; color: #666666;">chocolate dipped pecan caramel bar</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">chocolate ganache tart – 12</div>
<div style="text-align: center; color: #666666;">chocolate ganache filling, chocolate crust</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">orreo cookie – 3.5</div>
<div style="text-align: center; color: #666666;">vanilla cream filled chocolate cookie</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">thin mint cookie – 3.5</div>
<div style="text-align: center; color: #666666;">chocolate peppermint dipped cookie</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">linzer cookie – 5</div>
<div style="text-align: center; color: #666666;">spiced hazelnut and almond cookie sandwich, raspberry jam</div>
<br />
<div style="text-align: center; color: #666666;">
<div><b>rainbow cookie – 7</b></div>
<div>tri-colored almond cake, raspberry jam</div>
</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">raspberry cheesecake pop – 9</div>
<div style="text-align: center; color: #666666;">chocolate dipped, raspberry jam</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">chocolate cupcake – 8</div>
<div style="text-align: center; color: #666666;">jungle peanut butter frosting</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">chewy chocolate honey bunches – 8</div>
<div style="text-align: center; color: #666666;">chocolate dipped <a href="http://www.oneluckyduck.com/products/honey-bunches-bar">buckwheat granola bar</a> <strong>(contains coconut)</strong></div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">puddings – 10</div>
<div style="text-align: center; color: #666666;">mango, chocolate, vanilla – <b>NF (contains coconut)</b></div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">yogurt parfait – 11</div>
<div style="text-align: center; color: #666666;"><a href="http://www.oneluckyduck.com/products/buckwheat-groats">buckwheat</a>, <a href="http://www.oneluckyduck.com/products/organic-hemp-seeds">hemp seed</a> &amp; dried fruit granola with seasonal fruit</div>
<p> </p>
</div>
<!----ICE CREAM----->
<h2 style="text-align: center; color: #674ea7; font-weight: bold;">ice cream</h2>
<div style="text-align: center; color: #666666; font-weight: bold;">half pint / pint of ice cream – 8/16</div>
<div style="text-align: center; color: #666666;">vanilla – chocolate – almond buttercup – vanilla mint chip – strawberry – orreo cookie – daily specials</div>
<p> </p>
<div style="text-align: center; color: #666666; font-weight: bold;">classic sundae / ice cream sandwich – 16/11</div>
<div style="text-align: center; color: #666666;">vanilla and chocolate ice creams, chocolate and cherry framboise sauces, sliced bananas, candied almonds, and vanilla cream</div>
<p> </p>
<div style="text-align: center; color: #666666; font-weight: bold;">mint sundae / ice cream sandwich– 16/11</div>
<div style="text-align: center; color: #666666;">chocolate, fresh mint, and mint chip ice creams, mint chocolate cookies, chocolate sauce, and vanilla cream</div>
<p> </p>
<!----JUICES----->
<h2 style="text-align: center; color: #674ea7; font-weight: bold;">juices</h2>
<div style="text-align: center; color: #666666; font-weight: bold;">lemonade – 6</div>
<div style="text-align: center; color: #666666;">house made, <a href="http://www.oneluckyduck.com/products/ultimate-superfoods-clear-agave-nectar">agave</a> sweetened<br /> <br />
<div style="text-align: center; color: #666666; font-weight: bold;">fresh coconut water – 7/13</div>
<div style="text-align: center; color: #666666;">16oz / full 1L bottle</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">hot pink – 7</div>
<div style="text-align: center; color: #666666;">beet, pineapple, pear, ginger</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">fruit spice – 7</div>
<div style="text-align: center; color: #666666;">pineapple, pear, ginger</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">bunny brew – 8</div>
<div style="text-align: center; color: #666666;">carrot, apple, ginger</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">blue grape – 8</div>
<div style="text-align: center; color: #666666;">grapefruit, <a href="http://www.oneluckyduck.com/products/e3-blue-green-algae">blue-green algae</a></div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">green spice – 9</div>
<div style="text-align: center; color: #666666;">greens, lemon, ginger</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">thai green – 9</div>
<div style="text-align: center; color: #666666;">greens, pineapple, cilantro, lime</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">*draft kombucha – varies</div>
<div style="text-align: center; color: #666666;">seasonal flavors <strong>(not available for take out)</strong></div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">wheatgrass – 2.5/4.5</div>
<div style="text-align: center; color: #666666;">1 oz or 2 oz</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">ginger shot – 4</div>
<div style="text-align: center; color: #666666;">2 oz</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">almond milk – 8/15</div>
<div style="text-align: center; color: #666666;">16 / 32 oz</div>
<div style="text-align: center; color: #666666;"></div>
<div style="text-align: center; color: #666666;">
<div></div>
<div><b>cashew milk – 8/15</b></div>
<div>16 / 32 oz</div>
</div>
<p> </p>
<!----PRESSED----->
<h2 style="text-align: center; color: #674ea7; font-weight: bold;">pressed juices</h2>
<div style="text-align: center; color: #666666; font-weight: bold;">green apple – 11</div>
<div style="text-align: center; color: #666666;">apple, cucumber, celery, mint, lime, spinach</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">mean greens – 11</div>
<div style="text-align: center; color: #666666;">kale, chard, celery, cucumber, lemon, parsley, ginger</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">red ginger – 11</div>
<div style="text-align: center; color: #666666;">apple, orange, grapefruit, ginger, beet, pineapple</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">swan greens – 11</div>
<div style="text-align: center; color: #666666;">cucumber, spinach, dandelion, pear, grapefruit, tarragon, spearmint, yuzu</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">orange or grapefruit juice – 8</div>
<p> </p>
</div>
<!----SHAKES----->
<h2 style="text-align: center; color: #674ea7; font-weight: bold;">shakes</h2>
<div style="text-align: center; color: #666666; font-weight: bold;">banana nut – 8</div>
<div style="text-align: center; color: #666666;">banana, cashew milk, <a href="http://www.oneluckyduck.com/products/maui-vanilla-powder">vanilla</a>, cinnamon<br /> <br />
<div style="text-align: center; color: #666666; font-weight: bold;">calypso – 9</div>
<div style="text-align: center; color: #666666;">mango, raspberry, lemonade, <a href="http://www.oneluckyduck.com/products/maui-vanilla-powder">vanilla</a></div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">avocolada – 9</div>
<div style="text-align: center; color: #666666;">avocado, pineapple, coconut water, lime, <a href="http://www.oneluckyduck.com/products/maui-vanilla-powder">vanilla</a></div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">cacao or carob latte – 9</div>
<div style="text-align: center; color: #666666;">banana, cashew milk, <a href="http://www.oneluckyduck.com/products/cacao-powder">cacao</a> or <a href="http://www.oneluckyduck.com/products/carob-powder">carob</a>, <a href="http://www.oneluckyduck.com/products/maui-vanilla-powder">vanilla</a></div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">blue sunset – 9</div>
<div style="text-align: center; color: #666666;">pineapple, mango, banana, blueberry, coconut water, <a href="http://www.oneluckyduck.com/products/maui-vanilla-powder">vanilla</a></div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">strawberry blonde – 9</div>
<div style="text-align: center; color: #666666;">strawberries, pineapple, banana, coconut water, <a href="http://www.oneluckyduck.com/products/maui-vanilla-powder">vanilla</a></div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">green mango – 9</div>
<div style="text-align: center; color: #666666;">mango, cucumber, cilantro, coconut water, lime</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">goji high – 11</div>
<div style="text-align: center; color: #666666;"><a href="http://www.oneluckyduck.com/products/goji-berries">goji berries</a>, blueberries, cashew milk, <a href="http://www.oneluckyduck.com/products/maui-vanilla-powder">vanilla</a></div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">piña colada – 12</div>
<div style="text-align: center; color: #666666;">fresh coconut, coconut water, pineapple</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">berry blue – 12</div>
<div style="text-align: center; color: #666666;">mixed berries, banana, coconut water, <a href="http://www.oneluckyduck.com/products/e3-blue-green-algae">blue-green algae</a></div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">spanking – 12</div>
<div style="text-align: center; color: #666666;">fresh coconut, blueberry, banana, cashew milk, cinnamon, <a href="http://www.oneluckyduck.com/products/maui-vanilla-powder">vanilla</a></div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">tropical snow – 13</div>
<div style="text-align: center; color: #666666;">fresh coconut, coconut water, <a href="http://www.oneluckyduck.com/products/maui-vanilla-powder">vanilla</a></div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">sarma's favorite green shake – 14</div>
<div style="text-align: center; color: #666666;">grapefruit, pineapple, cucumber, chard, kale, cilantro, parsley, <a href="http://www.oneluckyduck.com/products/sweetleaf-stevia">stevia</a>, and a <a href="http://www.oneluckyduck.com/products/pink-himalayan-crystal-salt">pinch of salt</a></div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">the rich but not that rich milkshake – 12</div>
<div style="text-align: center; color: #666666;">almond or cashew milk with any half pint of ice cream</div>
<br />
<div style="text-align: center; color: #666666;"></div>
<div style="text-align: center; color: #666666; font-weight: bold;">millionaire's milkshake – 22</div>
<div style="text-align: center; color: #666666;">whole pint of ice cream, cashew milk</div>
<p> </p>
</div>
<!----SUPPLEMENTS----->
<h2 style="text-align: center; color: #674ea7; font-weight: bold;">supplements &amp; add-ins</h2>
<div style="text-align: center; color: #666666; font-weight: bold;">- supplements - </div>
<div style="text-align: center; color: #666666;">ground <a href="http://www.oneluckyduck.com/products/golden-flax-seeds">flax</a> (1),<a href="http://www.oneluckyduck.com/products/y-s-bee-pollen">bee pollen</a> (2), <a href="http://www.oneluckyduck.com/products/e3-blue-green-algae">blue-green algae</a> (2), <a href="http://www.oneluckyduck.com/products/vitamineral-greens">green powder</a> (2), <a href="http://www.oneluckyduck.com/products/navitas-hemp-protein">hemp protein</a> (2), <a href="http://www.oneluckyduck.com/products/maca-powder">maca powder</a> (2), <a href="http://www.oneluckyduck.com/products/healthforce-spirulina">spirulina</a> (2), <a href="http://www.oneluckyduck.com/products/tocos-plus">tocos</a> (2), <a href="http://www.oneluckyduck.com/products/moringa-oleifera">moringa</a> (3)</div>
<p> </p>
<div style="text-align: center; color: #666666;"><b>- additions - </b>
<div style="text-align: center; color: #666666;"><a href="http://www.oneluckyduck.com/products/cacao-nibs">cacao nibs</a> (1), <a href="http://www.oneluckyduck.com/products/cacao-powder">cacao powder</a> (1), <a href="http://www.oneluckyduck.com/products/goji-berries">goji berries</a> (2), coconut meat (3)
<p style="font-weight: bold;"> </p>
<div style="font-weight: bold; text-align: center; color: #666666;"><i>shakes are not sweetened - please ask if you would like <a href="http://www.oneluckyduck.com/products/sweetleaf-stevia">stevia</a> or <a href="http://www.oneluckyduck.com/products/ultimate-superfoods-clear-agave-nectar">agave nectar</a> added!</i></div>
<p style="font-weight: bold;"> </p>
<div style="font-weight: bold; text-align: center; color: #666666;">NF – nut free<b> </b></div>
<p style="font-weight: bold;">*on site consumption only</p>
<p style="font-weight: bold;"> </p>
<div style="font-weight: bold; text-align: center; color: #666666;"><i><a href="chelsea-menu" title="One Lucky Duck Chelsea Market">View Our Chelsea Market Menu</a><a href="/pages/chelsea-menu" title="View Our Chelsea Market Menu"></a></i></div>
<div style="font-weight: bold; text-align: center; color: #666666;"></div>
<div style="font-weight: bold; text-align: center; color: #666666;"><i>everything at one lucky duck is prepared at pure food and wine, new york's raw and organic restaurant, and kept below 118 degrees to preserve nutrients and enzymes. all of our ingredients are gluten free with noted exceptions where manna bread is an option.</i></div>
<div style="font-weight: bold; text-align: center; color: #666666;">please inform us of any allergies!!</div>
<div style="font-weight: bold; text-align: center; color: #666666;">look for daily specials!!</div>
</div>
</div>