<div class="pfaw-individual-menus">
<h4>THANKSGIVING DAY 2013</h4>
<p>reservations from 3pm - 9pm</p>
<p><em>$79 per person prix fixe menu </em></p>
<p><em>add wine pairing, $29 per person </em></p>
<p><em>November 28, 2013</em></p>
<p> </p>
<p>Amuse Bouche</p>
<p><em>**********</em></p>
<p><strong>Corn Pudding with Pickled Shishito Peppers</strong><br />crispy baby red Russian kale, pumpkin seed cracker</p>
<p>OR</p>
<p><strong>Red Watercress, Crystal Lettuce, and Persimmon</strong><br />pecan ginger brittle, cranberry jelly</p>
<p>*****</p>
<p><strong>Persimmon Apple Soup</strong><br />smoked almonds, pomegranate reduction</p>
<p>*****</p>
<p><strong>Pumpkin Turnover with Rainbow Chard and Walnuts</strong><br />spiced apple compote, rosemary béchamel, apple cider reduction</p>
<p>OR</p>
<p><strong>Maitake Mushrooms with Figs and Heirloom Carrots</strong><br />turnips, radishes, port wine sauce, crispy fennel, mache</p>
<p>*****</p>
<p><strong>Layered Gingerbread Cake with Pumpkin Cheesecake Ice Cream</strong><br />spiced vanilla cream, pomegranate reduction</p>
<p>OR</p>
<p><strong>Pecan Pie with White Chocolate Ice Cream</strong><br />ginger, chocolate sauce</p>
<p> </p>
<p>Classic sides also available, including pecan and herb stuffing, celeriac mash, maple glazed Brussels sprouts, marinated portabella and wild mushrooms, cranberry sauce. </p>
<p> </p>
<p><em>Call 212-477-1010 for reservations.</em></p>
</div>