<div class="pfaw-location"><iframe src="https://maps.google.com/maps?ie=UTF8&amp;cid=12678817523689509453&amp;q=pure+food+and+wine&amp;gl=US&amp;hl=en&amp;t=m&amp;z=16&amp;iwloc=A&amp;output=embed" width="720" height="350" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe> <br /> <small><a href="https://maps.google.com/maps?ie=UTF8&amp;cid=12678817523689509453&amp;q=pure+food+and+wine&amp;iwloc=A&amp;gl=US&amp;hl=en" style="color: #0000ff; text-align: left;">View Larger Map</a></small>
<p>54 Irving Place (between 17th and 18th streets)<br /> New York, New York, 10010</p>
<p>Open Every Day<br /> Dinner: 5:30-11pm<br />Lunch: 12-4pm</p>
<p>Subway Directions:<br /> Take the L, 4, 5, 6, N, R, or Q trains to Union Square and walk one block east toward Irving Place.</p>
<p>Parking:<br /> The closest parking lot is on 17th between 3rd and Irving and there is street parking in the neighborhood around the restaurant.</p>
<p>Hotels Near the Restaurant:<br /> The Inn at Irving, (above the restaurant) 56 Irving Place, New York, NY, (212) 533-4600<br /> The W New York (at Union Square), 201 Park Avenue South, New York, NY, (212) 253-9119<br /> Gramercy Park Hotel, 2 Lexington Avenue, New York, NY, (212) 995-1330</p>
</div>