<div class="pfaw-individual-menus">
<h4>LUNCH</h4>
<p><b><span style="text-decoration: underline;">SALADS</span></b></p>
<p><b>ceasar</b> <br /> romaine salad, <a href="http://www.oneluckyduck.com/products/ironbound-atlantic-nori">nori</a>, <a href="http://www.oneluckyduck.com/products/pumpkin-seed-parmesan">pumpkin seed macadamia parmesan</a>, lemon, caesar dressing<br /> 12<br /> add half avocado - $3</p>
<p><b>spicy sesame</b> <br />shredded cabbage, beets, jicama, daikon, cashew, sesame crunch, wasabi aioli<br /> 12</p>
<p><b>tuscan kale and radicchio</b><br /> red grapes, golden raisins, pine nuts, <a href="http://www.oneluckyduck.com/products/pumpkin-seed-parmesan">pumpkin seed macadamia parmesan</a>, lemon caper vinaigrette<br /> 15</p>
<p><b>pumpkin seed and herb</b><br /> greens, kale, parsley, cilantro, mint, <a href="http://www.oneluckyduck.com/products/organic-hemp-seeds">hemp seeds</a>, <a href="http://www.oneluckyduck.com/products/pumpkin-seed-parmesan">pumpkin seed macadamia parmesan</a>, pumpkin seed lemon dressing<br /> 14</p>
<p><b>mediterranean</b><br /> arugula, kale, kalamata olives, tomatoes, <a href="http://www.oneluckyduck.com/products/pumpkin-seed-parmesan">pumpkin seed macadamia parmesan</a>, balsamic vinaigrette<br /> 13</p>
<p><b>falafel with tabhouli</b><br /> tossed with greens, lemon tahini, and red pepper hot sauce<br /> 16</p>
<p><b>sea vegetable </b>(NF)<br /> <a href="http://www.oneluckyduck.com/products/ironbound-atlantic-wakame"> wakame</a>, arame, hijiki, beets, scallion, carrot ginger dressing <br /> 11</p>
<p><b>s&amp;m salad</b><br /> greens, avocado, <a href="http://www.oneluckyduck.com/products/organic-hemp-seeds">hemp seeds</a>, <a href="http://www.oneluckyduck.com/products/ironbound-atlantic-dulse">dulse</a>, <a href="http://www.oneluckyduck.com/products/quackers">rosemary crackers</a>, pumpkin seed lemon dressing <br /> 14</p>
<p><b>taco salad</b> <br /> romaine lettuce, spicy taco crumble, pico de gallo, guacamole, cashew sour cream, cilantro-lime dressing<br /> 16</p>
<p><b>**ADD-ON SALADS</b><br /> fresh organic greens<br /> 7</p>
<p>beet, carrot, cucumber, daikon, jicama, mushrooms, scallions<br /> 1</p>
<p>arame, <a href="http://www.oneluckyduck.com/products/raw-cashews">cashews</a>, <a href="http://www.oneluckyduck.com/products/ironbound-atlantic-dulse">chewy dulse</a>, cilantro, basil, dried cranberries, hijiki, kale, <a href="http://www.oneluckyduck.com/products/ironbound-atlantic-nori">nori</a>, parsley, <a href="http://www.oneluckyduck.com/products/pumpkin-seeds">pumpkin seeds</a>, raisins, sliced almonds, sunflower seeds, sweet pea shoots, tomato, <a href="http://www.oneluckyduck.com/products/ironbound-atlantic-wakame">wakame</a>, walnuts<br /> 2</p>
<p>avocado, cayenne-dulse almond crumbs, <a href="http://www.oneluckyduck.com/products/organic-hemp-seeds">hemp seeds</a>, kalamata olives, red pepper, taco crumble, tortilla chips<br /> 3</p>
<p><a href="http://www.oneluckyduck.com/products/macadamia-cheddar-crunch">macadamia cheddar</a> - 3.5     <a href="http://www.oneluckyduck.com/products/pumpkin-seed-parmesan">macadamia pumpkin seed parmesan</a> - 4 </p>
<p><b><br /> </b></p>
<p><b>dressings: </b>pumpkin seed lemon (NF), balsamic vinaigrette (NF), caesar, flax oil italian (NF), sweet miso (NF), ginger tahini (NF)</p>
<p> </p>
<p><b><span style="text-decoration: underline;">SAVORY</span></b></p>
<p><b>spicy thai lettuce wraps</b><br /> mango, carrot, cabbage, <a href="http://www.oneluckyduck.com/products/raw-cashews">cashews</a>, basil, mint, cilantro, pea shoots, tamarind sauce<br /> 11</p>
<p><b>sushi rolls </b>(NF)<br /> marinated shitake, avocado, asparagus, red pepper, jicama rice, wasabi, tamari<br /> 13</p>
<p><b>falafel with tabouli</b> <br /> over whole romaine leaves, with lemon <a href="http://www.oneluckyduck.com/products/tahini-seasme-seed-butter">tahini</a>, red pepper hot sauce<br /> 16</p>
<p><b>brazil nut sea vegetable croquettes</b><br /> tartare sauce, local honey sweet chili sauce, wild arugula, pink pepper<br /> 18</p>
<p><b>tortilla wraps</b> <br /> spicy sun-dried tomato filling, corn cilantro guacamole, tomato-lime salsa, cashew sour cream<br /> 19</p>
<p><b>zucchini and greenhouse tomato lasagna</b><br /> sun-dried tomato sauce, pistachio basil pesto, pumpkin seed macadamia ricotta<br />19</p>
<p> </p>
<p><b>portabella and hemp seed burger</b><br /> sprouted manna bread, caraway kraut, lapsang souchong tea smoked cashew cheese, house made mustard, pickled pink onions<br /> 15 <br /> <i>(manna bread is neither raw nor gluten free)</i></p>
<p><b>chips and guacamole </b>(NF) <br /> corn cilantro guacamole, chili-lime chips<br /> 13</p>
<p><b>Prix Fixe Lunch</b><br /> (please no additions or substitutions. price is per person.)<br /> 30</p>
<p><b>First Course</b> (starter size)<br /> Caesar Salad<br /> Mediterranean Salad<br /> Tuscan Kale and Radicchio Salad</p>
<p><b>Second Course</b><br /> Brazil Nut Sea Vegetable Croquettes<br /> Tortilla Wraps<br /> Zucchini and Tomato Lasagna</p>
<p><b>Third Course</b><br /> Tiramisu Triangle<br /> Lemon Bar<br /> Mallomar</p>
<p><b><br /> </b></p>
<p><b><span style="text-decoration: underline;"><a href="http://www.oneluckyduck.com/products/frozen-dessert-box">DESSERTS</a></span></b></p>
<p><b>tiramisu</b> <br /> vanilla cream layered with coffee-sake almond cake<br /> 15</p>
<p><b>mallomar</b> <br /> chocolate coated pecan cookie with vanilla cream<br /> 6</p>
<p><b>moon pie</b> <br /> chocolate brownie vanilla cream sandwich<br /> 9</p>
<p><b>lemon bar</b><br /> almond coconut crust, tart lemon custard<br /> 8</p>
<p><b>chocolate ganache tart</b> <br /> chocolate ganache filling, chocolate crust<br /> 12</p>
<p><b>classic sundae</b> <br /> vanilla and chocolate ice creams, chocolate and cherry<br /> framboise sauces, sliced bananas, candied almonds, vanilla cream<br /> 16</p>
<p><b>mint sundae</b><br /> chocolate, fresh mint, and mint chip ice creams, mint chocolate cookies, chocolate sauce, vanilla cream<br /> 16</p>
<p><b><span style="text-decoration: underline;">ice cream</span></b></p>
<p><b>half pint / pint</b><br /> vanilla - chocolate – almond buttercup – vanilla mint <a href="http://www.oneluckyduck.com/products/cacao-nibs">chip</a> – strawberry – orreo cookie<br /> 8/16</p>
<p><b><span style="text-decoration: underline;">pudding</span></b><br /> mango-passion fruit, chocolate, vanilla <b>(NF) </b><i>(contains coconut)</i><br /> 10</p>
<p><span style="text-decoration: underline;"><b><br /> </b></span></p>
<p><span style="text-decoration: underline;"><b>SWEET SNACKS</b></span></p>
<p><a href="http://www.oneluckyduck.com/products/fig-bar">fig bar</a> 5, chocolate caramel bar 5, orreo cookie 3.5, jungle peanut butter cupcake 8,<br /> linzer cookie 5, chewy chocolate <a href="http://www.oneluckyduck.com/products/honey-bunches-bar">honey bunches</a> 8, rainbow cookie 7</p>
<a name="brunch"></a>
<h4></h4>
<h4>BRUNCH</h4>
<p>Saturday and Sunday 12pm – 4pm</p>
<p><b>broccoli and cashew cheddar quiche</b><br /> <a href="http://www.oneluckyduck.com/products/italian-almond-flour"> italian almond</a> crust, shaved cashew cheese, salad of wild arugula, fennel and radish<br /> 17</p>
<p><b>chocolate beer* waffles</b><br /> butter, beer-maple syrup, seasonal fruit<br /> 15<br /> <i>*gluten-free beer</i></p>
<p><b>cauliflower and corn cheese grits</b><br /> mesclun greens, caper lemon vinaigrette, dill pickle chips<br /> 13</p>
<p><b>fruit parfait</b><br /> <a href="http://www.oneluckyduck.com/products/buckwheat-groats"> buckwheat</a>, <a href="http://www.oneluckyduck.com/products/organic-hemp-seeds">hemp seed</a> and dried fruit granola with seasonal fresh fruit compote<br /> 13</p>
<p><b>glass of prosecco / mimosa</b><br />9</p>
<p><b>unlimited* prosecco / mimosa</b><br /> 23<br /> *2 Hour limit on unlimited prosecco and mimosa</p>
<p> </p>
<div><b><b><br /> </b></b></div>
<div><b><b><br /> </b></b></div>
<div><b><b>NF </b>– nut free<b> </b></b></div>
<span></span>
<p>everything at one lucky duck is prepared at pure food and wine and kept below 118 degrees to preserve nutrients and enzymes. all of our ingredients are gluten free with noted exceptions where manna bread is an option.</p>
<p><b>please inform your server of any allergies!!</b></p>
<p>look for daily specials!!</p>
</div>