<p><i>These are sample menus and are subject to change!</i></p>
<p style="text-align: left;"><img src="http://cdn.shopify.com/s/files/1/0128/4352/files/JuiceCleanse_GlowMenu2_Nov2013.jpg?5171" /></p>
<div>
<div>Thanks for signing up for the Not-Just-Juice Cleanse! We hope you'll love everything and feel great! If you have any questions, concerns or feedback, please feel free to contact us at 212-982-1231 or info@oneluckyduck.com.</div>
<div></div>
<div>If you have any allergies or special restrictions please let us know in advance, so we can make sure your cleanse is right for you!</div>
<div></div>
<div>Eat Raw, Live Long!</div>
</div>
<p> </p>