<!-- Begin MailChimp Signup Form -->
<p> </p>
<div style="width: 940px; margin: 0px auto 20px; text-align: left;"><img class="no-top-padding" src="//cdn.shopify.com/s/files/1/0128/4352/files/juicecleanseheader.jpg?4177" alt="Raw, Organic, Vegan, Living Foods, Cleanse, Delivery, Juice Bar, Juice Cleanse, Raw Food Cleanse, New York City, NYC, Manhattan, Gramercy, Shakes, Detox, " />
<div style="float: left;"><span style="display: block; margin: auto; text-align: center;"><a href="/pages/not-just-juice-cleanse-glow" target="_blank" title="GLOW" style="text-align: center;"><img class="no-top-padding" src="//cdn.shopify.com/s/files/1/0128/4352/files/juicecleanseglowmenu_2.jpg?4799" alt="Raw, Organic, Vegan, Living Foods, Cleanse, Delivery, Juice Bar, Juice Cleanse, Raw Food Cleanse, New York City, NYC, Manhattan, Gramercy, Shakes, Detox, " /></a></span><span style="margin: auto;"><a href="http://eepurl.com/oErb9" target="_blank" title="Sign up for GLOW cleanse" style="text-align: left;"><img class="no-top-padding" style="display: block; text-align: center; margin: auto;" src="//cdn.shopify.com/s/files/1/0128/4352/files/juicecleanseglowbtn.jpg?4169" alt="Raw, Organic, Vegan, Living Foods, Cleanse, Delivery, Juice Bar, Juice Cleanse, Raw Food Cleanse, New York City, NYC, Manhattan, Gramercy, Shakes, Detox, " /></a></span></div>
<div style="float: right;"><a href="/pages/not-just-juice-cleanse-shine" target="_blank" title="SHINE" style="display: block; float: none; margin: auto; text-align: center;"><img class="no-top-padding" style="display: block; text-align: center; margin: auto;" src="//cdn.shopify.com/s/files/1/0128/4352/files/juicecleanseshinemenu1.jpg?3594" alt="Raw, Organic, Vegan, Living Foods, Cleanse, Delivery, Juice Bar, Juice Cleanse, Raw Food Cleanse, New York City, NYC, Manhattan, Gramercy, Shakes, Detox, " /></a><a href="http://eepurl.com/oErb9" target="_blank" title="Sign up for SHINE cleanse" style="display: block; float: none; margin: auto; text-align: center;"><img class="no-top-padding" style="display: block; text-align: center; margin: auto;" src="//cdn.shopify.com/s/files/1/0128/4352/files/juicecleanseshinebtn.jpg?4177" alt="Raw, Organic, Vegan, Living Foods, Cleanse, Delivery, Juice Bar, Juice Cleanse, Raw Food Cleanse, New York City, NYC, Manhattan, Gramercy, Shakes, Detox, " /></a></div>
<div style="clear: both; padding-top: 20px;">
<div><b>We've created this program, for those of you who like to EAT.</b> It's designed to give the indulgent eater a clean break with a foray into the benefits of raw food and an introduction into how delicious (and indulgent) it can be. This program is perfect for anyone (or a friend or a loved one) who needs to break away from the SAD diet! </div>
<div></div>
<div><br /><b>You won't starve on this cleanse, or want to chew the bedpost.</b> In fact, you'll be chewing plenty and getting stuffed – full of organic, fresh, nutrient-dense whole foods that will give your body what it needs while keeping your mind off the vices you're freeing your body from. Think of it as an introduction to how it feels to be 'one lucky duck' all the time! With two programs to choose from, SHINE and GLOW, you can feel better and not have to give up good food! </div>
<div> </div>
<div><b>GLOW:</b> Choose 'Glow' if you want to cut out the bad stuff, eat lighter, but maintain your weight. Also a great option for those who work out a lot! A filling raw, organic, and vegan breakfast, lunch, and dinner plus organic pressed juices. Prices start at $249. Visit our <a href="http://eepurl.com/oErb9">sign up page</a> for more info!</div>
<div></div>
<div></div>
<div><br /><b>SHINE:</b> Choose 'Shine' if you're looking to shed some pounds while you fill yourself with only organic raw vegan goodness. You'll enjoy an organic cold-pressed juice for breakfast and sometimes a light snack, plus a hearty salad for lunch, more organic pressed juice and a light dinner. Prices start at $234. Visit our <a href="http://eepurl.com/oErb9">sign up page</a> for more info!</div>
<div></div>
<div></div>
</div>
</div>