<style media="screen" type="text/css">
#OT_logo,
	#OT_logoLink,
	#OT_searchWrapper .OT_feedTitle { display: none !important; }
	
	#OT_searchWrapper select { width: auto !important; }
	#OT_searchWrapperAll     { height: 80px !important; }
</style>
<div class="pfaw-reservations" style="text-align: left;"><img src="//cdn.shopify.com/s/files/1/0128/4352/files/PureFoodandWine_Reservations.png?1294" alt="Raw, Organic, Vegan, Living Foods, Fine Dining, Dessert, Cocktails, New York, NYC, Manhattan, Reservations, " />
<div id="OT_searchWrapperAll">
<script src="http://www.opentable.com/ism/default.aspx?rid=3521&amp;restref=3521&amp;mode=horiz-transparent-black&amp;hover=1"></script>
<noscript id="OT_noscript">
			<a href="http://www.opentable.com/pure-food-and-wine-reservations-new-york?rtype=ism&restref=3521" >Reserve Now On OpenTable.com</a>
		</noscript>
<div id="OT_logoLink"><a href="http://www.opentable.com/pure-food-and-wine-reservations-new-york?rtype=ism&amp;restref=3521">Pure Food and Wine Reservations</a></div>
<div id="OT_logo"><a href="http://www.opentable.com/home.aspx?restref=3521&amp;rtype=ism" title="Powered By OpenTable"> <img id="OT_imglogo" src="http://www.opentable.com/img/buttons/Otlogo.gif" alt="Restaurant Management Software" /> </a></div>
</div>
<p style="text-align: center; font-weight: bold;">Reservations can be also made through the restaurant at (212) 477-1010.<br /> Our reservation desk opens at 9:00am every day.</p>
<p style="text-align: center; font-weight: bold;">We serve dinner seven days a week from 5:30pm to 11:00pm, and lunch from 12:00pm to 4:00pm.</p>
<p>It's always a good idea to make reservations, though we do have limited bar and outdoor cocktail seating with a full dinner menu available. For weekends or parties larger than four, we recommend making reservations several days in advance. We have a large garden that is open during nice weather. We try to accommodate all requests, but we can't fully guarantee the garden's availability. The last seating in the outdoor garden is at 10:00pm, and between 4:00pm and 5:30pm only cocktails and wine are available.</p>
<p>Any request you may have regarding special occasions, dietary concerns, and seating preferences will be noted in your reservation so as best to serve you. For parties of five or more we have a $45 per person minimum and will need a credit card to hold the table. If for any reason you need to cancel, please let us know by 4:00pm the day of the reservation.</p>
<p>GIFT CARDS</p>
<p>Gift cards are available and can be purchased through our <a href="/products/gift-card">online store</a>, by calling our reservations line (212) 477-1010 or the One Lucky Duck office at (212) 982-1231, or by stopping by in person.</p>
</div>