<h2 style="text-align: center; color: #674ea7; font-weight: bold;">savory</h2>
<div style="text-align: center; color: #666666; font-weight: bold;">spicy thai lettuce wraps – 9</div>
<div style="text-align: center; color: #666666;">mango, carrot, cabbage, <a href="http://www.oneluckyduck.com/products/raw-cashews">cashews</a>, basil, mint, cilantro, pea shoots, tamarind sauce (3 wraps per order)</div>
<p> </p>
<div style="text-align: center; color: #666666; font-weight: bold;">zucchini and heirloom tomato lasagna – 12</div>
<div style="text-align: center; color: #666666;">sun-dried tomato sauce, pistachio basil pesto, pumpkin seed macadamia ricotta</div>
<p> </p>
<p> </p>
<!--SALADS-->
<h2 style="text-align: center; color: #674ea7; font-weight: bold;">salads</h2>
<div style="text-align: center; color: #666666; font-weight: bold;">caesar salad – 8</div>
<div style="text-align: center; color: #666666;">romaine lettuce, nori, <a href="http://www.oneluckyduck.com/products/pumpkin-seed-parmesan">pumpkin seed macadamia parmesan</a>, lemon, caesar dressing</div>
<p> </p>
<div style="text-align: center; color: #666666; font-weight: bold;">mediterranean salad – 11</div>
<div style="text-align: center; color: #666666;">arugula and kale, kalamata olives, tomatoes, <a href="http://www.oneluckyduck.com/products/pumpkin-seed-parmesan">pumpkin seed macadamia parmesan</a>, balsamic vinaigrette</div>
<p> </p>
<div style="text-align: center; color: #666666; font-weight: bold;">s&amp;m salad – 11</div>
<div style="text-align: center; color: #666666;">greens, avocado, <a href="http://www.oneluckyduck.com/products/organic-hemp-seeds">hemp seeds</a>, <a href="http://www.oneluckyduck.com/products/ironbound-atlantic-dulse">dulse</a>, <a href="http://www.oneluckyduck.com/products/quackers">rosemary crackers</a>, pumpkin seed lemon dressing</div>
<p> </p>
<div style="text-align: center; color: #666666; font-weight: bold;">taco salad – 12</div>
<div style="text-align: center; color: #666666;">romaine lettuce, spicy taco crumble, pico de gallo, guacamole, cashew sour cream, cilantro-lime dressing</div>
<p> </p>
<div style="text-align: center; color: #666666;">
<p></p>
</div>
<!--JUICES-->
<h2 style="text-align: center; color: #674ea7; font-weight: bold;">juices</h2>
<div style="text-align: center; color: #666666; font-weight: bold;">lemonade – 5</div>
<div style="text-align: center; color: #666666;">house made, <a href="http://www.oneluckyduck.com/products/ultimate-superfoods-clear-agave-nectar">agave</a> sweetened<br /> <br />
<div style="text-align: center; color: #666666; font-weight: bold;">fresh coconut water – 5</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">hot pink – 6</div>
<div style="text-align: center; color: #666666;">beet, pineapple, pear, ginger</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">fruit spice – 6</div>
<div style="text-align: center; color: #666666;">pineapple, pear, ginger</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">bunny brew – 6</div>
<div style="text-align: center; color: #666666;">carrot, apple, ginger</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">blue grape – 7</div>
<div style="text-align: center; color: #666666;">grapefruit, <a href="http://www.oneluckyduck.com/products/e3-blue-green-algae">blue-green algae</a></div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">green spice – 8</div>
<div style="text-align: center; color: #666666;">greens, lemon, ginger</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">thai green – 8</div>
<div style="text-align: center; color: #666666;">greens, pineapple, cilantro, lime</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">ginger shot – 2</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">almond milk – 6</div>
<div style="text-align: center; color: #666666;">
<div></div>
<div><b>cashew milk – 6</b></div>
</div>
<p> </p>
<div style="text-align: center; color: #666666; font-weight: bold;">- pressed juices -</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">green apple – 8</div>
<div style="text-align: center; color: #666666;">apple, cucumber, celery, mint, lime, spinach</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">mean greens – 8</div>
<div style="text-align: center; color: #666666;">kale, chard, cucumber, lemon, parsley, cilantro</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">red ginger – 8</div>
<div style="text-align: center; color: #666666;">apple, orange, grapefruit, ginger, beet, pineapple</div>
<div style="text-align: center; color: #666666;"></div>
<div style="text-align: center; color: #666666; font-weight: bold;">orange or grapefruit juice – 6</div>
<p> </p>
</div>
<!--SHAKES-->
<h2 style="text-align: center; color: #674ea7; font-weight: bold;">shakes</h2>
<div style="text-align: center; color: #666666; font-weight: bold;">banana nut – 7</div>
<div style="text-align: center; color: #666666;">banana, cashew milk, <a href="http://www.oneluckyduck.com/products/maui-vanilla-powder">vanilla</a>, cinnamon<br /> <br />
<div style="text-align: center; color: #666666; font-weight: bold;">calypso – 8</div>
<div style="text-align: center; color: #666666;">mango, raspberry, lemonade, <a href="http://www.oneluckyduck.com/products/maui-vanilla-powder">vanilla</a></div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">avocolada – 8</div>
<div style="text-align: center; color: #666666;">avocado, pineapple, coconut water, lime, <a href="http://www.oneluckyduck.com/products/maui-vanilla-powder">vanilla</a></div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">cacao latte – 8</div>
<div style="text-align: center; color: #666666;">banana, cashew milk, <a href="http://www.oneluckyduck.com/products/cacao-powder">cacao</a> or <a href="http://www.oneluckyduck.com/products/carob-powder">carob</a>, <a href="http://www.oneluckyduck.com/products/maui-vanilla-powder">vanilla</a></div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">blue sunset – 8</div>
<div style="text-align: center; color: #666666;">pineapple, mango, banana, blueberry, coconut water, <a href="http://www.oneluckyduck.com/products/maui-vanilla-powder">vanilla</a></div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">strawberry blonde – 8</div>
<div style="text-align: center; color: #666666;">strawberries, pineapple, banana, coconut water, <a href="http://www.oneluckyduck.com/products/maui-vanilla-powder">vanilla</a></div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">green mango – 8</div>
<div style="text-align: center; color: #666666;">mango, cucumber, cilantro, coconut water, lime</div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">piña colada – 10</div>
<div style="text-align: center; color: #666666;">fresh coconut, coconut water, pineapple</div>
<div style="text-align: center; color: #666666;"></div>
<div style="text-align: center; color: #666666; font-weight: bold;">berry blue – 10</div>
<div style="text-align: center; color: #666666;">mixed berries, banana, coconut water, <a href="http://www.oneluckyduck.com/products/e3-blue-green-algae">blue-green algae</a></div>
<br />
<div style="text-align: center; color: #666666; font-weight: bold;">sarma's favorite green shake – 10</div>
<div style="text-align: center; color: #666666;">grapefruit, pineapple, cucumber, chard, kale, cilantro, parsley, <a href="http://www.oneluckyduck.com/products/sweetleaf-stevia">stevia</a>, and a <a href="http://www.oneluckyduck.com/products/pink-himalayan-crystal-salt">pinch of salt</a></div>
<p> </p>
</div>
<div style="text-align: center; color: #666666;">
<div style="text-align: center; color: #666666;">
<div style="font-weight: bold; text-align: center; color: #666666;"><i>shakes are not sweetened - please ask if you would like <a href="http://www.oneluckyduck.com/products/sweetleaf-stevia">stevia</a> or <a href="http://www.oneluckyduck.com/products/ultimate-superfoods-clear-agave-nectar">agave nectar</a> added!</i></div>
<p style="font-weight: bold;"> </p>
<div style="font-weight: bold; text-align: center; color: #666666;">NF – nut free<b> </b></div>
<p style="font-weight: bold;">*on site consumption only</p>
<p style="font-weight: bold;"> </p>
<div style="font-weight: bold; text-align: center; color: #666666;"><i>everything at one lucky duck is kept below 118 degrees to preserve nutrients and enzymes. all of our ingredients are gluten free with noted exceptions</i></div>
<div style="font-weight: bold; text-align: center; color: #666666;">please inform us of any allergies!!</div>
<div style="font-weight: bold; text-align: center; color: #666666;">look for daily specials!!</div>
</div>
</div>