<!-- Begin MailChimp Signup Form -->
<link href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
  <div style="width: 940px; margin: 0 auto 20px;">
	<img src="//cdn.shopify.com/s/files/1/0128/4352/files/juicecleanseheader.jpg?4177" class="no-top-padding" />
    <div style="float: left;">
		
		<span style="display: block; margin: auto; text-align: center;"><a href="/pages/not-just-juice-cleanse-glow" target="_blank" title="GLOW"><img src="//cdn.shopify.com/s/files/1/0128/4352/files/juicecleanseglowmenu_2.jpg?4799" class="no-top-padding" /></a></span><span style="margin: auto;"><a href="http://eepurl.com/oErb9" target="_blank" title="Sign up for GLOW cleanse"><img src="//cdn.shopify.com/s/files/1/0128/4352/files/juicecleanseglowbtn.jpg?4169" class="no-top-padding" style="display: block; text-align: center; margin: auto; float: none;" /></a></span>
	</div>
    <div style="float: right;"><a href="/pages/not-just-juice-cleanse-shine" target="_blank" title="SHINE" style="display: block; float: none; margin: auto; text-align: center;"><img src="//cdn.shopify.com/s/files/1/0128/4352/files/juicecleanseshinemenu.jpg?4177" class="no-top-padding" style="display: block; text-align: center; margin: auto; float: none;" /></a><a href="http://eepurl.com/oErb9" target="_blank" title="Sign up for SHINE cleanse" style="display: block; float: none; margin: auto; text-align: center;"><img src="//cdn.shopify.com/s/files/1/0128/4352/files/juicecleanseshinebtn.jpg?4177" class="no-top-padding" style="display: block; text-align: center; margin: auto; float: none;" /></a>
	</div>
    <div style="clear: both; padding-top: 20px;">
      <div><b>We've created this program, for those of you who like to EAT.</b> It's designed to give the indulgent eater a clean break with a foray into the benefits of raw food and an introduction into how delicious (and indulgent) it can be. This program is perfect for anyone (or a friend or a loved one) who needs to break away from the SAD diet!&nbsp;</div>
      <div><br />
      </div>
      <div><b>You won't starve on this cleanse, or want to chew the bedpost.</b> In fact, you'll be chewing plenty and getting stuffed – full of organic, fresh, nutrient-dense whole foods that will give your body what it needs while keeping your mind off the vices you're freeing your body from. Think of it as an introduction to how it feels to be 'one lucky duck' all the time! With two programs to choose from, SHINE and GLOW, you can feel better and not have to give up good food!&nbsp;</div>
      <div>&nbsp;</div>
      <div><b>GLOW:</b> Choose 'Glow' if you want to cut out the bad stuff, eat 
lighter, but maintain your weight. Also a great option for those who 
work out a lot! A filling raw, organic, and vegan breakfast, lunch, and 
dinner plus organic pressed juices.&nbsp;</div>
      <div><br />
      </div>
      <div><b>SHINE:</b> Choose 'Shine' if you're looking to shed some pounds while you fill yourself with only organic raw vegan goodness. You'll enjoy an organic cold-pressed juice for breakfast and sometimes a light snack, plus a hearty salad for lunch, more organic pressed juice and a light dinner.&nbsp;</div>
      <div><br />
      </div>
      <div><br />
      </div> 
	</div>
</div>
