<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://pay1.plugnpay.com/api/iframe/AVowTPXU7U/client/nonconflict/"></script>
{{ 'jquery.numeric.js' | asset_url | script_tag }}
{{ 'gc-integration.js' | asset_url | script_tag }}
{{ 'gc-integration.css' | asset_url | stylesheet_tag }}

<div class="gc-container">
	<form method="post" class="form">

		<!-- hidden form fields -->
		<input type="hidden" id="publisher_name" value="oneluckydu">
		<input type="hidden" id="mode" value="auth">
		<input type="hidden" id="convert" value="underscores">

		<ul class="cost form">
			<li class="cost">
				<label for="card_amount">Total Cost $:</label>
				<input id="card_amount" type="text" value="{{ total_price | money }}">
			</li>
		</ul>

		<ul class="gift-card form">
			<li class="gc-number disable-able">
				<label for="mpgiftcard">Gift Card or Store Credit #:</label>
				<span class="msg-wrapper">
					<p class="msg-txt hide"></p>
					<input id="mpgiftcard" class="numeric" type="text" size="23" maxlength="19" value="6050110000007706722" placeholder="First 19 Digits">
				</span>
				<span class="helper-img"></span>
			</li>
			<li class="gc-cvv disable-able">
				<label for="mpcvv">Security Code</label>
				<span class="msg-wrapper">
					<p class="msg-txt hide"></p>
					<input id="mpcvv" class="numeric" type="text" size="1" maxlength="2" value="14" placeholder="xx">
				</span>
				<span class="helper-img"></span>
			</li>
		</ul>

		<div id="message-contain"></div>

		<ul class="submit-form disable-able">
			<li><input id="submitForm" type="submit" value="Complete My Purchase"></li>
		</ul>

	</form>

</div>
<ul class="credit-card form hide">
	<li class="card-name">
		<label for="card_name">Name on Card</label>
		<span class="msg-wrapper">
			<p class="msg-txt hide">Please provide your name</p>
			<input type="text" name="card_name" value="cardtest" maxlength="16" value="{{ billing_address.first_name }} {{ billing_address.last_name }}" placeholder="Enter your name" disabled>
		</span>
	</li>
	<li class="card-number disable-able">
		<label for="card_number">Credit Card #</label>
		<span class="msg-wrapper">
			<p class="msg-txt hide"></p>
			<input type="text" class="numeric" name="card_number" value="4111111111111111" maxlength="16" placeholder="Enter Credit Card">
		</span>
		<span class="credit-card-img">
			<i class="icon-credit icon-visa"></i>
			<i class="icon-credit icon-mastercard"></i>
			<i class="icon-credit icon-amex"></i>
			<i class="icon-credit icon-discover"></i>
			<span class="invalid-card"></span>
		</span>
	</li>
	<li class="card-cvv disable-able">
		<label for="card_cvv">Security Code</label>
		<span class="msg-wrapper">
			<p class="msg-txt hide"></p>
			<input type="text" class="numeric" name="card_cvv" value="123" size="1" maxlength="3" placeholder="xxx">
		</span>
	</li>
	<li class="card-exp disable-able">
		<label for="cc-expiry-month">Expiration</label>
		<span class="msg-wrapper msg-warn">
			<p class="msg-txt hide">Please select a month and year</p>
			<select name="month_exp">
				<option value="00" selected>Month</option>
				<option value="01">01 - January</option>
				<option value="02">02 - February</option>
				<option value="03">03 - March</option>
				<option value="04">04 - April</option>
				<option value="05">05 - May</option>
				<option value="06">06 - June</option>
				<option value="07">07 - July</option>
				<option value="08">08 - August</option>
				<option value="09">09 - September</option>
				<option value="10">10 - October</option>
				<option value="11">11 - November</option>
				<option value="12">12 - December</option>
			</select>
			<select name="year_exp">
				<option value="00" selected>Year</option>
				<option value="13">2013</option>
				<option value="14">2014</option>
				<option value="15">2015</option>
				<option value="16">2016</option>
				<option value="17">2017</option>
				<option value="18">2018</option>
				<option value="19">2019</option>
				<option value="20">2020</option>
			</select>
		</span>
	</li>
</ul>

<!-- <ul id="pnp-info"></ul> -->
<script>
/*
	$(document).ready(function() {
		var data, key, value, i, pair, finalStatus, balance, errMsg, status, ccInputs, ccInputElement, ccInputNames, msg, monthExpiry, yearExpiry;

		// --- only allow numbers to be entered in the inputs with .numeric
		$(".numeric").numeric(false, function() { alert("Numbers only"); this.value = ""; this.focus(); });

		// --- detect keyup on the credit card number field
		$(".card-number input").keyup(function() {

			selectCC($(this).val());
			if($(this).val() == 0) {

				$('.invalid-card').text('');
				$('.icon-credit').removeClass('selected');

			}
		});

		// --- perform some validation as the user leaves the inputs
		$('.card-cvv input').blur(function()  { validateAllTheThings($(this), 3);  });
		$('.gc-number input').blur(function() { validateAllTheThings($(this), 19); });
		$('.gc-cvv input').blur(function()    { validateAllTheThings($(this), 2);  });
	
	
		// --- when user clicks the form submit button, do this stuff
		$('#submitForm').click(function(e){
			e.preventDefault();
			// $('#pnp-info').html('');

			bounded();

			if($('.gc-container select').length != 0) {
				validateCcExpiry();
				$('#submitForm').prop("disabled", true);
			} else {
				$('#submitForm').prop("disabled", false);
			}

			// validation success; send to payment gateway
			if($('.gc-container .msg-warn').length == 0) {
			
				payment_api.send();
				$('.disable-able input, .disable-able select').prop("disabled", true);
				$(this).val('Completing Purchase... Please wait.');
		
				// remove previous message
				$('#message-contain').slideUp('slow', function(){
		
					$(this).children('.message').remove();
					$(this).removeAttr('style');
		
				});
			}

		});
	
		payment_api.setCallback(function(data) {
			$('#submitForm').val('Complete My Purchase');

			// --- Get single key/value pair
			function getVar(variable, data, pairs) {
				for (i = 0; i < pairs.length; i++) {
					pair = pairs[i].split('=');
					if (decodeURIComponent(pair[0]) == variable) {
						return decodeURIComponent(pair[1]);
					}
				}
			}

			// --- set all the useful information we get back to usable variables
			pairs       = data.split('&');
			errMsg      = getVar('MErrMsg',     data, pairs);
			status      = getVar('MStatus',     data, pairs);
			balance     = getVar('balance',     data, pairs);
			amount      = getVar('amount',      data, pairs);
			amountGC    = getVar('amountGC',    data, pairs);
			amountCC    = getVar('amountCC',    data, pairs);
			finalStatus = getVar('FinalStatus', data, pairs);
			cardAmount  = getVar('card_amount', data, pairs);

			// console.log('balance:' + balance);
			// console.log('amount: ' + amount);
			// console.log('amountGC:' + amountGC);
			// console.log('amountCC: ' + amountCC);
			// console.log('cardAmount:' + cardAmount);
			// console.log('--------------------------------');

			// only convert if they aren't numbers already
			if(typeof amount != "number" && amount != undefined)   { amount  = parseFloat(amount);  }
			if(typeof balance != "number" && balance != undefined) { balance = parseFloat(balance); }

			if(finalStatus === 'success') {
		
				if(balance == undefined && amount == undefined && amountGC == undefined && amountCC == undefined) {
					msg = '<div class="message success"><p class="msg-txt">Yay! Thank you for your order!</p><p class="msg-txt">$' + cardAmount + ' was applied to the credit card you provided.</p></div>';
				} else if(isNaN(amountGC) && isNaN(amountCC)){
					msg = '<div class="message success"><p class="msg-txt">Yay! Thank you for your order!</p><p class="msg-txt">$' + amount + ' was applied from your gift card or store credit. Your remaining value is $' + balance + '</p></div>';
				} else if(!isNaN(amountGC) && !isNaN(amountCC)) {
					msg = '<div class="message success"><p class="msg-txt">Yay! Thank you for your order!</p><p class="msg-txt">$' + amountGC + ' was applied from your gift card or store credit. Your remaining value is $0.</p><p class="msg-txt">$' + amountCC + ' was applied to the credit card you provided.</p></div>';
				} else {
					msg = '<div class="message success"><p class="msg-txt">Yay! Thank you for your order!</p></div>';
				}

				$('.submit-form').remove();

			} else {

				// enable inputs
				$('.disable-able input, .disable-able select').prop("disabled", false);

				// if amount or balance are not valid
				if (isNaN(amount) && isNaN(balance)) {
					if(errMsg === 'Card number failed luhn10 check') {
						// invalid credit card
						msg = '<div class="message error-problem"><p class="msg-txt">Sorry! There was a problem with your credit card.</p><p class="msg-txt">Please try again.</p></div>';
					} else {
						// invalid gift card
						msg = '<div class="message error-problem"><p class="msg-txt">Sorry! There was a problem with your gift card.</p><p class="msg-txt">Please try again.</p></div>';
					}
				} else {
					// provide cc fields since we hit the error state
					if($('.gc-container .credit-card').length == 0) { addCreditCardFields(); }
				
					// valid gift card
					if(balance == 0) {
						moveGiftCardFields();

						if(amountGC == undefined && amountCC == undefined) {
							// zero balance on gift card
							msg = '<div class="message error-insufficient"><p class="msg-txt">Oops! Looks like this gift card has a balance of $0.00.</p><p class="msg-txt">Please provide your credit card information below to pay for the balance due.</p><p class="msg-txt">If you think there is an error with your gift card or store credit, please call customer service at (917) 460-0404.</p></div>';
						}

					} else if (amount > balance) {
						// insufficient gift card funds
						msg = '<div class="message error-insufficient"><p class="msg-txt">Oops! There is only $' + balance + ' on your gift card or store credit. Your total cost is $' + amount + '</p><p class="msg-txt">Please provide your credit card information below to pay for the balance due.</p></div>';
					} else {
						// invalid credit card
						msg = '<div class="message error-problem"><p class="msg-txt">Sorry! There was a problem with your credit card.</p><p class="msg-txt">Please <span class="reset-form" onclick="resetForm();">try re-entering your information</span> or call customer service at (917) 460-0404.</p></div>';
					}
				}
			}
			$('#message-contain').html(msg);

			// for(i = 0; i < pairs.length; i++) {
			// 	keyValuePair = pairs[i].split('=');
			// 	key          = decodeURIComponent(keyValuePair[0]);
			// 	value        = decodeURIComponent(keyValuePair[1]);
			// 
			// 	$('#pnp-info').append('<li><code><strong>' + key + ': </strong>' + value + '</code></li>');
			// }

		});

	});

	// I should shoot myself for doing it this way (via onclick).
	function resetForm() {
		$('.gift-card input, .credit-card input').val('');
	}


	// validation function
	function validateAllTheThings(elementToValidate, validationLength) {

		// if element doesn't appear on the page yet, don't validate it.
		if(elementToValidate.length != 0) {
			if(elementToValidate.val().length == validationLength) {
				elementToValidate.parent('.msg-wrapper').removeClass('msg-warn');
				elementToValidate.siblings('.msg-txt').addClass('hide');
			} else if(elementToValidate.val().length == 0) {
				elementToValidate.parent('.msg-wrapper').addClass('msg-warn');
				elementToValidate.siblings('.msg-txt').removeClass('hide');
				elementToValidate.siblings('.msg-txt').text('Cannot be empty');
			} else {
				elementToValidate.parent('.msg-wrapper').addClass('msg-warn');
				elementToValidate.siblings('.msg-txt').removeClass('hide');
				elementToValidate.siblings('.msg-txt').text('Please enter ' + validationLength + ' numbers.');
			}
		}	
	}

	// validate the expiry dropdowns. make sure there's a valid month/year combo
	function validateCcExpiry(){

		monthExpiry = $('#month_exp :selected');
		yearExpiry  = $('#year_exp :selected');

		if(monthExpiry.val() == '00' || yearExpiry.val() == '00') {
			$(monthExpiry).parent('select').parent('.msg-wrapper').addClass('msg-warn');
			$(monthExpiry).parent('select').siblings('.msg-txt').removeClass('hide');
		} else {
			$(monthExpiry).parent('select').parent('.msg-wrapper').removeClass('msg-warn');
			$(monthExpiry).parent('select').siblings('.msg-txt').addClass('hide');
			$('#submitForm').prop("disabled", false);
		}
	}

	// function that adds the credit card fields to the form as well as updating the name attributes to ids
	function addCreditCardFields() {
	
		// --- collect credit card inputs
		ccInputs = $('.credit-card input, .credit-card select');
	
		ccInputsDomElement = $('.credit-card');
	
		$.each(ccInputs, function(i) {
	
			ccInputElement = $(ccInputs[i]);
			ccInputNames   = ccInputElement.attr('name');
			ccInputElement.removeAttr('name');
	
			ccInputElement.attr('id', ccInputNames);
	
		});
	
		// Insufficient funds means I need your CC info
		$('#message-contain').after(ccInputsDomElement);
		ccInputsDomElement.removeClass('hide');
	}

	function moveGiftCardFields () {
		$('.gc-container .gift-card').remove();
	}

	// function to select and display the correct credit card image
	function selectCC(ccnum) {

		var first  = ccnum.charAt(0),
			second = ccnum.charAt(1),
			third  = ccnum.charAt(2),
			fourth = ccnum.charAt(3);
	
		$('.invalid-card').text('');
		$('.icon-credit').removeClass('selected');
	
		$('.card-number input').blur(function() {
			if($('.card-number input').val().length == 0) {
				validateAllTheThings($('.card-number input'), 16);
			}
		});
		if (first == "4") {

			// Visa
			$('.icon-visa').addClass('selected');
			$('.icon-credit').fadeIn('fast');
			$('.card-number input').blur(function() {
				validateAllTheThings($('.card-number input'), 16);
			});
	
		}
		else if ( (first == "3") && ((second == "4") || (second == "7")) ) {

			// American Express
			$('.icon-amex').addClass('selected');
			$('.icon-credit').fadeIn('fast');
			$('.card-number input').blur(function() {
				validateAllTheThings($('.card-number input'), 15);		
			});
	
		}
		else if ( (first == "5") ) {

			// Mastercard
			$('.icon-mastercard').addClass('selected');
			$('.icon-credit').fadeIn('fast');
			$('.card-number input').blur(function() {
				validateAllTheThings($('.card-number input'), 16);
			});
	
		}
		else if ( (first == "6") && (second == "0") && (third == "1") && (fourth == "1") ) {

			// Discover
			$('.icon-discover').addClass('selected');
			$('.icon-credit').fadeIn('fast');
			$('.card-number input').blur(function() {
				validateAllTheThings($('.card-number input'), 16);
			});
	
		}
		else {
	
			// --- don't alert user until the 4th character has been input
			if((second != '') && (third != '') && (fourth != '')) {

				$('.icon-credit').fadeOut();
				$('.invalid-card').text('Invalid Credit Card Number, please retry.');
			}

		}
	}

	function bounded(){
		$('select').bind('change', function(){
			validateCcExpiry()
		});
	}
*/</script>