<div style="text-align: center;"><span style="color: rgb(102, 102, 102); ">&nbsp;</span></div>
<table cellpadding="5" cellspacing="0" width="100%" style="text-align: center;">
  <tbody>
    <tr>
      <td style="text-align: center;"><b><font color="#351c75">DAY 1</font></b></td>
    </tr>
    <tr>
      <td style="text-align: center;"><font color="#666666">Upon Waking - H20 with Lemon</font></td>
    </tr>
    <tr>
      <td>
        <table cellpadding="3" cellspacing="0" style="text-align: center;">
          <tbody>
            <tr>
              <td style="vertical-align: top; background-color: rgb(255, 255, 255); ">
                <p style="text-align: center;"><b><span><font color="#666666">BREAKFAST</font></span></b></p>
                <div style="text-align: center;"><b style="color: rgb(102, 102, 102); ">Green Apple Juice</b></div>
              <font color="#666666">
                <div style="text-align: center;">apple, cucumber, celery, mint, lime, spinach<br />
                <br />
                </div>
              </font>

<b>
                <div style="text-align: center;"><b><font color="#666666">Fig Bar</font></b></div>
              </b></td>
              <td style="vertical-align: top; background-color: rgb(255, 255, 255); ">
                <p><b><span><font color="#666666">LUNCH</font></span></b></p>
                <p><font color="#666666"><b><span>Taco Salad</span></b><span><br />
romaine lettuce, spicy taco crumble,<br />&nbsp;pico de gallo, guacamole, cashew sour
cream, cilantro-lime</span></font></p>
              </td>
              <td style="vertical-align: top; background-color: rgb(255, 255, 255); ">
                <p><font color="#666666"><b><span>SNACK&nbsp;<br />
                </span></b>(drink this whenever you get hungry)</font></p>
                <p><font color="#666666"><b><span>Blue Sunset Shake<br />
</span></b><span>pineapple, mango, banana, blueberries, coconut
water</span></font></p>
                <p><font color="#666666"><span></span></font></p>
                <p><font color="#666666"><b><span>Swan Greens Juice</span></b><span><br />
cucumber, spinach, dandelion, grapefruit, tarragon, spearmint, yuzu</span></font></p>
              </td>
              <td style="vertical-align: top; background-color: rgb(255, 255, 255); ">
                <p><font color="#666666"><b><span>DINNER</span></b><span></span></font></p>
                <p><font color="#666666"><b><span>Zucchini &amp; Tomato Lasagna</span></b><span><br />
sun-dried tomato sauce, pistachio basil pesto, pumpkin seed macadamia ricotta</span><span></span></font></p>
              </td>
            </tr>
          </tbody>
        </table>
        <div style="text-align: center;"><font color="#666666"><br />
        </font></div>
      </td>
    </tr>
    <tr>
      <td style="text-align: center;"><b><font color="#351c75">DAY 2</font></b></td>
    </tr>
    <tr>
      <td style="text-align: center;"><span><font color="#666666">Upon Waking - H20 with Lemon</font></span></td>
    </tr>
    <tr>
      <td style="text-align: center;">
        <p style="text-align: center;">
          <table cellpadding="3" cellspacing="0" width="100%" style="text-align: center;">
            <tbody>
              <tr>
                <td style="vertical-align: top; background-color: rgb(255, 255, 255); ">
                  <p style="text-align: center;"><b><span><font color="#666666">BREAKFAST</font></span></b></p>
                  <div style="text-align: center;"><b style="color: rgb(102, 102, 102); ">Swan Greens Juice</b></div>
                <font color="#666666">
                  <div style="text-align: center;">cucumber, spinach, dandelion, grapefruit, tarragon, spearmint, yuzu</div>
                  <div style="text-align: center;"><b><font color="#666666"><br />
                  </font></b></div>
                  <div style="text-align: center;"><b><font color="#666666">Chewy Almond Crunch Bar</font></b></div>
                </font></td>
                <td style="vertical-align: top; background-color: rgb(255, 255, 255); ">
                  <p><font color="#666666"><b><span>SNACK<br />
                  </span></b><span>(drink this whenever you get hungry)<b></b></span></font></p>
                  <p><b><span><font color="#666666">Sarma's&nbsp; Favorite
Green Shake</font></span></b></p>
                </td>
                <td style="vertical-align: top; background-color: rgb(255, 255, 255); ">
                  <p><b><span><font color="#666666">LUNCH</font></span></b></p>
                  <p><font color="#666666"><b><span>Falafel Salad</span></b><span><br />
romaine lettuce, lemon tahini, falafel, red pepper hot sauce</span>&nbsp;</font></p>

<font color="#666666"><b><span>Swan Greens
Juice</span></b><span><br />
cucumber, spinach, dandelion, grapefruit, tarragon, spearmint, yuzu</span></font></td>
                <td style="vertical-align: top; background-color: rgb(255, 255, 255); ">
                  <p><b><span><font color="#666666">DINNER</font></span></b></p>
                  <p><font color="#666666"><b><span>Portabella and Hempseed Burger</span></b><span><br />
sprouted manna bread, lapsang tea smoked cashew cheese,<br />
house made mustard, pickled pink onions, caraway kraut</span></font></p>
                </td>
              </tr>
            </tbody>
          </table>
        <font color="#666666"></font></p>
        <div style="text-align: center;"><font color="#666666"><br />
        </font></div>
      <font color="#666666"></font></td>
    </tr>
    <tr>
      <td style="text-align: center;"><font color="#666666">Row 7 Col 1</font></td>
    </tr>
    <tr>
      <td style="text-align: center;"><font color="#666666">Row 8 Col 1</font></td>
    </tr>
    <tr>
      <td style="text-align: center;"><font color="#666666">Row 9 Col 1</font></td>
    </tr>
    <tr>
      <td style="text-align: center;"><font color="#666666">Row 10 Col 1</font></td>
    </tr>
    <tr>
      <td style="text-align: center;"><font color="#666666">Row 11 Col 1</font></td>
    </tr>
    <tr>
      <td style="text-align: center;"><font color="#666666">Row 12 Col 1</font></td>
    </tr>
    <tr>
      <td style="text-align: center;"><font color="#666666">Row 13 Col 1</font></td>
    </tr>
    <tr>
      <td style="text-align: center;"><font color="#666666">Row 14 Col 1</font></td>
    </tr>
  </tbody>
</table>
