<div class="pfaw-individual-menus">
<h4>WINES</h4>
<p>(O) ORGANICALLY GROWN - (B) BIODYNAMIC - (V) VEGAN - (S) SUSTAINABLE FARMING PRACTICES</p>
<p><i>Kosher wines available upon request.</i></p>
<p><b>SPARKLING WINES</b></p>
<p><b>Prosecco, Fantinel</b> NV, Italy (S) 10|37</p>
<p><b>Cava Brut, Campasso </b>NV, Spain (O) 11|41</p>
<p><b>Sparkling Rosé, Trevisiol </b>NV, Veneto, Italy (O) 11|41</p>
<p><b>Sparkling Shiraz, The Chook </b>NV, South Australia (B) 12|45</p>
<p><b>Wild Prosecco, Casa Coste Piane </b>NV, Valdobbiadene, Italy (B) 49</p>
<p><b>Crémant D’Alsace, Mittnacht </b>NV, Alsace, France (B) 14|53</p>
<p><b>Champagne, Gonet-Médeville </b>NV, Premier Cru Brut (O) 75</p>
<p><b><br /> WHITE WINES</b><br /> *most white wines are vegan except oak-aged</p>
<p><b><br /> Refreshing and Crisp</b></p>
<p><b style="font-weight: bold;">Torrentes, Amalaya </b>2012, Salta, Argentina (O) 9|34</p>
<p><b>Sauvignon Blanc, Chono </b>2011, Casblanca Valley, Chile (O) 35</p>
<p><b>Cotes du Rhone, Domaine Brusset ‘Les Travers’ </b>2011, Cairanne, France (O) 42</p>
<p><b>Sauvignon Blanc, Mohua </b>2012, Marlborough, New Zealand (O) 42</p>
<p><b>Grüner Veltliner, Familie Bauer </b>2011, Wagram, Austria (B) 11|43</p>
<p><b>Petite Chablis, Jean-Marc Brocard </b>2011, Chablis, France (O) 44</p>
<p><b>Sauvignon Blanc, Urlar</b> 2011, Wairarapa, New Zealand (B) 12|45</p>
<p><b><b>Arneis, Brandini</b> </b>2010, Langhe, Italy (B) 45</p>
<p><b>Pinot Grigio, Pierpalo Pecorari</b> 2011, Friuli, Italy (O) 12|45</p>
<p><b>Kerner, Strasserhof</b> 2012, Alto Adige, Italy (O) 51</p>
<p><b>Muskateller, Heidi Schrock</b> 2010, Neusiedlersee-Huggeland, Austria (B) 52</p>
<p><b>Sauvignon Blanc, Six Sigma</b> 2012, Asbill Valley, California (O) 52</p>
<p><b>Pouilly Fumè, Domaine Cailbourdin, 'Les Cris'</b> 2010, Loire, France (O, V) 54</p>
<p><b>Sauvignon Blanc, Seresin</b> 2010, Marlborough, New Zealand (B) 57</p>
<p><b>Pinot Grigio, Movia</b> 2008, Dobrovo, Slovenia (B) 59</p>
<p><b>Chenin Blanc, Nicolas Joly</b> 2009, Loire, France (B) 65</p>
<p><b><br /> Aromatic and Bold</b></p>
<p><b>Riesling,</b><b> Red Hook, Seneca Lake (Bottled in Brooklyn)</b> 2010, Finger Lakes, New York (O) <span>11|41</span></p>
<p><b style="font-weight: bold;"><b>Greco di Tufo, Petilia</b> </b>2012, Campania, Italy (O) 46</p>
<p><b>Gewurztraminer, Domaine Paul Blanck</b> 2011, Alsace, France (B) 49</p>
<p><b><b>Muscadet, Domaine de la Louvetrie</b> </b>2010, Loire, France (O) 52</p>
<p><b>Falanghina, Alois</b> 2012, Campania, Italy (O) 53</p>
<p><b>Ribolla Gialla, Ronchi di Cialla</b> 2011, Colli Orientali Del Friuli, Italy (O) 53</p>
<p><b>Pinot Blanc, Josmeyer</b> 2009, Alsace, France (B) 56</p>
<p><b>Grüner Veltliner Felser Berg, Wimmer-Czerny</b> 2006, Wagram, Austria (B) 57</p>
<p><b>Sancerre, Paul Prieur &amp; Fils, La Croix du Perthuis</b> 2012, Loire Valley, France (O) 15|57</p>
<p><b>Burg, Marcel Deiss </b>2007, Bergheim, Alsace, France (B) 99</p>
<p><b><br /> Rich and Full</b></p>
<p><b>Verdejo, Basa</b> 2011, Rueda, Spain (B) 11|41</p>
<p><b>Chardonnay, Maison Roche De Bellene</b> 2010, Bourgogne, France (O) 12|45</p>
<p><b>Gavi, Ottosoldi </b>2011, Piedmont, Italy (B) 49</p>
<p><b>Pouilly-Fuisse, Domaine Barraud</b> 2010, Burgundy, France (B) 55</p>
<p><b>Chardonnay, MacRostie, Wildcat Mountain Vineyard</b> 2008, Sonoma Coast, California (S) 65</p>
<p><b>Château Musar, Gaston Hochar</b> 2003, Bekaa Valley, Lebanon (O) 69</p>
<p><b><b>Albariño, Zarate, 'El Palomar'</b> </b>2011, Rias Baixas, Spain (B) 75</p>
<p><b>Chardonnay Blend, Bastianich, ‘Vespa’</b> 2010, Friuli, Venezia Giulia (B) 79</p>
<p><b>Pouilly-Fuisse, Bret Brothers, Terres De Vergisson</b> 2009, Bourgogne, France (B) 89</p>
<p><b>Chardonnay, LeRoy Les Bouchéres ler Cru</b> 2008, Meursault, France (B) 130</p>
<p><b><br /> ROSÉ</b></p>
<p><b>Negroamaro, Cantele </b>2011, Puglia, Italy (O, V) 9|33</p>
<p><b>Spätbergunder Weissherbst Trocken Rosé, Stock &amp; Stein </b>2012, Rheingau, Germany (B, V) 11|41</p>
<p><b>Rosé, Domaine d'Eole</b> 2012, Provence, France (O, V) 12|45</p>
<p> </p>
<p><b> RED</b></p>
<p><b>Soft and Fruit Forward</b></p>
<p><b style="font-weight: bold;"><b>Mencía, Algueira</b> </b>2012, Ribeira, Spain (B,V) 11|41</p>
<p><b><b>Nero D'Avola, Firriato</b> </b>2010, Sicilia (B,V) 12|45</p>
<p><b>Ribolla Nera, Ronchi Di Cialla</b> 2009, Prepotto, Italy (O,V) 45</p>
<p><b>Pinot Noir, Barda </b>2011, Patagonia, Argentina (B,V) 15|57</p>
<p><b>Zweigelt, Ivan Enjingi </b>2007, Kutjevo, Croatia (O,V) 59</p>
<p><b>Pinot Noir, Lemelson “Thea’s” Selection</b> 2011, Willamette Valley, Oregon (O) 64</p>
<p><b>Pinot Noir, Seresin ‘Leah’</b> 2009, Marlborough, New Zealand (B,V) 69</p>
<p><b>Pinot Noir, Cargasacchi, </b>2009, Rita Hills, California (O,V) 87</p>
<p><b style="font-weight: bold;">Pinot Noir, Domain De La Vougerai Les Corvèes Pagets</b> 2009, Premier Cru, Nuit St. Georges (B,V) 149</p>
<p><b>Pinot Noir, LeRoy, Chassagne Montrachet</b> 2002, Burgundy, France (B,V) 179</p>
<p><b><br /> Smooth and Rich</b></p>
<p><b>Shiraz, Yalumba</b> 2011, Eden Valley, Australia (B,V) 11|44</p>
<p><b>Merlot, Benziger </b>2010, Sonoma, California (S,V) 12|45</p>
<p><b>Syrah Blend, Château la Canorgue</b> 2011, Bonnieux, France (O,V) 49</p>
<p><b>Bordeaux Blend, Château Villa Bel-Air</b> 2008, Graves, Bordeaux, France (O,V) 49</p>
<p><b>Carignane Blend, Alvaro Palacios, Camins </b>2011, Priorat, Spain (B,V) 57</p>
<p><b>Cabernet Sauvignon, Savage Estate</b> 2007, Napa, California (S,V) 65</p>
<p><b>Syrah, Chateau Maris, 'Les Panels' </b>2010, Minervois La Liviniére, France (B,V) 69</p>
<p><b>Zinfandel, Hendry</b> 2009, Napa Valley, California (S,V) 72</p>
<p><b>Donkey and Goat, 'Five Thirteen' </b>2011, El Dorado, California (B,V) 72</p>
<p><b>Syrah, Casale Del Giglio, ‘Mater Matuta’</b> 2008, Aprilia, Italy (S,V) 80</p>
<p><b>'Calabrone', Bastianich </b>2007, Venizia Giulia, Italy (B,V) 99</p>
<p><b><br /> Substantial and Bold</b></p>
<p><b>Barbera d'Asti Superiore, Trinchero </b> 2007, Piedmont, Italy (O,V) 12|45</p>
<p><b>Rioja, Viña Real </b>2009, Rioja, Spain (O,V) 12|45</p>
<p><b>Llebre, Red Blend, Tomás Cusiné</b> 2011, El Vilosell, Spain (B,V) 13|49</p>
<p><b>Bordeaux Blend, Shinn Estate</b> 2009, North Fork, Long Island (B,V) 49</p>
<p><b>Malbec, Finca Decero </b>2010, Mendoza, Argentina (O,V) 13|49</p>
<p><b>Rosso Toscano, Argiano, 'Non Confunditur' </b>2011, Montalcino, Italy (O,V) 14|56</p>
<p><b>Cabernet Sauvignon Blend, Noble Hill</b> 2006, Simonsberg, South Africa (S,V) 56</p>
<p><b>Toro, Rejadoroda Temple </b>2006, Toro, Spain (B,V) 59</p>
<p><b>Cabernet-Merlot, Hedges</b> 2011, Red Mountain, Washington (B,V) 61</p>
<p><b>Haut-Mèdoc, Caronne Ste Gemme</b> 2009, Bordeaux, France (B,V) 16|61</p>
<p><b>Lagrein, Manincor, Rubatsch</b> 2010, Alto Adige, Italy (B,V) 66</p>
<p><b>Malbec, Colomé </b>2011, Salta, Argentina (B,V) 68</p>
<p><b>Chanti Classico, Fontalpino </b>2010, Tuscany, Italy (O,V) 69</p>
<p><b><b>"Barolo," Borgogno, No Name</b><span style="font-weight: normal;"> 2009, </span></b>Piedmont, Italy (B,V) 79</p>
<p><b>Nero D’avola, Harmonium</b> 2008, Sicilia, Italy (B,V) 82</p>
<p><b>Saint-Emilion Grand Cru, Chateau Faugéres </b>2006, Bordeaux, France (B,V) 96</p>
<p><b>Cabernet Sauvignon, White Rock Vineyards</b> 2007, Napa Valley, California (O,V) 99</p>
<p><b>Brunello di Montalcino, Donna Olga </b>2007, Tuscany, Italy (O,V) 120</p>
<p><b>Cabernet Sauvignon, Kamen</b> 2009, Sonoma, California (B,V) 150</p>
<p><b><br /> DESSERT WINE</b></p>
<p><b>Porto, White Lagrima, Ferreira</b> NV, Douro, Portugal (O,V) 12|NA</p>
<p><b>Sherry, A.R. Valdespino, El Candado </b> NV, Jerez, Spain (O,V) 13|NA</p>
<p><b>Zibibbo, Firriato, 'L'Ecru' </b>2009, Sicily (O,V) 16|NA</p>
<p><b>20 yr Tawny Porto, Ferreira</b> 1989, Portugal (B,V) 19|NA</p>
</div>