{{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}

{% paginate blog.articles by 20 %}
	<div class="sixteen columns" style="width: 960px; margin-left: 0; margin-right: 0; padding-left: 10px; padding-right: 10px; border-top: 1px solid #b5b5b5;">
		<div class="section clearfix">
			<div class="breadcrumb">
				<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">Home</span></a></span> 
				&#62;
				<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/pages/about-one-lucky-duck/" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">About Us</span></a></span> 
				&#62;
				<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ blog.url }}" title="{{ blog.title | escape }}" itemprop="url"><span itemprop="title">{{ blog.title }}</span></a></span>       
				{% if current_tags %}
					{% for tag in current_tags %}
						&#62; <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title }} tagged {{ tag | escape }}" itemprop="url"><span itemprop="title">{{ tag }}</span></a></span>       
					{% endfor %}
				{% endif %}
				&#62; Page {{ paginate.current_page }} of {{ paginate.pages }}
			</div>
		</div>

		<div class="section clearfix">
			{% include "blog-sidebar" %}

			<div class="thirteen columns omega">
				{% for article in blog.articles %}
				   {% cycle '<div class="section clearfix">','','','' %}
				       <div class="three columns article slide">
						   {{ article.content }}
					   </div>
				   {% cycle '','','','</div>' %}
				{% endfor %}

				{% include 'pagination' %}

			</div>
	</div>
	</div>
{% endpaginate %}

<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox({
			wrapCSS : 'fancypress',
			openEffect : 'elastic',
			closeEffect : 'elastic',
			nextEffect : 'fade',
			prevEffect : 'fade',
			openSpeed : 'slow',
			closeSpeed : 'slow',
			nextSpeed : 'slow',
			prevSpeed : 'slow',
			helpers :  { overlay : { css : { 'background-color' : '#fff' } } },
			titleShow : false
		});
	});
</script>
