<form action="/cart" method="post" id="cart_form">


	<div class="sixteen columns page-shopping-cart">
		<div class="section clearfix">
			<h1>Shopping Cart</h1>
		</div>
	</div>

	{% if cart.item_count == 0 %}

		<div class="sixteen columns">
			<div class="section clearfix">
				<p class="quote">There are no items in your cart. <a href="/collections/all">Continue Shopping &rarr;</a></p>    
			</div>
		</div>

	{% else %}
    
		<div class="sixteen columns mobile_only">
			<div class="right align_right">
				<p><input type="submit" class="action_button" id="checkout" name="checkout" value="Checkout" /></p>
				{% if additional_checkout_buttons %}
					<p>{{ content_for_additional_checkout_buttons }}</p>
				{% endif %}
			</div>
		
			<p class="left">
				{{ cart.item_count }} {{ cart.item_count | pluralize: 'Item', 'Items' }} — <strong>{{ cart.total_price | money_with_currency }}</strong>
				<br /><small><em>+ tax &amp; shipping</em></small>
			</p>
		</div>

		<div class="checkout_table_header">
			<div class="ten columns">
				<h4>Item</h4>
			</div>
		
			<div class="two columns">
				<h4>Price</h4>
			</div>
		
			<div class="one column">
				<h4>Qty</h4>
			</div>
		
			<div class="three columns">
				<h4>Total</h4>
			</div>
		
			<div class="clear"></div>
		</div>

		<ul style="border:0">
			{% for item in cart.items %}
				<li style="border:0">
					<div class="four columns product_row">
						<a href="{{ item.product.url }}" title="{{ item.product.title | escape }}">
							{% assign found = false %}
							{% for img in item.product.images %}
								{% if found == false and item.variant.title contains img.alt %}
									<img src="{{ img | product_img_url: 'large' }}"  alt="{{ item.alt | escape }}" />
									{% assign found = true %}
								{% endif %}
							{% endfor %}
							{% if found == false %}
								<img src="{{ item.product.featured_image | product_img_url: 'large' }}"  alt="{{ item.product.featured_image.alt | escape }}" />
							{% endif %}
						</a>
					</div>
				
					<div class="six columns title_column">
						<p class="cart_price">{{ item.price | money }}</p>
						<p><a href="{{item.product.url }}" title="{{ item.title | escape }}">{{ item.title }}</a></p>
						<p class="cart_description">{{ item.product.description | strip_html | truncatewords: settings.description_words | replace: 'Description', '' | replace: 'Specs', '' | replace: 'Shipping', '' }}</p>
					</div>
				
					<div class="two columns">
						<p class="price_total">{{ item.price | money }}</p>
					</div>
					<div class="one column mobile_right" id="quantity_{{ forloop.index }}">
						{% if item.title == "Gift Wrapping" %}
							&nbsp;
						{% endif %}
						<input type="number" min="0" size="5" class="quantity" name="updates[{{item.variant.id}}]" id="updates_{{item.variant.id}}" value="{{ item.quantity }}" />
					</div>
				
					<div class="two columns mobile_right">
						<span class="price_total">{{ item.line_price | money }}</span>
						<p class="update_or_remove">
							<a href="#" class="remove" onclick="remove_item({{ forloop.index }});">Remove</a>
							<em>or</em>
							<a href="#" class="update_subtotal">Update</a>
						</p>
					</div>

					<div class="one column remove_column">
						<button class="remove" title="Remove Item" type="button" onclick="remove_item({{ forloop.index }});">x</button>
						{% if item.title != "Gift Wrapping" %}
						{% else %}
							&nbsp;
						{% endif %}
						
					</div>
				
					<div class="clear"></div>
					<div class="sixteen columns">
						<hr />
					</div>
				</li>
			{% endfor %}
		</ul>

		<div class="thirteen columns align_right">
			<h4 class="subtotal">Subtotal</h4>
		</div>
	
		<div class="three columns">
			<p><strong>{{ cart.total_price | money_with_currency }}</strong> <br /><small><em>Excluding tax &amp; shipping</em></small></p>
		</div>

		<div class="section">
			<div id="gift" class="four columns align_right">
				<label for="gift-note">Special Instructions:</label>
				{% comment %}<label for="gift-note">Special Instructions or Gift Notes:</label>{% endcomment %}
			</div>
			<div class="six columns">
				<!-- // Gift Wrap // -->
				<p>Need <strong>gift wrapping</strong>? <a href="/products/gift-wrapping" title="Add Gift Wrapping to this order" style="color: #F83172;">Click here to add gift wrap</a> for an additional {{ linklists.gift-wrapping.links.first.object.price | money }}. Please specify the occasion in your order notes!</p>
				{% include 'gift-wrapping' %}
				<!-- // Gift Wrap // -->
				<p>Have questions about when your order will ship, or stumped about what shipping method to choose? <a href="/pages/faqs-e-commerce/#shipping-delivery" title="check out our FAQs" style="color: #F83172;" target="_blank">Check out our FAQs</a>!</p>
				<p>Have additional questions? Feel free to call us at (917) 460-0404 (customer service).</p>
			</div>
			<div class="three columns update_subtotal_text align_right">
				<p>
					<a href="#" class="update_subtotal">Update Subtotal</a>
					<br />
					<em>or</em>
					<a href="{{ cart.items.first.product.collections.last.url }}">Continue Shopping</a>
				</p>
			</div>
			<div class="three columns">
				<p><input type="submit" class="action_button" id="checkout" name="checkout" value="Checkout" /></p>
				{% if additional_checkout_buttons %}
					<p>{{ content_for_additional_checkout_buttons }}</p>
				{% endif %}
			</div>
		</div>
		<div class="section">
			<div class="offset-by-four ten columns">
			</div>
		</div>

	{% endif %}

</form>
