{% paginate collection.products by settings.pagination_limit %}

<div class="sixteen columns">
	<div class="section srp">
		<div class="sixteen columns sub-nav-wrap">
			<ul class="sub-nav">
				<li class="ir icon-eat"><a href="/collections/eat/" title="Eat">Eat</a></li>
				<li class="ir icon-glow"><a href="/collections/glow/" title="Glow">Glow</a></li>
				<li class="ir icon-wear"><a href="/collections/wear/" title="Wear">Wear</a></li>
				<li class="ir icon-nest"><a href="/collections/nest/" title="Nest">Nest</a></li>
				<li class="ir icon-pet"><a href="/collections/pet/" title="Pets">Pets</a></li>
			</ul>
		</div>
	</div>
	<div class="section clearfix collection-meta">
		<div class="breadcrumb ten columns alpha {{ collection.handle }}">

			<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
				<a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="url">
					<span itemprop="title">{{ collection.title }}</span>
				</a>
			</span>

			{% if current_tags %}
				{% for tag in current_tags %}
					&#62;
					<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
						<a href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}" title="{{ tag | escape }}" itemprop="url">
							<span itemprop="title">{{ tag }}</span>
						</a>
					</span>
				{% endfor %}
			{% endif %}
			
			{% if paginate.pages != 0 %}
				&#62; Page {{ paginate.current_page }} of {{ paginate.pages }}
			{% endif %}
		</div>
		<!-- <div class="six columns omega section_select {% if settings.filter_by_category and settings.collection_tags == false %}offset-by-four omega{% endif %}">

		</div> -->
	</div>
	<div class="section clearfix">
		{% include 'nav-collections-page-srp' %}
		<div class="thirteen columns omega">
			{% if collection.description != blank %}
				{{ collection.description }}
			{% endif %}

			{% if collection.products.size == 0 %}
				<p class="quote">No products found in this collection.</p>
			{% else %}
				{% assign products = collection.products %}
				{% assign products_per_row = settings.products_per_row %}
				{% include 'product-loop' %}
				{% include 'pagination' %}
			{% endif %}
		</div>
	</div>
</div>


{% endpaginate %}



<script>
	jQuery(function($) {
		$(".ducknews-posts").rss(
			"http://ducknews.oneluckyduck.com/feed/rss2/",
			{
				limit: 1,
				entryTemplate: '<p class="ducknews-link"><a href="{url}" title="{title} by {author} on {date}" target="_blank">{title}</a></p>',
			}
		)
	})
</script>
