{% if settings.slideshow_enabled %}
	<div class="sixteen columns">
		<div class="section">
			<div class="flexslider">
				<ul class="slides">
					{% if settings.slideshow_1_enabled %}
					<li>
						<a href="{{ settings.image_1_link }}"><img src="{{ 'slideshow_1.jpg' | asset_url }}" alt="{{ settings.image_1_alt_text | escape }}" /></a>
						{% if settings.image_1_caption != blank %}
						<p class="flex-caption">{{ settings.image_1_caption }}</p>
						{% endif %}
					</li>
					{% endif %}
					{% if settings.slideshow_2_enabled %}
					<li>
						<a href="{{ settings.image_2_link }}"><img src="{{ 'slideshow_2.jpg' | asset_url }}" alt="{{ settings.image_2_alt_text | escape }}" /></a>
						{% if settings.image_2_caption != blank %}
						<p class="flex-caption">{{ settings.image_2_caption }}</p>
						{% endif %}
					</li>
					{% endif %}
					{% if settings.slideshow_3_enabled %}
					<li>
						<a href="{{ settings.image_3_link }}"><img src="{{ 'slideshow_3.jpg' | asset_url }}" alt="{{ settings.image_3_alt_text | escape }}" /></a>
						{% if settings.image_3_caption != blank %}
						<p class="flex-caption">{{ settings.image_3_caption }}</p>
						{% endif %}
					</li>
					{% endif %}
					{% if settings.slideshow_4_enabled %}
					<li>
						<a href="{{ settings.image_4_link }}"><img src="{{ 'slideshow_4.jpg' | asset_url }}" alt="{{ settings.image_4_alt_text | escape }}" /></a>
						{% if settings.image_4_caption != blank %}
						<p class="flex-caption">{{ settings.image_4_caption }}</p>
						{% endif %}
					</li>
					{% endif %}
					{% if settings.slideshow_5_enabled %}
					<li>
						<a href="{{ settings.image_5_link }}"><img src="{{ 'slideshow_5.jpg' | asset_url }}" alt="{{ settings.image_5_alt_text | escape }}" /></a>
						{% if settings.image_5_caption != blank %}
						<p class="flex-caption">{{ settings.image_5_caption }}</p>
						{% endif %}
					</li>
					{% endif %}
					{% if settings.slideshow_6_enabled %}
					<li>
						<a href="{{ settings.image_6_link }}"><img src="{{ 'slideshow_6.jpg' | asset_url }}" alt="{{ settings.image_6_alt_text | escape }}" /></a>
						{% if settings.image_6_caption != blank %}
						<p class="flex-caption">{{ settings.image_6_caption }}</p>
						{% endif %}
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
{% endif %}

{% if settings.homepage != blank %}
	<div class="sixteen columns">
		<div class="section">
			<h1 {% if settings.slideshow_enabled %}class="home"{% endif %}>{{ pages[settings.homepage].title }}</h1>
		</div>
	</div>
{% endif %}
	<div class="sixteen columns sub-nav-wrap">
		<ul class="sub-nav">
			<li class="ir icon-news"><a href="http://ducknews.oneluckyduck.com/" title="News" target="_blank">News</a></li>
			<li class="ir icon-eat"><a href="/collections/eat/" title="Eat">Eat</a></li>
			<li class="ir icon-glow"><a href="/collections/glow/" title="Glow">Glow</a></li>
			<li class="ir icon-wear"><a href="/collections/wear/" title="Wear">Wear</a></li>
			<li class="ir icon-nest"><a href="/collections/nest/" title="Nest">Nest</a></li>
			<li class="ir icon-pet"><a href="/collections/pet/" title="Pet">Pet</a></li>
			<li class="ir icon-books"><a href="/collections/read/" title="Books">Books</a></li>
		</ul>
	</div>
	<div class="enticing-photos-wrap">
		<ul class="enticing-photos">
			<li><a href="/pages/sarma/" title="About Sarma" target="_blank"><img src="{{ 'img-sarma.jpg' | asset_url }}" width="299" height="200" alt="Sarma"></a></li>
			<li><a href="/pages/pure-food-and-wine/" title="Pure Food and Wine"><img src="{{ 'img-foodwine.jpg' | asset_url }}" width="299" height="200" alt="Food &amp; Wine"></a></li>
			<li><a href="/collections/gift-cards/" title="Gift Cards"><img src="{{ 'img-giftcards.jpg' | asset_url }}" width="299" height="200" alt="Gift Cards"></a></li>
		</ul>
	</div>
	<div class="enticing-photos-wrap">
		<ul class="enticing-photos">
			<li><a href="/pages/pure-food-and-wine-cookbooks/" title="Our Books"><img src="{{ 'img-books.jpg' | asset_url }}" width="299" height="200" alt="Books"></a></li>
			<li><a href="http://ducknews.oneluckyduck.com/" title="Duck News" target="_blank"><img src="{{ 'img-blog.jpg' | asset_url }}" width="299" height="200" alt="Blog"></a></li>
			<li><a href="/pages/juice-and-takeaway/" title="Juice and Takeaway"><img src="{{ 'img-juice.jpg' | asset_url }}" width="299" height="200" alt="Juice &amp; Takeaway"></a></li>
		</ul>
	</div>
{% if settings.frontpage_linklist %}
	{% assign linklist = linklists[settings.frontpage_linklist] %}
	{% assign collections_per_row = settings.frontpage_collections_per_row %}
	{% include 'collection-loop' %}
{% endif %}

{% if settings.frontpage_collection %}
	{% assign collection = collections[settings.frontpage_collection] %}
	{% assign products = collections[settings.frontpage_collection].products %}
	{% assign products_per_row = settings.frontpage_products_per_row %}
	{% include 'product-loop' %}
{% endif %}

{% if settings.homepage != blank %}
	<div class="sixteen columns">
		<div class="section clearfix">
			{{ pages[settings.homepage].content }}
		</div>
	</div>
{% endif %}


{% if settings.blog_widget %}
	<div class="sixteen columns">
		<div class="section clearfix">
			<div class="sixteen columns alpha omega">
				<h4 class="title"><a href="{{ blogs[settings.blog_widget_select].url }}">Recent Articles</a></h4>
			</div>
			{% for article in blogs[settings.blog_widget_select].articles limit:4 %}
			<div class="four columns {% if forloop.first %}alpha{% elsif forloop.last %}omega{% endif %}">
				<a href="{{ article.url }}" title="{{ article.title | escape }}">{{ article.title }}</a>
				<div class="meta">
					<span class="label">{{ article.published_at | date: "%B %d, %Y" }}</span>
				</div>

				{% if article.excerpt == blank %}
					<p>{{ article.content | strip_html | truncatewords: 40 }}</p>
				{% else %}
					{{ article.excerpt }}
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
{% endif %}
