
<div class="sixteen columns">
	<div class="section clearfix">
		<div class="breadcrumb sixteen columns alpha">
			<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
				<a href="/" title="One Lucky Duck Home" itemprop="url"><span itemprop="title">Home</span></a>
			</span>
			{% if page.handle contains 'pure-food-and-wine' %}
				{% if page.handle != 'pure-food-and-wine' %}
					&#62; 
					<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
						<a href="/pages/pure-food-and-wine" title="Pure Food and Wine" itemprop="url">
							<span itemprop="title">Pure Food and Wine</span>
						</a>
					</span>
				{% endif %}
				{% if page.handle == 'dinner-pure-food-and-wine' %}
					&#62; 
					<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
						<a href="/pages/menus-pure-food-and-wine" title="Pure Food and Wine Menus" itemprop="url">
							<span itemprop="title">Menus</span>
						</a>
					</span>
				{% endif %}
				{% if page.handle == 'lunch-brunch-pure-food-and-wine' %}
				&#62; 
				<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
					<a href="/pages/menus-pure-food-and-wine" title="Pure Food and Wine Menus" itemprop="url">
						<span itemprop="title">Menus</span>
					</a>
				</span>
				{% endif %}
				{% if page.handle == 'wine-pure-food-and-wine' %}
				&#62; 
				<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
					<a href="/pages/menus-pure-food-and-wine" title="Pure Food and Wine Menus" itemprop="url">
						<span itemprop="title">Menus</span>
					</a>
				</span>
				{% endif %}
				{% if page.handle == 'cocktails-pure-food-and-wine' %}
				&#62; 
				<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
					<a href="/pages/menus-pure-food-and-wine" title="Pure Food and Wine Menus" itemprop="url">
						<span itemprop="title">Menus</span>
					</a>
				</span>
				{% endif %}
				{% if page.handle == 'holiday-pure-food-and-wine' %}
				&#62; 
				<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
					<a href="/pages/menus-pure-food-and-wine" title="Pure Food and Wine Menus" itemprop="url">
						<span itemprop="title">Menus</span>
					</a>
				</span>
				{% endif %}
				
			{% endif %}
			{% if page.title contains 'FAQ' %}
				&#62; 
				<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
					<a href="/pages/faqs" title="FAQs" itemprop="url">
						<span itemprop="title">faqs</span>
					</a>
				</span>
			{% endif %}
			{% if page.title == 'San Antonio Menu' %}
				&#62; 
				<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
					<a href="/pages/juice-and-takeaway" title="Juice and Takeaway" itemprop="url">
						<span itemprop="title">Juice and Takeaway</span>
					</a>
				</span>
			{% endif %}
			{% if page.title == 'Chelsea Menu' %}
				&#62; 
				<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
					<a href="/pages/juice-and-takeaway" title="Juice and Takeaway" itemprop="url">
						<span itemprop="title">Juice and Takeaway</span>
					</a>
				</span>
			{% endif %}
			{% if page.title == 'Gramercy Menu' %}
				&#62; 
				<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
					<a href="/pages/juice-and-takeaway" title="Juice and Takeaway" itemprop="url">
						<span itemprop="title">Juice and Takeaway</span>
					</a>
				</span>
			{% endif %}
			{% if page.title != 'FAQs' %}
				&#62; 
				<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
					<a href="{{ page.url }}" title="{{ page.title }}" itemprop="url">
						<span itemprop="title">{{ page.title }}</span>
					</a>
				</span> 
			{% endif %}
		</div>
		{% if page.title == 'Juice and Takeaway' %}
		{% elsif page.title == 'Sarma' %}
		{% elsif page.handle contains 'pure-food-and-wine' %}
		{% elsif page.title == 'Pure Food and Wine' %}
		{% elsif page.title == 'Not-Just-Juice Cleanse' %}
		{% elsif page.title == 'The Company Story by Sarma' %}
			<h1 class="about-old">{{ page.title }}</h1>
		{% else %}
			<h1>{{ page.title }}</h1>
			{% if page.title == 'San Antonio Menu' %}
			<div class="san-antonio">
				<ul class="enticing-photos an-antonio-imagery">
					<li><a href="https://www.google.com/maps?q=303+pearl+parkway+%23109+san+antonio,+tx+78215" title="" target="_blank"><img src="{{ 'san-antonio-address.png' | asset_url }}" width="280" height="115"></a></li>
					<li><a href="/collections/" title=""><img src="{{ 'san-antonio-want-the-glow.png' | asset_url }}" width="280" height="115"></a></li>
					<li class="icon duck-mail-tx">
						<img src="{{ 'san-antonio-mailing-list.png' | asset_url }}" width="280" height="115">
						<div class="mc_embed_signup hide">
							<form action="http://oneluckyduck.us5.list-manage.com/subscribe/post?u=fb49daf7df95d0de56685e85f&amp;id=c247010d24" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								<label for="mce-EMAIL" title="Sign up for Duck Mail">
									<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
								</label>
								<div class="clear">
									<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
								</div>
							</form>
						</div>
					</li>
				</ul>
				<p><a href="https://www.google.com/maps?q=303+pearl+parkway+%23109+san+antonio,+tx+78215" title="View Map" target="_blank" style="color: #f83172;">view map</a></p>
				<ul class="san-antonio-social">
					<li class="ir icon social facebook"><a href="https://www.facebook.com/oneluckyducktx" target="_blank">Follow us on Facebook!</a></li>
					<li class="ir icon social twitter"><a href="http://twitter.com/oneluckyducktx" target="_blank">Follow us on Twitter!</a></li>
					<li class="ir icon social googplus"><a href="https://plus.google.com/115213000155840876372/posts" target="_blank">Follow us on Google!</a></li>
				</ul>
			</div>
			{% endif %}
		{% endif %}
	</div>
</div>

{% if page.handle contains 'pure-food-and-wine' %}
<div class="sixteen columns skinny pfaw">
{% elsif page.title == 'Juice and Takeaway' %}
<div class="sixteen columns skinny block-imgs">
{% elsif page.title == 'Pure Food and Wine' %}
<div class="sixteen columns skinny">
{% elsif page.title == 'About Sarma' %}
<div class="sixteen columns skinny">
{% elsif page.title == 'Sarma' %}
<div class="sixteen columns skinny">
{% elsif page.title == 'Not-Just-Juice Cleanse' %}
<div class="sixteen columns skinny">
{% elsif page.title == 'FAQs' %}
<div class="sixteen columns skinny faqs">
{% else %}
<div class="sixteen columns">
{% endif %}

{% if page.title contains 'The Company Story by Sarma' %}

	<div class="three columns alpha nav-collection">
		<h1><a href="/pages/about-one-lucky-duck" class="header-about">About Us</a></h1>
		<ul class="landing-collections-sidenav">
			<li><a href="/pages/about-one-lucky-duck" title="Our Story">Company Story</a></li>
			<li><a href="/blogs/press/tagged/us/" title="Press">Press</a></li>
			<li><a href="/pages/faqs/" title="FAQs">FAQs</a></li>
			<li><a href="/pages/contact-us/" title="Contact Us">Contact Us</a></li>
		</ul>
	</div>
	<div class="thirteen columns omega">{{ page.content }}</div>

{% elsif page.title contains 'FAQ' %}

	<div class="section clearfix pages faq-pages">{{ page.content }}</div>

{% else %}

	<div class="section clearfix pages">{{ page.content }}</div>

{% endif %}


</div>

{% if page.title == 'Sarma' %}

<script>
jQuery(function($) {
	$(".sarma-posts").rss(
		"http://sarmaraw.oneluckyduck.com/feed/rss2/",
		{
			limit: 1,
			entryTemplate: '<li class="sarma-link"><a href="{url}" title="{title} by {author} on {date}" target="_blank">{title}</a></li>',
		}
	)
	})
</script>
{% endif %}



<script>
	jQuery(function($) {
		$(".ducknews-posts").rss(
			"http://ducknews.oneluckyduck.com/feed/rss2/",
			{
				limit: 1,
				entryTemplate: '<p class="ducknews-link"><a href="{url}" title="{title} by {author} on {date}" target="_blank">{title}</a></p>',
			}
		)
	})
</script>
