<div class="sixteen columns sub-nav-wrap product-page">
	<ul class="sub-nav">
		<li class="ir icon-eat"><a href="/collections/eat/" title="Eat">Eat</a></li>
		<li class="ir icon-glow"><a href="/collections/glow/" title="Glow">Glow</a></li>
		<li class="ir icon-wear"><a href="/collections/wear/" title="Wear">Wear</a></li>
		<li class="ir icon-nest"><a href="/collections/nest/" title="Nest">Nest</a></li>
		<li class="ir icon-pet"><a href="/collections/pet/" title="Pet">Pet</a></li>
	</ul>
</div>
<div class="sixteen columns">
	<div class="clearfix breadcrumb product_breadcrumb {{ collection.handle }}">
		{% if settings.display_type %}
			<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
				{{ product.type | link_to_type }}
			</span> &#62; 
		{% endif %}

		{% if collection %}
			<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
				<a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a>
			</span> &#62; 
		{% endif %}

		{{ product.title }}
	</div>
</div>
<div class="sixteen columns" itemscope itemtype="http://data-vocabulary.org/Product" id="product-{{ product.id }}">
	<div class="section product_section clearfix">
		
		<div class="three columns alpha nav-collection">
			{% if product.type == 'Eat' %}
				<h1 class="header-eat">{{ product.type | link_to_type }}</h1>
			{% elsif product.type == 'Glow' %}
				<h1 class="header-glow">{{ product.type | link_to_type }}</h1>
			{% elsif product.type == 'Wear' %}
				<h1 class="header-wear">{{ product.type | link_to_type }}</h1>
			{% elsif product.type == 'Nest' %}
				<h1 class="header-nest">{{ product.type | link_to_type }}</h1>
			{% elsif product.type == 'Pet' %}
				<h1 class="header-pet">{{ product.type | link_to_type }}</h1>
			{% else %}
				<h1>{{ product.type | link_to_type }}</h1>
			{% endif %}

			<ul class="landing-collections-sidenav">
				{% if product.type == 'Eat' %}
					{% include 'nav-collections-eat' %}
				{% elsif product.type == 'Snacks' %}
					{% include 'nav-collections-snacks' %}
				{% elsif product.type == 'Ingredients' %}
					{% include 'nav-collections-ingredients' %}
				{% elsif product.type == 'Supplements' %}
					{% include 'nav-collections-supplements' %}
				{% elsif product.type == 'Glow' %}
					{% include 'nav-collections-glow' %}
				{% elsif product.type == 'Wear' %}
					{% include 'nav-collections-wear' %}
				{% elsif product.type == 'Nest' %}
					{% include 'nav-collections-nest' %}
				{% elsif product.type == 'Kitchen' %}
					{% include 'nav-collections-kitchen' %}
				{% elsif product.type == 'Pets' %}
					{% include 'nav-collections-pets' %}
				{% endif %}
			</ul>
		</div>
		
		{% if settings.product_images_position == 'left' %}
			{% assign products_per_row = settings.products_per_row %}
			{% if settings.product_thumbnails_position == 'bottom' %}
				{% include 'product-images-bottom' %}
			{% else %}
				{% include 'product-images' %}
			{% endif %}
		{% endif %}
		
		<div class="six columns {%if settings.product_images_position == 'left' %}omega{% else %}alpha{% endif %}">
			<span class="name-and-vendor">
				<h1 class="product_name" itemprop="name">{{ product.title }}</h1>
				{% if settings.display_vendor %}
					<p>by {{ product.vendor | link_to_vendor }}</p>
				{% endif %}
			</span>
			<p class="modal_price" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
				<meta itemprop="currency" content="{{ shop.currency }}" />
				<meta itemprop="seller" content="{{ shop.name | escape }}" />
				<meta itemprop="availability" content="{% if product.available %}in_stock{% else %}out_of_stock{% endif %}" />
				<span class="was_price">
					{% if product.price < product.compare_at_price_max %}
						{{ product.compare_at_price | money }}
					{% endif %}
				</span>
				{% if product.title == 'Gift Card' %}
				{% elsif product.title == 'Online Gift Code' %}
				{% else %}
					<span itemprop="price" content="{{ product.price | money_without_currency }}" class="current_price">{{ product.price | money }}{% if product.available == false %} - Sold Out {% endif %}</span>
				{% endif %}
			</p>
			
			{% if settings.product_description_position == "top" %}
				<div class="description" itemprop="description">{{ product.description }}</div>
			{% endif %}
			{% include 'product-form' %}
			{% if settings.product_description_position == "bottom" %}
				<div class="description" itemprop="description">{{ product.description }}</div>
			{% endif %}
			
			<div class="meta">
				{% if settings.display_type %}
					<p><span class="label">Type:</span> <span itemprop="category">{{ product.type | link_to_type }}</span></p>
				{% endif %}

				{% if settings.display_collections %}
					<p>
						<span class="label">Collections:</span>
						<span>
							{% for col in  product.collections %}
								<a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>
								{% unless forloop.last %},{% endunless %}
							{% endfor %}
						</span>
					</p>
				{% endif %}
				
				{% if settings.display_tags %}
					<p>
						{% for tag in product.tags %}
							{% if forloop.first %}
								<span class="label">Tags:</span> 
							{% endif %}
							<span>
								<a href="/collections/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="Products tagged {{ tag | escape}}">{{ tag }}</a>
								{% unless forloop.last %},{% endunless %}
							</span>
						{% endfor %}
					</p>
				{% endif %}
				
				
				{% if settings.display_vendor %}
					<p><span class="label">Vendor:</span> <span itemprop="brand">{{ product.vendor | link_to_vendor }}</span></p>
				{% endif %}
			</div>

			{% include "social-buttons" with "product" %}

			{% comment %}
			{% if collection %}
				<hr style="margin-top:0" />
				<div class="meta">
					{% if collection.next_product %}
						{% for p in collection.products %}
							{% capture product_url %}{{ p.url | within: collection }}{% endcapture %}
							{% if product_url == collection.next_product %}
								<p class="right">
									<a href="{{ product_url }}" title="{{ p.title | escape }}">{{ p.title }}</a> &rarr;
								</p>
							{% endif %}
						{% endfor %}
					{% endif %}
					
					{% if collection.previous_product %}
						{% for p in collection.products %}
							{% capture product_url %}{{ p.url | within: collection }}{% endcapture %}
							{% if product_url == collection.previous_product %}
								<p class="left">
									&larr; <a href="{{ product_url }}" title="{{ p.title | escape }}">{{ p.title }}</a>
								</p>
							{% endif %}
						{% endfor %}
					{% endif %}
				</div>
			{% endif %}
			{% endcomment %}

		</div>

		{% if settings.product_images_position == 'right' %}
			{% assign products_per_row = settings.products_per_row %}
			{% if settings.product_thumbnails_position == 'bottom' %}
				{% include 'product-images-bottom' %}
			{% else %}
				{% include 'product-images' %}
			{% endif %}
		{% endif %}
	</div>
</div>

{% if settings.display_related_products %}
{% comment %}
	{% if collection %}
		{% if collection.all_products_count <= 1 %}
			{% assign col = product.collections.last.handle %}
		{% else %}
			{% assign col = collection.handle %}
		{% endif %}
	{% endif %}
{% endcomment %}
	{% if product %}
		<div class="sixteen columns">
			<div class="section clearfix">
				{% include 'related-products' %}
			</div>
		</div>
		
		{% comment %}
		{% capture limit %}{{ settings.products_per_row | plus: 1 }}{% endcapture %}
		{% assign skip_product = product %}
		{% assign products = collections[col].products %}
		{% assign products_per_row = settings.products_per_row %}
		{% include 'product-loop' %}
		{% endcomment %}
	{% endif %}
{% endif %}