{% assign search_pagination = 10 %}

<div class="sixteen columns">
  <div class="section clearfix">
    <h1>Search</h1>


{% if search.performed %}
  
  {% paginate search.results by search_pagination %}

          <div class="breadcrumb sixteen columns alpha omega">
            <em>{{ search.results_count }} {{ search.results_count | pluralize: 'result', 'results' }} for <strong>"{{search.terms | escape}}"</strong></em>
          </div>
      </div>
    </div>
  
    {% if search.results == empty %}  
      <div class="sixteen columns">
      	<div class="section clearfix">    
          <p class="quote">Your search for <strong>"{{search.terms | escape}}"</strong> did not match any products.</p>         
        </div>
      </div>
    {% else %}  

      {% for item in search.results %}

        <div class="section">
          <div class="product_row">
            
            {% if item.featured_image %}
              <div class="three columns product_row">
                 <a href="{{ item.url }}" title="{{ item.title | escape }}">
                   <img src="{{ item.featured_image | product_img_url: 'large' }}"  alt="{{ item.title | escape }}" />
                 </a>
              </div> 
            {% endif %}
            
            <div class="{% if item.featured_image %}twelve{% else %}sixteen{% endif %} columns title_column">
              <p>
                <a href="{{item.url }}" title="{{ item.title | escape }}">{{ item.title }}</a>
              </p> 
              <p>
                {{ item.content | strip_html | truncatewords: 40 | highlight: search.terms | replace: 'Description', '' | replace: 'Specs', '' | replace: 'Shipping', '' }}
              </p>         
            </div>
          </div>
        </div>  
        
        <hr />    

      {% endfor %}
    {% endif %}
  
    {% include 'pagination' %}    
  {% endpaginate %}

{% else %}

    </div>
  </div>
  <div class="section clearfix">  
    <div class="eight columns align_right subtotal">
      <p class="extra_padding">
        Search for anything in our shop.
      </p>
    </div>    
    <div class="eight columns">
      <form class="search" action="/search">
        <input type="text" name="q" class="search_box" placeholder="Search..." value="{{ search.terms }}" x-webkit-speech />
      </form>
    </div>
  </div>

{% endif %}
